{% extends "base.html" %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">

        <div class="">
            <h4 style="text-align: center;color: #008CBA;"><strong> Creación de una nueva entidad</strong></h4>
        </div>

        <div class="row">
            <div class="columns large-12">
                <label>Elige el periodo de gestión de la entidad
                    <select name="periodo_ges" id="periodo_ges">
                        <option value="natural">Año natural (del 1 de enero al 31 de diciembre)</option>
                        <option value="escolar">Año escolar (del 1 de septiembre al 31 de agosto)</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <label>
                    {{ entidadform }}
                </label>
            </div>
        </div>

{#        <div class="row">#}
{#            <div class="columns large-12">#}
{#                <label><strong>Formulario para el periodo de gestión</strong>#}
{#                    {{ rondaform }}#}
{#                </label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="columns large-12">#}
{#                <label><strong>Formulario para la entidad</strong>#}
{#                    {{ entidadform }}#}
{#                </label>#}
{#            </div>#}
{#        </div>#}



    </form>
{% endblock %}


{% block final %}
    <script>
        habilita(['s_check'])

        $("#check_sign").click(function (event) {
            event.preventDefault();
            if (!($(this).hasClass('disabled'))) {
                $('#action').val('aceptar');
                document.{{formname}}.submit();
            }
        });

        $('#id_iban').attr('title', '{{request.session.gauser_extra.ronda.entidad.banco.nombre}}');
    </script>
{% endblock %}