{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}

        <div class="">
            <h4 style="text-align: center;color: #008CBA;"><strong> Configuración de Competencias/Evaluación</strong>
            </h4>
        </div>
        <input type="hidden" id="clase_borrar" value="">
        <input type="hidden" id="id_objeto_borrar" value="">
        <ul class="tabs" data-tab role="tablist">
            <li class="tab-title active"><a href="#tab1" style="font-weight: bold;">Competencias Clave y DOs</a></li>
            <li class="tab-title"><a href="#tab2" style="font-weight: bold;">Áreas, Comp. Espec. y Crit. de Eval.</a>
            </li>
        </ul>
        <div class="tabs-content">
            <div class="content active" id="tab1">
                <dl class="accordion" data-accordion id="list_ce_dos">
                    {% for ps in pss %}
                        <dd class="accordion-navigation" id="accordion_ce_dos{{ ps.id }}"
                            style="border-bottom: dotted 1px black">
                            <a href="#panel_ce_dos{{ ps.id }}">
                                <i id="circle_ce_dos{{ ps.id }}" class="fa fa-plus-circle circle_icon"></i>
                                <span style="font-weight: bold;">{{ ps }}</span>
                            </a>
                            <div id="panel_ce_dos{{ ps.id }}" class="content accordion-ps" data-tipo="ce_dos"
                                 data-id="{{ ps.id }}"></div>
                        </dd>
                    {% endfor %}
                </dl>
            </div>
            <div class="content" id="tab2">
                <dl class="accordion" data-accordion>
                    {% for ps in pss %}
                        <dd class="accordion-navigation" id="accordion_am_ce_cev{{ ps.id }}"
                            style="border-bottom: dotted 1px black">
                            <a href="#panel_am_ce_cev{{ ps.id }}">
                                <i id="circle_am_ce_cev{{ ps.id }}" class="fa fa-plus-circle circle_icon"></i>
                                <span style="color:#008CBA">Áreas/Materias, Competencias Específicas y Criterios de Evaluación:</span> {{ ps }}
                            </a>
                            <div id="panel_am_ce_cev{{ ps.id }}" class="content accordion-ps" data-tipo="am_ce_cev"
                                 data-id="{{ ps.id }}"></div>
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
        {#        <div id="div_reveal_inserta_ceval" class="reveal-modal" data-reveal>#}
        {#            <input type="hidden" value="" id="id_cesp">#}
        {#            <div class="row">#}
        {#                <div class="columns large-12"><h3>Añadir Criterio de evaluación</h3></div>#}
        {#            </div>#}
        {#            <div class="row">#}
        {#                <div class="columns large-6">#}
        {#                    <label>Ciclo/Etapa#}
        {#                        <select id="ciclo_ceval">#}
        {#                            <option value="">----</option>#}
        {#                            <option value="PRI1">Primer Ciclo Primaria</option>#}
        {#                            <option value="PRI2">Segundo Ciclo Primaria</option>#}
        {#                            <option value="PRI3">Tercer Ciclo Primaria</option>#}
        {#                            <option value="SEC1">1º - 3º de ESO</option>#}
        {#                            <option value="SEC3">1º - 4º de ESO</option>#}
        {#                            <option value="SEC4">1º - 2º de ESO</option>#}
        {#                            <option value="SEC5">3º - 4º de ESO</option>#}
        {#                            <option value="SEC2">4º de ESO</option>#}
        {#                            <option value="BAC">Bachillerato</option>#}
        {#                        </select>#}
        {#                    </label>#}
        {#                </div>#}
        {#                <div class="columns large-6"><label>Materia (opcional)#}
        {#                    <input type="text" value="" id="materia_ceval"></label>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="row">#}
        {#                <div class="columns large-2"><label>Orden#}
        {#                    <input type="number" value="" id="orden_ceval"></label>#}
        {#                </div>#}
        {#                <div class="columns large-10"><label>Texto del criterio de evaluación#}
        {#                    <input type="text" value="" id="texto_ceval"></label>#}
        {#                </div>#}
        {#            </div>#}
        {#            <a class="close-reveal-modal reveal_modal_aviso">&#215;</a>#}
        {#            <div class="row">#}
        {#                <br>#}
        {#                <div class="columns large-12"><a id="inserta_ceval"#}
        {#                                                 class="button secondary">Aceptar</a>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}


        <div class="item-form">
            <div class="rubric">
                <div class="rubric-rows">
                    <div class="hidden-row" style="width:px;">
                    </div>
                    <div class='rows-column-style' style='width:171px; height:117px;'>
                        <div>
                            <span class='title-rows-style text-ellipsis'>Participa</span>
                        </div>
                        <div class="rubric-row-detail"
                             style="max-height: 89px;">
                            Participación en el
                            trabajo del aula
                        </div>
                    </div>
                    <div class='rows-column-style' style='width:171px; height:117px;'>
                        <div>
                            <span class='title-rows-style text-ellipsis'>Respeta</span>
                        </div>
                        <div class="rubric-row-detail"
                             style="max-height: 89px;">
                            Demuestra respeto e interés hacia las discusiones y el trabajo en clase
                        </div>
                    </div>
                    <div class='rows-column-style' style='width:171px; height:117px;'>
                        <div>
                            <span class='title-rows-style text-ellipsis'>Libreta</span>
                        </div>
                        <div class="rubric-row-detail"
                             style="max-height: 89px;">
                            Presenta una libreta ordenada, limpia y con todas las actividades
                        </div>
                    </div>
                </div>
                <div class="rubric-column">
                    <div class='titles-rubric'>
                        <div class='title-rubric-columns'>
                            <div class='title-columns-style' style='width:171px;'>
                                <table style="width: 100%; height: 100%; vertical-align: middle;">
                                    <tr>
                                        <td><span>Excelente</span></td>
                                        <td style="width: 100%;"></td>
                                        <td><span>10</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class='title-rubric-columns'>
                            <div class='title-columns-style' style='width:171px;'>
                                <table style="width: 100%; height: 100%; vertical-align: middle;">
                                    <tr>
                                        <td><span>Muy bueno</span></td>
                                        <td style="width: 100%;"></td>
                                        <td><span>8</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class='title-rubric-columns'>
                            <div class='title-columns-style' style='width:171px;'>
                                <table style="width: 100%; height: 100%; vertical-align: middle;">
                                    <tr>
                                        <td><span>Bueno</span></td>
                                        <td style="width: 100%;"></td>
                                        <td><span>6</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class='title-rubric-columns'>
                            <div class='title-columns-style' style='width:171px;'>
                                <table style="width: 100%; height: 100%; vertical-align: middle;">
                                    <tr>
                                        <td><span>Regular</span></td>
                                        <td style="width: 100%;"></td>
                                        <td><span>4</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class='rubric-gradient' style='width:684px;'>
                    </div>
                    <div class='column-values'>
                        <div>
                            <ul>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Participa activamente en todas las actividades, proporcionando ideas, soluciones o
                                    comentarios constantemente y con fundamento.
                                </li>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Siempre muestra atención e interés en la clase de forma activa, toma apuntes,
                                    escucha con respeto, hace las actividades y hace preguntas.
                                </li>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Presenta una libreta ordenada, limpia y con todas las actividades. Incluye fechas,
                                    actividades copiadas completas y fichas de repaso.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Participa activamente en muchas de las actividades proporcionando ideas,soluciones o
                                    comentarios la mayoría de las veces concreta y clara.
                                </li>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Con frecuencia muestra interés en la clase de forma activa, hace las actividades,
                                    toma apuntes y escucha con respeto
                                </li>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Presenta una libreta ordenada, con fechas, limpia y con todas las actividades
                                    copiadas al completo.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Participa en algunas de las actividades cuando se le pregunta.
                                </li>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Generalmente muestra interés a las explicaciones en clase. Su forma de estar es
                                    atenta. Alguna vez (a la semana una o dos) hay que llamarle la atención o no está
                                    haciendo las actividades.
                                </li>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Presenta una libreta con todas las actividades copiadas al completo.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    No participa en las actividades del grupo/clase y no proporciona ideas, soluciones o
                                    comentarios.
                                </li>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    Muestra muy poco interés en la clase. Su forma de estar es, en general, pasiva o
                                    disruptiva. Al menos tres veces por semana hay que llamarle la atención por distraer
                                    a los demás, hacer intervenciones disruptivas y/o irrelevantes o no estar
                                    trabajando.
                                </li>

                                <li class='value-column-style'
                                    style='width:171px; height:117px;'>
                                    No presenta o Presenta una libreta desordenada, sin fechas, con letra ilegible y/o
                                    faltando más de un 20% de actividades. No Incluye fechas o/ni fichas de repaso.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
{% endblock %}

{% block final %}
    <script>
        {# ########################################################### #}
        setTimeout(function () {
            $(document).foundation({
                accordion: {
                    callback: function (accordion) {
                        if (accordion.hasClass('accordion-ps')) {
                            var id = accordion.data('id');
                            var tipo = accordion.data('tipo');
                            var circle = $('#circle_' + tipo + id);
                            var panel = $('#panel_' + tipo + id);
                            if (circle.hasClass('fa-plus-circle')) {
                                $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                                circle.removeClass('fa-plus-circle').addClass('fa-minus-circle');
                                window.scrollTo(0, $('#accordion_' + tipo + id).offset().top - 50);
                                $.post("/configura_competencias/", {action: 'open_accordion', id: id, tipo: tipo},
                                    function (data) {
                                        if (data.ok) {
                                            panel.html(data.html);
                                            $('.dos_select2').select2();
                                            $('.select2-container').css('width', '100%');
                                            $("#update_ok").show().delay(1500).fadeOut();
                                        } else {
                                            $("#update_error").show().delay(1500).fadeOut();
                                        }
                                    });
                            } else {
                                circle.removeClass('fa-minus-circle').addClass('fa-plus-circle');
                                panel.html('');
                            }
                        }
                    }
                }
            });
        }, 400);

        {# ########################################################### #}
        setTimeout(function () {
            $('.dos_select2').select2();
            $('.select2-container').css('width', '100%');
        }, 1200);

        {% if request.session.gauser_extra|has_permiso:'puede_configurar_competencias' %}

            $('body').on('change', '.dos_select2', function () {
                var dos = $(this).val();
                var cesp = $(this).data('cesp');
                $.post("/configura_competencias/", {
                        action: 'inserta_cesp_dos',
                        cesp: cesp,
                        dos: dos
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.inserta_ceval', function () {
                var cesp = $(this).data('cesp');
                $.post("/configura_competencias/", {
                        action: 'inserta_ceval',
                        cesp: cesp,
                    },
                    function (data) {
                        if (data.ok) {
                            $('#list_ceval' + data.cesp).append(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.inserta_cesp', function () {
                var am = $(this).data('am');
                $.post("/configura_competencias/", {
                        action: 'inserta_cesp',
                        am: am
                    },
                    function (data) {
                        if (data.ok) {
                            $('#list_cesp' + data.am).append(data.html);
                            setTimeout(function () {
                                $('.dos_select2').select2();
                                $('.select2-container').css('width', '100%');
                            }, 150);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.inserta_am', function () {
                var ps = $(this).data('ps');
                $.post("/configura_competencias/", {
                        action: 'inserta_am',
                        ps: ps,
                    },
                    function (data) {
                        if (data.ok) {
                            $('#list_am' + data.ps).append(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.copia_am', function () {
                var element = $(this);
                var am = element.data('am');
                $.post("/configura_competencias/", {
                        action: 'copia_am',
                        am: am,
                    },
                    function (data) {
                        if (data.ok) {
                            {#$('#list_am' + data.ps).append(data.html);#}
                            $('#areamateria' + am).after(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.inserta_do', function () {
                var cc = $(this).data('cc');
                var clave = $('#do_clave' + cc).val();
                var texto = $('#do_texto' + cc).val();
                $.post("/configura_competencias/", {action: 'inserta_do', cc: cc, clave: clave, texto: texto},
                    function (data) {
                        if (data.ok) {
                            $('#list_do' + data.cc).append(data.html);
                            $('#do_clave' + data.cc).val('');
                            $('#do_texto' + data.cc).val('');
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.inserta_cc', function () {
                var ps = $(this).data('ps');
                var orden = $('#cc_orden' + ps).val();
                var siglas = $('#cc_siglas' + ps).val();
                var competencia = $('#cc_competencia' + ps).val();
                var texto = $('#cc_texto' + ps).val();
                $.post("/configura_competencias/", {
                        action: 'inserta_cc',
                        ps: ps,
                        orden: orden,
                        siglas: siglas,
                        competencia: competencia,
                        texto: texto
                    },
                    function (data) {
                        if (data.ok) {
                            $('#list_cc' + data.ps).append(data.html);
                            $('#cc_orden' + data.ps).val('');
                            $('#cc_siglas' + data.ps).val('');
                            $('#cc_competencia' + data.ps).val('');
                            $('#cc_texto' + data.ps).val('');
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.cargar_fieldset_content_am', function () {
                var am = $(this).data('am');
                $.post("/configura_competencias/", {
                        action: 'cargar_fieldset_content_am',
                        am: am,
                    },
                    function (data) {
                        if (data.ok) {
                            $('#fieldset_content_am' + am).html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                            setTimeout(function () {
                                $('.dos_select2').select2();
                                $('.select2-container').css('width', '100%');
                            }, 150);
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.borrar_ceval', function () {
                ceval = $(this).data('ceval');
                show_mensajes({
                    title: '<i class="fa fa-warning"></i> ¿Borrar este criterio de evaluación?',
                    texto: 'Si aceptas el criterio se borrará por completo de la base de datos.',
                    size: 'large',
                    buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Borrar": function () {
                            hide_mensajes();
                            $.post("/configura_competencias/", {action: 'borrar_ceval', ceval: ceval},
                                function (data) {
                                    if (data.ok) {
                                        $('#div_criterio_eval' + ceval).remove();
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $('#update_error').show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });


            {# ########################################################### #}
            {# ############## Nuevas funciones  ########################## #}
            {# ########################################################### #}

            $('body').on('click', '.inserta_objeto', function (e) {
                e.preventDefault();
                var element = $(this);
                var clase = element.data('clase');
                var foreignkey_id = element.data('foreignkey_id');
                var foreignkey_clase = element.data('foreignkey_clase');
                var foreignkey_field = element.data('foreignkey_field');
                var render2string = element.data('render2string');
                var render2string_objeto = element.data('render2string_objeto');
                var div_append = element.data('div_append');
                $.post('/configura_competencias/', {
                        action: 'inserta_objeto', clase: clase,
                        foreignkey_id: foreignkey_id, foreignkey_clase: foreignkey_clase,
                        foreignkey_field: foreignkey_field, render2string: render2string,
                        render2string_objeto: render2string_objeto
                    },
                    function (data) {
                        if (data.ok) {
                            $('#' + div_append).append(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.borrar_objeto', function () {
                $('#clase_borrar').val($(this).data('clase'));
                $('#id_objeto_borrar').val($(this).data('id'));
                show_mensajes({
                    title: '<i class="fa fa-warning"></i> ¿Borrar este elemento?',
                    texto: 'Si aceptas, se borrará por completo de la base de datos.',
                    size: 'large',
                    buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Borrar": function () {
                            hide_mensajes();
                            $.post("/configura_competencias/", {
                                    action: 'borrar_objeto',
                                    clase: $('#clase_borrar').val(),
                                    id: $('#id_objeto_borrar').val()
                                },
                                function (data) {
                                    if (data.ok) {
                                        var nombre_id = $('#clase_borrar').val().toLowerCase();
                                        console.log('#' + nombre_id + $('#id_objeto_borrar').val());
                                        $('#' + nombre_id + $('#id_objeto_borrar').val()).remove();
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $('#update_error').show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });

            function get_texto_from_element(element) {
                console.log(element.val());
                if (element.val()) {
                    return element.val();
                } else {
                    return element.text();
                }
            }

            $('body').on('keyup change', '.update_texto', function () {
                var element = $(this);
                var id = element.data('id');
                var campo = element.data('campo');
                var clase = element.data('clase');
                var antiguo_texto = get_texto_from_element(element);
                setTimeout(function () {
                    var nuevo_texto = get_texto_from_element(element);
                    if (antiguo_texto === nuevo_texto) {
                        $.post('/configura_competencias/', {
                                action: 'update_texto', id: id, texto: nuevo_texto, campo: campo,
                                clase: clase
                            },
                            function (data) {
                                if (data.ok) {
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $('#update_error').show().delay(1500).fadeOut();
                                }
                            });
                    }
                }, 750);
            });

            $('body').on('change', '.curso_asociado_ceval', function () {
                var ceval = $(this).data('ceval');
                var valor = $(this).val();
                $.post('/configura_competencias/', {
                        action: 'curso_asociado_ceval', ceval: ceval, valor: valor
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.unir_ams', function () {
                var ps = $(this).data('ps');
                var am1 = $('#unir_am1_' + ps).val();
                var am2 = $('#unir_am2_' + ps).val();
                $.post('/configura_competencias/', {
                        action: 'unir_ams', am1: am1, am2: am2, ps: ps
                    },
                    function (data) {
                        if (data.ok) {
                            $('#list_am' + data.ps).prepend(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            });

        {% endif %}

    </script>
{% endblock %}