{#{% load staticfiles %}#}
<!DOCTYPE HTML>
<html style="overflow:hidden">
<head>
    <title>GAUSS - Identificación</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon3.ico">
    <link rel="stylesheet" href="/static/foundation-5.5.3/css/foundation.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="all"/>
    <meta name="B-verify" content="d56bcfcd8bbd7ec711d93f32af87428f5e57e11e"/>
</head>
<style>
    #logo_general {display: none;}
    #logo_gobierno {display: none;}
    #div_alert_cookies {
        background-color: #f04124;
        border-color: #de2d0f;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: none;
    }
</style>

{#<div class="sticky" id="top_bar" style="display: none;">#}
{#    <nav class="top-bar" data-topbar role="navigation">#}
{#        <ul class="title-area">#}
{#            <li class="name">#}
{#                <h1><a href="/inicioweb/">Gestión Aumentada</a></h1>#}
{#            </li>#}
{#            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->#}
{#            <li class="toggle-topbar menu-icon"><a href="#"><span>Menú</span></a></li>#}
{#        </ul>#}
{##}
{#        <section class="top-bar-section">#}
{#            <!-- Right Nav Section -->#}
{#            <ul class="right">#}
{#                <li><a href="/inicioweb/#id_vut" title="Viviendas de uso turístico">VUT</a></li>#}
{#                <li><a href="/inicioweb#id_garajes">Garajes</a></li>#}
{#                <li><a href="/inicioweb/#id_portales">Portales</a></li>#}
{#                <li><a href="/inicioweb/#id_domotica">Viviendas</a></li>#}
{#                <li class="active"><a href="/inicioweb/#id_preguntas">Ayuda</a></li>#}
{#            </ul>#}
{##}
{#            <!-- Left Nav Section -->#}
{#            <ul class="left">#}
{##}
{#            </ul>#}
{#        </section>#}
{#    </nav>#}
{#</div>#}

<form action="" method="post" data-abide id="autenticar_form">
    {% csrf_token %}

    {% if tipo == 'introduce_mail' or tipo == 'introduce_captcha' %}
        <input type="hidden" name="action" id="action" value="solicita_pass">
    {% else %}
        <input type="hidden" name="action" id="action" value="acceso">
        <input type="hidden" name="link" id="link" value="">
        <input type="hidden" name="r" id="r" value="">
    {% endif %}
    <input type="hidden" id="protocol" value="" name="protocol">
    <input type="hidden" id="hostname" value="" name="hostname">
    <input type="hidden" id="port" value="" name="port">
    <div class="row">&nbsp;</div>
    <div class="panel">
        <div class="row">
            <div class="large-6 small-6 medium-6 columns end text-right">
{#                <img id="logo_general" src="/static/images/logo_gauss_acceso.png" height="76" width="273">#}
{#                <img id="logo_gobierno" src="/static/images/logo_gauss_gobierno.svg" height="76" width="203">#}
{#                {% if request.session.configauss.logo_acceso %}#}
{#                    <img src="{{ request.session.configauss.logo_acceso.url }}" style="height: 76px;"/>#}
{#                {% else %}#}
{#                    <img id="logo_general" src="/static/images/logo_gauss_acceso.png" height="76" width="273">#}
{#                {% endif %}#}
            <img src="{{ logo_acceso_url }}" style="height: 76px;"/>
            </div>
        </div>
        <div id="introduce_user_pass" style="display:{% if tipo == 'acceso' %}block{% else %}none{% endif %};">
            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-3 medium-4 small-5 columns text-right">
                    <label class="right inline">
                        <span style="font-size: 12pt;font-weight: 700;color: #31859c">Usuario</span>
                    </label>
                </div>
                <div class="large-3 medium-4 small-5 columns">
                    <input name="usuario" type="text" size="15" maxlength="50" value="">
                </div>
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
            </div>
            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-3 medium-4 small-5 columns text-right">
                    <label for="right-label" class="right inline">
                        <span style="font-size: 12pt;font-weight: 700;color: #31859c">Contraseña</span>
                    </label>
                </div>
                <div class="large-3 medium-4 small-5 columns">
                    <input name="passusuario" type="password" size="15" maxlength="50" value="">
                </div>
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
            </div>
            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-3 medium-4 small-5 columns text-right">&nbsp;</div>
                <div class="large-3 medium-4 small-5 columns text-right">
                    <input class="button" value="Entrar" name="entrar" id="login_button" type="submit">
                </div>
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
            </div>
            <div class="row">
                <div class=" text-center">
                    <a href="" id="pass_olvidada"> Haz click aquí si has olvidado tu contraseña</a>
                </div>
            </div>
        </div>
        <div id="introduce_mail"
             style="display:{% if tipo == 'introduce_captcha' or tipo == 'introduce_mail' %}block{% else %}none{% endif %};">
            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-9 medium-10 small-11 columns">
                    <ol style="font-size:0.9em;color:#31859c;">
                        <li>Introduce tu correo electrónico</li>
                        <li>Introduce las letras mostradas en la imagen</li>
                        <li>Pulsa en el botón "Solicitar contraseña"</li>
                        <li>Recibirás un mail de acceso a GAUSS</li>
                    </ol>
                </div>
            </div>
            {% if tipo == 'introduce_mail' %}
                <div class="row text-center">
                    <h5 style="color:red">El correo electrónico no pertenece a ningún socio</h5>
                </div>
            {% endif %}
            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-3 medium-4 small-5 columns text-right">
                    <label class="right inline">
                        <span style="font-size: 12pt;font-weight: 700;color: #31859c">E-mail</span>
                    </label>
                </div>
                <div class="large-3 medium-4 small-5 columns">
                    <label>
                        <input id="email" name="email" type="email" required maxlength="100" value="{{ email }}">
                    </label>
                    <small class="error">Es necesario introducir una dirección de correo válida.</small>
                </div>
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
            </div>

            {% if tipo == 'introduce_captcha' %}
                <div class="row text-center">
                    <h5 style="color:red">Error al introducir las letras de la imagen</h5>
                </div>
            {% endif %}

            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-3 medium-4 small-5 columns text-right">
                    <label class="right inline">
                        <span style="font-size: 12pt;font-weight: 700;color: #31859c">¿Eres humano?</span>
                        <br>
                        <span style="font-size: 12pt;font-weight: 700;color: #31859c"><a id="recarga_captcha">Recargar
                            <i class="fa fa-refresh"></i> </a></span>
                    </label>
                </div>
                <div class="large-3 medium-4 small-5 columns">
                    <label id="captcha">
                        {{ form.captcha }}
                    </label>
                </div>
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
            </div>

            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-6 medium-8 small-10 columns text-right">
                    <input class="button" value="Solicitar contraseña" name="submit_mail" type="submit">
                </div>
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
            </div>
        </div>
    </div>
    {#    <div class="row" id="alerta_cookies">#}
    {#        <div class="columns large-12">#}
    {#            <div data-alert class="alert-box secondary radius">#}
    {#                Esta página utiliza cookies para estudiar de forma ANÓNIMA cómo se utiliza. Si sigues#}
    {#                navegando entendemos que aceptas su uso.#}
    {#                <a href="#" id="aceptar_cookies"><span class="label">Aceptar</span></a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
</form>

<div class="text-center" id="div_alert_cookies">
    <div class="row">
        <div class="columns large-11">
            <p style="font-size: large; font-weight: 800;">Esta página utiliza cookies. Las cookies son pequeños
                archivos con
                información que se almacenan en tu navegador. <a href="/avisolegal/#uso_cookies">Más
                    información.</a>
                {# El navegador envía al sitio web la información almacenada cada vez que lo visitas o a medida que navegas en él.#}
            </p>
            <p style="font-size: large; font-weight: 800;">Si continuas navegando entendemos que aceptas el uso
                de estas
                cookies.</p>
        </div>
        <div class="columns large-1">
            <br>
            <a href="#" id="alert_cookies" class="button">Aceptar </a>
        </div>
    </div>


</div>

<script src="/static/foundation-5.5.3/js/vendor/jquery.js"></script>
<script src="/static/foundation-5.5.3/js/vendor/modernizr.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/foundation-5.5.3/js/foundation.min.js"></script>

<script>
    var csrftoken = $.cookie('csrftoken');

    {#var h = window.location.hostname;#}
    {#if (h.includes('larioja.org')){#}
    {#    window.location.replace(url_base + '/logincas/?hostname=' + h);#}
    {# }#}

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
        });
        return vars;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    $('#pass_olvidada').click(function (e) {
        e.preventDefault();
        $('#email').val('');
        $('#introduce_user_pass').hide('slow');
        $('#introduce_mail').show('slow');
        $('#action').val('solicita_pass');
        {#var protocol = window.location.protocol.replace(':', '');#}
        {#var port = window.location.port;#}
        {#var domain = window.location.hostname;#}
        $('#protocol').val(window.location.protocol.replace(':', ''));
        $('#hostname').val(window.location.hostname);
        $('#port').val(window.location.port);
        {#if (port){#}
        {#    var protocol_domain = protocol + '://' + domain + ':' + port#}
        {# }else{#}
        {#    var protocol_domain = protocol + '://' + domain#}
        {# }#}
        {#$('#protocol_domain').val(protocol_domain);#}
    });

    $('#recarga_captcha').click(function (e) {
        e.preventDefault();
        $.post("/recarga_captcha/", {action: 'recarga_captcha'}, function (data) {
            $('#captcha').html(data);
        });
    });

    $('#login_button').click(function (e) {
        e.preventDefault();
        var parameters = getUrlVars();
        $('#link').val(parameters['link']);
        $('#r').val(parameters['r']);
        document.getElementById("autenticar_form").submit();
    });

    {#$('#aceptar_cookies').click(function (e) {#}
    {#    e.preventDefault();#}
    {#    $('#alerta_cookies').hide();#}
    {# });#}

    {# **************************************** #}
    {# ***********Gestión de cookies************#}
    {# **************************************** #}

    setTimeout(function () {
        var gaumentada = localStorage.getItem('gaumentada');
        if (gaumentada) {
            var pasado = new Date(gaumentada);
            var hoy = new Date();
            var tiempo = hoy - pasado;
            {# 3000000000 milisegundos se corresponde con poco más de un mes (34.7 días) #}
            if (tiempo > 3000000000) {
                $('#div_alert_cookies').show();
            }
        } else {
            $('#div_alert_cookies').show();
        }
        var regex1 = /gaumentada/;
        var regex2 = /localhost/;
        var regex3 = /larioja/;
        var url = window.location.href;
        {#if (regex1.test(url) || regex2.test(url)) {#}
        {#    $('#top_bar').show();#}
        {#    $(document).foundation();#}
        {#    $(document).foundation('topbar', 'reflow');#}
        {# }#}
        if (regex3.test(url)){
            $('#logo_general').hide();
            $('#logo_gobierno').show();
        }else{
            $('#logo_general').show();
            $('#logo_gobierno').hide();
        }
    }, 100);


    $('body').on('click', '#alert_cookies', function (e) {
        e.preventDefault();
        $('#div_alert_cookies').hide();
        var hoy = new Date();
        var cadena = hoy.getFullYear() + '/' + (hoy.getMonth() + 1) + '/' + hoy.getDate();
        localStorage.setItem('gaumentada', cadena);
    });

</script>
</html>