<!DOCTYPE HTML>
<html style="overflow:hidden">
<head>
<title>GAUSS - Temporalmente inactivo</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">
<link rel="stylesheet" href="/static/css/gauss_inicio.css" type="text/css">
</head>

<body class="noacceso" style="text-align:center;">
<h1>En adelante GAUSS está alojado en las dependencias del Gobierno de La Rioja</h1>
<h2>Por favor, dirígete a <a href="https://gauss.larioja.org">gauss.larioja.org</a> para entrar en el sistema</h2>
<h2>En cualquier caso, en 6 segundos serás reconducido a la nueva página de acceso.</h2>
<img style="padding-top:100px;" src="/static/images/logo_gauss_acceso.png" width="200"/>
<META HTTP-EQUIV="Refresh" Content="6; URL=https://gauss.larioja.org">
</body>
</html>