<!DOCTYPE HTML>
<html style="overflow:hidden">
<head>
<title>GAUSS - No cuenta</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">
<link rel="stylesheet" href="/static/css/gauss_inicio.css" type="text/css">
</head>

<body class="noacceso">
<h1>Lo sentimos <span style="color:red;">{{usuario}}</span>, tu cuenta está desactivada</h1>
<p>Es posible que desde tu centro sea necesario realizar una <b>Carga masiva de profesores</b> en GAUSS.</p>
<p>
  <ul>
    <li>Puedes ponerte en conacto con la persona responsable de tu centro de realizar esta tarea. Seguramente sea algún Jefe/a de Estudios.</li>
    <li>Si lo prefieres, puedes esribir un correo a través de Racima seleccionando como destinatario "Soporte Gauss" indicando: usuario de racima y centro.</li>
  </ul>
</p>
<p><b>Que tengas buen día <span style="color: red">&#x2665;</span></b></p>
<p><a href="/">Volver a la página principal de GAUSS</a></p>
<img style="padding-top:100px;" src="/static/images/logo_gauss_acceso.png" width="200"/>

</body>
</html>