<!DOCTYPE HTML>
<html lang="es">
<head>
    <title>GAUSS - Selección de entidad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/foundation-5.5.3/css/foundation.css"/>
    <link rel="stylesheet" href="/static/css/gauss.css" type="text/css">
</head>
<style>
    #logo_general {
        display: none;
    }

    #logo_gobierno {
        display: none;
    }

    .ent_select {
        max-height: 70px;
        max-width: inherit;
    }

    .div_ent_select {
        border: 1px solid lightgrey;
        height: 100px;
        overflow: hidden;
    }

    .div_ent_select:hover {
        background-color: lightcyan;
        cursor: pointer;
    }

    .title_page {
        text-align: center;
        color: #008CBA;
        font-weight: 800;
    }
</style>
<form action="" method="post" id="select_entidad" name="select_entidad">
    <input type="hidden" name="action" value="selecciona_entidad">
    {% csrf_token %}

    <div id="main_div">
        <div class="row">
            <div class="large-12 small-12 medium-12 columns text-center">
                {#                <img id="logo_gobierno" src="/static/images/logo_gauss_gobierno.svg" height="76" width="203">#}
                {% if request.session.configauss.logo_acceso %}
                    <img src="{{ request.session.configauss.logo_acceso.url }}" style="height: 76px;"/>
                {% else %}
                    <img id="logo_general" src="/static/images/logo_gauss_acceso.png" height="76" width="273">
                {% endif %}
            </div>
        </div>
        <div>
            <h4 class="title_page" id="titulo">Selecciona la entidad de trabajo</h4>
        </div>
        <div class="row">
            {% for gauser_extra in gauser_extras %}
                <div class="columns large-3 medium-4 small-6 div_ent_select" onclick="goEntidad({{ gauser_extra.id }})">
                    <figure>
                        {% if gauser_extra.ronda.entidad.anagrama %}
                            <img src="{{ gauser_extra.ronda.entidad.anagrama.url }}" class="ent_select"
                                 alt="{{ gauser_extra.ronda.entidad.anagrama.url }}">
                        {% else %}
                            {% if request.session.configauss.logo_cabecera %}
                                <img src="{{ request.session.configauss.logo_cabecera.url }}" class="ent_select"
                                     alt="{{ gauser_extra.ronda.entidad.name }}"/>
                            {% else %}
                                <img src="/static/images/logo_gauss.png" class="ent_select"
                                     alt="{{ gauser_extra.ronda.entidad.name }}">
                            {% endif %}
                        {% endif %}
                        <figcaption><b>{{ gauser_extra.ronda.entidad.name }}</b></figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
        <input type="hidden" name="gauser_extra" id="gauser_extra" value="">
    </div>
</form>

<script type="text/javascript">
    function showImageLogo() {
        var regex3 = /larioja/;
        var url = window.location.href;
        if (regex3.test(url)) {
            document.getElementById('logo_general').style.display = 'none';
            document.getElementById('logo_gobierno').style.display = 'inline';
        } else {
            document.getElementById('logo_general').style.display = 'inline';
            document.getElementById('logo_gobierno').style.display = 'none';
        }
    }

    window.setTimeout(showImageLogo, 0);

    function goEntidad(id) {
        document.getElementById('gauser_extra').value = id;
        document.getElementById("select_entidad").submit();
    }

</script>
</html>