{% extends "base.html" %}
{% load my_templatetags %}

{% block contenido %}
    <style>
        .tabtext {
            color: #74bfdd;
            font-weight: 800;
        }
    </style>
    <div class="row">
        <div class="columns large-12">
            <h4 style="text-align: center;color: #008CBA;"><strong> Configuración para crear identificadores de usuarios
                en {{ g_e.ronda.entidad.name }}</strong></h4>
        </div>
    </div>
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <div class="row">
            <div class="columns large-12">
                <label>¿Configuración automática?</label>
                <input type="checkbox" id="conf_automatica" {% if eai.auto %}checked{% endif %}> Selecciona si quieres
                que se genere el identificador de un usuario en {{ g_e.ronda.entidad.name }}
            </div>
        </div>
        <div id="id_automatico" style="display: {% if eai.auto %}block{% else %}none{% endif %};">
            <div class="row">
                <div class="columns large-4"><label>Prefijo: <input type="text" data-campo="prefijo" class="campo"
                                                                    value="{{ eai.prefijo }}"></label></div>
                <div class="columns large-4"><label>Lexema:
                    <select data-campo="lexema" class="campo">
                        <option value="num" {% if eai.lexema == 'num' %}selected{% endif %}>Número incremental</option>
                        <option value="timestamp" {% if eai.lexema == 'timestamp' %}selected{% endif %}>Instante en el
                            momento del alta
                        </option>
                    </select></label></div>
                <div class="columns large-4"><label>Sufijo: <input type="text" data-campo="sufijo" class="campo"
                                                                   value="{{ eai.sufijo }}"></label>
                </div>
            </div>
            <div class="row">
                <div class="columns large-12">
                    <label>El identificador de cada usuario tendría la forma:</label>
                    <div><span id="span_prefijo">{{ eai.prefijo }}</span><span
                            id="span_lexema">{% if eai.lexema == 'num' %}00457{% else %}210528173422{% endif %}</span
                    ><span id="span_sufijo">{{ eai.sufijo }}</span></div>
                </div>
            </div>
        </div>
        <div id="id_no_automatico" style="opacity:0.5;display: {% if eai.auto %}none{% else %}block{% endif %};">
            <div class="row">
                <div class="columns large-4"><label>Prefijo: <input type="text" readonly
                                                                    value="{{ eai.prefijo }}"></label></div>
                <div class="columns large-4"><label>Lexema:
                    <select disabled="disabled">
                        <option value="num" {% if eai.lexema == 'num' %}selected{% endif %}>Número incremental</option>
                        <option value="timestamp" {% if eai.lexema == 'timestamp' %}selected{% endif %}>Instante en el
                            momento del alta
                        </option>
                    </select></label></div>
                <div class="columns large-4"><label>Sufijo: <input type="text" readonly
                                                                   value="{{ eai.sufijo }}"></label>
                </div>
            </div>
            <div class="row">
                <div class="columns large-12">
                    <label>El identificador de cada usuario tendría la forma:</label>
                    <div><span id="span_prefijo">{{ eai.prefijo }}</span><span
                            id="span_lexema">{% if eai.lexema == 'num' %}00457{% else %}210528173422{% endif %}</span
                    ><span id="span_sufijo">{{ eai.sufijo }}</span></div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block final %}
    <script>
        {% if g_e|has_permiso:'configura_auto_id' %}
            $('body').on('click', '#conf_automatica', function (e) {
                if ($(this).prop('checked')) {
                    $('#id_no_automatico').hide();
                    $('#id_automatico').show();
                    var auto = 1;
                } else {
                    $('#id_no_automatico').show();
                    $('#id_automatico').hide();
                    var auto = 0;
                }
                $.post("/configura_auto_id/", {action: 'update_auto', auto: auto},
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            });


            function post_change(action, campo, valor) {
                $.post("/configura_auto_id/", {
                    action: action,
                    campo: campo,
                    valor: valor
                }, function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        $('#span_' + data.campo).html(data.valor);
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
            }

            $('#Contenido').on('keyup change', '.campo', function (e) {
                var elemento = $(this);
                var campo = elemento.data('campo');
                var valor = elemento.val();
                setTimeout(function () {
                    if (valor == elemento.val()) {
                        post_change('update_campo', campo, valor);
                    }
                }, 750);
            });
        {% endif %}

    </script>
{% endblock %}