{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}
    <style>
        #title_page {
            text-align: center;
            color: #008CBA;
        }
    </style>
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="doc_conf" id="doc_conf" value="">

        <div>
            <h4 id="title_page"><strong>Configuración de los documentos generados</strong></h4>
        </div>
        <div id="listado_doc_configuraciones">
            {% include 'doc_configuration_accordion.html' %}
        </div>
    </form>
{% endblock %}

{% block final %}
    <script>
        function destroyEditorInstances() {
            for (var instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].destroy();
            }
        }

        function send_datos(id, editor, html) {
            $.post("/doc_configuration/", {action: 'update_html', html: html, id: id, editor: editor},
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        }

        function reinicia_ckeditores(id) {
            destroyEditorInstances();
            var cabecera_html = CKEDITOR.replace('cabecera_html' + id);
            cabecera_html.config.allowedContent = true;
            cabecera_html.config.extraAllowedContent = '*(*)';
            var pie_html = CKEDITOR.replace('pie_html' + id);
            pie_html.config.allowedContent = true;
            pie_html.config.extraAllowedContent = '*(*)';
            cabecera_html.on('change', function (e) {
                var html = cabecera_html.getData();
                send_datos(id, 'cabecera', html);
            });
            pie_html.on('change', function (e) {
                var html = pie_html.getData();
                send_datos(id, 'pie', html);
            });
        }

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-doc_conf')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/doc_configuration/", {action: 'open_accordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        reinicia_ckeditores(id);

                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });

        $('body').on('click', '.campo_select', function () {
            var doc_conf = $(this).data('doc_conf');
            var campo = $(this).data('campo');
            $.post("/doc_configuration/", {
                    action: 'update_campo_select', doc_conf: doc_conf, campo: campo
                },
                function (data) {
                    if (data.ok) {
                        if (data.campo === 'predeterminado') {
                            $('#predeterminado' + data.id).html(data.valor);
                        } else if (data.campo === 'orientation') {
                            $('#orientation' + data.id).html(data.valor);
                        }
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('keyup change', '.campo_char', function () {
            var doc_conf = $(this).data('doc_conf');
            var campo = $(this).data('campo');
            var valor = $(this).val();
            {# En los campos number valor será '' si no es número #}
            if (campo === 'nombre') {
                $('#nombre' + doc_conf).html(valor);
            }
            if (valor) {
                $.post("/doc_configuration/", {
                        action: 'update_campo_char', doc_conf: doc_conf, campo: campo, valor: valor
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            } else {
                $('#update_error').show().delay(1500).fadeOut();
            }
        });

        $('body').on('click', '.borrar_doc_conf', function () {
            id = $(this).data('doc_conf');
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar esta configuración de documentos?',
                texto: 'Si aceptas la configuración se borrará por completo de la base de datos', size: 'large',
                buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        $.post("/doc_configuration/", {action: 'borrar_doc_conf', id: id},
                            function (data) {
                                if (data.ok) {
                                    $('#accordion' + id).remove();
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $('#update_error').show().delay(1500).fadeOut();
                                }
                            });
                    }
                }
            });
        });

        habilita(['s_plus']);
        $('#plus_sign').click(function (event) {
            event.preventDefault();
            $.post("/doc_configuration/", {action: 'crea_doc_conf'}, function (data) {
                if (data.ok) {
                    $('#list_doc_configurations').prepend(data.html);
                    $("#update_ok").show().delay(1500).fadeOut();
                } else {
                    $("#update_error").show().delay(1500).fadeOut();
                }
                $(document).scrollTop($('#title_page').offset().top - 150);
            });
        });

        $('body').on('click', '.pdf_doc_conf', function (event) {
            event.preventDefault();
            $('#doc_conf').val($(this).data('doc_conf'));
            $('#action').val('pdf_doc_conf');
            document.getElementById("{{ formname }}").submit();
        });

    </script>

{% endblock %}
