{% extends "base.html" %}
{% load my_templatetags %}

{% block contenido %}
    <div class="">
        <h4 style="text-align: center;color: #008CBA;"><strong> Datos de
            {{ miembro_unidad.gauser.get_full_name }}</strong></h4>
    </div>
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="miembro_unidad" id="miembro_unidad" value="{{ miembro_unidad.id }}">

        <div class="row">
            <div class="large-2 columns">
                <label id="fake_file_input"
                       title="Haz click para seleccionar un archivo con la fotografía">
                    {% if miembro_unidad.foto %}
                        <img width="70" src="{{ miembro_unidad.foto.url }}">
                    {% else %}
                        {% if miembro_unidad.gauser.sexo == 'H' %}
                            <img width="70" src="/media/fotos/general_h.png">
                        {% else %}
                            <img width="70" src="/media/fotos/general_m.png">
                        {% endif %}
                    {% endif %}
                </label>
            </div>
            <div class="large-10 columns">
                <input type="file" name="foto" id="id_foto" style="display: none;">
            </div>
        </div>

        {% if not logincas %}
            <div class="row">
                <div class="large-3 columns">
                    <label>Usuario del sistema
                        <input type="text" value="{{ miembro_unidad.gauser.username }}"
                               data-id="{{ miembro_unidad.id }}"
                               data-campo="username" class="campo_gauser" maxlength="50">
                    </label>
                </div>


                <div class="large-4 columns">
                    <label>Escribe contraseña
                        <input type="password" id="dialog_password1" name="password1"
                               placeholder="Sólo si deseas cambiarla" class="change_password"/>
                    </label>
                </div>
                <div class="large-4 columns">
                    <label style="font-weight: 800;">Repite contraseña <span id="pass_warning"
                                                                             style="color:red;display: none;"><i
                            class="fa fa-warning"></i></span>
                        <span id="pass_ok" style="color:green;display: none;"><i class="fa fa-check"></i></span>
                        <input type="password" id="dialog_password2" class="change_password" name="password2"
                               placeholder="Igual que anterior si deseas cambiarla"/>
                        <ul style="color:red">
                            <li id="no_coinciden" class="warnings" style="display: none;">Las contraseñas no coinciden
                            </li>
                            <li id="no_length" class="warnings" style="display: none;">Deben tener más de 6 caracteres
                            </li>
                            <li id="no_upper" class="warnings" style="display: none;">Deben tener alguna maýuscula</li>
                            <li id="no_lower" class="warnings" style="display: none;">Deben tener alguna minúscula</li>
                            <li id="no_digit" class="warnings" style="display: none;">Deben tener algún número</li>
                        </ul>
                    </label>
                </div>
                <div class="large-1 columns">
                    <label>&nbsp;
                        <a class="button tiny radius disabled secondary" id="boton_password"
                           data-id="{{ miembro_unidad.id }}"
                           title="Cambiar la contraseña">Cambiar</a>
                    </label>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="large-5 columns">
                <label>Nombre del usuario
                    <input type="text" value="{{ miembro_unidad.gauser.first_name }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="first_name" class="campo_gauser">
                </label>
            </div>
            <div class="large-5 columns">
                <label>Apellidos del usuario
                    <input type="text" value="{{ miembro_unidad.gauser.last_name }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="last_name" class="campo_gauser">
                </label>
            </div>
            <div class="large-2 columns">
                <label>Alias/Nick:
                    <input type="text" value="{{ miembro_unidad.alias }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="alias" class="campo_gauser_extra">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-3 columns">
                <label>Sexo
                    <select class="campo_gauser" data-campo="sexo" data-id="{{ miembro_unidad.id }}">
                        <option value="H" {% if miembro_unidad.gauser.sexo == 'H' %}selected{% endif %}>Hombre
                        </option>
                        <option value="M" {% if miembro_unidad.gauser.sexo == 'M' %}selected{% endif %}>Mujer
                        </option>
                    </select>
                </label>
            </div>
            <div class="large-4 columns">
                <label>DNI (Letra sin espacios)
                    <input type="text" value="{{ miembro_unidad.gauser.dni }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="dni" class="campo_gauser" id="dni" style="text-transform:uppercase">
                </label>
            </div>
            <div class="large-5 columns">
                <label>Correo electrónico
                    <input type="text" value="{{ miembro_unidad.gauser.email }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="email" class="campo_gauser">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-3 columns">
                <label>Fecha de nacimiento
                    <input type="text" name="nacimiento" id="id_nacimiento" placeholder="dd/mm/YYYY"
                           title="La fecha de nacimiento debes introducirla en formato dd/mm/YYYY"
                           value="{{ form1.nacimiento.value|default_if_none:""|date:"d/m/Y" }}"/>
                </label>
            </div>
            <div class="large-3 columns">
                <label>Teléfono fijo
                    <input type="text" value="{{ miembro_unidad.gauser.telfij }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="telfij" class="campo_gauser">
                </label>
            </div>
            <div class="large-3 columns">
                <label>Teléfono móvil
                    <input type="text" value="{{ miembro_unidad.gauser.telmov }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="telmov" class="campo_gauser">
                </label>
            </div>
            <div class="large-3 columns">
                <label>Nº ident. entidad</label>
                {% if miembro_unidad.id_organizacion %}
                    <span style="font-weight: 800;font-size: larger;" class="label radius">
                            {{ miembro_unidad.id_organizacion }}</span>
                {% else %}
                    <span data-tooltip title="Este campo no está disponible para este tipo de perfil"
                          class="has-tip label secondary radius">No disponible en este perfil</span>
                {% endif %}

            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <label>Unidad familiar:</label>
                    {% for miembro in miembro_unidad.unidad_familiar %}
                        {% if forloop.first %}&nbsp;{% elif forloop.last %} y {% else %}, {% endif %}
                        {% if miembro.edad < 18 or miembro == request.session.gauser_extra %}
                            <a data-id="{{ miembro.id }}" class="buscar_miembro">
                                {{ miembro.gauser.get_full_name }}</a>
                        {% else %}
                            <a title="Usuario mayor de edad. No puedes acceder a sus datos" class="mayor_edad">
                                {{ miembro.gauser.get_full_name }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <p></p>

        <div class="row">
            <div class="large-4 columns">
                <label>Dirección
                    <input type="text" value="{{ miembro_unidad.gauser.address }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="address" class="campo_gauser">
                </label>
            </div>
            <div class="large-2 columns">
                <label>Codigo postal
                    <input type="text" value="{{ miembro_unidad.gauser.postalcode }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="postalcode" class="campo_gauser">
                </label>
            </div>
            <div class="large-3 columns">
                <label>Localidad
                    <input type="text" value="{{ miembro_unidad.gauser.localidad }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="localidad" class="campo_gauser">
                </label>
            </div>
            <div class="large-3 columns">
                <label>Provincia
                    <select class="campo_gauser" data-campo="provincia" data-id="{{ miembro_unidad.id }}">
                        {% for p in provincias %}
                            <option value="{{ p.0 }}"
                                    {% if miembro_unidad.gauser.provincia == p.0 %}selected{% endif %}>{{ p.1 }}</option>
                        {% endfor %}
                    </select>
                    {#                    <input type="text" value="{{ miembro_unidad.gauser.provincia }}" data-id="{{ miembro_unidad.id }}"#}
                    {#                           data-campo="provincia" class="campo_gauser">#}
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <label>IBAN (Cuenta bancaria) <span id="errores_iban" style="display: none;color:red"><i
                        class="fa fa-warning"></i></span> <span id="check_iban" style="display: none;color:green"><i
                        class="fa fa-check"></i></span>
                    <input type="text" value="{{ miembro_unidad.num_cuenta_bancaria }}"
                           data-id="{{ miembro_unidad.id }}" id="num_cuenta_bancaria"
                           data-campo="num_cuenta_bancaria">
                    <ul style="color:red">
                        <li id="iban_incompleto" class="warnings" style="display: none;">
                            El IBAN está compuesto por 24 caracteres
                        </li>
                        <li id="ccc_incompleto" class="warnings" style="display: none;">
                            Una cuenta bancaria está compuesta por 20 dígitos.
                        </li>
                        <li id="iban_error" class="warnings" style="display: none;">
                            Hay algún error en los dígitos introducidos
                        </li>
                    </ul>
                </label>
            </div>
            <div class="large-6 columns">
                <label>Ocupación del usuario
                    <input type="text" value="{{ miembro_unidad.ocupacion }}" data-id="{{ miembro_unidad.id }}"
                           data-campo="ocupacion" class="campo_gauser_extra">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Perfiles/Cargos en la entidad:
                    {% if miembro_unidad.cargos.all|length > 0 %}
                        <p style="font-weight: 700;">
                            {% for cargo in miembro_unidad.cargos.all %}
                                {{ cargo.cargo }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p style="font-weight: 700;">
                            No tiene ningún cargo
                        </p>
                    {% endif %}
                </label>
            </div>
        </div>
        {% if usuarios_tutorados|length > 0 %}
            <hr>
            <div class="row">
                <div class="columns large-12">
                    <h5><strong>Alumnos en tutoría o co-tutoría</strong></h5>
                </div>
            </div>
            <div class="row">
                {% for usuario in usuarios_tutorados %}
                    <div class="columns large-4">
                        {{ usuario.ge.gauser.last_name }}, {{ usuario.ge.gauser.first_name }}
                        ({{ usuario.grupo.nombre }})
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if miembro_unidad == request.session.gauser_extra %}
            <hr>
            {#        <div class="row">#}
            {#            <div class="large-12 columns">#}
            {#                {% if not telegram %}#}
            {#                    <h5><strong>Cuenta de Telegram no conectada a GAUSS</strong></h5>#}
            {#                    <p>Para cuenta tu cuenta de Telegram en GAUSS sigue los siguientes pasos:</p>#}
            {#                    <ol>#}
            {#                        <li>Instala Telegram en tu teléfono móvil (puedes descargarlo para#}
            {#                            <a href="https://play.google.com/store/apps/details?id=org.telegram.messenger&hl=es">#}
            {#                                <i class="fa fa-android"></i> Android</a>, para#}
            {#                            <a href="https://itunes.apple.com/app/telegram-messenger/id686449807"><i#}
            {#                                    class="fa fa-apple">#}
            {#                            </i> iPhone/iPad</a> o para#}
            {#                            <a href="https://www.microsoft.com/en-us/store/apps/telegram-messenger/9wzdncrdzhs0">#}
            {#                                <i class="fa fa-windows"></i> Windows</a>)#}
            {#                        </li>#}
            {#                        <li>Arranca Telegram en tu móvil en el icono <i class="fa fa-search"></i> para#}
            {#                            buscar el usuario "GAUSS Telegram". Una vez encontrado, añádelo a tu lista de contactos.#}
            {#                        </li>#}
            {#                        <li>Envía a "GAUSS Telegram" el texto (no te olvides la barra delante de la palabra#}
            {#                            "identificador"):&nbsp;&nbsp;&nbsp; <b>/identificador</b></li>#}
            {#                        <li>GAUSS Telegram te enviará un número. Este es el número que debes introducir en el campo#}
            {#                            "identificador".#}
            {#                        </li>#}
            {#                    </ol>#}
            {#                {% else %}#}
            {#                    <h5><strong>Cuenta de Telegram conectada a GAUSS</strong></h5>#}
            {#                    <p>Puedes actualizar tu identificador mandando <b>/identificador</b> a "GAUSS Telegram".</p>#}
            {#                {% endif %}#}
            {#                <div class="row">#}
            {#                    <label>&nbsp;&nbsp;&nbsp;Identificador#}
            {#                        <div class="columns large-12">#}
            {#                            <div class="large-9 columns">#}
            {#                                <input type="text" name="identificador" id="identificador">#}
            {#                            </div>#}
            {#                            <div class="large-3 columns">#}
            {#                                <a class="button tiny identificador"><b>Aceptar</b></a>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </label>#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            <div class="row">
                <div class="columns large-12">
                    <p><img src="https://telegram.org/img/t_logo.png" style="height: 75px;width: 75px;">
                        Para conectar tu usuario de GAUSS con Telegram tienes que seguir los siguientes pasos:</p>
                    <ol>
                        <li>Instala Telegram en tu teléfono móvil (puedes descargarlo para
                            <a href="https://play.google.com/store/apps/details?id=org.telegram.messenger&hl=es"
                               target="_blank"><i class="fa fa-android"></i> Android</a>, para
                            <a href="https://itunes.apple.com/app/telegram-messenger/id686449807" target="_blank"><i
                                    class="fa fa-apple"> </i> iPhone/iPad</a> o para
                            <a href="https://www.microsoft.com/en-us/store/apps/telegram-messenger/9wzdncrdzhs0"
                               target="_blank"> <i class="fa fa-windows"></i> Windows</a>)
                        </li>
                        <li>Arranca Telegram en tu móvil en el icono <i class="fa fa-search"></i> para
                            buscar el usuario "GAUSS Telegram". Una vez encontrado, añádelo a tu lista de contactos.
                        </li>
                        <li>Genera el código pulsando sobre <span class="label radius">Genera código</span>.</li>
                        <li>Cópialo en la conversación de Telegram con GAUSS. Si todo va bien, se te enviará un
                            mensaje de confirmación.
                        </li>
                    </ol>
                </div>
                <div class="columns large-6"><a class="button radius genera_code">Genera código</a></div>
                <div id="code_telegram" class="columns large-6" style="font-weight: 800;font-size: x-large;"></div>
            </div>
        {% endif %}

        {#        <label>Datos de interés del usuario#}
        {#            <textarea id="id_observaciones" name="observaciones" style="height: 280px;"#}
        {#                      placeholder="Introduce texto ...">{{ form2.observaciones.value }}</textarea>#}
        {#        </label>#}
    </form>
    <hr>
    <div class="row">
        <div class="columns large-12">
            <h5><strong>Ley Orgánica de Protección de Datos (LOPD)</strong></h5>

            <p class="wysiwyg-text-align-justify">Los datos de carácter personal
                del interesado serán tratados por responsable del fichero de la
                entidad {{ request.session.gauser_extra.ronda.entidad.name }} con sede en
                {{ request.session.gauser_extra.ronda.entidad.name }}, {{ request.session.gauser_extra.ronda.entidad.localidad }},
                para el mantenimiento, cumplimiento y control de la relación establecida con la misma y podrán ser
                cedidos cuando
                dicho tratamiento implique la conexión con ficheros de terceros, lo que le será convenientemente
                informado en el
                momento de recogida de sus datos, solicitando su consentimiento en el caso en que éste fuese necesario
                de acuerdo
                con lo establecido por la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter
                Personal y su
                Reglamento de desarrollo.</p>

            <p class="wysiwyg-text-align-justify">El interesado podrá ejercitar en todo momento sus derechos de acceso,
                rectificación, cancelación u oposición,
                dirigiéndose al responsable del fichero de la
                entidad {{ request.session.gauser_extra.ronda.entidad.name }}
                a través del menú "Derechos ARCO" que proporciona la aplicación GAUSS.</p>
        </div>
    </div>
{% endblock %}

{% block final %}
    <script>

        {#function generar_letra_nif_nie(b) {#}
        {#    var c = ["T", "R", "W", "A", "G", "M", "Y", "F", "P", "D", "X", "B", "N", "J", "Z", "S", "Q", "V", "H", "L", "C", "K", "E"];#}
        {#    if (b.substring(0, 1).toUpperCase() === "X") {#}
        {#        b = b.replace(/x/i, "0")#}
        {#    } else {#}
        {#        if (b.substring(0, 1).toUpperCase() === "Y") {#}
        {#            b = b.replace(/y/i, "1")#}
        {#        } else {#}
        {#            if (b.substring(0, 1).toUpperCase() === "Z") {#}
        {#                b = b.replace(/z/i, "2")#}
        {#            }#}
        {#        }#}
        {#    }#}
        {#    var a = b % 23;#}
        {#    return c[a]#}
        {# }#}

        {#function es_creable_nif(a) {#}
        {#    return a.substring(0, 1).match(/([A-Z])/i) == null && a.substring(0, 1).match(/[^a-zA-Z0-9]/i) == null#}
        {# }#}

        {#function crear_nif(b) {#}
        {#    var c = -1;#}
        {#    var a;#}
        {#    b = b.replace(/[^a-zA-Z0-9]+/g, "");#}
        {#    if (b.match(/([A-Z])/i) != null) {#}
        {#        c = b.match(/([A-Z])/i).index#}
        {#    }#}
        {#    if (c != -1) {#}
        {#        a = b.substring(0, c)#}
        {#    } else {#}
        {#        a = b#}
        {#    }#}
        {#    if (a.length < 8) {#}
        {#        var d = "00000000";#}
        {#        a = d.substring(0, 8 - (a.length)) + a#}
        {#    } else {#}
        {#        if (a.length > 8) {#}
        {#            a = a.substring(0, 8)#}
        {#        }#}
        {#    }#}
        {#    return a + this.generar_letra_nif_nie(a)#}
        {# }#}

        function genera_nie(a) {
            var letras = 'TRWAGMYFPDXBNJZSQVHLCKE';
            if (a) {
                a = a.toUpperCase();
                var dni = a.replace(/\D/g, '');
                if (!dni) {
                    return ''
                }
                if ('XYZ'.includes(a.substring(0, 1))) {
                    var comienzo = a.substring(0, 1);
                    dni = dni.slice(-7); // Cadenas de más de 7 cifras eliminamos las primeras
                    while (dni.length < 7) {
                        dni = '0' + dni;
                    }
                    var comienzos = {'X': '0', 'Y': '1', 'Z': '2'}
                    dni = comienzos[comienzo] + dni
                    return comienzo + dni.slice(1) + letras[parseInt(dni) % 23];
                } else {
                    dni = dni.slice(-8);
                    while (dni.length < 8) {
                        dni = '0' + dni;
                    }
                    return dni + letras[parseInt(dni) % 23];
                }

            } else {
                return '';
            }
        }

        {# ################################################################### #}
        {# ################# PARA ESCRIBIR CORRECTAMENTE EL DNI############### #}
        {# ################################################################### #}
        var dni_element = $('#dni');
        {#var dni_creado = crear_nif(dni_element.val());#}
        var dni_creado = genera_nie(dni_element.val());
        var ge_id = dni_element.data('id');
        if (dni_element.val() !== dni_creado || dni_element.val() == '') {
            var dni_mejorado = dni_element.val().replace('-', '').replace(' ', '').toUpperCase();
            if (dni_mejorado === dni_creado && dni_element.val() != '') {
                dni_element.val(dni_creado);
                $.post("/mis_datos_ajax/", {
                    action: 'campo_gauser',
                    ge_id: ge_id,
                    campo: 'dni',
                    valor: dni_creado
                }, function (data) {
                }, 'json');
            } else {
                $.post("/mis_datos_ajax/", {
                    action: 'campo_gauser',
                    ge_id: ge_id,
                    campo: 'dni',
                    valor: ''
                }, function (data) {
                }, 'json');
                show_mensajes({
                    title: '<i class="fa fa-warning"></i> Error en DNI',
                    texto: 'Tu DNI está mal registrado. Por favor corrígelo.'
                });
            }
        }
        {# ################################################################### #}
        {# ################################################################### #}

        $('#Contenido').on('keyup change', '#num_cuenta_bancaria', function () {
            var ok = false;
            var codigoBanco = '';
            var codigoSucursal = '';
            var numeroCuenta = '';
            var digitoControl = '';
            var codigoIBAN = '';
            var ccc = $(this).val();
            if ((ccc.length > 1 || ccc.length > 20) && ccc.substr(0, 2) != 'ES') {
                $('#ccc_incompleto').show();
                $('#errores_iban').show();
                $('#check_iban').hide();
                if (ccc.length == 20) {
                    $('#ccc_incompleto').hide();
                    codigoBanco = ccc.substr(0, 4);
                    codigoSucursal = ccc.substr(4, 4);
                    numeroCuenta = ccc.substr(10, 10);
                    digitoControl = CalculaDigitoControl(codigoBanco + codigoSucursal, numeroCuenta);
                    if (digitoControl != ccc.substr(8, 2)) {
                        $('#iban_error').show();
                        $('#errores_iban').show();
                        $('#check_iban').hide();
                    } else {
                        codigoIBAN = CalcularIBAN(codigoBanco + codigoSucursal + digitoControl + numeroCuenta);
                        $(this).val(codigoIBAN + ccc);
                        ok = true;
                        $('#iban_error').hide();
                        $('#errores_iban').hide();
                        $('#check_iban').show();
                        $('.warnings').fadeOut();
                    }
                }
            } else if ((ccc.length > 1 || ccc.length > 24) && ccc.substr(0, 2) == 'ES') {
                $('#iban_incompleto').show();
                $('#errores_iban').show();
                $('#check_iban').hide();
                if (ccc.length == 24) {
                    $('#iban_incompleto').hide();
                    codigoBanco = ccc.substr(4, 4);
                    codigoSucursal = ccc.substr(8, 4);
                    numeroCuenta = ccc.substr(14, 10);
                    digitoControl = CalculaDigitoControl(codigoBanco + codigoSucursal, numeroCuenta);
                    if (digitoControl != ccc.substr(12, 2)) {
                        $('#iban_error').show();
                        $('#errores_iban').show();
                        $('#check_iban').hide();
                    } else {
                        codigoIBAN = CalcularIBAN(codigoBanco + codigoSucursal + digitoControl + numeroCuenta);
                        if (codigoIBAN != ccc.substr(0, 4)) {
                            $(this).val(codigoIBAN + ccc.substr(4, 20));
                        }
                        ok = true;
                        $('#iban_error').hide();
                        $('#errores_iban').hide();
                        $('#check_iban').show();
                        $('.warnings').fadeOut();
                    }
                }
            }
            if (ok) {
                var ge_id = $(this).data('id');
                var valor = $(this).val();
                $.post("/mis_datos_ajax/", {
                    action: 'update_num_cuenta_bancaria',
                    ge_id: ge_id,
                    valor: ccc
                }, function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                }, 'json');
            }
        });

        $('#Contenido').on('keyup change', '.campo_gauser_extra', function () {
            var ge_id = $(this).data('id');
            var campo = $(this).data('campo');
            var valor = $(this).val();
            $.post("/mis_datos_ajax/", {
                action: 'campo_gauser_extra',
                ge_id: ge_id,
                campo: campo,
                valor: valor
            }, function (data) {
                if (data.ok) {
                    $("#update_ok").show().delay(1500).fadeOut();
                } else {
                    $("#update_error").show().delay(1500).fadeOut();
                }
            }, 'json');
        });

        $('#Contenido').on('keyup change', '.campo_gauser', function () {
            var ge_id = $(this).data('id');
            var campo = $(this).data('campo');
            var valor = $(this).val();
            var enviar = true;
            if (campo === 'dni') {
                valor = valor.replace('-', '').replace(' ', '').toUpperCase();
                $(this).val(valor);
                {#enviar = valor === crear_nif(valor)#}
                enviar = valor === genera_nie(valor)
            }
            if (enviar) {
                $.post("/mis_datos_ajax/", {
                    action: 'campo_gauser',
                    ge_id: ge_id,
                    campo: campo,
                    valor: valor
                }, function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                        if (data.msg) {
                            setTimeout(function () {
                                show_mensajes({
                                    title: '<i class="fa fa-warning"></i> Error',
                                    texto: data.msg
                                })
                            }, 200);
                        }
                    }
                }, 'json');
            } else {
                $("#update_error").show().delay(1500).fadeOut();
            }

        });

        $('#id_num_cuenta_bancaria').prop('title', '{{miembro_unidad.banco.nombre}}');


        {#$("#boton_password3").on('click', function (e) {#}
        {#    e.preventDefault();#}
        {#    var ge_id = $(this).data('id');#}
        {#    $.post("/mis_datos_ajax/", {#}
        {#        action: 'change_password',#}
        {#        ge_id: ge_id,#}
        {#        password1: $('#dialog_password1').val(),#}
        {#        password2: $('#dialog_password2').val()#}
        {#    }, function (data) {#}
        {#        if (data.ok) {#}
        {#            $("#update_ok").show().delay(1500).fadeOut();#}
        {#            show_mensajes({title: 'Cambio de contraseña', texto: data.mensaje})#}
        {#        } else {#}
        {#            $("#update_error").show().delay(1500).fadeOut();#}
        {#            show_mensajes({title: 'Error', texto: data.mensaje})#}
        {#        }#}
        {#        $('#dialog_password1').val('');#}
        {#        $('#dialog_password2').val('');#}
        {#    }, 'json');#}
        {# });#}

        $('#Contenido').on('click', '#boton_password', function (e) {
            e.preventDefault();
            var ge_id = $(this).data('id');
            var pass1 = $('#dialog_password1').val();
            var pass2 = $('#dialog_password2').val();
            if ((pass1 == pass2) && pass1.length > 4 && !$(this).hasClass('disabled')) {
                $.post("/mis_datos_ajax/", {
                    action: 'change_password',
                    ge_id: ge_id,
                    password1: $('#dialog_password1').val(),
                    password2: $('#dialog_password2').val()
                }, function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        show_mensajes({title: 'Cambio de contraseña', texto: data.mensaje})
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                        show_mensajes({title: 'Error', texto: data.mensaje})
                    }
                    $('#dialog_password1').val('');
                    $('#dialog_password2').val('');
                }, 'json');
            }
        });

        $('#Contenido').on('keyup change', '.change_password', function (e) {
            var pass1 = $('#dialog_password1').val();
            var pass2 = $('#dialog_password2').val();
            var no_coinciden = false;
            var no_length = false;
            var no_upper = false;
            var no_lower = false;
            var no_digit = false;
            var warning = false;
            var lower = /[a-z]/;
            var upper = /[A-Z]/;
            var digit = /[0-9]/;
            if (pass1.length < 6 && pass1.length > 0) {
                $('#no_length').show();
                no_length = true;
            } else {
                $('#no_length').hide();
                no_length = false;
            }
            if (pass1 != pass2) {
                $('#no_coinciden').show();
                no_coinciden = true;
            } else {
                $('#no_coinciden').hide();
                no_coinciden = false;
            }
            if (!lower.test(pass1)) {
                $('#no_lower').show();
                no_lower = true;
            } else {
                $('#no_lower').hide();
                no_lower = false;
            }
            if (!upper.test(pass1)) {
                $('#no_upper').show();
                no_upper = true;
            } else {
                $('#no_upper').hide();
                no_upper = false;
            }
            if (!digit.test(pass1)) {
                $('#no_digit').show();
                no_digit = true;
            } else {
                $('#no_digit').hide();
                no_digit = false;
            }
            warning = no_coinciden || no_length || no_upper || no_lower || no_digit;
            console.log(no_coinciden, no_length, no_upper, no_lower, no_digit);
            if (warning) {
                $('#pass_warning').show();
                $('#boton_password').addClass('disabled').addClass('secondary');
            } else {
                $('#pass_warning').hide();
                $('#boton_password').removeClass('disabled').removeClass('secondary');
            }
            if (pass1.length == 0 && pass2.length == 0) {
                $('#pass_warning').hide();
                $('#boton_password').addClass('disabled').addClass('secondary');
                $('.warnings').hide();
            }
        });


        $('#fake_file_input').click(function () {
            $('#id_foto').click();
            setTimeout(function () {
                $('#id_foto').val($('#id_foto').val());
            }, 1);
        });
        $('#id_foto').change(function () {
            $('#action').val('aceptar');
            document.getElementById("{{ formname }}").submit();
        });

        $(".buscar_miembro").click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $('#miembro_unidad').val(id);
            show_mensajes({'title': 'Cargando el usuario indicado ...'});
            $('#action').val('miembro_unidad');
            document.getElementById("{{ formname }}").submit();
        });

        $('#Contenido').on('click', '.mayor_edad', function (e) {
            e.preventDefault();
            var texto = 'El usuario es mayor de edad y no tienes permiso para acceder a sus datos.';
            show_mensajes({'title': 'Lo sentimos ...', 'texto': texto});
        });

        {#        $('.identificador').click(function (e) {#}
        {#            e.preventDefault();#}
        {#            var identificador = $('#identificador').val();#}
        {#            $.post("/gtelegram_ajax/", {action: 'user_identificador', user_id: identificador}, function (data) {#}
        {#                show_mensajes({'title': data.title, 'texto': data.mensaje});#}
        {#            }, 'json');#}
        {#        });#}

        $('#Contenido').on('click', '.genera_code', function (e) {
            e.preventDefault();
            $.post("/gtelegram_ajax/", {action: 'genera_code'}, function (data) {
                $('#code_telegram').html(data.code);
                {#                show_mensajes({'title': data.title, 'texto': data.mensaje});#}
            }, 'json');
        });


        // Obtenido de:  https://www.gabilos.com/textocalculadoradccuenta.htm
        // Calculate the checksum and assemble the IBAN.
        function CalcularIBAN(account) {
            //var checksum = ChecksumIBAN("ES" + "00" + account);


            var iban = "ES" + "00" + account;
            var code = iban.substring(0, 2);
            var checksum = iban.substring(2, 4);
            var bban = iban.substring(4);

            // Assemble digit string
            var digits = "";
            for (var i = 0; i < bban.length; ++i) {
                var ch = bban.charAt(i).toUpperCase();
                if ("0" <= ch && ch <= "9")
                    digits += ch;
                else
                    digits += convertirMayusculasNumeros(ch);
            }
            for (var i = 0; i < code.length; ++i) {
                var ch = code.charAt(i);
                digits += convertirMayusculasNumeros(ch);
            }
            digits += checksum;

            // Calculate checksum
            checksum = 98 - modulo97(digits);
            //return rellenarCeros("" + checksum, 2);
            //return "ES" + checksum;

            return "ES" + rellenarCeros("" + checksum, 2);
        }

        // Calculate 2-digit checksum of an IBAN.
        function ChecksumIBAN(iban) {
            var code = iban.substring(0, 2);
            var checksum = iban.substring(2, 4);
            var bban = iban.substring(4);

            // Assemble digit string
            var digits = "";
            for (var i = 0; i < bban.length; ++i) {
                var ch = bban.charAt(i).toUpperCase();
                if ("0" <= ch && ch <= "9")
                    digits += ch;
                else
                    digits += convertirMayusculasNumeros(ch);
            }
            for (var i = 0; i < code.length; ++i) {
                var ch = code.charAt(i);
                digits += convertirMayusculasNumeros(ch);
            }
            digits += checksum;

            // Calculate checksum
            checksum = 98 - modulo97(digits);
            return rellenarCeros("" + checksum, 2);
        }

        // Modulo 97 for huge numbers given as digit strings.
        function modulo97(digit_string) {
            var m = 0;
            for (var i = 0; i < digit_string.length; ++i)
                m = (m * 10 + parseInt(digit_string.charAt(i))) % 97;
            return m;
        }

        // Convert a capital letter into digits: A -> 10 ... Z -> 35 (ISO 13616).
        function convertirMayusculasNumeros(ch) {
            var capitals = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            for (var i = 0; i < capitals.length; ++i)
                if (ch == capitals.charAt(i))
                    break;
            return i + 10;
        }

        // Fill the string with leading zeros until length is reached.
        function rellenarCeros(s, l) {
            while (s.length < l)
                s = "0" + s;
            return s;
        }

        function CalculaDigitoControl(Banco, Cuenta) {
            Pesos = new Array(6, 3, 7, 9, 10, 5, 8, 4, 2, 1);
            var result = '';
            var iTemp = 0;
            for (var n = 0; n <= 7; n++) {
                iTemp = iTemp + Banco.substr(7 - n, 1) * Pesos[n];
            }
            result = 11 - iTemp % 11;
            if (result > 9) {
                result = 1 - result % 10;
            }
            iTemp = 0;
            for (var n = 0; n <= 9; n++) {
                iTemp = iTemp + Cuenta.substr(9 - n, 1) * Pesos[n];
            }
            iTemp = 11 - (iTemp % 11);
            if (iTemp > 9) {
                iTemp = 1 - (iTemp % 10);
            }
            result = result * 10 + iTemp;

            if (result.toString().length == 1) {
                result = '0' + result;
            }
            return (result);
        }
    </script>
{% endblock %}