{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
        .check_subentidad {
            text-align: center;
            cursor: pointer;
            font-size: 120%;
        }

        #check_todos {
            text-align: center;
            cursor: pointer;
            font-size: 120%;
        }

        .gris {
            color: #a3a3a3;
        }

    </style>
{% endblock %}

{% block contenido %}

    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}" data-abide>
        {% csrf_token %}

        <input type="hidden" id="action" name="action" value="">
        <input type="hidden" id="id_subentidad_selected" name="id_subentidad_selected" value="">

        <div>
            <h4 style="text-align: center;color: #008CBA;"><strong> Departamentos/Secciones de la entidad</strong></h4>
        </div>

        <div id="div_subentidades">
            <dl class="accordion" data-accordion id="list_subentidades">
                {% for subentidad in subentidades %}
                    {% include "accordion_subentidad.html" %}
                {% endfor %}
            </dl>
        </div>
        {% if request.session.gauser_extra|has_permiso:'crea_subentidades' %}
            <hr>
            <div class="row">
                <div class="columns large-12">
                    <a class="button add_subentidad"><i class="fa fa-plus"></i> Crear subentidad</a>
                </div>
            </div>
        {% endif %}








        {#        <div id="div_subentidades">#}
        {#            {% include 'list_subentidades.html' %}#}
        {#        </div>#}
        {##}
        {#        <div id="introducir_subentidad" style="display: none;">#}
        {#            #}
        {#        </div>#}
    </form>
{% endblock %}

{% block final %}
    <script>

        {% if request.session.gauser_extra|has_permiso:'crea_subentidades' %}
            $('#Contenido').on('click', '.add_subentidad', function (e) {
                e.preventDefault();
                var subentidad = $(this).data('subentidad');
                $.post("/subentidades_ajax/", {action: 'add_subentidad'}, function (data) {
                    $('#list_subentidades').append(data);
                    $("#update_ok").show().delay(1500).fadeOut();
                });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'borra_subentidades' %}
            $('#Contenido').on('click', '.del_subentidad', function (e) {
                e.preventDefault();
                var subentidad = $(this).data('subentidad');
                $.post("/subentidades_ajax/", {action: 'del_subentidad', id: subentidad}, function (data) {
                    $('#accordion' + subentidad).remove();
                    $("#update_ok").show().delay(1500).fadeOut();
                });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'edita_subentidades' %}
            $('#Contenido').on('keyup', '.nombre_subentidad', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var nombre = $(this).val();
                $.post("/subentidades_ajax/", {action: 'nombre_subentidad', id: id, nombre: nombre}, function (data) {
                    if (data.ok) {
                        $("#span_nombre" + id).html(data.nombre);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
            });
            $('#Contenido').on('keyup', '.edad_min_subentidad', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var edad_min = $(this).val();
                $.post("/subentidades_ajax/", {
                    action: 'edad_min_subentidad',
                    id: id,
                    edad_min: edad_min
                }, function (data) {
                    if (data.ok) {
                        $("#span_edad_min" + id).html(data.edad_min);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
            });
            $('#Contenido').on('keyup', '.edad_max_subentidad', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var edad_max = $(this).val();
                $.post("/subentidades_ajax/", {
                    action: 'edad_max_subentidad',
                    id: id,
                    edad_max: edad_max
                }, function (data) {
                    if (data.ok) {
                        $("#span_edad_max" + id).html(data.edad_max);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
            });
            $('#Contenido').on('click', '.mensajes', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                $.post("/subentidades_ajax/", {action: 'mensajes', id: id}, function (data) {
                    if (data.ok) {
                        $("#mensajes" + id).html(data.mensajes);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
            });
            $('#Contenido').on('keyup', '.observaciones', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var observaciones = $(this).val();
                $.post("/subentidades_ajax/", {
                    action: 'observaciones',
                    id: id,
                    observaciones: observaciones
                }, function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
            });
            $('#Contenido').on('change', '.sub_padre', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var sub_padre = $(this).val();
                $.post("/subentidades_ajax/", {
                    action: 'sub_padre',
                    id: id,
                    sub_padre: sub_padre
                }, function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
            });
            $('#Contenido').on('keyup', '.clave_ex', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var clave_ex = $(this).val();
                $.post("/subentidades_ajax/", {
                    action: 'clave_ex',
                    id: id,
                    clave_ex: clave_ex
                }, function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
            });

        {% endif %}

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-subentidad')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            $('#id_subentidad_selected').val(id);
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/subentidades_ajax/", {action: 'open_accordion', id: id}, function (data) {
                                $('#panel' + id).html(data);
                            });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#id_subentidad_selected').val('');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });


        {#        {% if request.session.gauser_extra|has_permiso:'edita_subentidades' %}#}
        {#            habilita(['s_plus', 'h_trash-o', 'h_check', 'h_pencil', 'h_list-alt']);#}
        {#            $(document).foundation({#}
        {#                accordion: {#}
        {#                    callback: function (accordion) {#}
        {#                        if (accordion.hasClass('accordion-subentidad')) {#}
        {#                            var id = accordion.data('id');#}
        {#                            if ($('#circle' + id).hasClass('fa-plus-circle')) {#}
        {#                                $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');#}
        {#                                $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');#}
        {#                                $('#id_subentidad_selected').val(id);#}
        {#                                habilita(['h_plus', 's_trash-o', 'h_check', 's_pencil', 'h_list-alt']);#}
        {#                                window.scrollTo(0, $('#accordion' + id).offset().top - 50);#}
        {#                            } else {#}
        {#                                $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');#}
        {#                                $('#id_subentidad_selected').val('');#}
        {#                                habilita(['s_plus', 'h_trash-o', 'h_check', 'h_pencil', 'h_list-alt']);#}
        {#                            }#}
        {#                        }#}
        {#                    }#}
        {#                }#}
        {#            });#}
        {##}
        {#            $('#list-alt_sign').click(function (event) {#}
        {#                event.preventDefault();#}
        {#                $('#action').val('');#}
        {#                $('#introducir_subentidad').hide();#}
        {#                $('#div_subentidades').show();#}
        {#                $('.content').removeClass('active');#}
        {#                $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');#}
        {#                $('#id_subentidad_selected').val('');#}
        {#                habilita(['s_plus', 'h_trash-o', 'h_check', 'h_pencil', 'h_list-alt']);#}
        {#            });#}
        {##}
        {#            $('#trash-o_sign').click(function (event) {#}
        {#                event.preventDefault();#}
        {#                $('#action').val('borrar_subentidad');#}
        {#                var id = $('#id_subentidad_selected').val();#}
        {#                $('#accordion' + id).hide();#}
        {#                $.post("/subentidades/", {action: 'borrar_subentidad', id: id}, function (data) {#}
        {#                    habilita(['s_plus', 'h_trash-o', 'h_check', 'h_pencil', 'h_list-alt']);#}
        {#                    show_mensajes({title: '<i class="fa fa-warning"></i> Aviso', texto: data});#}
        {#                    window.scrollTo(0,0);#}
        {#                });#}
        {#            });#}
        {##}
        {#            $('#pencil_sign, #plus_sign').click(function (event) {#}
        {#                event.preventDefault();#}
        {#                var id = $('#id_subentidad_selected').val();#}
        {#                $('#action').val('guardar_subentidad');#}
        {#                habilita(['s_check', 'h_plus', 'h_pencil', 'h_trash-o', 's_list-alt']);#}
        {#                $.post("/subentidades/", {id: id, action: 'formulario_subentidad'}, function (data) {#}
        {#                    $('#div_subentidades').hide();#}
        {#                    $('#introducir_subentidad').html(data);#}
        {#                    $('#introducir_subentidad').show();#}
        {#                    window.scrollTo(0, 0);#}
        {#                    $(document).foundation();#}
        {#                });#}
        {#            });#}
        {##}
        {#            $('#check_sign').click(function (e) {#}
        {#                e.preventDefault();#}
        {#                habilita(['s_plus', 'h_trash-o', 'h_check', 'h_pencil', 'h_list-alt']);#}
        {#                if ($('#id_subentidad').val() != '') {#}
        {#                    $('#' + '{{formname}}').ajaxSubmit({#}
        {#                            url: '/subentidades/',#}
        {#                        success: function (data) {#}
        {#                            $('#introducir_subentidad').hide();#}
        {#                            $('#div_subentidades').show();#}
        {#                            $('#div_subentidades').html(data);#}
        {#                            $(document).foundation('reflow');#}
        {#                        }#}
        {#                    });#}
        {#                } else {#}
        {#                    show_mensajes({#}
        {#                        texto: '<li>Indica el nombre de la subentidad que vas a crear.</li>',#}
        {#                        title: 'Faltan datos'#}
        {#                    });#}
        {#                }#}
        {#            });#}
        {#        {% endif %}#}
        {#        $('body').on('click', '.mostrar_usuarios', function (e) {#}
        {#            e.preventDefault();#}
        {#            var id = $(this).data('id');#}
        {#            $.post("/subentidades/", {id: id, action: 'mostrar_usuarios'}, function (data) {#}
        {#                $('#lista_usuarios' + id).html(data);#}
        {#            });#}
        {#        });#}
        {#        $('body').on('click', '.ocultar_usuarios', function (e) {#}
        {#            e.preventDefault();#}
        {#            var id = $(this).data('id');#}
        {#            $.post("/subentidades/", {id: id, action: 'ocultar_usuarios'}, function (data) {#}
        {#                $('#lista_usuarios' + id).html(data);#}
        {#                window.scrollTo(0, $('#accordion' + id).offset().top - 50);#}
        {#            });#}
        {#        });#}
    </script>
{% endblock %}