{% extends "base_select2-4.html" %}
{% load my_templatetags %}
{% load inspeccion_educativa_extras %}

{% block contenido %}
    <style>
        #title_page {
            text-align: center;
            color: #008CBA;
        }

        .ckeditor {
            border: lightgrey 1px solid;
            min-height: 100px;
        }
    </style>
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="q" id="q" value="">
        <input type="hidden" name="page" id="page" value="">
        <input type="hidden" id="id_ci" name="id_ci" value="">

        <div id="div_ci_seleccionados"></div>

        <div>
            <h4 id="title_page"><strong>Asignación de centros a inspectores</strong></h4>
        </div>
        <div id="formulario_add"></div>
        <div id="formulario_search">
            <div class="row">
                <div class="columns large-12">
                    <label><span style="color: #0078a0;font-weight: bold;">
                                <i class="fa fa-search"></i> <b>Buscar</b>
                            </span>
                        <input type="text" name="busca_ci" id="busca_ci"
                               placeholder="Escribe parte del nombre del centro, inspector, o texto a buscar">
                    </label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <table style="width: 100%;">
                    <thead>
                    <tr>
                        {% for i in inspectores %}
                            <th><b>{{ i.gauser.get_full_name|get_iniciales }}</b> <span
                                    id="insp{{ i.id }}">{{ i|get_puntos }}</span></th>
                        {% endfor %}
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <hr>
        <div id="list_cis">
            {% include "asignar_centros_inspector_buscar.html" %}
        </div>
    </form>
{% endblock %}

{% block final %}
    <script>
        $('body').on('change', '.campo', function () {
            var ci = $(this).data('ci');
            var campo = $(this).data('campo');
            var valor = $(this).val();
            $.post("/asignar_centros_inspeccion/", {action: 'update_campo', ci: ci, valor: valor, campo: campo},
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        if (campo == 'puntos') {
                            $.each(data.puntos, function (i, p) {
                                $('#insp' + i).html(p);
                            });
                        }
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.campoia', function () {
            var ci = $(this).data('ci');
            var ia = $(this).data('ia');
            var campo = $(this).data('campo');
            var valor = $(this).val();
            $.post("/asignar_centros_inspeccion/", {
                    action: 'update_campoia',
                    ci: ci,
                    valor: valor,
                    campo: campo,
                    ia: ia
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        if (campo == 'inspector') {
                            $.each(data.puntos, function (i, p) {
                                $('#insp' + i).html(p);
                            });
                        }
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        {# ################################################################# #}

        $('body').on('keyup', '#busca_ci', function () {
            var element = $(this);
            var antiguo_texto = element.val();
            setTimeout(function () {
                var nuevo_texto = element.val();
                if (antiguo_texto === nuevo_texto) {
                    $.post("/asignar_centros_inspeccion/", {
                            action: 'busca_ci',
                            texto: nuevo_texto
                        },
                        function (data) {
                            if (data.ok) {
                                $('#update_ok').show().delay(1500).fadeOut();
                                $('#list_cis').html(data.html);
                            } else {
                                $('#update_error').show().delay(1500).fadeOut();
                            }
                        });
                }
            }, 750);
        });

        {# ################################################################# #}

        $('body').on('click', '.go_page', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            if (page) {
                $.post("/asignar_centros_inspeccion/", {action: 'paginar_cis', page: page},
                    function (data) {
                        if (data.ok) {
                            $('#list_cis').html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            }
        });

        {# ################################################################# #}

        $('body').on('keyup', '.observaciones', function () {
            var ci = $(this).data('ci');
            var element = $(this);
            var antiguo_texto = element.html();
            setTimeout(function () {
                var nuevo_texto = element.html();
                if (antiguo_texto === nuevo_texto) {
                    $.post("/asignar_centros_inspeccion/", {
                            action: 'update_observaciones',
                            ci: ci,
                            texto: nuevo_texto
                        },
                        function (data) {
                            if (data.ok) {
                                $('#update_ok').show().delay(1500).fadeOut();
                            } else {
                                $('#update_error').show().delay(1500).fadeOut();
                            }
                        });
                }
            }, 750);
        });

    </script>

{% endblock %}
