{% load entidades_extras %}
<div class="row">
    <div class="columns large-12"><label><b>Informe basado en:</b></label></div>
</div>
<div class="row">
    <div class="columns large-8">
        <select id="variante{{ ie.id }}" class="select_variante" data-ie="{{ ie.id }}">
            <option value="">No está basado en ningún modelo</option>
            {% for v in vs %}
                <option value="{{ v.id }}" {% if ie.variante == v %}selected{% endif %}>{{ v.plantilla.asunto }}
                    ({{ v.nombre }})
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="columns large-4">
        {% if ie.creador.gauser == g_e.gauser or g_e|has_permiso:'borra_informes_ie' %}
            <ul class="button-group">
                <li><a class="button alert borrar_ie tiny" data-id="{{ ie.id }}"
                       title="Borrar completamente este informe de la base de datos"><i class="fa fa-trash-o"></i>
                    Borrar</a></li>
                <li><a class="button copiar_ie tiny" data-id="{{ ie.id }}"
                       title="Hacer una copia (un duplicado) de este informe"><i class="fa fa-copy"></i> Copiar</a>
                </li>
                <li><a class="button pdf_ie tiny" data-id="{{ ie.id }}"
                       title="Crear un PDF de este informe"><i class="fa fa-file-pdf-o"></i> PDF</a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="columns large-12"><label><b>Destinatario</b></label></div>
</div>
<div class="row">
    <div class="columns large-12">
        <div contenteditable="true" class="ckeditor update_texto" data-id="{{ ie.id }}"
             data-campo="destinatario">{% autoescape off %}{{ ie.destinatario }}{% endautoescape %}
        </div>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label><b>Asunto: </b><input type="text" class="update_texto asunto" data-campo="asunto"
                                     data-id="{{ ie.id }}"
                                     value="{{ ie.asunto }}"
                                     placeholder="Introduce aquí el asunto del Informe de Inspección"></label>
    </div>
</div>

<div id="contenido_informe{{ ie.id }}">
    {% include "informes_ie_accordion_content_texto.html" %}
</div>
<script>
    $('select').select2();
</script>