{% load entidades_extras %}
{% load formularios_extras %}
<style>
    .informe_no_editable {
        background-color: lightgrey;
        width: 100%;
    }
</style>
{% if ie.get_variables|length > 0 %}
    <div class="variables_texto2pdf{{ ie.id }}">
        <div class="row" id="variables{{ ie.id }}">
            {% include "informes_ie_accordion_content_texto_variables.html" %}
        </div>
    </div>
{% endif %}
<div class="row" id="texto_informe_plantilla{{ ie.id }}">
    <div class="columns large-12">
        <label><b>Texto del informe editable:</b></label>
        <div contenteditable="true" class="ckeditor update_texto" id="texto_editable{{ ie.id }}"
             data-id="{{ ie.id }}" data-campo="texto">
            {% autoescape off %}{{ ie.texto }}{% endautoescape %}
        </div>
    </div>
</div>

{% if ie.get_variables|length > 0 %}
    <div class="variables_texto2pdf{{ ie.id }}">
        <div class="row">
            <div class="columns large-12">
                <label><b>Texto del informe (no editable):</b></label>
                <div style="min-height: 100px;" id="texto_informe{{ ie.id }}">
                    {% include "informes_ie_accordion_content_texto2pdf.html" %}
                </div>
            </div>
        </div>
    </div>
{% endif %}