{% load entidades_extras %}
{% if p_ie.creador.gauser == g_e.gauser %}
    <div class="row">
        <div class="columns large-12">
            <table style="width: 100%;">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>¿Seleccionada?</th>
                    <th>Borrar</th>
                    <th>Copiar</th>
                </tr>
                </thead>
                <tbody>
                {% for v in p_ie.variantepii_set.all %}
                    <tr>
                        <td contenteditable="true" class="update_texto_variante" data-id="{{ v.id }}"
                            data-campo="nombre">{{ v.nombre }}</td>
                        <td><input type="radio" name="variante{{ v.id }}" value="{{ v.id }}" class="select_variante"
                                   {% if v == variante %}checked{% endif %}></td>
                        {% if p_ie.variantepii_set.all|length == 1 %}
                            <td><a class="button tiny round secondary"><i class="fa fa-trash"></i></a></td>
                        {% else %}
                            <td><a class="borrar_variante button tiny round" data-id="{{ v.id }}"><i
                                    class="fa fa-trash"></i></a>
                            </td>
                        {% endif %}
                        <td><a class="copiar_variante button tiny round" data-id="{{ v.id }}"><i class="fa fa-copy"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            {% if variante %}
                <label><b>Texto del informe (modelo: {{ variante.nombre }})</b>
                    <div contenteditable="true" class="ckeditor update_texto_variante"
                         data-id="{{ variante.id }}" id="texto_variabte{{ variante.id }}"
                         data-campo="texto">{% autoescape off %}{{ variante.texto }}{% endautoescape %}</div>
                </label>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="columns large-12">
            <table style="width: 100%;">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>¿Seleccionada?</th>
                </tr>
                </thead>
                <tbody>
                {% for v in p_ie.variantepii_set.all %}
                    <tr>
                        <td contenteditable="true" class="update_texto_variante" data-id="{{ v.id }}"
                            data-campo="nombre">{{ v.nombre }}</td>
                        <td><input type="radio" name="variante{{ v.id }}" value="{{ v.id }}" class="select_variante"
                                   {% if v == variante %}checked{% endif %}></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            {% if variante %}
                <label><b>Texto del informe (modelo: {{ variante.nombre }})</b>
                    <div>{% autoescape off %}{{ variante.texto }}{% endautoescape %}</div>
                </label>
            {% endif %}
        </div>
    </div>
{% endif %}