{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}
    <style>
        #title_page {
            text-align: center;
            color: #008CBA;
        }

        .observaciones {
            border: lightgrey 1px solid;
            min-height: 100px;
        }

        {#.describir_solucion {#}
        {#    border: lightgrey 1px solid;#}
        {#    min-height: 100px;#}
        {# }#}
    </style>
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="q" id="q" value="">
        <input type="hidden" name="page" id="page" value="">
        <input type="hidden" id="id_tareas_ie" name="id_tareas_ie" value="">

        <div id="div_tareas_ie_seleccionados"></div>

        <div>
            <h4 id="title_page"><strong>Actuaciones de Inspección Educativa</strong></h4>
        </div>
        <div id="formulario_add"></div>
        <fieldset id="fieldset_buscar" style="display: none;">
            <legend>Búsqueda de actuaciones</legend>
            <div id="formulario_search">
                <div class="row">
                    <div class="columns large-4">
                        <label>Buscar entre esta fecha ...</label>
                        <input id="id_fecha_inicio" name="fecha_inicio" type="text"
                               value="{{ g_e.ronda.inicio|date:'d-m-Y' }}">
                    </div>
                    <div class="columns large-4">
                        <label>... y esta otra</label>
                        <input id="id_fecha_fin" name="fecha_fin" type="text" value="{% now "d\-m\-Y" %}">
                    </div>
                    <div class="columns large-4">
                        <label>Buscar en ...</label>
                        <select id="tipo_busqueda" name="tipo_busqueda">
                            {# Se busca en negativo, por eso SAL es para entradas y ENT para salidas. Ver el views.py #}
                            <option value="tod">Todas las actuaciones</option>
                            {% for t in tipos %}
                                <option value="{{ t.0 }}">{{ t.1 }}</option>{% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-10">
                        <input type="text" name="busca_tareas_ie" id="busca_tareas_ie"
                               placeholder="Escribe parte del texto incluido en el actuación">
                    </div>
                    <div class="columns large-2">
                        <a id="busca_tareas_ie_manual"><i class="fa fa-search"></i> <b>Buscar</b></a>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Generar informe semanal</legend>
            <div class="row">
                {% if g_e|has_permiso:'genera_informe_tareas_ie' %}
                    <div class="columns large-4">
                        <label>Selecciona el inspector
                            <select name="inspector_informe">
                                {% for i in inspectores %}
                                    <option value="{{ i.id }}"
                                            {% if i == g_e %}selected{% endif %}>{{ i.gauser.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                {% else %}
                    <div class="columns large-4">
                        <input type="hidden" name="inspector_informe" value="{{ g_e.id }}">
                        <label>Inspector<br><b>{{ g_e.gauser.get_full_name }}</b></label>
                    </div>
                {% endif %}
                <div class="columns large-6">
                    <label>Selecciona una semana de trabajo y pulsa "Generar PDF"
                        <select name="semana">
                            {% for s in semanas %}
                                <option value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="columns large-2">
                    <label>&nbsp;<br><a class="button tiny" id="crea_informe_semanal">Generar PDF</a>
                    </label>
                </div>
            </div>
        </fieldset>

        <div id="listado_tareas_ie">
            {% include 'tareas_ie_accordion.html' %}
        </div>
    </form>
{% endblock %}

{% block final %}
    <script>



    function constructEditorInstances() {
        CKEDITOR.editorConfig = function (config){
            config.toolbarGroups = [
        { name: 'clipboard',   groups: [ 'Cut','Copy','Paste','PasteText','PasteFromWord','Undo','Redo' ] },
        { name: 'editing',     groups: [ 'find', 'selection', 'spellchecker' ] },
        { name: 'links' },
        { name: 'insert' },
        {#{ name: 'forms' },#}
        { name: 'tools' },
        { name: 'document',       groups: [ 'mode', 'document', 'doctools' ] },
        { name: 'others' },
        '/',
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
        { name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
        { name: 'styles',      groups : [ 'Styles','Format','Font','FontSize' ] },
        { name: 'colors',        groups : [ 'TextColor','BGColor' ] },
        { name: 'about' }
    ];
        }
            for (var instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].inline({
                    toolbarGroups: [
        { name: 'clipboard',   groups: [ 'Cut','Copy','Paste','PasteText','PasteFromWord','Undo','Redo' ] },
        { name: 'editing',     groups: [ 'find', 'selection', 'spellchecker' ] },
        { name: 'links' },
        { name: 'insert' },
        {#{ name: 'forms' },#}
        { name: 'tools' },
        { name: 'document',       groups: [ 'mode', 'document', 'doctools' ] },
        { name: 'others' },
        '/',
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
        { name: 'styles',      groups : [ 'Styles','Format','Font','FontSize' ] },
        { name: 'colors',        groups : [ 'TextColor','BGColor' ] },
        { name: 'about' }
    ]
                });
            }
        }

        function destroyEditorInstances() {
            for (var instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].destroy();
            }
        }

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-tarea_ie')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/tareas_ie/", {action: 'open_accordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        destroyEditorInstances();
                                        constructEditorInstances();
                                        {#CKEDITOR.inlineAll();#}
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });

        $('body').on('change', '.selector', function () {
            var campo = $(this).data('campo');
            var id = $(this).data('id');
            var valor = $(this).val();
            $.post("/tareas_ie/", {
                    action: 'update_selector',
                    id: id,
                    campo: campo,
                    valor: valor
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        if (campo == 'tipo') {
                            $('#tipo' + id).html(data.tipo);
                        }
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.centro', function () {
            var id = $(this).data('id');
            var centro_id = $(this).val();
            var campo = $(this).data('campo');
            $.post("/tareas_ie/", {
                    action: 'update_centro',
                    id: id,
                    centro_id: centro_id,
                    campo: campo
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.realizada', function () {
            var id = $(this).data('id');
            $.post("/tareas_ie/", {
                    action: 'update_realizada',
                    id: id
                },
                function (data) {
                    if (data.ok) {
                        $('#realizada' + id).html(data.valor);
                        if (data.realizada) {
                            $('#panel' + id).html(data.html);
                            $('#ss' + id).show();
                            $('#ns' + id).hide();
                        } else {
                            $('#panel' + id).html(data.html);
                            $('#ns' + id).show();
                            $('#ss' + id).hide();
                        }
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.fecha', function () {
            var id = $(this).data('id');
            var valor = $(this).val();
            $.post("/tareas_ie/", {action: 'update_fecha', id: id, valor: valor},
                function (data) {
                    if (data.ok) {
                        $('#fecha' + data.id).html(data.fecha);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        function get_texto_from_update_texto(element, id) {
            var texto;
            if (element.hasClass('observaciones')) {
                texto = element.html();
            } else {
                texto = element.val();
                $('#asunto' + id).html(texto);
            }
            return texto;
        }

        $('body').on('keyup', '.update_texto', function () {
            var element = $(this);
            var id = element.data('id');
            var campo = element.data('campo');
            var antiguo_texto = get_texto_from_update_texto(element, id);
            setTimeout(function () {
                var nuevo_texto = get_texto_from_update_texto(element, id);
                if (antiguo_texto === nuevo_texto) {
                    $.post("/tareas_ie/", {action: 'update_texto', id: id, valor: nuevo_texto, campo: campo},
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
                }
            }, 750);





        });


        $('body').on('click', '.borrar_tarea_ie', function () {
            id = $(this).data('id');
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar esta tarea de inspección?',
                texto: 'Si aceptas la tarea se borrará por completo de la base de datos', size: 'large', buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        $.post("/tareas_ie/", {action: 'borrar_tarea_ie', id: id},
                            function (data) {
                                if (data.ok) {
                                    $('#accordion' + id).remove();
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $('#update_error').show().delay(1500).fadeOut();
                                }
                            });
                    }
                }
            });
        });

        {% if g_e|has_permiso:"crea_tareas_ie" %}
            habilita(['s_plus']);
            $('#plus_sign').click(function (event) {
                event.preventDefault();
                $.post("/tareas_ie/", {action: 'crea_tarea_ie'}, function (data) {
                    if (data.ok) {
                        $('#list_tareas_ie').prepend(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                    $(document).scrollTop($('#title_page').offset().top - 150);
                });
            });
        {% endif %}

        habilita(['s_search']);
        $('#search_sign').click(function (event) {
            event.preventDefault();
            $('#fieldset_buscar').toggle();
        });

        $('body').on('click', '.add_participante', function (e) {
            var tarea = $(this).data('tarea');
            $.post("/tareas_ie/", {
                    action: 'add_participante',
                    tarea: tarea
                },
                function (data) {
                    if (data.ok) {
                        $("#tbodypermisos" + data.tarea).html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.mod_participante', function (e) {
            var instarea = $(this).data('instarea');
            var campo = $(this).data('campo');
            var valor = $(this).val();
            $.post("/tareas_ie/", {
                    action: 'mod_participante',
                    instarea: instarea, campo: campo, valor: valor
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.del_participante', function (e) {
            var instarea = $(this).data('instarea');
            $.post("/tareas_ie/", {
                    action: 'del_participante', instarea: instarea
                },
                function (data) {
                    if (data.ok) {
                        $("#fila_permiso" + data.id).remove();
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $("body").on('click', '#busca_tareas_ie_manual', function (e) {
            var texto = $('#busca_tareas_ie').val();
            var id_fecha_inicio = $('#id_fecha_inicio').val();
            var id_fecha_fin = $('#id_fecha_fin').val();
            var tipo_busqueda = $('#tipo_busqueda').val();
            $.post("/tareas_ie/", {
                    action: 'busca_tareas_ie', texto: texto, id_fecha_inicio: id_fecha_inicio,
                    id_fecha_fin: id_fecha_fin, tipo_busqueda: tipo_busqueda
                },
                function (data) {
                    $('#listado_tareas_ie').html(data['html']);
                    $(document).foundation();
                });
        });

        $("body").on('keyup', '#busca_tareas_ie', function (e) {
            var texto = $('#busca_tareas_ie').val();
            var id_fecha_inicio = $('#id_fecha_inicio').val();
            var id_fecha_fin = $('#id_fecha_fin').val();
            var tipo_busqueda = $('#tipo_busqueda').val();
            $.post("/tareas_ie/", {
                    action: 'busca_tareas_ie', texto: texto, id_fecha_inicio: id_fecha_inicio,
                    id_fecha_fin: id_fecha_fin, tipo_busqueda: tipo_busqueda
                },
                function (data) {
                    $('#listado_tareas_ie').html(data['html']);
                    $(document).foundation();
                });
        });

        $('body').on('click', '.go_page', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            if (page) {
                $.post("/tareas_ie/", {action: 'paginar_tareas_ie', page: page},
                    function (data) {
                        if (data.ok) {
                            $('#listado_tareas_ie').html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            }
        });

        $('body').on('click', '.listado_normal', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            $.post("/tareas_ie/", {action: 'paginar_tareas_ie', page: 1},
                function (data) {
                    if (data.ok) {
                        $('#listado_tareas_ie').html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('#crea_informe_semanal').click(function (event) {
            event.preventDefault();
            $('#action').val('crea_informe_semanal');
            document.getElementById("{{ formname }}").submit();
        });
        {% if g_e|has_permiso:"genera_informe_tareas_ie" %}
            {#habilita(['s_file-pdf-o']);#}
            $('#file-pdf-o_sign').click(function (event) {
                event.preventDefault();
                $('#action').val('genera_informe');
                document.getElementById("{{ formname }}").submit();
            });
        {% endif %}

        habilita(['s_file-excel-o']);
        $('#file-excel-o_sign').click(function (event) {
            event.preventDefault();
            $('#action').val('excel_actuaciones');
            document.getElementById("{{ formname }}").submit();
        });
    </script>

{% endblock %}
