{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
        table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block contenido %}

    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}

        <input type="hidden" name="action" id="action" value="">

        <div>
            <h4 style="text-align: center;color: #008CBA;"><strong>Seguimiento Educativo</strong></h4>
        </div>
        <div id="div_fieldsets"></div>
        <ul class="tabs" data-tab role="tablist">
            <li class="tab-title active" role="presentation" data-id="0">
                <a href="#tab1" role="tab" tabindex="0" aria-selected="true" aria-controls="tab1">
                    <b id="texto0">Seguimiento por materias</b></a>
            </li>
            <li class="tab-title" role="presentation" data-id="1">
                <a href="#tab2" role="tab" tabindex="0" aria-selected="false" aria-controls="tab2">
                    <b id="texto1" style="color:#74bfdd;">Seguimiento por alumnos</b></a>
            </li>
        </ul>
        <div class="tabs-content">
            <section role="tabpanel" aria-hidden="false" class="content active" id="tab1">
                {% include "seguimiento_educativo_materias.html" %}
            </section>

            <section role="tabpanel" aria-hidden="true" class="content" id="tab2">
                {% if grupos|length == 0 %}
                    <p><b>Este apartado es solo para los tutores.</b></p>
                    <p><b>Como no eres tutor, no debes hacer un seguimiento de ningún alumno.</b></p>
                {% else %}
                    {% include "seguimiento_educativo_alumnos_ayuda.html" %}
                {% endif %}
                <dl class="accordion" data-accordion id="div_grupos">
                    {% for grupo in grupos %}
                        <dd class="accordion-navigation" id="accordion{{ grupo.id }}">
                            <a href="#panel{{ grupo.id }}">
                                <i id="circle{{ grupo.id }}" class="fa fa-plus-circle circle_icon"></i>
                                <b>{{ grupo.nombre }}</b> -- {{ grupo.tutores|human_readable_ges }}
                            </a>
                            <div id="panel{{ grupo.id }}" class="content accordion-grupo"
                                 data-id="{{ grupo.id }}"></div>
                        </dd>
                    {% endfor %}
                </dl>
            </section>
        </div>
    </form>
{% endblock %}

{% block final %}
    <script>
        habilita(['s_file-excel-o', 's_search']);
        var grupo = 0;
        {# Variable global para identificar el accordion abierto (grupo) y poder hacer scroll #}

        $('#search_sign').click(function (e) {
            e.preventDefault();
            if (!($(this).hasClass('disabled'))) {
                $.post("/seguimiento_educativo/", {action: 'ver_formulario_filtrar'},
                    function (data) {
                        if (data.ok) {
                            $('#div_fieldsets').html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            }
        });

        $('body').on('click', '.fieldset_close', function (e) {
            e.preventDefault();
            $('.fieldset_box').hide();
        });

        $('#Contenido').on('click', '.sino', function (e) {
            e.preventDefault();
            var campo = $(this).data('campo');
            var id = $(this).data('id');
            $.post("/seguimiento_educativo/", {action: 'sino', campo: campo, id: id},
                function (data) {
                    if (data['ok']) {
                        $('#' + data.campo + data.id).html(data.sino);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });
        $('#Contenido').on('change', '.selectoption', function (e) {
            e.preventDefault();
            var campo = $(this).data('campo');
            var valor = $(this).val();
            var id = $(this).data('id');
            $.post("/seguimiento_educativo/", {action: 'selectoption', campo: campo, id: id, valor: valor},
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('#Contenido').on('change', '.plataforma_select', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var valor = $(this).val();
            $.post("/seguimiento_educativo/", {action: 'plataforma_select', valor: valor, id: id},
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('#Contenido').on('change', '.videconferencia_select', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var valor = $(this).val();
            $.post("/seguimiento_educativo/", {action: 'videconferencia_select', valor: valor, id: id},
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $(document).foundation({
            tab: {
                callback: function (tab) {
                    var id = $(tab[0]).data('id');
                    if (id == 0) {
                        $('#texto0').css('color', 'black');
                        $('#texto1').css('color', '#74bfdd');
                    } else if (id == 1) {
                        $('#texto0').css('color', '#74bfdd');
                        $('#texto1').css('color', 'black');
                        $(document).foundation('accordion', 'reflow');
                    }
                }
            }
        });

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-grupo')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/seguimiento_educativo/", {action: 'open_accordion', grupo: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        habilita(['s_arrow-left', 's_arrow-right']);
                                        grupo = id;
                                        $("#update_ok").show().delay(1500).fadeOut();

                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                            habilita(['h_arrow-left', 'h_arrow-right']);
                            grupo = 0;
                        }
                    }
                }
            }
        });


        {# Código para actualizar los editores. Necesita de la variable global: texto_editor #}
        var texto_editor;

        function comprueba_cambio_texto(texto, id, tipo) {
            if (texto == texto_editor) {
                $.post("/seguimiento_educativo/", {
                        action: tipo,
                        id: id,
                        texto: texto_editor
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }

                    });
            }
        }

        $('body').on('click', '.go_page', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            if (page) {
                {#var section = $(this).closest('section').prop('id');#}
                $.post("/seguimiento_educativo/", {
                        action: 'update_page',
                        page: page,
                        plataforma_video_busqueda: $('#plataforma_video_busqueda').val(),
                        plataforma_educativa_busqueda: $('#plataforma_educativa_busqueda').val(),
                        grupo_busqueda: $('#grupo_busqueda').val(),
                        curso_busqueda: $('#curso_busqueda').val(),
                        profesor_busqueda: $('#profesor_busqueda').val()
                    },
                    function (data) {
                        if (data.ok) {
                            $('#tab1').html(data.html);
                            window.scrollTo(0, $('#list_materias').offset().top - 50);
                            {#window.scrollTo(0, $('#tab1').offset().top - 50);#}
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            }
        });
        $('#file-excel-o_sign').click(function (e) {
            e.preventDefault();
            $('#action').val('exportar_excel');
            document.{{formname}}.submit();
        });

        $('body').on('click', '#arrow-right_sign', function (e) {
            e.preventDefault();
            var id_element = '#list_alumnos' + grupo;
            console.log(id_element);
            $(id_element).animate({
                scrollLeft: "+=450px"
            }, "slow");
        });

        $('#arrow-left_sign').click(function (e) {
            e.preventDefault();
            $('#list_alumnos' + grupo).animate({
                scrollLeft: "-=450px"
            }, "slow");
        });
    </script>
{% endblock %}