{% extends "base_empty.html" %}

{% block contenido %}
    {% if fechas %}
        <h4 style="text-align: center;color: #008CBA;"><strong>Este enlace no está activo en estos momentos.</strong>
        </h4>
        <h4 style="text-align: center;color: #008CBA;"><strong>Estará activo entre el {{ entrada }} y
            el {{ salida }}.</strong></h4>
    {% else %}
        <div>
            <h4 style="text-align: center;color: #008CBA;"><strong>Ha habido un error la página solicitada no
                existe</strong></h4>
            <p style="text-align: center;color: #008CBA; font-weight: 800;">Por favor, asegúrate de que has escrito bien
                la url en el navegador</p>
        </div>
    {% endif %}
{% endblock %}

{% block final %}
{% endblock %}



	







