{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
        table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block contenido %}

    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}

        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="fichero_policia" id="fichero_policia" value="">

        <div>
            <h4 style="text-align: center;color: #008CBA;"><strong>Reservas VUT</strong></h4>
        </div>

        {#        <input type="text" value="" id="text_to_be_copied" style="position:fixed;top:-3000px;">#}
        <ul class="tabs" data-tab role="tablist">
            <li class="tab-title active" role="presentation" data-id="0">
                <a href="#tab1" role="tab" tabindex="0" aria-selected="true" aria-controls="tab1">
                    <b id="texto0">Reservas</b></a>
            </li>
            <li class="tab-title" role="presentation" data-id="1">
                <a href="#tab2" role="tab" tabindex="0" aria-selected="false" aria-controls="tab2">
                    <b id="texto1" style="color:#74bfdd;">Carga reservas</b></a>
            </li>
            <li class="tab-title" role="presentation" data-id="2">
                <a href="#tab3" role="tab" tabindex="0" aria-selected="false" aria-controls="tab3">
                    <b id="texto2" style="color:#74bfdd;">Ficheros Policía/Guardia Civil</b></a>
            </li>
        </ul>
        <div class="tabs-content">
            <section role="tabpanel" aria-hidden="false" class="content active" id="tab1">
                {% include "reservas_vut_tab.html" %}
            </section>

            <section role="tabpanel" aria-hidden="true" class="content" id="tab2">
                <div class="row">
                    <div class="large-12 columns center">
                        <p style="font-weight: 800; font-size: large;">La carga de reservas puede hacer de dos formas
                            diferentes:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <b>1.- Importar reservas del calendario de Airbnb:</b>
                        <p>Importando el calendario de reservas desde Airbnb. Esto requiere que cada vivienda
                            tenga correctamente rellenado el campo "Importar calendario Airbnb". El proceso de
                            importanción puede tomar varios segundos.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-12">
                        <p>En tu caso, los calendarios que se cargarán son:</p>

                        {% for vivienda in viviendas %}
                            <table width="100%">
                                {% for cal in vivienda.calendariovivienda_set.all %}
                                    <tr>
                                        {% if forloop.first %}
                                            <td>{{ vivienda.nombre }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>{% if cal.ical %}
                                            {{ cal.ical }}{% else %}No se ha indicado calendario{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endfor %}

                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns">
                        <a class="button tiny" id="update_calendarios"><i class="fa fa-calendar"></i> Importar reservas
                            desde calendarios</a>
                    </div>
                    <div class="large-8 columns">
                        <span style="text-align: center;color: #008CBA;">(Última actualización a las
                            <span id="last_update_calendar_vut">{{ request.session.updated_calendarios_vut|date:"H:i" }}</span>)</span>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="large-12 columns">
                        <b>2.- Sube el archivo con reservas de tu vivienda o viviendas:</b>
                        <p>Cada portal/plataforma tiene su propio sistema de archivos. Por ejemplo Airbnb proporciona
                            archivos "csv", Booking proporciona archivos "excel", ...</p>
                        <p>¿Necesitas ayuda para cargar el archivo? <a id="ayuda_obtener_archivo"> Haz click aquí
                            <i class="fa fa-info-circle"></i> </a></p>
                        <div class="row" id="div_info_archivo_reservas" style="display: none;">
                            <div class="columns large-12" style="color:green;font-weight: 800;">¿Cómo obtener el archivo
                                de reservas?
                            </div>
                            <div class="columns large-12">
                                <select id="selecciona_portal">
                                    <option value="">Selecciona la plataforma de la que quieres obtener el archivo
                                    </option>
                                    <option value="AIR">Airbnb</option>
                                    <option value="BOO">Booking</option>
                                </select>
                            </div>
                        </div>
                        <div id="reservas_AIR" style="display: none;" class="ayuda_reservas">
                            <ol>
                                <li>En primer lugar haz click en "Anfitrión", tal y como se muestra en la figura.
                                    <img src="/static/images/ok_air_1.png"/></li>
                                <li>A continuación haz click sobre "Reservas" en el menú que ha aparecido.
                                    <img src="/static/images/ok_air_2.png"/>
                                </li>
                                <li>Por último indica el rango de fechas en el que deseas ver tus reservas y
                                    pulsa sobre "Exportar" <i class="fa fa-arrow-right"></i> "Descargar archivo CSV". El
                                    fichero obtenido es el que debes cargar aquí.
                                    <img src="/static/images/ok_air_3.png"/></li>
                            </ol>
                        </div>
                        <div id="reservas_BOO" style="display: none;" class="ayuda_reservas">
                            <ol>
                                <li>Debes entrar en la propiedad que deseas gestionar. Si tienes la posibilidad de
                                    gestionar un grupo de propiedades, debes ir a una de ellas.
                                </li>
                                <li>A continuación haz click sobre "Reservas" en el menú de la parte superior.
                                    <img src="/static/images/ok_boo_1.png"/>
                                </li>
                                <li>Por último indica el rango de fechas en el que deseas ver tus reservas y
                                    pulsa sobre "Descargar". Obtendrás el fichero que debes cargar.
                                    <img src="/static/images/ok_boo_2.png"/></li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="row">
                    {#                    <div class="large-3 columns align-right">#}
                    {#                        <select id="portal_vut_file">#}
                    {#                            <option value="">---------</option>#}
                    {#                            <option value="AIR">Airbnb</option>#}
                    {#                            <option value="BOO">Booking</option>#}
                    {#                        </select>#}
                    {#                    </div>#}
                    {#                    <div class="large-3 columns align-right">#}
                    {#                        <select id="vivienda_vut_file" disabled="disabled">#}
                    {#                            <option value="">---------</option>#}
                    {#                            {% for vivienda in viviendas %}#}
                    {#                                <option value="{{ vivienda.id }}">{{ vivienda.nombre }}</option>#}
                    {#                            {% endfor %}#}
                    {#                        </select>#}
                    {#                    </div>#}
                    <div class="large-5 columns align-right">
                        <p style="color: gray;">(De momento sólo se admiten ficheros de Airbnb y de Booking)</p>
                    </div>
                    <div class="large-5 columns align-right">
                        <input type="file" name="vut_file" id="vut_file" multiple="multiple"
                               accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                    </div>
                    <div class="large-2 columns">
                        <a class="button tiny" id="sube_vut_file"><i class="fa fa-upload"></i> Subir
                            archivo</a>
                    </div>
                </div>
                <div id="informe_reservas" class="row"></div>
            </section>

            <section role="tabpanel" aria-hidden="true" class="content" id="tab3">
                {#                <dl class="accordion" data-accordion id="div_registros">#}
                <div id="div_registros"></div>
                {#                </dl>#}
            </section>
        </div>
    </form>
{% endblock %}

{% block final %}
    <script>
        var starDate = new Date();
        var endDate = new Date();
        var yesterday = new Date();
        yesterday.setDate(yesterday.getDate()-1);
        $("#entrada_nueva_reserva").fdatepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1,
            startDate: yesterday,
            {#startView: 'decade',#}
            leftArrow: '<<',
            rightArrow: '>>',
            language: 'es'
        }).on('changeDate', function (e) {
            starDate = e.date;
            if (e.date.valueOf() > endDate.valueOf()) {
                endDate = new Date(e.date.getFullYear(), e.date.getMonth(), e.date.getDate() + 1);
                $("#salida_nueva_reserva").val(endDate.getDate() + '/' + (endDate.getMonth() + 1) + '/' + endDate.getFullYear()).update(newDate);
            }
        });

        $("#salida_nueva_reserva").fdatepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1,
            startDate: new Date(),
            {#startView: 'decade',#}
            leftArrow: '<<',
            rightArrow: '>>',
            language: 'es'
        }).on('changeDate', function (e) {
            if (e.date.valueOf() < endDate.valueOf()) {
                show_mensajes({'title': 'Error', 'texto': 'La fecha de salida no puede ser inferior a la de entrada.'});
                endDate = new Date(starDate.getFullYear(), starDate.getMonth(), starDate.getDate() + 1);
                setTimeout(function () {
                    $("#salida_nueva_reserva").val(endDate.getDate() + '/' + (endDate.getMonth() + 1) + '/' + endDate.getFullYear()).update(newDate);
                }, 300);

            } else {
                endDate = e.date;
            }
        });

        function calcular_totales() {
            var total = 0;
            var viajeros = 0;
            var noches = 0;
            var previstos = 0;
            $(".td_total").each(function () {
                total += parseFloat($(this).text().replace(",", ".")) || 0;
            });
            $(".viajeros_list").each(function () {
                viajeros += parseFloat($(this).text()) || 0;
            });
            $(".num_noches").each(function () {
                noches += parseFloat($(this).val()) || 0;
            });
            $(".num_viajeros").each(function () {
                previstos += parseFloat($(this).val()) || 0;
            });
            $('#cantidad_total').html(total.toFixed(2) + '€');
            $('#num_total_viajeros').html(viajeros);
            $('#num_total_noches').html(noches);
            $('#num_previsto_viajeros').html(previstos);
        }


        $('#Contenido').on('click', '#ayuda_obtener_archivo', function (e) {
            e.preventDefault();
            $('.ayuda_reservas').hide();
            $('#selecciona_portal').val('');
            $('#div_info_archivo_reservas').show();
        });

        $('#Contenido').on('change', '#selecciona_portal', function (e) {
            var portal = $(this).val();
            $('.ayuda_reservas').hide();
            $('#reservas_' + portal).show();
        });

        $('#Contenido').on('click', '#add_next_days_reserva_vut', function (e) {
            e.preventDefault();
            $.post("/ajax_reservas_vut/", {action: 'add_next_days_reserva_vut'}, function (data) {
                $('#list_reservas > tbody > tr:first-of-type').after(data.html);
                $('#fecha_next_days_reserva_vut').html(data.fecha);
                {#$('#tr_resultados_filtro').remove();#}
                calcular_totales();
                $("#update_ok").show().delay(1500).fadeOut();
            });
        });

        $('#Contenido').on('click', '#add_prev_days_reserva_vut', function (e) {
            e.preventDefault();
            $.post("/ajax_reservas_vut/", {action: 'add_prev_days_reserva_vut'}, function (data) {
                $('#list_reservas > tbody > tr:last-of-type').before(data.html);
                $('#fecha_prev_days_reserva_vut').html(data.fecha);
                {#$('#tr_resultados_filtro').remove();#}
                calcular_totales();
                $("#update_ok").show().delay(1500).fadeOut();
            });
        });

        $('#Contenido').on('click', '#add_nueva_reserva', function (e) {
            e.preventDefault();
            var vivienda = $('#vivienda_nueva_reserva').val();
            var nombre = $('#nombre_nueva_reserva').val();
            var entrada = $('#entrada_nueva_reserva').val();
            var salida = $('#salida_nueva_reserva').val();
            var total = parseFloat($('#total_nueva_reserva').val());
            $.post("/ajax_reservas_vut/", {
                action: 'add_nueva_reserva', vivienda: vivienda, nombre: nombre,
                entrada: entrada, salida: salida, total: total.toFixed(2)
            }, function (data) {
                if (data.ok) {
                    $('#list_reservas > tbody:last-child').append(data.html);
                    $('.nueva_reserva').val('');
                    calcular_totales();
                    $("#update_ok").show().delay(1500).fadeOut();
                } else {
                    show_mensajes({'title': 'Error', 'texto': 'Hay algún error en los datos introducidos'});
                }
            });
        });

        $('#Contenido').on('keyup', '.num_viajeros', function (e) {
            var valor = $(this).val();
            var reserva = $(this).data('id');
            $.post("/ajax_reservas_vut/", {
                action: 'change_num_viajeros', reserva: reserva, valor: valor
            }, function (data) {
                if (data.ok) {
                    calcular_totales();
                    $("#update_ok").show().delay(1500).fadeOut();
                } else {
                    $("#update_error").show().delay(1500).fadeOut();
                }
            });
        });

        $('#Contenido').on('click keyup', '.configura', function (e) {
            e.preventDefault();
            var campo = $(this).data('campo');
            var valor = $(this).val();
            $.post("/ajax_reservas_vut/", {action: 'change_configuracion', campo: campo, valor: valor},
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $(document).foundation({
            tab: {
                callback: function (tab) {
                    var id = $(tab[0]).data('id');
                    {#$('.tab-title > a').css('color', '#74bfdd');#}
                    {#$('.tab-title.active > a').css('color', 'red');#}
                    if (id == 0) {
                        $('#texto0').css('color', 'black');
                        $('#texto1').css('color', '#74bfdd');
                        $('#texto2').css('color', '#74bfdd');
                        $.post("/ajax_reservas_vut/", {action: 'change_tab_reservas'},
                            function (data) {
                                if (data.ok) {
                                    $('#tab1').html(data.html);
                                    calcular_totales();
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $("#update_error").show().delay(1500).fadeOut();
                                }
                            });
                    } else if (id == 1) {
                        $('#texto0').css('color', '#74bfdd');
                        $('#texto1').css('color', 'black');
                        $('#texto2').css('color', '#74bfdd');
                        $.post("/ajax_reservas_vut/", {action: 'update_calendarios', tipo: 'change_tab'},
                            function (data) {
                                if (data.ok) {
                                    if (data.mensaje) {
                                        show_mensajes({title: 'Información', texto: data.mensaje});
                                    }
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $("#update_error").show().delay(1500).fadeOut();
                                }
                            });
                    } else {
                        $('#texto0').css('color', '#74bfdd');
                        $('#texto1').css('color', '#74bfdd');
                        $('#texto2').css('color', 'black');
                        $.post("/ajax_reservas_vut/", {action: 'change_tab_registros_policia'},
                            function (data) {
                                if (data.ok) {
                                    $('#div_registros').html(data.html);
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $("#update_error").show().delay(1500).fadeOut();
                                }
                            });
                    }
                }
            }
        });

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-registro')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/ajax_reservas_vut/", {action: 'open_accordion_registro', viajero: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        $(document).foundation('dropdown', 'reflow');
                                        $("#update_ok").show().delay(1500).fadeOut();

                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });

        $('#update_calendarios').click(function (e) {
            e.preventDefault();
            $.post("/ajax_reservas_vut/", {action: 'update_calendarios', tipo: 'manual'},
                function (data) {
                    if (data.ok) {
                        $('#last_update_calendar_vut').html(data.respuesta.time);
                        $("#update_ok").show().delay(1500).fadeOut();
                        show_mensajes({
                            title: 'Se han producido los siguientes incidentes',
                            texto: data.respuesta.html,
                            size: 'xlarge'
                        });
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        {#$('body').on('change', '#vivienda_vut_file', function () {#}
        {#    if ($('#portal_vut_file').val() != '' && $(this).val() != '') {#}
        {#        $('#vut_file').prop('disabled', false);#}
        {#        $('#sube_vut_file').removeClass('disabled');#}
        {#    } else {#}
        {#        $('#vut_file').prop('disabled', true);#}
        {#        $('#sube_vut_file').addClass('disabled');#}
        {#    }#}
        {# });#}
        {#$('body').on('change', '#portal_vut_file', function () {#}
        {#    if ($(this).val() == 'AIR') {#}
        {#        $('#vivienda_vut_file').append($('<option>', {value: 100, text: 'Todas las viviendas', selected: true}))#}
        {#            .prop('disabled', true);#}
        {#        $('#vut_file').prop('disabled', false);#}
        {#        $('#sube_vut_file').removeClass('disabled');#}
        {#    } else if ($(this).val() == 'BOO') {#}
        {#        $('#vivienda_vut_file').prop('disabled', false);#}
        {#        $('#vut_file').prop('disabled', true);#}
        {#        $('#sube_vut_file').addClass('disabled');#}
        {#    } else {#}
        {#        $('#vivienda_vut_file').prop('disabled', true);#}
        {#        $('#vut_file').prop('disabled', true);#}
        {#        $('#sube_vut_file').addClass('disabled');#}
        {#    }#}
        {# });#}
        $('body').on('click', '#sube_vut_file', function () {
            var input_files = document.getElementById('vut_file').files;
            for (var i = 0; i < input_files.length; i++) {
                console.log(input_files[i].name + ' (' + input_files[i].size + ' bytes)');
            }

            var formData = new FormData();
            for (var i = 0; i < input_files.length; i++) {
                formData.append('fichero_xhr' + i, input_files[i]);
            }
            formData.append('n_files', input_files.length);
            formData.append('vivienda', $('#vivienda_vut_file').val());
            formData.append('portal', $('#portal_vut_file').val());
            formData.append('action', 'upload_vut_file');
            formData.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());
            var xhr = new XMLHttpRequest();
            {#xhr.upload.addEventListener("progress", updateProgress, false);#}
            xhr.onload = function () {
                if (xhr.readyState === xhr.DONE) {
                    if (xhr.status === 200) {
                        console.log('Terminado');
                        var data = JSON.parse(xhr.responseText);
                        if (data.ok) {
                            $('#informe_reservas').html(data.html);
                            $('#vut_file').val('');
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    }
                }
            };
            xhr.open('POST', "/ajax_reservas_vut/", true);
            xhr.send(formData);

        });

        $('#Contenido').on('change', '.match_vivienda', function () {
            var vivienda = $(this).val();
            var texto = $(this).data('texto');
            $.post("/ajax_reservas_vut/", {action: 'match_vivienda', vivienda: vivienda, texto: texto},
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('#Contenido').on('click', '.viajero_manual', function () {
            var code = $(this).data('code');
            var secret = $(this).data('secret');
            location.href = '/registro_viajero_manual/?s=' + secret + '&c=' + code;
        });

        $('#Contenido').on('click', '.copy_url_viajero', function () {
            var secret = $(this).data('secret');
            var protocol = window.location.protocol; {# http: o https: #}
            var host = window.location.host; {# Por ejemplo: gaumentada.es:5656   (proporciona dominio + puerto) #}
            var c = copiar_al_portapapeles(protocol + '//' + host + '/rvpd/' + secret + '/');
            if (c) {
                show_mensajes({
                    title: 'URL copiada',
                    texto: 'Se ha copiado en el portapapeles la dirección en la que deben registrase los viajeros de esta reserva'
                });
            }
        });

        $('#Contenido').on('click', '.viajeros_list', function () {
            var reserva = $(this).data('id');
            $.post("/ajax_reservas_vut/", {action: 'viajeros_list', reserva: reserva},
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        show_mensajes({size: 'xlarge', title: 'Lista de viajeros registrados', texto: data.html})
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        {#$('#Contenido').on('click', '#update_fichero', function () {#}
        {#    var reserva = $(this).data('id');#}
        {#    $.post("/ajax_reservas_vut/", {action: 'update_fichero_registro'},#}
        {#        function (data) {#}
        {#            if (data['ok']) {#}
        {#                $("#update_ok").show().delay(1500).fadeOut();#}
        {#                $('#div_registros').prepend(data.html);#}
        {#            } else {#}
        {#                $("#update_error").show().delay(1500).fadeOut();#}
        {#            }#}
        {#        });#}
        {# });#}

        $('body').on('click', '.descargar_fichero_policia', function (e) {
            e.preventDefault();
            $('#action').val('descargar_fichero_policia');
            $('#fichero_policia').val($(this).data('id'));
            document.getElementById('{{formname}}').submit();
        });

        $('body').on('click', '.activar_registro', function (e) {
            e.preventDefault();
            var viajero = $(this).data('id');
            $.post("/ajax_reservas_vut/", {action: 'activar_registro', viajero: viajero},
                function (data) {
                    if (data['ok']) {
                        $('#update_ok').show().delay(1500).fadeOut();
                        $('#registro_policia' + viajero).html('<span style="color:green"><i class="fa fa-refresh"></i></span>');
                        $('#estado_registro' + viajero).html('<span style="color:green"><i class="fa fa-refresh"></i></span>');
                        $('#observaciones' + viajero).html(data['observaciones']);
                        setTimeout(show_mensajes({
                            'title': '<i class="fa fa-info-circle"></i> Acción solicitada',
                            'texto': 'En un par de minutos Gauss intentará registrar al viajero.'
                        }), 200);
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                        $('#observaciones' + viajero).html(data['observaciones']);
                    }
                });
        });

        $('body').on('click', '.registrado_manualmente', function (e) {
            e.preventDefault();
            var viajero = $(this).data('id');
            $.post("/ajax_reservas_vut/", {action: 'registrado_manualmente', viajero: viajero},
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        $('#registro_policia' + viajero).html('<span style="color:green"><i class="fa fa-check"></i></span>');
                        $('#estado_registro' + viajero).html('<span style="color:green"><i class="fa fa-check"></i></span>');
                        $('#observaciones' + viajero).html(data['observaciones']);
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        {% if request.session.gauser_extra|has_permiso:'borra_reservas' %}
            $('body').on('click', '.delete_reserva', function (e) {
                e.preventDefault();
                reserva = $(this).data('id');
                show_mensajes({
                    title: 'Borrar reserva', texto: 'Si aceptas la reserva será eliminada.', buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            $.post("/ajax_reservas_vut/", {action: 'delete_reserva', reserva: reserva},
                                function (data) {
                                    if (data['ok']) {
                                        $("#update_ok").show().delay(1500).fadeOut();
                                        $('#reserva' + reserva).remove();
                                        calcular_totales();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });

            $('body').on('click', '.delete_solapada', function (e) {
                e.preventDefault();
                reserva = $(this).data('id');
                show_mensajes({
                    title: 'Borrar reserva', texto: 'Si aceptas la reserva será eliminada.', buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            $.post("/ajax_reservas_vut/", {action: 'delete_reserva', reserva: reserva},
                                function (data) {
                                    if (data['ok']) {
                                        $("#update_ok").show().delay(1500).fadeOut();
                                        $('.solapada' + reserva).remove();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });

            $('body').on('click', '.delete_reserva_update_calendario_vut', function (e) {
                e.preventDefault();
                reserva = $(this).data('id');
                show_mensajes({
                    title: 'Borrar reserva', texto: 'Si aceptas la reserva será eliminada.', buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            $.post("/ajax_reservas_vut/", {action: 'delete_reserva', reserva: reserva},
                                function (data) {
                                    if (data['ok']) {
                                        $("#update_ok").show().delay(1500).fadeOut();
                                        $('#tr_reserva_update_calendario_vut' + reserva).remove();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });
        {% endif %}

        $('body').on('change', '.select_vivienda_reserva', function () {
            var reserva = $(this).data('reserva');
            var vivienda = $(this).val();
            $.post("/ajax_reservas_vut/", {action: 'select_vivienda_reserva', reserva: reserva, vivienda: vivienda},
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        $('#reserva' + reserva).remove();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.change_select_reservas', function () {
            var mes = $("#select_mes_reservas").val();
            var vivienda = $("#select_vivienda_reservas").val();
            var portal = $("#select_portal_reservas").val();
            $.post("/ajax_reservas_vut/", {
                    action: 'change_select_reservas',
                    mes: mes,
                    vivienda: vivienda,
                    portal: portal
                },
                function (data) {
                    if (data['ok']) {
                        $('#tab1').html(data.html);
                        calcular_totales();
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        calcular_totales();

        {% if data_calendarios.html %}
            show_mensajes({
                title: 'Durante el proceso de carga:',
                texto: '{{ data_calendarios.html|remove_newlines }}',
                size: 'xlarge'
            });
        {% endif %}

        $('body').on('keyup', '.input_text', function () {
            var campo = $(this).data('campo');
            var id_viajero = $(this).data('id');
            var valor = $(this).val();
            $.post("/ajax_reservas_vut/", {
                    action: 'update_viajero',
                    id_viajero: id_viajero,
                    campo: campo,
                    valor: valor
                },
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.input_select', function () {
            var campo = $(this).data('campo');
            var id_viajero = $(this).data('id');
            var valor = $(this).val();
            $.post("/ajax_reservas_vut/", {
                    action: 'update_viajero',
                    id_viajero: id_viajero,
                    campo: campo,
                    valor: valor
                },
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.input_fecha', function () {
            var campo = $(this).data('campo');
            var id_viajero = $(this).data('id');
            var valor = $(this).val();
            $.post("/ajax_reservas_vut/", {
                    action: 'update_viajero_fecha',
                    id_viajero: id_viajero,
                    campo: campo,
                    valor: valor
                },
                function (data) {
                    if (data['ok']) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.parte_pdf_PN', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $('#fichero_policia').val(id);
            $('#action').val('descarga_parte_pdf_PN');
            document.getElementById("{{ formname }}").submit();
        });

    </script>
{% endblock %}