{% load my_templatetags %}
{% load vut_extras %}

<div class="row" id="div_web{{ vivienda.id }}">
    <div class="columns large-9">
        <label title="Título o nombre para la vivienda que aparecerá en la web"><b>Texto en el título de la web:</b>
            <input type="text" class="campo_char" data-campo="nombreweb" data-id="{{ vivienda.id }}"
                   value="{{ vivienda.nombreweb }}">
        </label>
    </div>
    <div class="columns large-3">
        <label title="Indica si se publicará en la web o no">&nbsp;<b>¿Publicar?</b>
        </label>&nbsp;<a class="publicar_vivienda_web" data-id="{{ vivienda.id }}" id="pviviendaw{{ vivienda.id }}">
        {% if vivienda.publicarweb %}Sí{% else %}No{% endif %}
    </a>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label title="Sub-Título o texto bajo nombre que se mostrará en la web debajo del título">
            <b>Texto para el subtítulo de la web:</b>
            <input type="text" class="campo_char" data-campo="subnombreweb" data-id="{{ vivienda.id }}"
                   value="{{ vivienda.subnombreweb }}">
        </label>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label>
            <b>Texto de descripción de la vivienda, que será mostrado en la web:</b>
            <textarea id="descripcionweb{{ vivienda.id }}">{{ vivienda.descripcionweb }}</textarea></label>
    </div>
</div>
<div class="row">
    <div class="columns large-6">
        <label><span><b>Introduce los precios: <a href="#" data-reveal-id="div_help_precios"><i
                class="fa fa-question-circle"></i></a></b></span></label>
        <input type="text" class="campo_char" data-campo="preciosweb" data-id="{{ vivienda.id }}"
               value="{{ vivienda.preciosweb }}">
    </div>
    <div class="columns large-6">
        <label><span><b>Cuenta bancaria para realizar cobros: <a href="#" data-reveal-id="div_help_iban"><i
                class="fa fa-question-circle"></i></a></b></span></label>
        <input type="text" class="campo_char" data-campo="iban" data-id="{{ vivienda.id }}"
               value="{{ vivienda.iban }}">
    </div>
</div>
<div id="calendario{{ vivienda.id }}" style="padding-top: 60px;">
    <div class="row">
        <div class="columns large-12">
            <div id='calendar{{ vivienda.id }}'></div>
        </div>
    </div>
</div>
<div id="fotos_web{{ vivienda.id }}">
    <div class="row">
        <div class="columns large-12">
            <label><span><b>
                Fotos que deseas mostrar: <a href="#" data-reveal-id="div_help_fotos"><i
                    class="fa fa-question-circle"></i></a></b></span></label>
        </div>
    </div>
    {% include "vivienda_accordion_content_web_fotos.html" %}
</div>
{# Aquí comienzan las líneas para subir archivos vía ajax #}
<div class="row">
    <div class="columns large-12" id="subir_fotos{{ vivienda.id }}" style="position:relative;">
        <input type="file" name="gauss_file" id="gauss_file{{ vivienda.id }}" multiple="multiple"
               style="position:absolute;top: -3000px;left:-3000px;"
               accept="video/*,image/*"/>
        <a id="a_subir_fotos{{ vivienda.id }}"><i class="fa fa-hand-o-up"></i> Pulsa aquí para subir fotos <span
                style="display: none" id="span_spin"><i class="fa fa-refresh fa-spin fa-fw"></i> Cargando... </span>
            <span style="display: none" id="span_porcentage"></span></a>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <ul class="button-group right">
            <li><a href="/web_vut_id/{{ vivienda.id }}/" target="_blank" class="button"><i
                    class="fa fa-window-maximize"></i> Ver tu anuncio</a></li>
            <li><a href="/web_vut/?e={{ vivienda.entidad.id }}" target="_blank" class="button"><i
                    class="fa fa-sitemap"></i> Ver todos los anuncios</a></li>
        </ul>
    </div>
</div>

{#<div style="position: absolute;top:-1000px;left:-1000px;z-index: 1000;min-width: 300px;" id="plus-icon">#}
{#    <a data-dropdown="drop-web{{ vivienda.id }}" aria-controls="drop-web{{ vivienda.id }}" aria-expanded="false"><i#}
{#            class="fa fa-calendar-plus-o"></i></a>#}
{#    <ul id="drop-web{{ vivienda.id }}" class="f-dropdown medium content" data-dropdown-content aria-hidden="true"#}
{#        tabindex="-1">#}
{#        <li><a id="add_precios_web_day" data-id="{{ vivienda.id }}"><i class="fa fa-money fa-fw"></i> Cambiar precios#}
{#        </a></li>#}
{#        <li><a id="bloquear_web_day" data-id="{{ vivienda.id }}"><i class="fa fa-times-rectangle fa-fw"></i> Bloquear#}
{#            alquiler</a></li>#}
{#    </ul>#}
{##}
{#</div>#}


<script>
    $(document).foundation();
    $(document).foundation('tooltip', 'reflow');
    var editor{{ vivienda.id }} = CKEDITOR.replace('descripcionweb{{ vivienda.id }}');
    editor{{ vivienda.id }}.on('change', function (e) {
        var texto = e.editor.getData();
        $.post("/ajax_viviendas/", {
                action: 'update_campo',
                vivienda: {{ vivienda.id }},
                campo: 'descripcionweb',
                valor: texto
            },
            function (data) {
                if (data.ok) {
                    $("#update_ok").show().delay(1500).fadeOut();
                } else {
                    $('#update_error').show().delay(1500).fadeOut();
                }
            }, 'json');
    });

    var loading_file = true;
    $('#a_subir_fotos{{ vivienda.id }}').on("click", function (e) {
        e.preventDefault();
        if (loading_file) {
            $('#gauss_file{{ vivienda.id }}').trigger('click');
            loading_file = false;
        }
    });

    function updateProgress(evt) {
        if (evt.lengthComputable) {
            var percentComplete = (evt.loaded / evt.total) * 100;
            $('#span_porcentage').html(parseInt(percentComplete) + '%');
            console.log(percentComplete);
        } else {
            console.log('No es posible calcular el porcentaje de carga en el servidor');
        }
    }

    $('body').on('change', '#gauss_file{{ vivienda.id }}', function () {
        var input_files = document.getElementById('gauss_file{{ vivienda.id }}').files;
        $('#span_spin').show();
        $('#span_porcentage').show();

        for (var i = 0; i < input_files.length; i++) {
            console.log(input_files[i].name + ' (' + input_files[i].size + ' bytes)');
        }

        var formData = new FormData();
        for (var i = 0; i < input_files.length; i++) {
            formData.append('foto_xhr' + i, input_files[i]);
        }
        formData.append('n_files', input_files.length);
        formData.append('action', 'upload_foto_vut');
        formData.append('vivienda', {{ vivienda.id }});
        formData.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", updateProgress, false);
        xhr.onload = function () {
            if (xhr.readyState === xhr.DONE) {
                if (xhr.status === 200) {
                    console.log(xhr.responseText);
                    var b = xhr.responseText;
                    var data = JSON.parse(xhr.responseText);
                    {#$.each(data.fotos, function (i, el) {#}
                    {#    var $a = $('<a/>').attr('data-code', el.code)#}
                    {#        .attr('class', 'remove_file')#}
                    {#        .html('<i class="fa fa-times"></i> ');#}
                    {#    var $li = $('<li/>').attr('data-id', el.code)#}
                    {#        .attr('class', 'li_foto').addClass(el.code)#}
                    {#        .append($a).append(el.file_name);#}
                    {#    $('#lista_fotos').append($li);#}
                    {#    var $img = $('<img/>').css('display', 'none')#}
                    {#        .attr('id', 'pre' + el.code)#}
                    {#        .attr('src', '/' + el.url)#}
                    {#        .attr('class', el.code);#}
                    {#    $('#previsualizador').append($img);#}
                    {# });#}
                    $('#fotos_web' + data.vivienda).html(data.html);
                    loading_file = true;
                    $('#span_spin').hide();
                    $('#span_porcentage').hide();
                }
            }
        };
        xhr.open('POST', "/ajax_viviendas/", true);
        xhr.send(formData);
    });

    {# Aquí terminan las líneas para subir archivos vía ajax #}

    $('body').on('click', '.remove_file', function (e) {
        e.preventDefault();
        var file_code = $(this).data('code');
        console.log('d', file_code);
        $.post("/ajax_viviendas/", {action: 'remove_file', file_code: file_code},
            function (data) {
                if (data) {
                    $('.' + data).remove();
                    $("#update_ok").show().delay(1500).fadeOut();
                } else {
                    $('#update_error').show().delay(1500).fadeOut();
                }
            });
    });

    {#$('body').on('mouseenter', '.li_foto', function (e) {#}
    {#    e.preventDefault();#}
    {#    var id = $(this).data('id');#}
    {#    $('#pre' + id).show();#}
    {# });#}
    {#$('body').on('mouseleave', '.li_foto', function (e) {#}
    {#    e.preventDefault();#}
    {#    var id = $(this).data('id');#}
    {#    $('#pre' + id).hide();#}
    {# });#}


    {# Líneas de codigo para el fullCalendar #}

    function pad(s) {
        return (s < 10) ? '0' + s : s;
    }

    var calendarEl = document.getElementById('calendar{{ vivienda.id }}');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        validRange: {
            start: new Date(),
        },
        plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        defaultDate: new Date(),
        locale: 'es',
        buttonIcons: true,
        navLinks: true, // can click day/week names to navigate views
        businessHours: false,
        editable: true,
        selectable: true,
        {#selectMirror: true,#}
        select: function (arg) {
            {#var title = prompt('Event Title:');#}
            {#if (title) {#}
            {#    calendar.addEvent({#}
            {#        title: title,#}
            {#        start: arg.start,#}
            {#        end: arg.end,#}
            {#        allDay: arg.allDay#}
            {#    })#}
            {# }#}
            $('#reveal_web_calendar_precios').val('{{ vivienda.preciosweb }}');
            var d = arg.start;
            var fecha = [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
            console.log(arg.start);
            $('#reveal_web_calendar_fecha').html(fecha);
            $('#reveal_web_calendar').foundation('reveal', 'open');
            calendar.unselect()
        },
        events: {% autoescape off %}{{ vivienda|reservas2eventos }}{% endautoescape %},
    });

    calendar.render();

    calendar.addEvent({
        title: 'Prueba',
        start: '2019-07-23',
        end: '2019-07-23',
        rendering: 'background',
    });
    $('td').css('border', '1px solid #cccccc');
    var fecha = '';
    {#$('#calendario{{ vivienda.id }}').on('mouseenter', '.fc-day', function () {#}
    {#    if (!$(this).hasClass('fc-disabled-day')){#}
    {#        fecha = $(this).data('date');#}
    {#    var p = $(this).offset();#}
    {#    var eTop = p.top - $(window).scrollTop() + 30;#}
    {#    console.log(eTop + ' ' + p.left);#}
    {#    $('#plus-icon').css('top', eTop).css('left', p.left + 10); #}
    {#    }#}
    {# });#}

    {#$('#calendario{{ vivienda.id }}').on('click', '.fc-day', function () {#}
    {#    if (!$(this).hasClass('fc-disabled-day')) {#}
    {#        fecha = $(this).data('date');#}
    {#        console.log('appendTo');#}
    {#        $('#plus-icon').appendTo($(this)).css('top', '30px').css('left', '10px');#}
    {#    }#}
    {# });#}


    {#$(document).foundation();#}
    {#$(document).foundation('dropdown', 'reflow');#}
</script>