{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" id="id_vivienda" name="id_vivienda" value="">

        <div>
            <h4 style="text-align: center;color: #008CBA;"><strong>Viviendas de uso turístico</strong>
            </h4>
        </div>

        <dl class="accordion" data-accordion id="list_viviendas">
            {% include 'vivienda_accordion.html' %}
        </dl>
    </form>
    {#    <div class="hide" id="div_select_autorizado">#}
    {#        <label for="select_autorizado">Selecciona persona autorizada</label><select id="select_autorizado">#}
    {#        {% for u in usuarios %}#}
    {#            <option value="{{ u.id }}">{{ u.gauser.get_full_name }}</option>#}
    {#        {% endfor %}#}
    {#    </select>#}
    {#    </div>#}

    <div id="div_select_autorizado" class="reveal-modal small" data-reveal>
        <h3>Selecciona la persona autorizada</h3>
        <select id="select_autorizado">
            {% for u in usuarios %}
                <option value="{{ u.id }}">{{ u.gauser.get_full_name }}</option>
            {% endfor %}
        </select>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="div_help_precios" class="reveal-modal large" data-reveal>
        <h3>¿Cómo introducir los precios?</h3>
        <p>Indique los precios separados por comas según el número de viajeros.</p>
        <p>Por ejemplo si escribiera:</p>
        <p>50, 70, 95, 115, 150</p>
        <p>Significaría que un huésped paga 50€, dos huéspedes 70€, tres huéspedes 95€, ..., cinco huéspedes 150€</p>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="div_help_iban" class="reveal-modal large" data-reveal>
        <h3>¿Por qué introducir la cuenta bancaria?</h3>
        <p>Aquí debe introducirse el número de cuenta bancaria en el que harán los huéspedes los ingresos.</p>
        <p>Se debería indicar el IBAN: cuatro caracteres iniciales (código del país + código de control) seguido de los
            veinte dígitos de la cuenta bancaria.</p>

        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="div_help_fotos" class="reveal-modal large" data-reveal>
        <h3>¿Para qué sirve subir fotos?</h3>
        <p>Puedes subir las fotos que desees. Estas fotos se mostrarán en tu web particular de GAUSS.</p>
        <p>Las fotos se mostrarán en el orden que indiques en la casilla "Orden", con las siguientes
            peculiariedades:</p>
        <ol>
            <li>Las fotos con orden igual a "0" no se mostrarán.</li>
            <li>La foto con orden igual a "1" se entenderá que es la portada.</li>
            <li>Las fotos con orden mayor que "1" se mostrarán con su etiqueta asociada, en el orden indicado.</li>
        </ol>
        <p>También es importante saber que GAUSS asignará una URL a cada foto, por ejemplo
            "/media/vut/3/1/fotosweb/IMzjvU.png". Esta URL la puedes utilizar para insertar fotos en la
            descripción de la vivienda; basta con hacer click en <i class="fa fa-image"></i> y pegar la susodicha
            URL en el formulario que aparece.</p>

        <a class="close-reveal-modal">&#215;</a>
    </div>
{% endblock %}

{% block final %}

    <script type="application/javascript">

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-vivienda')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/ajax_viviendas/", {action: 'open_accordion', vivienda: id}, function (data) {
                                if (data.ok) {
                                    $('#panel' + id).html(data.html);
                                    $(document).foundation('dropdown', 'reflow');
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $("#update_error").show().delay(1500).fadeOut();
                                }
                            });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });

        {% if request.session.gauser_extra|has_permiso:"crea_viviendas" %}
            habilita(['s_plus']);

            $('#plus_sign').click(function (event) {
                event.preventDefault();
                $.post("/ajax_viviendas/", {action: 'add_vivienda'},
                    function (data) {
                        if (data.ok) {
                            $('#list_viviendas').prepend(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'edita_viviendas' %}
            $("body").on('keyup', '.campo_char', function () {
                var vivienda = $(this).data('id');
                var valor = $(this).val();
                var campo = $(this).data('campo');
                $.post("/ajax_viviendas/", {
                        action: 'update_campo',
                        vivienda: vivienda,
                        campo: campo,
                        valor: valor
                    },
                    function (data) {
                        if (data.ok) {
                            if (data.campo == 'nombre') {
                                $("#span_vivienda_nombre" + vivienda).html(data.valor);
                            } else if (data.campo == 'address') {
                                $("#span_vivienda_address" + vivienda).html(data.valor);
                            }
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    }, 'json');
            });

            $('body').on('click', '.remove_foto', function (e) {
                e.preventDefault();
                foto_borrar = $(this).data('id');
                show_mensajes({
                    title: 'Borrar foto', texto: 'Si aceptas la foto será eliminada' +
                        ' completamente de la base de datos.', buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            $.post("/ajax_viviendas/", {action: 'remove_foto', foto: foto_borrar},
                                function (data) {
                                    if (data.ok) {
                                        $('#row_foto_web' + foto_borrar).remove();
                                        {#setTimeout(function () {#}
                                        {#    show_mensajes({title: 'Foto borrada', texto: data.mensaje});#}
                                        {# }, 600);#}
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                        {#show_mensajes({title: 'Foto no borrada', texto: data.mensaje})#}
                                    }
                                });
                        }
                    }
                });
            });

            $("body").on('keyup', '.campo_foto', function () {
                var foto = $(this).data('id');
                var valor = $(this).val();
                var campo = $(this).data('campo');
                $.post("/ajax_viviendas/", {
                        action: 'update_campo_foto',
                        foto: foto,
                        campo: campo,
                        valor: valor
                    },
                    function (data) {
                        if (data.ok) {
                            if (data.campo == 'caption') {
                                $("#captionfoto" + foto).html(data.valor);
                            }
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    }, 'json');
            });

            $("body").on('click', '.publicar_vivienda_web', function () {
                var vivienda = $(this).data('id');
                $.post("/ajax_viviendas/", {
                        action: 'publicar_vivienda_web',
                        vivienda: vivienda
                    },
                    function (data) {
                        if (data.ok) {
                            $("#pviviendaw" + data.vivienda).html(data.valor);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    }, 'json');
            });


            $("body").on('keyup', '.campo_int', function () {
                var vivienda = $(this).data('id');
                var valor = parseInt($(this).val());
                var campo = $(this).data('campo');
                $.post("/ajax_viviendas/", {
                        action: 'update_campo',
                        vivienda: vivienda,
                        campo: campo,
                        valor: valor
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    }, 'json');
            });

            $("body").on('change', '.campo_select', function () {
                var vivienda = $(this).data('id');
                var valor = $(this).val();
                var campo = $(this).data('campo');
                $.post("/ajax_viviendas/", {
                        action: 'update_campo',
                        vivienda: vivienda,
                        campo: campo,
                        valor: valor
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    }, 'json');
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'borra_viviendas' %}
            $('body').on('click', '.delete_vivienda', function (e) {
                e.preventDefault();
                vivienda_borrar = $(this).data('id');
                show_mensajes({
                    title: 'Borrar vivienda', texto: 'Si aceptas la vivienda será eliminada' +
                        ' completamente de la base de datos.', buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            $.post("/ajax_viviendas/", {action: 'delete_vivienda', vivienda: vivienda_borrar},
                                function (data) {
                                    if (data.ok) {
                                        $('#accordion' + vivienda_borrar).remove();
                                        setTimeout(function () {
                                            show_mensajes({title: 'Vivienda borrada', texto: data.mensaje});
                                        }, 600);
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                        show_mensajes({title: 'Vivienda no borrada', texto: data.mensaje})
                                    }
                                });
                        }
                    }
                });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'crea_ayudantes' %}
            $('body').on('click', '.add_ayudante', function (e) {
                e.preventDefault();
                var vivienda = $(this).data('id');
                $.post("/ajax_viviendas/", {action: 'add_ayudante', vivienda: vivienda},
                    function (data) {
                        if (data.ok) {
                            $('#ayudantes' + data.vivienda).append(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'add_autorizado_vut' %}
            var vivienda_id = null;
            $('body').on('click', '.add_autorizado_vut', function (e) {
                e.preventDefault();
                vivienda_id = $(this).data('id');
                $('#div_select_autorizado').foundation('reveal', 'open');
                setTimeout(function () {
                    $('#select_autorizado').select2();
                }, 500);
            });

            $('body').on('change', '#select_autorizado', function (e) {
                var autorizado = $(this).val();
                $.post("/ajax_viviendas/", {
                        action: 'add_autorizado_vut', vivienda: vivienda_id, autorizado: autorizado
                    },
                    function (data) {
                        if (data.ok) {
                            $('#autorizados' + data.vivienda).append(data.html);
                            $('#div_select_autorizado').foundation('reveal', 'close');
                            $("#update_ok").show().delay(1500).fadeOut();
                            vivienda_id = null;
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'delete_autorizado_vut' %}
            $('body').on('click', '.delete_autorizado_vut', function (e) {
                e.preventDefault();
                autorizado_borrar = $(this).data('id');
                show_mensajes({
                    title: '<i class="fa fa-warning"></i> Borrar a persona autorizada',
                    texto: 'Si aceptas, esta persona dejará de estar autorizada para actuar en la vivienda.', buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            $.post("/ajax_viviendas/", {action: 'delete_autorizado_vut', autorizado: autorizado_borrar},
                                function (data) {
                                    if (data.ok) {
                                        $("#update_ok").show().delay(1500).fadeOut();
                                        $('#div_autorizado' + autorizado_borrar).remove();
                                        setTimeout(function () {
                                            show_mensajes({title: 'Persona autorizada borrada', texto: data.mensaje});
                                        }, 600);
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                        show_mensajes({title: 'Persona autorizada no borrada', texto: data.mensaje})
                                    }
                                });
                        }
                    }
                });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'edita_autorizado_vut' %}
            $('body').on('click', '.permiso_autorizado_vut', function (e) {
                var autorizado = $(this).data('id');
                var permisos = [];
                $('.permiso_autorizado_vut:checkbox:checked').each(function () {
                    permisos.push($(this).data('code'));
                });
                $.post("/ajax_viviendas/", {action: 'edita_autorizado_vut', autorizado: autorizado, permisos: permisos},
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'add_calendario_vut' %}
            $('body').on('click', '.add_calendario_vut', function (e) {
                e.preventDefault();
                var vivienda = $(this).data('id');
                $.post("/ajax_viviendas/", {action: 'add_calendario_vut', vivienda: vivienda},
                    function (data) {
                        if (data.ok) {
                            $('#calendarios' + data.vivienda).append(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'delete_calendario_vut' %}
            $('body').on('click', '.delete_calendario_vut', function (e) {
                e.preventDefault();
                calendario_borrar = $(this).data('id');
                show_mensajes({
                    title: '<i class="fa fa-warning"></i> Borrar Calendario',
                    texto: 'Si aceptas el calendario será borrado completamente de la base de datos.', buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            $.post("/ajax_viviendas/", {action: 'delete_calendario_vut', calendario: calendario_borrar},
                                function (data) {
                                    if (data.ok) {
                                        $("#update_ok").show().delay(1500).fadeOut();
                                        $('#div_calendario' + calendario_borrar).remove();
                                        setTimeout(function () {
                                            show_mensajes({title: 'Calendario borrado', texto: data.mensaje});
                                        }, 600);
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                        show_mensajes({title: 'Calendario no borrado', texto: data.mensaje})
                                    }
                                });
                        }
                    }
                });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'edita_calendario_vut' %}
            $("body").on('keyup change', '.campo_calendario_vut', function () {
                var calendario = $(this).data('id');
                var valor = $(this).val();
                var campo = $(this).data('campo');
                $.post("/ajax_viviendas/", {
                        action: 'update_campo_calendario_vut',
                        calendario: calendario,
                        campo: campo,
                        valor: valor
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    }, 'json');
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'borra_ayudantes' %}
            $('body').on('click', '.delete_ayudante', function (e) {
                e.preventDefault();
                ayudante_borrar = $(this).data('id');
                show_mensajes({
                    title: '<i class="fa fa-warning"></i> Borrar ayudante',
                    texto: 'Si aceptas el ayudante será borrado completamente de la base de datos.', buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            $.post("/ajax_viviendas/", {action: 'delete_ayudante', ayudante: ayudante_borrar},
                                function (data) {
                                    if (data.ok) {
                                        $("#update_ok").show().delay(1500).fadeOut();
                                        $('#div_ayudante' + ayudante_borrar).remove();
                                        setTimeout(function () {
                                            show_mensajes({title: 'Ayudante borrado', texto: data.mensaje});
                                        }, 600);
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                        show_mensajes({title: 'Ayudante no borrado', texto: data.mensaje})
                                    }
                                });
                        }
                    }
                });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'edita_ayudantes' %}
            $("body").on('keyup', '.campo_ayudante', function () {
                var ayudante = $(this).data('id');
                var valor = $(this).val();
                var campo = $(this).data('campo');
                if (campo == 'cantidad') {
                    valor = parseFloat(valor);
                }
                $.post("/ajax_viviendas/", {
                        action: 'update_campo_ayudante',
                        ayudante: ayudante,
                        campo: campo,
                        valor: valor
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    }, 'json');
            });


            $("body").on('change', '.ayudante_tipo', function () {
                var ayudante = $(this).data('id');
                var valor = $(this).val();
                var campo = 'tipo';
                $.post("/ajax_viviendas/", {
                        action: 'update_campo_ayudante',
                        ayudante: ayudante,
                        campo: campo,
                        valor: valor
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    }, 'json');
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'comprueba_conexion_policia' %}
            $('#Contenido').on('click', '.test_webpol', function (e) {
                e.preventDefault();
                var vivienda = $(this).data('id');
                $.post("/ajax_viviendas/", {
                        action: 'test_webpol',
                        vivienda: vivienda
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                            if (data.login_ok) {
                                show_mensajes({
                                    title: '<i class="fa fa-smile-o"></i> Conexión realizada!!',
                                    texto: 'Gauss ahora puede enviar los registros de policía automáticamente.'
                                })
                            } else {
                                show_mensajes({
                                    title: '<i class="fa fa-warning"></i> Error',
                                    texto: 'No se ha podido entrar en la web de la policía con el usuario y contraseña que has escrito. Comprueba que ambos datos han sido escritos correctamente.'
                                })
                            }
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    }, 'json');
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:'genera_libro_registro_policia' %}
            $('#Contenido').on('click', '.libro_registros', function (e) {
                e.preventDefault();
                $('#id_vivienda').val($(this).data('id'));
                $('#action').val('libro_registros');
                document.{{formname}}.submit();
            });
        {% endif %}
    </script>

{% endblock %}



	







