{% extends "base_empty.html" %}
{% load vut_extras %}

{% block head %}
    <style>
        .parent-container {
            position: relative;
            width: 100%;
            height: 92vh;
            z-index: 10;
        }

        .parent {
            position: absolute;
            width: 100%;
            height: 92vh;
            clip: rect(0, auto, auto, 0);
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .child {
            position: fixed;
            width: 100%;
            height: 92vh;
            top: 1px;
            left: 1px;
        {#padding: 1em;#} z-index: 10;
        }

        .child2 {
            position: fixed;
            width: 100%;
            height: 92vh;
            top: 30px;
            left: 1px;
        {#padding: 1em;#} z-index: 10;
        }

        .info_contenido {
            z-index: 120;
        }

        .title_web_page {
            position: absolute;
            bottom: 200px;
            padding-left: 20px;
        }

        .title_web_page_font {
            font-weight: bold;
            font-family: 'Bitstream Vera Sans';
        }
    </style>
{% endblock %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" id="id_vivienda" name="id_vivienda" value="">

        {#        https://stackoverflow.com/questions/12463658/parent-child-with-position-fixed-parent-overflowhidden-bug#}
        <div class="parent-container">
            <div class="parent">
                <div class="child red"><img id="imagen_portada" src="{{ vivienda|portada1 }}" width="100%"></div>
            </div>
        </div>

        <div class="info_contenido">
            <div class="title_web_page">
                <h1 class="title_web_page_font"> Esto es un texto de prueba</h1>
                <p class="title_web_page_font">Apartamento con encanto</p>
            </div>
            <div style="z-index: 1000;position: sticky; top:0px;">
                {#                <div class="row">#}

                <nav class="top-bar" data-topbar role="navigation">
                    <ul class="title-area">
                        <li class="name">
                            <h1 style="color:white;font-family:'Bitstream Vera Sans'">{{ vivienda.nombreweb }}</h1>
                        </li>
                        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menú</span></a></li>
                    </ul>

                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li class="active"><a href="/">Inicia sesión</a></li>
                            <li class="has-dropdown">
                                <a href="#">Servicios</a>
                                <ul class="dropdown">
                                    <li><a href="#id_garajes">Garajes</a></li>
                                    <li><a href="#id_portales">Portales</a></li>
                                    <li><a href="#id_domotica">Viviendas</a></li>
                                    <li><a href="#id_vut" title="Viviendas de uso turístico">VUT</a></li>
                                    <li class="active"><a href="#id_preguntas">Ayuda</a></li>
                                </ul>
                            </li>
                        </ul>

                        <!-- Left Nav Section -->
                        <ul class="left">
                            <li><a href="#id_precios">Precios</a></li>
                        </ul>
                    </section>
                </nav>
                {#                </div>#}
            </div>
            <div class="parent-container">
                <div class="parent">
                    <div class="child2">
                        <img id="imagen_portada2" src="{{ vivienda|portada2 }}" width="100%">
                    </div>
                </div>
            </div>

            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
            <p>Scroll</p>
        </div>

        {#        <div style="position:relative;">#}
        {#            <div style="height: 800px;width: 100%;">#}
        {#                <div style="height: 800px; width: 100%; background-color: #fbcb09;position: fixed; top: 0px; left: 0px">#}
        {#                    Primera#}
        {#                </div>#}
        {#            </div>#}
        {#            <div style="height: 800px;width: 100%;position: absolute;top:100px;overflow: hidden;">#}
        {#                <div style="height: 800px;width: 100%; background-color: #0f74a8;position: fixed; top: 0px; left: 0px">#}
        {#                    Segunda#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </form>

{% endblock %}

{% block final %}
    <script>

        {#https://stackoverflow.com/questions/2541481/get-average-color-of-image-via-javascript#}

        function getAverageRGB(imgEl) {

            var blockSize = 5, // only visit every 5 pixels
                defaultRGB = {r: 0, g: 0, b: 0}, // for non-supporting envs
                canvas = document.createElement('canvas'),
                context = canvas.getContext && canvas.getContext('2d'),
                data, width, height,
                i = -4,
                length,
                rgb = {r: 0, g: 0, b: 0},
                count = 0;

            if (!context) {
                return defaultRGB;
            }

            height = canvas.height = imgEl.naturalHeight || imgEl.offsetHeight || imgEl.height;
            width = canvas.width = imgEl.naturalWidth || imgEl.offsetWidth || imgEl.width;

            context.drawImage(imgEl, 0, 0);

            try {
                data = context.getImageData(0, 0, width, height);
            } catch (e) {
                /* security error, img on diff domain */
                return defaultRGB;
            }

            length = data.data.length;

            while ((i += blockSize * 4) < length) {
                ++count;
                rgb.r += data.data[i];
                rgb.g += data.data[i + 1];
                rgb.b += data.data[i + 2];
            }

            // ~~ used to floor values
            rgb.r = ~~(rgb.r / count);
            rgb.g = ~~(rgb.g / count);
            rgb.b = ~~(rgb.b / count);

            return rgb;

        }


        {#https://stackoverflow.com/questions/35969656/how-can-i-generate-the-opposite-color-according-to-current-color#}

        function invertColor(r, g, b, bw) {
            if (bw) {
                // http://stackoverflow.com/a/3943023/112731
                return (r * 0.299 + g * 0.587 + b * 0.114) > 186
                    ? '#000000'
                    : '#FFFFFF';
            }
            // invert color components
            r = (255 - r).toString(16);
            g = (255 - g).toString(16);
            b = (255 - b).toString(16);
            // pad each with zeros and return
            return "#" + padZero(r) + padZero(g) + padZero(b);
        }

        function padZero(str, len) {
            len = len || 2;
            var zeros = new Array(len).join('0');
            return (zeros + str).slice(-len);
        }

        var medio = getAverageRGB(document.getElementById('imagen_portada2'));
        console.log(medio);

        var invertido = invertColor(medio.r, medio.g, medio.b, true);
        console.log(invertido);
        $('.title_web_page_font').css('color', invertido);
    </script>

{% endblock %}



	







