{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <link href='/static/fullcalendar/packages/core/main.css' rel='stylesheet'/>
    <link href='/static/fullcalendar/packages/daygrid/main.css' rel='stylesheet'/>
    <link href='/static/fullcalendar/packages/timegrid/main.css' rel='stylesheet'/>
    <link href='/static/fullcalendar/packages/list/main.css' rel='stylesheet'/>
    <script src='/static/fullcalendar/packages/core/locales-all.js'></script>
    <script src='/static/fullcalendar/packages/core/main.js' type="application/javascript"></script>
    <script src='/static/fullcalendar/packages/interaction/main.js' type="application/javascript"></script>
    <script src='/static/fullcalendar/packages/daygrid/main.js' type="application/javascript"></script>
    <script src='/static/fullcalendar/packages/timegrid/main.js' type="application/javascript"></script>
    <script src='/static/fullcalendar/packages/list/main.js' type="application/javascript"></script>
{% endblock %}

{% block contenido %}
    <style>
        #title_page {
            text-align: center;
            color: #008CBA;
        }

    </style>
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="q" id="q" value="">
        <input type="hidden" name="page" id="page" value="">
        <input type="hidden" id="id_moscoso" name="id_moscoso" value="">

        <div id="div_moscosos_seleccionados"></div>

        <div>
            <h4 id="title_page"><strong>Días de libre disposición solicitados</strong></h4>
        </div>
        <div id="configura_moscosos" style="display: block;">
            <div class="row">
                <strong>Configuración de los días de libre disposición</strong>
            </div>
            <div class="row">
                <div class="columns large-4">
                    <label>Nº trabajadores máximo por día
                        <input type="number" data-objname="ConfiguraMoscosos" data-objid="{{ cm.id }}" class="campo"
                               data-campo="max_personas_day" value="{{ cm.max_personas_day }}"
                               data-p="configura_moscosos"></label>
                </div>
                <div class="columns large-4">
                    <label>Nº máximo de días por persona
                        <input type="number" data-objname="ConfiguraMoscosos" data-objid="{{ cm.id }}" class="campo"
                               data-campo="max_persona" value="{{ cm.max_persona }}"
                               data-p="configura_moscosos"></label>
                </div>
                <div class="columns large-4">
                    <label>Persona que autoriza
                        <select class="campo_select" data-objname="ConfiguraMoscosos" data-objid="{{ cm.id }}"
                                data-p="configura_moscosos" data-campo="autoriza" id="autoriza">
                            <option class="campo" value="{{ cm.autoriza.id }}"
                                    selected>{{ cm.autoriza.gauser.get_full_name }}</option>
                        </select></label>
                </div>
            </div>
            <hr>
        </div>
        <div id="solicitud_moscoso"></div>

        <div id="calendario_moscosos" style="padding-top: 60px;">
            <div class="row">
                <div class="columns large-12">
                    <div id='calendar{{ vivienda.id }}'></div>
                </div>
            </div>
        </div>
        <br><br>
        <dl class="accordion" data-accordion id="list_moscosos_selected"></dl>

        <dl class="accordion" data-accordion id="list_moscosos_recientes">
            {% for moscoso in moscosos %}
                {% include "moscosos_accordion.html" %}
            {% endfor %}
        </dl>
    </form>
{% endblock %}

{% block final %}
    {#    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>#}
    <script>
        IDLE_TIMEOUT = 2000; //seconds

        $('#autoriza').select2(
            conf_select2({
                'url': '/selectgcs/',
                'gcs': 'g',
                'format_g': '{0}, {1} ({4})',
                'placeholder': 'Escribe parte del nombre, apellido o dni para buscarlo'
            })
        );

        function update_campo() {
            var valor = $(this).val();
            var campo = $(this).data('campo');
            var objname = $(this).data('objname');
            var objid = $(this).data('objid');
            var p = $(this).data('p');
            $.post("/ajax_moscosos/", {
                    action: 'campo_update',
                    valor: valor,
                    campo: campo,
                    objid: objid,
                    objname: objname,
                    p: p
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        if (data.mensaje) {
                            show_mensajes({title: 'Aviso', texto: data.mensaje})
                        }
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        }

        $('body').on('keyup', '.campo', update_campo);
        $('body').on('change', '.campo_select', update_campo);

        {% if request.session.gauser_extra|has_permiso:"acceso_moscosos" %}
            habilita(['s_plus']);
            $('#plus_sign').click(function (event) {
                event.preventDefault();
                $('#action').val('add_moscoso');
                $.post("/ajax_moscosos/", {action: 'add_moscoso', p: 'acceso_moscosos'}, function (data) {
                    if (data.ok) {
                        $('#solicitud_moscoso').html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();

                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
            });
        {% endif %}

        {# -------------------------------------- CALENDARIO ---------------------------------- #}

        var calendarEl = document.getElementById('calendario_moscosos');

        calendar = new FullCalendar.Calendar(calendarEl, {
            validRange: {
                start: new Date(),
            },
            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
            header: {
                right: 'prev,next today',
                center: 'title',
                left: ''
                //right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            defaultDate: new Date(),
            locale: 'es',
            selectOverlap: true,
            buttonIcons: true,
            navLinks: true, // can click day/week names to navigate views
            businessHours: true,
            editable: true,
            eventClick: function (info) {
                alert('Event: ' + info.event.title + 'vivienda: ' + info.event.extendedProps['vivienda']);

                // change the border color just for fun
                info.el.style.borderColor = 'red';
            },
            selectable: false,
            {#selectMirror: true,#}
            {#select: function (arg) {#}
            {#    var d = arg.start;#}
            {#    var fecha0 = [d.getFullYear(), pad(d.getMonth() + 1), pad(d.getDate())].join('-');#}
            {#    if (!$(".fc-day[data-date='" + fecha0 + "']").hasClass('date-blocked')) {#}
            {#        var fecha = d.toLocaleString();#}
            {#        $('#reveal_web_calendar_precios').val('{{ vivienda.preciosweb }}')#}
            {#            .data('vivienda', '')#}
            {#            .data('fecha', fecha0);#}
            {#        $('#reveal_web_calendar_bloquear').data('vivienda', '').data('fecha', fecha0);#}
            {#        $('#reveal_web_calendar_fecha').html(fecha);#}
            {#        $('#reveal_web_calendar').foundation('reveal', 'open');#}
            {#    } else {#}
            {#        alert('Día bloqueado');#}
            {#    }#}
            {##}
            {#    calendar.unselect()#}
            {# },#}
            {#events: {% autoescape off %}{{ vivienda|reservas2eventos }}{% endautoescape %},#}
        });

        calendar.render();

        calendar.addEvent({
            title: 'Prueba adsfafd afds 66666',
            start: '2019-10-03',
            {#end: '2019-10-2',#}
            className: 'date-blocked'
            {#rendering: 'background',#}
        });

        {#        $('body').on('click', '.delete_moscoso', function (e) {#}
        {#            e.preventDefault();#}
        {#            var id = $(this).data('id');#}
        {#            $('#id_moscoso').val(id);#}
        {#            show_mensajes({#}
        {#                title: 'Borrar moscoso', texto: 'Si aceptas el moscoso será eliminado' +#}
        {#                ' completamente de la base de datos.', buttons: {#}
        {#                    "Cancelar": function () {#}
        {#                        hide_mensajes();#}
        {#                    },#}
        {#                    "Aceptar": function () {#}
        {#                        var id = $('#id_moscoso').val();#}
        {#                        $('#action').val('del_moscoso');#}
        {#                        hide_mensajes();#}
        {#                        $.post("/ajax_moscosos/", {action: 'delete_moscoso', id: id}, function (data) {#}
        {#                            if (data) {#}
        {#                                $('#accordion' + id).hide();#}
        {#                                $('#selec' + id).remove();#}
        {#                            }#}
        {#                        });#}
        {#                    }#}
        {#                }#}
        {#            });#}
        {#        });#}


    </script>

{% endblock %}
