/* DIV de cabecera que está a su vez compuesto por tres partes */
div.cabecera {
    background: #f5ac19;
    background: -webkit-linear-gradient(to right, #f5ac19 0%, #f5ac19 5%, #fcfff9 19%, #128529 75%, #128529 100%);
    background: -moz-linear-gradient(to right, #f5ac19 0%, #f5ac19 5%, #fcfff9 19%, #128529 75%, #128529 100%);
    background: -ms-linear-gradient(to right, #f5ac19 0%, #f5ac19 5%, #fcfff9 19%, #128529 75%, #128529 100%);
    background: -o-linear-gradient(to right, #f5ac19 0%, #f5ac19 5%, #fcfff9 19%, #128529 75%, #128529 100%);
    background: linear-gradient(to right, #f5ac19 0%, #f5ac19 5%, #fcfff9 19%, #128529 75%, #128529 100%);
    height: 50px;
}

div.cabecera_personal {
    float: left;
    width: 20%;
    height: 46px;
    color: #128529;
    margin-left: 5px;
    font-size: 8pt;
    font-weight: bold;
}

div.cabecera_gauss {
    float: left;
    width: 49%;
    height: 46px;
    overflow: hidden;
}

div.cabecera_institucional {
    float: left;
    width: 29%;
    height: 46px;
}

/* ************************************************************* */
.logo {
    width: 1000px;
    height: 50px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.titulo {
    text-align: center;
    color: #007095;
    font-weight: 700;
    font-size: 22px;
}
.anagrama {
    padding-top: 10px;
    padding-bottom: 10px;
}