{% extends "base_select2-4.html" %}{% load my_templatetags %}
{#{% extends "base.html" %}#}
{% load contabilidad_extras %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}

        <input type="hidden" id="action" name="action" value="">
        <input type="hidden" id="id_politica_cuotas" name="id_politica_cuotas" value="">
        <input type="hidden" id="id_remesa_emitida" name="id_remesa_emitida" value="">
        <input type="hidden" id="seqtp" name="seqtp" value="RCUR">


        <div id="div_politicas">
            <div>
                <h4 style="text-align: center;color: #008CBA;"><strong> Políticas de cuotas establecidas en
                    {{ request.session.gauser_extra.ronda.entidad.name }}</strong></h4>
            </div>


            <dl class="accordion" data-accordion id="dl_accordion_politicas">
                {% include "politica_cuotas_accordion.html" %}
                {#                <hr>#}
                {#                <dd class="accordion-navigation" id="accordion{{ pext.id }}"#}
                {#                    style="border-top: 1px dashed #ccc;{% if forloop.last %}border-bottom: 1px dashed #ccc;{% endif %}">#}
                {#                    <a href="#panel___{{ pext.id }}" style="font-weight: bold;">#}
                {#                        <i id="circle{{ pext.id }}" class="fa fa-plus-circle circle_icon"></i>#}
                {#                        {{ pext.concepto }}#}
                {#                    </a>#}
                {##}
                {#                    <div id="panel___{{ pext.id }}" class="content accordion-pext" data-id="{{ pext.id }}">#}
                {#                        <div class="row">#}
                {#                            <div class="columns large-7">#}
                {#                                <label>Concepto:#}
                {#                                    <input type="text" value="{{ pext.concepto }}" id="concepto_remesa_ext">#}
                {#                                </label>#}
                {#                            </div>#}
                {#                            <div class="columns large-3">#}
                {#                                <label>Cantidad (€):#}
                {#                                    <input type="number" value="{{ pext.cuota }}" id="cantidad_remesa_ext">#}
                {#                                </label>#}
                {#                            </div>#}
                {#                            <div class="columns large-2">#}
                {#                                <label>&nbsp;</label>#}
                {#                                <a class="button tiny radius" id="generar_extraordinaria" style="font-weight: bold;">Generar</a>#}
                {##}
                {#                            </div>#}
                {#                        </div>#}
                {##}
                {#                        <div class="row">#}
                {#                            <div class="columns large-12">#}
                {#                                <label>Personas sujetas a este pago:#}
                {#                                </label>#}
                {#                                <select id="usuarios_remesa_ext" multiple></select>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <hr>#}
                {#                        <div class="row" class="remesas_emitidas" id="r_e{{ pext.id }}">#}
                {#                            {% include "remesas_emitidas.html" with politica=pext %}#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </dd>#}
            </dl>
        </div>
    </form>
{% endblock %}

{% block final %}
    <script>
        habilita(['s_plus', 's_file-text-o']);

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-politica')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            $('#id_politica_cuotas').val(id);
                            habilita(['h_plus', 'h_file-text-o']);
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/ajax_politica_cuotas/", {action: 'open_accordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#id_politica_cuotas').val('');
                            habilita(['s_plus', 's_file-text-o']);
                        }
                    }
                }
            }
        });

        $('body').on('keyup change', '.campo_text', function (e) {
            var politica = $(this).data('politica');
            var valor = $(this).val();
            var campo = $(this).data('campo');
            {# Cuando se cambia el campo "cuota" la ayuda a las cuotas debe modificarse  #}
            if (campo === 'cuota') {
                parse_cuotas($('#id_cuota'));
            }
            $.post("/ajax_politica_cuotas/", {
                    action: 'update_campo_text', politica: politica, campo: campo, valor: valor
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.campo_select', function (e) {
            var politica = $(this).data('politica');
            var valor = $(this).val();
            var campo = $(this).data('campo');
            {# Cuando se cambia el campo "tipo" la ayuda a las cuotas debe modificarse, al igual que  #}
            {# cuando cambia el campo "cuota" #}
            if (campo === 'tipo') {
                $('.div_cuotas').hide();
                $('.cuotas_' + valor).show();
                parse_cuotas($('#id_cuota'));
            }
            $.post("/ajax_politica_cuotas/", {
                    action: 'update_campo_select', politica: politica, campo: campo, valor: valor
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        function parse_cuotas(secuencia) {
            var cuotas = secuencia.val().replace(/[^0-9,\,]+/g, "").split(',').reduce(function (prev, curr) {
                return prev.concat(curr.split(' ').map(Number));
            }, []);
            var last_cuota = parseInt(cuotas[cuotas.length - 1]);
            if (cuotas.length == 0) {
                last_cuota = 0;
                cuotas = [0];
            }
            for (var i = 0; i < 1000; i++) {
                cuotas.push(last_cuota);
            }
            var cuota_ejemplo = 0;
            for (var i = 0; i < 8; i++) {
                cuota_ejemplo = cuota_ejemplo + cuotas[i];
            }
            $('.cuota_ejemplo').html(cuota_ejemplo);
            for (var i = 0; i < 10; i++) {
                var pos = i + 1;
                $('.v' + pos).html(cuotas[i]);
                if (i == 0) {
                    $('.va' + pos).html(cuotas[i]);
                } else {
                    var va = 0;
                    for (var n = 0; n < pos; n++) {
                        va = va + cuotas[n];
                    }
                    $('.va' + pos).html(va)
                }
            }
        }

        $('body').on('click', '.editar_politica', function (e) {
            $('.campo_text').prop('readonly', false);
            $('.campo_select').prop('disabled', false);
            $('.exentos_select').prop('disabled', false);
        });

        $('body').on('click', '.descarga_remesa', function (e) {
            e.preventDefault();
            $('#id_remesa_emitida').val($(this).data('id'));
            $('#action').val('descarga_remesa');
            document.{{formname}}.submit();
        });

        $('body').on('click', '.descarga_excel', function (e) {
            e.preventDefault();
            $('#id_remesa_emitida').val($(this).data('id'));
            $('#action').val('descarga_excel');
            document.{{formname}}.submit();
        });

        $('body').on('click', '.go_page', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            var politica = $(this).data('politica');
            if (page) {
                {#var section = $(this).closest('section').prop('id');#}
                $.post("/ajax_politica_cuotas/", {action: 'update_page', 'page': page, 'politica': politica},
                    function (data) {
                        if (data.ok) {
                            $('#r_e' + data.politica).html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            }
        });

        $('body').on('click', '.generar_remesas', function (e) {
            e.preventDefault();
            let politica = $(this).data('politica');
            $.post("/ajax_politica_cuotas/", {action: 'generar_remesas', politica: politica}, function (data) {
                if (data.ok) {
                    $('#r_e' + politica).html(data.html);
                    $("#update_ok").show().delay(1500).fadeOut();
                } else {
                    $("#update_error").show().delay(1500).fadeOut();
                }
            });
        });

        {% if g_e|has_permiso:'borra_politica_cuotas' %}
            $('body').on('click', '.borrar_politica', function (e) {
                e.preventDefault();
                $('#id_politica_cuotas').val($(this).data('politica'));
                title1 = 'Borrar Política de Cuotas';
                texto1 = 'Si aceptas, esta política será eliminada completamente de la base de datos.';
                title2 = 'Borrado cancelado';
                texto2 = 'No tienes permiso para borrar esta política';
                show_mensajes({
                    title: title1,
                    texto: texto1,
                    buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            var politica = $('#id_politica_cuotas').val();
                            $.post("/ajax_politica_cuotas/", {action: 'borrar_politica', politica: politica},
                                function (data) {
                                    if (data.ok) {
                                        $("#update_ok").show().delay(1500).fadeOut();
                                        $('#accordion' + politica).remove();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                        show_mensajes({
                                            title: title2,
                                            texto: texto2
                                        });
                                    }
                                });
                        }
                    }
                });
            });

            $('body').on('click', '.borrar_remesa_emitida', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var politica = $(this).data('politica');
                var page = $(this).data('page');
                $.post("/ajax_politica_cuotas/", {
                        action: 'borrar_remesa_emitida',
                        id: id,
                        politica: politica,
                        page: page
                    },
                    function (data) {
                        if (data.ok) {
                            $('#r_e' + data.politica).html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            });
        {% else %}
            $('body').on('click', '.borrar_politica', function (e) {
                show_mensajes({title: 'No tienes permiso', texto: 'No tienes permiso para borrar políticas de cuotas'});
            });
            $('body').on('click', '.borrar_remesa_emitida', function (e) {
                show_mensajes({title: 'No tienes permiso', texto: 'No se te permite borrar las remesas generadas.'});
            });
        {% endif %}

        {% if g_e|has_permiso:'crea_politica_cuotas' %}
            $('body').on('click', '#plus_sign', function (e) {
                e.preventDefault();
                $.post("/ajax_politica_cuotas/", {action: 'crear_politica'},
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                            $('#dl_accordion_politicas').prepend(data.html);
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });
        {% endif %}

        $("#file-text-o_sign").click(function (event) {
            event.preventDefault();
            if (!($(this).hasClass('disabled'))) {
                $('#action').val('pdf_politicas_cuotas');
                descarga_archivo({
                    url: '/politica_cuotas/',
                    formname: '{{ formname }}',
                    pre_texto: 'Generando archivo pdf con las políticas de cuotas'
                })
            }
        });

        {##}
        {##}
        {#$('body').on('click', '.mostrar_no_exentos', function (e) {#}
        {#    e.preventDefault();#}
        {#    var id = $(this).data('id');#}
        {#    $.post("/ajax_politica_cuotas/", {action: 'cargar_no_exentos', id: id, num: 1000}, function (data) {#}
        {#        $('#lista_no_exentos' + id).html(data);#}
        {#    });#}
        {# });#}
        {#$('body').on('click', '.ocultar_no_exentos', function (e) {#}
        {#    e.preventDefault();#}
        {#    var id = $(this).data('id');#}
        {#    $.post("/ajax_politica_cuotas/", {action: 'cargar_no_exentos', id: id, num: 3}, function (data) {#}
        {#        $('#lista_no_exentos' + id).html(data);#}
        {#    });#}
        {# });#}
        {#$('body').on('click', '.mostrar_exentos', function (e) {#}
        {#    e.preventDefault();#}
        {#    var id = $(this).data('id');#}
        {#    $.post("/ajax_politica_cuotas/", {action: 'cargar_exentos', id: id, num: 1000}, function (data) {#}
        {#        $('#lista_exentos' + id).html(data);#}
        {#    });#}
        {# });#}
        {#$('body').on('click', '.ocultar_exentos', function (e) {#}
        {#    e.preventDefault();#}
        {#    var id = $(this).data('id');#}
        {#    $.post("/ajax_politica_cuotas/", {action: 'cargar_exentos', id: id, num: 4}, function (data) {#}
        {#        $('#lista_exentos' + id).html(data);#}
        {#    });#}
        {# });#}

        {#$('#generar_extraordinaria').click(function (e) {#}
        {#    e.preventDefault();#}
        {#    var id = $('#id_politica_cuotas').val();#}
        {#    $.post("/ajax_politica_cuotas/", {#}
        {#        action: 'generar_remesas',#}
        {#        id: id,#}
        {#        cuota: $('#cantidad_remesa_ext').val(),#}
        {#        concepto: $('#concepto_remesa_ext').val(),#}
        {#        usuarios: $('#usuarios_remesa_ext').val(),#}
        {#    }, function (data) {#}
        {#        $('#r_e' + id).html(data);#}
        {#    });#}
        {# });#}
    </script>
{% endblock %}