{% load contabilidad_extras %}{% load my_templatetags %}
<div class="columns large-12">
    {% if  politica|total_remesas_emitidas > 0 %}
        <b>Remesas emitidas:</b>
    {% else %}
        <b>No se ha emitido ninguna remesa</b>
    {% endif %}
</div>
{% for remesa in remitidas %}
    <div class="row">
        <div class="columns large-4">
            {{ remesa.creado }}
        </div>
        <div class="columns large-3">
            <b>SEPA:</b>&nbsp;<a class="descarga_remesa" data-id="{{ remesa.id }}">
            <i class="fa fa-file-text-o"></i> (descarga)</a>
        </div>
        <div class="columns large-3">
            <b>EXCEL:</b>&nbsp;<a class="descarga_excel" data-id="{{ remesa.id }}">
            <i class="fa fa-file-excel-o"></i> (descarga)</a>

        </div>
        <div class="columns large-2">
            <a class="borrar_remesa_emitida" data-id="{{ remesa.id }}" data-politica="{{ remesa.politica.id }}"
            data-page="{{ remitidas.number }}">
                <i class="fa fa-trash"></i>&nbsp; Borrar</a>
        </div>
        <hr style="border: 0; height: 1px;text-align: center; background-image: -moz-linear-gradient(left, #fff, #eee, #fff);">
    </div>
{% endfor %}

<br>
<div class="row">
    <div class="columns large-12">
        <ul class="pagination" role="menubar" aria-label="Pagination">
            {% if remitidas.has_previous %}
                <li class="arrow">
                    <a class="go_page" data-page="{{ remitidas.previous_page_number }}" data-politica="{{ politica.id }}">&laquo; Anterior</a>
                </li>
            {% else %}
                <li class="arrow unavailable" aria-disabled="true">
                    <a class="go_page">&laquo; Anterior</a>
                </li>
            {% endif %}
            {% for page in remitidas.paginator.num_pages|number_range %}
                {% if page == remitidas.number %}
                    <li class="current"><a href="" class="go_page" data-page="{{ page }}" data-politica="{{ politica.id }}">{{ page }}</a></li>
                {% else %}
                    <li><a class="go_page" data-page="{{ page }}" data-politica="{{ politica.id }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if remitidas.has_next %}
                <li class="arrow">
                    <a class="go_page" data-page="{{ remitidas.next_page_number }}" data-politica="{{ politica.id }}">Siguiente &raquo;</a>
                </li>
                {% else %}
                <li class="arrow unavailable" aria-disabled="true">
                    <a class="go_page">Siguiente &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>