{% extends "base_foundation.html" %}
{% load my_templatetags %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="materia_elegida" id="materia_elegida" value="">

        <div>
            <h4 style="text-align: center;color: #008CBA;"><strong>Definición de aspectos educativos a mejorar</strong></h4>
        </div>
        <div class="row">
            <div class="columns large-6">
                <label><strong>Selecciona un curso:</strong>
                    <select name="estudio" id="estudio">
                        <option value="550020" {% if estudio.id == 550020 %}selected{% endif %}>1º E.S.O.</option>
                        <option value="250030" {% if estudio.id == 250030 %}selected{% endif %}>2º E.S.O.</option>
                        <option value="250040" {% if estudio.id == 250040 %}selected{% endif %}>2º E.S.O. (ADAPTACIÓN CURRICULAR EN GRUPO)</option>
                        <option value="550021" {% if estudio.id == 550021 %}selected{% endif %}>3º E.S.O.</option>
{#                        <option value="250060" {% if estudio.id == 250060 %}selected{% endif %}>3º de E.S.O. (DIVERSIFICACIÓN)</option>#}
                        <option value="250070" {% if estudio.id == 250070 %}selected{% endif %}>4º E.S.O.</option>
                        <option value="250080" {% if estudio.id == 250080 %}selected{% endif %}>4º de E.S.O. (DIVERSIFICACIÓN)</option>
                    </select>
                </label>
            </div>


            <div class="columns large-6">
                <label><strong>Selecciona una materia:</strong>
                    <input type="hidden" name="elegir_materia" id="elegir_materia" value="">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <label><strong>Escribe el texto del aspecto:</strong>
                    <textarea name="objetivo" id="objetivo" rows="2">{{ texto_objetivo }}</textarea>
                </label>
            </div>
        </div>
        <div id="list_aspectos"></div>

    </form>
{% endblock %}

{% block final %}
    <link href="/static/select2/select2-foundation5.css" rel="stylesheet"/>
    <script src="/static/select2/select2.js"></script>
    <script>
        habilita(['s_check']);

        $("#check_sign").click(function (e) {
            e.preventDefault();
            $('#action').val('crear_aspecto');
            document.{{formname}}.submit();
        });

        $("#elegir_materia").change(function (e) {
            var id = $(this).val();
            $.post("/informe_final_aspectos/", {action: 'buscar_aspectos', id: id}, function (data) {
                $("#list_aspectos").html(data);
            });
        });

setTimeout(function() {
        $("#elegir_materia").select2({
            placeholder: "Escribe parte del nombre de la materia",
            minimumInputLength: 3,
            multiple: true,
            ajax: {
                url: "/informe_final_aspectos/",
                type: 'POST',
                dataType: 'json',
                quietMillis: 100,
                data: function (term, page) { // page is the one-based page number tracked by Select2
                    return {
                        action: 'busca_materia',
                        q: term, //search term
                        estudio: $('#estudio').val(),
                        page_limit: 10, // page size
                        page: page // page number
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.text,
                                id: item.id
                            }
                        })
                    };
                }
            },
            formatResult: function (resultado) {
                return '<div class="select2-user-result">' + resultado.text + '</div>';
            },
            formatSelection: function (resultado) {
                $('#materia_elegida').val(resultado.id);
                $('#materia_elegida').trigger('change');
                return resultado.text;
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) {
                return m;
            } // we do not want to escape markup since we are displaying html in results
        });
}, 500);


    </script>

{% endblock %}
