{% load my_templatetags %}
{{ mensaje.mensaje_texto }}


--------------
Has recibido este mensaje a través de GAUSS porque estás registrado en la entidad {{ mensaje.emisor.ronda.entidad.name }}.

Si contestas a este correo utilizando tu servicio de correo responderás a quien lo escribió, pero no quedará
reflejado en GAUSS. Este mensaje y cualquier fichero que pudiera adjuntar se dirige exclusivamente a su destinatario.

Si Vd. ha recibido esta comunicación por error, por favor, notifíquelo inmediatamente al remitente y borre el
mensaje junto con sus ficheros anexos sin leerlo, copiarlo, grabarlo, distribuirlo o divulgarlo o hacer cualquier
otro uso de la información sin el consentimiento del responsable del fichero de la entidad
{{ mensaje.emisor.ronda.entidad.name }}.

El correo electrónico vía Internet no permite asegurar la confidencialidad o correcta recepción de los mensajes,
por lo que el emisor de este correo no asume responsabilidad alguna por los daños causados.

Cualquier opinión expresada en este mensaje corresponde únicamente al autor del mismo, y no representa necesariamente
la opinión de la entidad {{ mensaje.emisor.ronda.entidad.name }}, salvo cuando el remitente esté autorizado para hacerlo
y así lo indique.

Antes de imprimir este documento, asegúrese de que es necesario. En nuestra mano está cuidar del medio ambiente.