{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}
    <style>
        .title_page {
            text-align: center;
            color: #008CBA;
        }

        .ckeditor {
            border: lightgrey 1px solid;
            min-height: 100px;
        }
    </style>
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" id="action" name="action" value="">
        <input type="hidden" id="id_grupo" name="id_grupo" value="">
        <input type="hidden" id="id_ps" name="id_ps" value="">
        <input type="hidden" id="curso" name="curso" value="">
        <input type="hidden" id="resultados_busqueda" name="resultados_busqueda" value="false">
        <div>
            <h4 class="title_page"><strong>Evaluación/Calificación Competencias Clave</strong></h4>
        </div>

        <div class="row">
            <div class="columns large-12">
                <label><b>Selecciona grupo de alumnos:</b>
                    <select id="select_grupo">
                        <option value="">----</option>
                        {% for grupo in grupos %}
                            <option value="{{ grupo.id }}">{{ grupo.nombre }}</option>
                        {% endfor %}
                    </select></label>
            </div>
        </div>
        <br>
        <div id="contenido_competencias_clave"></div>
        <div id="div_califcacc_alumno"></div>
        <textarea style="display: none;" id="textarea_tabla_generar_informe"
                  name="textarea_tabla_generar_informe"></textarea>
    </form>
{% endblock %}

{% block final %}
    <script>
        $('#select_grupo').select2();
        {#habilita(['s_plus', 's_info-circle']);#}
        {#$('#plus_sign').click(function (event) {#}
        {#    event.preventDefault();#}
        {#    $('#div_carga_instrumentos').toggle();#}
        {# });#}
        {#$('#info-circle_sign').click(function (event) {#}
        {#    event.preventDefault();#}
        {#    $('#div_ayuda_repositorio').toggle();#}
        {# });#}

        $('body').on('change', '#select_grupo', function () {
            var grupo = $(this).val();
            $('#id_grupo').val(grupo);
            $.post("/calificacc/", {
                    action: 'select_grupo',
                    grupo: grupo
                },
                function (data) {
                    if (data.ok) {
                        $('#id_ps').val(data.ps);
                        $('#curso').val(data.curso);
                        $('#contenido_competencias_clave').html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                        habilita(['s_file-o',]);
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('#file-o_sign').click(function (e) {
            e.preventDefault();
            var grupo = $('#id_grupo').val();
            {#location.href('/calificacc_all/' + grupo + '/')#}
            window.open('/calificacc_all/' + grupo + '/', '_blank');
        });

        $('#Contenido').on('click', '.carga_alumnocc', function (e) {
            e.preventDefault();
            var alumno = $(this).data('alumno');
            $.post('/calificacc/', {'action': 'carga_alumnocc', alumno: alumno, 'ps': $('#id_ps').val()},
                function (data) {
                    if (data.ok) {
                        {# Borrar todas las calificaciones que pudieran estar ya mostradas en cada DO #}
                        $('.span_cal_do').html('');
                        {# Instrucciones para rellenar tabla que genera el informe de CC: #}
                        $('.nombre_alumno_informe_cc').html(data.nombre_alumno);
                        $('#boton_informe_cc_pdf').show();
                        $('.nombre_grupo_informe_cc').html(data.grupo);
                        $('.nombre_curso_informe_cc').html(data.cursos.toString());
                        {# Fin de las instrucciones #}
                        {# Mostrar alerta en caso de cuadernos múltiples para la misma asignatura #}
                        if (data.msg_ams_multiples) {
                            $('#info_cuadernos_multiples_lis').html(data.msg_ams_multiples);
                            $('#info_cuadernos_multiples').show();
                        } else {
                            $('#info_cuadernos_multiples').hide();
                        }
                        {# Fin mostrar alerta #}
                        var el = $('#nombre_alumno');
                        el.html(data.nombre_alumno);
                        $('#info_cuadernos_alumno').html(data.html);
                        var left_fixed = el.width();
                        $('.fixed_column2').css('right', left_fixed);
                        $.each(data.cal_dos, function (id, value) {
                            $('#' + id).html(value);
                        });
                        {# Instrucciones para rellenar tabla que genera el informe de CC: #}
                        $.each(data.cal_ces, function (id, value) {
                            if (value === 0) {
                                $('#' + id).html('-');
                            } else {
                                $('#' + id).html(value);
                            }
                        });
                        $('.tbody_am').hide();
                        setTimeout(function () {
                            for (var idx in data.ams) {
                                $('#tbody_am' + data.ams[idx]).show();
                                {#console.log('#tbody_am' + data.ams[idx]);#}
                            }
                        }, 200);
                        {# Fin de las instrucciones #}
                        setTimeout(function () {
                            for (var idx in data.dos_claves) {
                                var clave = data.dos_claves[idx];
                                var cal_do = 0;
                                var num_cal_do = 0;
                                $.each($('.' + clave), function (id, element) {
                                    var cal = parseFloat($(element).html());
                                    if (cal > 0) {
                                        num_cal_do += 1;
                                        cal_do += cal;
                                    }
                                    if (num_cal_do === 0) {
                                        $('#' + clave).html('-');
                                    } else {
                                        $('#' + clave).html((cal_do / num_cal_do).toFixed(2));
                                    }
                                    {# Instrucciones para rellenar tabla que genera el informe de CC: #}
                                    if (num_cal_do === 0) {
                                        $('#cal_do' + clave).html('-');
                                    } else {
                                        $('#cal_do' + clave).html((cal_do / num_cal_do).toFixed(2));
                                    }
                                    {# Fin de las instrucciones #}
                                });
                            }
                        }, 500);
                        $('#div_califcacc_alumno').html(data.informe);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        show_mensajes({title: '<i class="fa fa-warning"></i> Error', texto: data.msg})
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '#boton_informe_cc_pdf', function (e) {
            e.preventDefault();
            var style = '<style>table, td, th{border:1px}</style>';
            var html = $('#div_califcacc_alumno').html();
            $('#textarea_tabla_generar_informe').val(style + html);
            $('#action').val('genera_pdf');
            document.getElementById('{{ formname }}').submit();
        });

        $('body').on('click', '.actualizar_datos', function (e) {
            e.preventDefault();
            var grupo = $(this).data('grupo');
            $.post("/calificacc/", {
                    action: 'actualizar_datos',
                    grupo: grupo
                },
                function (data) {
                    if (data.ok) {
                        $('#id_ps').val(data.ps);
                        $('#curso').val(data.curso);
                        $('#contenido_competencias_clave').html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });
    </script>
{% endblock %}







