<style>
    .tabla_cc {
        white-space: nowrap;
        table-layout: fixed;
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    .verticalText {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-weight: bold;
    }

    .tex_cal {
        color: green;
        font-weight: bold;
    }

    .fixed_column {
        position: sticky;
        left: 0px;
        z-index: 5 !important;
        background: #F5F5F5;
    }

    .fixed_column2 {
        position: sticky;
        left: 46px;
        z-index: 5 !important;
        background: #F5F5F5;
    }

    {#.tabla_cc tbody td:first-child {#}
    {#    position: sticky;#}
    {#    left: 0px;#}
    {#    z-index: 2;#}
    {# }#}
</style>
<div class="row">
    <div class="columns large-12">
        <label><b>Este grupo está siendo evaluado a través de los siguientes cuadernos:</b></label>
        <table style="width: 100%">
            <thead>
            <tr>
                <th>Propietario del cuaderno</th>
                <th>Materia</th>
                <th>Curso</th>
                <th>Basado en la programación</th>
            </tr>
            </thead>
            <tbody>
            {% for c in cuadernos %}
                <tr>
                    <td>{{ c.ge.gauser.get_full_name }}</td>
                    <td>{{ c.psec.areamateria.nombre }}</td>
                    <td>{{ c.psec.areamateria.get_curso_display }}</td>
                    <td>{{ c.psec.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label><b>Haz click sobre el alumno que quieras evaluar</b></label>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        {% for alumno in alumnos %}
            <a class="button tiny round carga_alumnocc" href="" data-alumno="{{ alumno.id }}">
                {#                <b>{{ alumno.ge.gauser.last_name }}, {{ alumno.ge.gauser.first_name }}</b>#}
                <b>{{ alumno.gauser.last_name }}, {{ alumno.gauser.first_name }}</b>
            </a>
        {% endfor %}
    </div>
</div>
<div id="info_cuadernos_alumno"></div>
<table class="tabla_cc">
    <thead>
    <tr>
        <th colspan="2" rowspan="2" class="fixed_column" style="text-align: center;">
            <span id="nombre_alumno">Nombre del alumno</span>
            <a id="boton_informe_cc_pdf" style="display: none;"><br>
                <i class="fa fa-file-pdf-o"></i> Informe
            </a>
        </th>
        {% for cc in ps.competenciaclave_set.all %}
            <th colspan="{{ cc.descriptoroperativo_set.all|length }}">
                <span class="nombre_competencia_clave">{{ cc.competencia }}</span>
                <span class="tex_cal" id="{{ cc.siglas }}"></span>
            </th>
        {% endfor %}
    </tr>
    <tr>
        {% for cc in ps.competenciaclave_set.all %}
            {% for do in cc.descriptoroperativo_set.all %}
                <th>
                    {{ do.clave }} <span id="{{ do.clave }}" class="{{ cc.siglas }} tex_cal"></span>
                </th>
            {% endfor %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for am in ams %}
        {% for ce in am.competenciaespecifica_set.all %}
            <tr>
                {% if forloop.first %}
                    <td rowspan="{{ am.competenciaespecifica_set.all|length }}" class="fixed_column nombre_materia">
                        <span class="verticalText">{{ am.nombre }}</span>
                    </td>
                {% endif %}
                <td title="{{ ce.nombre }}" class="fixed_column2">
                    CE{{ ce.orden }}
                </td>
                {% for cc in ps.competenciaclave_set.all %}
                    {% for do in cc.descriptoroperativo_set.all %}
                        <td>
                            {% if do in ce.dos.all %}
                                <i class="fa fa-check" style="color: green;"></i>
                                <span class="do{{ do.id }} {{ do.clave }}"
                                      id="do-{{ am.id }}-{{ ce.id }}-{{ do.id }}"></span>
                            {% else %}
                                {#                                <i class="fa fa-times" style="color: red;"></i> -#}
                                -
                            {% endif %}
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<div id="tabla_generar_informe">
<table style="width: 100%;">
    <thead>
    <tr>
        <th colspan="2" style="text-align: center;">Informe de aquisición de competencias clave</th>
    </tr>
    <tr>
        <th>Alumno: <span id="nombre_alumno_informe_cc"></span></th>
        <th>Grupo: <span id="nombre_grupo_informe_cc"></span></th>
    </tr>
    <tr>
        <th>Competencia Clave</th>
        <th style="text-align: center;">Calificación</th>
    </tr>
    </thead>
    <tbody>
    {% for cc in ps.competenciaclave_set.all %}
        <tr>
            <td>
                {{ cc.competencia }}
            </td>
            <td id="cal_{{ cc.siglas }}" style="font-weight: bold;text-align: center;"></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>La notación sobre el grado de adquisición de las competencias clave se ha realizado utilizando la nomenclatura A, B,
    C, D con el siguiente significado:</p>
<p>
    A: Ha alcanzado en grado alto, de forma destacada, la adquisición de la competencia.
</p>
<p>
    B: Ha alcanzado un nivel suficiente, en grado medio,de adquisición de la competencia.
</p>
<p>
    C: Ha logrado, en grado bajo, o está en proceso de alcanzar la competencia correspondiente.
</p>
<p>
    D: No ha alcanzado el grado esperado de la competencia.
</p>
</div>