{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" id="action" name="action" value=""/>
        <div id="tabla_generar_informe"></div>
        <div id="tabla_generar_informe_resumido" style="display: none;"></div>
        <textarea style="display: none;" id="textarea_tabla_generar_informe"
                  name="textarea_tabla_generar_informe"></textarea>
    </form>
{% endblock %}

{% block final %}
    <script type="text/javascript">
        setTimeout(function () {
            habilita(['s_file-pdf-o', 's_file-o']);
        }, 2000);

        function carga_alumnocc(alumno) {
            $.post('/calificacc_all/{{ grupo_id }}/', {'action': 'carga_alumnocc', alumno_id: alumno},
                function (data) {
                    if (data.ok) {
                        $('#tabla_generar_informe').append(data.informe);

                        // Quitamos la parte extendida del informe
                        $('#tabla_generar_informe_resumido').append(data.informe);
                        $('#tabla_generar_informe_resumido').find(".informe_extendido").remove();
                        
                    } else {
                        show_mensajes({title: '<i class="fa fa-warning"></i> Error', texto: data.msg});
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                }
            )
        }

        var alumnos_id = JSON.parse('{{ alumnos_id | escapejs }}');
        setTimeout(function () {
            alumnos_id.forEach(function (alumno_id) {
                carga_alumnocc(alumno_id);
            });
        }, 200);

        $('#file-pdf-o_sign').click(function (e) {
            e.preventDefault();
            var style = '<style>table, td, th{border:1px}</style>';
            var html = $('#tabla_generar_informe').html();
            $('#textarea_tabla_generar_informe').val(style + html);
            $('#action').val('genera_pdf');
            document.getElementById('{{ formname }}').submit();
        });

        //Informes resumidos
        $('#file-o_sign').click(function (e) {
            e.preventDefault();
            var style = '<style>table, td, th{border:1px}</style>';
            var html = $('#tabla_generar_informe_resumido').html();
            $('#textarea_tabla_generar_informe').val(style + html);
            $('#action').val('genera_pdf');
            document.getElementById('{{ formname }}').submit();
        });

    </script>
{% endblock %}