{% load programaciones_extras %}
<div class="row">
    <div class="columns large-12">
        <h4 style="text-align: center;">{{ ecp.ieval.nombre }}</h4>
    </div>
</div>
<div class="row">
    <div class="columns large-6">
        <label>Nombre:
            <input type="text" id="nombre_ecp" value="{{ ecp.nombre }}" data-campo="nombre"
                   data-clase="EscalaCP" data-id="{{ ecp.id }}" class="update_texto"></label>
    </div>
    <div class="columns large-6">
        <label>Tipo:
            <select id="tipo_ecp" data-campo="tipo"
                    data-clase="EscalaCP" data-id="{{ ecp.id }}" class="update_select">
                <option value="">-----------</option>
                <option value="ESVCL" {% if ecp.tipo == 'ESVCL' %}selected{% endif %}>
                    Escala de valoración cualitativa/Lista de control
                </option>
                <option value="ESVCN" {% if ecp.tipo == 'ESVCN' %}selected{% endif %}>
                    Valoración numérica
                </option>
                {#                <option value="LCONT" {% if ecp.tipo == 'LCONT' %}selected{% endif %}>#}
                {#                    Lista de control#}
                {#                </option>#}
            </select>
        </label>
    </div>
</div>
{% if ecp.tipo == 'ESVCL' %}
    <div class="row">
        <div class="columns large-12">
            <p style="color: grey;">Con este tipo de valoración debes crear una rúbrica o una lista de elementos a
                calificar. Cada columna de la rúbrica o elemento de la lista debe estar relacionado con una cantidad
                numérica.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12" id="tabla_ecp">
            <table style="width: 100%;">
                {% for y in ecp.get_ecpvys %}
                    {% if y == 0 %}
                        <thead>
                        <tr>
                            {% for ecpv in ecp|get_ecpv_xs:y %}
                                <th>
                                <span title="Descripción cualitativa de la valoración" contenteditable="true"
                                      class="update_texto" data-campo="texto_cualitativo" data-clase="EscalaCPvalor"
                                      data-id="{{ ecpv.id }}">{{ ecpv.texto_cualitativo }}</span>
                                    {% if forloop.last %}
                                        <br>
                                        <a data-ecp="{{ ecp.id }}" data-i="{{ ecpv.x }}" data-borrar='x'
                                           class="del_rc_ecp"><i class="fa fa-trash"></i>
                                            Borrar</a>
                                    {% endif %}
                                </th>
                            {% endfor %}
                            <td><a class="button tiny add_column_ecp" data-ecp="{{ ecp.id }}">
                                <i class="fa fa-plus"></i> </a></td>
                        </tr>
                        </thead>
                    {% else %}
                        <tr>
                            {% for ecpv in ecp|get_ecpv_xs:y %}
                                {% if ecpv.x == 0 %}
                                    <th>
                                        <span class="update_texto" data-campo="texto_cualitativo"
                                              data-clase="EscalaCPvalor" data-id="{{ ecpv.id }}"
                                              contenteditable="true">{{ ecpv.texto_cualitativo }}</span>
                                        {% if forloop.parentloop.last %}
                                            <br>
                                            <a data-ecp="{{ ecp.id }}" data-i="{{ y }}" data-borrar='y'
                                               class="del_rc_ecp"><i class="fa fa-trash"></i>
                                                Borrar</a>
                                        {% endif %}
                                    </th>
                                {% else %}
                                    <td>
                                        <span title="Descripción cualitativa de la valoración" contenteditable="true"
                                              class="update_texto" data-campo="texto_cualitativo"
                                              data-clase="EscalaCPvalor"
                                              data-id="{{ ecpv.id }}">{{ ecpv.texto_cualitativo }}</span>
                                        <br>
                                        <span title="Valor númerico asociado a esta descripción" contenteditable="true"
                                              class="update_texto" data-campo="valor"
                                              data-clase="EscalaCPvalor" data-id="{{ ecpv.id }}">{{ ecpv.valor }}</span>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>
                        <a class="tiny button add_row_ecp" data-ecp="{{ ecp.id }}"><i class="fa fa-plus"></i> </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% elif ecp.tipo == 'ESVCN' %}
    <div class="row">
        <div class="columns large-12">
            <p style="color: grey;">Con este tipo de valoración solo deberás introducir una cantidad numérica para
                calificar.</p>
        </div>
    </div>
{% endif %}