{% load programaciones_extras %}
<style>
    p {
        text-align: justify;
    }

    {#.span_periodos {#}
    {#    color: darkred;#}
    {# }#}

    h5 {
        font-weight: bold;
    }

    .materia-curso {
        color: #f08a24;
        border-radius: 3px;
        font-size: 1em;
        font-weight: bold;
        display: inline-block;
    }

    /* First column and header table fixed */
    .tabla_cuaderno {
        white-space: nowrap;
        table-layout: fixed;
        width: 100%;
        overflow-x: auto;
        display: block;
        height: 550px;
    }

    .fullscreen {
        height: 750px;
    }

    .tabla_cuaderno thead {
        position: sticky; 
        top:1px;
        z-index: 20;
    }

    .tabla_cuaderno tr td:first-child, .fixed_column{
        position: sticky;
        left: 0;
        z-index: 5 !important;
        background: #F5F5F5;
        border-right: 1px solid #DDDDDD;
    }


    .tabla_cuaderno tr.tr_color_actividades th:nth-child(odd) {
        background-color: #b4e9fb;
    }
    .tabla_cuaderno tr.tr_color_actividades th:nth-child(even) {
        background-color: #7edfff;
    }

    /* First column and header table fixed */

     
    .tabla_cuaderno th, .tabla_cuaderno td {
        text-align: center !important;
        width: 120px;
    }

    .tabla_cuaderno th {
        font-size: 0.8em;
        padding: 6px 6px;
    }

    .tabla_cuaderno td.alumno {
        text-align: left !important;
        font-size: 0.9em !important;
    }


    .tabla_cuaderno td.alumno span.firstname {
        color: gray;
    }

    a.define_ecp{
        display: block;
        transition: background 0.3s ease;
        border-radius: 5px;
    }
    a.define_ecp:hover {
        background-color: #fac289;
    }

    /*  Nueva forma de emeter notas 
        Estilos de : 'cuadernodocente_accordion_content_calalum_2.html'
    */
    .edit_calalumn {
        padding: 0;
        margin: 0;
    }

    .edit_calalumn.editing  > .edit_calalumn_data {
        background-color: #fac289;
        border: 2px solid #f08a24;
        
    }

    .edit_calalumn_data{
        height: 40px;
        padding: 10px;
        position: relative;
        transition: background-color 0.5s ease;
    }

    .edit_calalumn_data span.icon-obs {
        font-size: 0.8em;
        position: absolute;
        top: 3px; 
        margin-left: 5px;
        color: #008CBA;
    }

    .edit_calalumn_data span.hidden {
        display: none;
    }

    .edit_calalumn_data:hover {
        cursor: pointer;
        background-color: #fac289;
        
    }

    .edit_calalumn_data.highlight {
        background-color: white;
        animation-name: data_updated;
        animation-duration: 2s;
    }


    
    @keyframes data_updated {
      from { background-color: #fac289; }
      to { background-color:rgba(242, 245, 169, 0); }
    }

    .tabla_cuaderno tr > .alumno.selected {
        background-color: #fac289;
    }

    .tabla_cuaderno tr > th.selected {
        background-color: #fac289;
        background-color: 
    }

   

    /* Mostrar/ocultar unidades*/
    .ver_ocultar_group {
        padding: 10px;
        padding-bottom: 5px;
        background-color: #EFEFEF;
        border: 1px solid #DDDDDD;
        border-bottom: none;
        margin-top: 20px;
    }

    .ver_ocultar_item span {
        margin-bottom: 6px;
        margin-right: 6px;
        display: inline-block;
        padding: 5px 7px;
        border-radius: 3px;
        background-color: #008CBA !important;
        color: white !important;
    }

    .ver_ocultar_criterios {
        float: right;
    }

    .ver_ocultar_item span:hover {
        background-color: #00485f !important;
    }
    .ver_ocultar_item span.disabled {
        background-color: white !important;
        border: 1px solid #DDDDDD !important;
        color: #222222 !important;
    }

    .ver_ocultar_item span.disabled:hover {
        background-color: #008CBA !important;
        color: white !important;
    }

</style>


<div id="cuaderno-seccion" class="cuaderno">
{% include 'cuadernodocente_content_modal.html' %}

<div class="row" style="max-width: 100%;">
    <div class="columns large-6" style="padding: 0;">
        <span class="materia-curso">
            {{ cuaderno.psec.areamateria.nombre }} ({{ cuaderno.psec.areamateria.get_curso_display }})
        </span>
    </div>
    <div class="columns large-6">
        <ul class="button-group right">
            <li style="margin-right: 20px;">
                <a class="button tiny cuaderno_full_screen" data-id="{{ cuaderno.id }}" title="Mostrar en pantalla completa">
                    <span><i class="fa fa-external-link"></i> Pantalla completa</span>
                    <span style="display: none;"><i class="fa fa-compress" aria-hidden="true"></i></i> Ajustar pantalla</span>
             </a>
            </li>

            {% if cuaderno.tipo == 'PRO' %}
                <li style="margin-right: 20px;">
                    {% if cuaderno.vista == "NOR" %}
                        <a class="button tiny cuaderno_competencias" data-cuaderno="{{ cuaderno.id }}" data-vista="COM" title="Ir a la vista de calificaciones por competencias específicas">
                            <i class="fa fa-exchange"></i> Competencias
                        </a>
                    {% else %}
                        <a class="button tiny cuaderno_competencias" data-cuaderno="{{ cuaderno.id }}" data-vista="NOR" title="Ir a la vista de calificaciones por competencias específicas">
                            <i class="fa fa-exchange"></i> Notas
                        </a>
                    {% endif %}
                </li>
            {% endif %}


            <li>
                <a title="Asignar el cuaderno a otro docente" class="button asignar_cuadernoprof tiny"><i class="fa fa-user"></i><i class="fa fa-arrow-right"></i><i class="fa fa-user"></i> Asignar
                </a>
            </li>
            
            <li>
                <a title="Borrar este cuaderno docente de la base de datos" class="button alert borrar_cuadernoprof tiny" accion="{% if cuaderno.borrado %}recuperar{% else %}borrar{% endif %}">
                <i class="fa fa-trash-o"></i> 
                    {% if cuaderno.borrado %} Recuperar {% else %} Borrar {% endif %}
                </a>
            </li>
            {#                <li><a title="Hacer una copia (un duplicado) de este cuaderno docente"#}
            {#                       class="button copiar_cuadernoprof tiny"><i class="fa fa-copy"></i> Copiar</a></li>#}
            {#                <li><a class="button pdf_ie tiny" data-id="{{ ie.id }}"#}
            {#                       title="Crear un PDF de este informe"><i class="fa fa-file-pdf-o"></i> PDF</a>#}
            {#                </li>#}
        </ul>
    </div>
</div>

<div class="row" id="select_asignar_docente_cuaderno{{ cuaderno.id }}" style="display: none;">
    <div class="columns large-12">
        <label><b>Seleccionar la persona que tiene asignado el cuaderno: </b>
            <select class="select_asignar_cuaderno" data-cuaderno="{{ cuaderno.id }}">
                <option value="">------</option>
                {% for d in docentes %}
                    <option value="{{ d.id }}"
                            {% if cuaderno.ge == d %}selected{% endif %}>{{ forloop.counter }}.- {{ d.gauser.last_name }},
                        {{ d.gauser.first_name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</div>

{% if not cuaderno.grupo and cuaderno.alumnos.all|length == 0 %}
    <div class="row">
        <div class="columns large-12">
            <p>El cuaderno docente debe relacionarse con una programación didáctica y con un grupo de alumnos.</p>
            <p>Por favor, comience haciendo esa relación.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns large-4">
            <label>Selecciona la programación:
                <select data-cuaderno="{{ cuaderno.id }}" class="select_psec"
                        id="select_psec{{ cuaderno.id }}">
                    <option value="">---------</option>
                    {% for psec in cuaderno|get_posibles_psec %}
                        <option value="{{ psec.id }}">{{ psec.nombre }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="columns large-3">
            <label>Selecciona el grupo de alumnos:
                <select data-cuaderno="{{ cuaderno.id }}" class="select_grupo" disabled
                        id="select_grupo{{ cuaderno.id }}">
                    <option value="">---------</option>
                </select>
            </label>
        </div>
        <div class="columns large-4">
            <label>Tipo de cuaderno:
                <select data-cuaderno="{{ cuaderno.id }}" class="select_tipo_cuaderno"
                        id="select_tipo_cuaderno{{ cuaderno.id }}">
                    {% for tipo in cuaderno.TIPOS %}
                        <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="columns large-1">
            <label>&nbsp;</label>
            <a class="configura_cuaderno" data-cuaderno="{{ cuaderno.id }}">
                <span class="label" style="font-weight: bold;">
                <i class="fa fa-pencil"></i>
                Configurar</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12 panel callout">

            <h5><i class="fa fa-info-circle fa-3x"></i> Para elegir el tipo de cuaderno tenga en cuenta las siguientes
                observaciones:</h5>
            <p>
            <ul>
                <li style="font-weight: bold;">Nivel de detalle: Competencias específicas</li>
                En este caso, el docente proporciona calificaciones directamente a las competencias específicas. Es de
                suponer que utilizará otras herramientas para evaluar a través de los criterios de evaluación.
                Solo hay que introducir por alumno un número de calificaciones igual al número de competencias
                específicas asociadas a una asignatura.
                <li style="font-weight: bold;">Nivel de detalle: Criterios de evaluación</li>
                En este caso, el docente proporciona calificaciones únicamente a los criterios de evaluación. Estas
                calificaciones las habrá obtenido tras la aplicación de lo.th_s de evaluación al
                alumnado.
                Solo hay que introducir por alumno un número de calificaciones igual al número de criterios de
                evaluación asociados a una asignatura.
                <li style="font-weight: bold;">Nivel de detalle: Procedimientos de evaluación</li>
                El cuaderno docente tiene tantos campos
                para introducir calificaciones como criterios de evaluación se han definido en cada uno de los
        .th_s de evaluación.
            </ul>
            </p>
        </div>
    </div>
{% else %}
    {% if cuaderno.tipo == 'CES' %}
        <div class="div_table{{ cuaderno.id }}">
            <table id="tabla{{ cuaderno.id }}" class="tabla_cuaderno">
                <thead>
                <tr>
                    <th class="fixed_column" id="fixed_column{{ cuaderno.id }}">
                        Nombre alumno/a<br><br>
                        <a class="cuaderno_full_screen" data-id="{{ cuaderno.id }}"
                           title="Mostrar en pantalla completa"
                           style="position:absolute;top:5px;left:5px">
                            <i class="fa fa-external-link"></i>
                        </a>
                        <a class="gestionar_alumnos" data-cuaderno="{{ cuaderno.id }}">
                            <i class="fa fa-users"></i> Gestionar alumnos
                        </a>
                    </th>
                    {% for cep in cuaderno.psec.ceprogsec_set.all %}
                        {% ifchanged cep.ce.asignatura %}
                            <th>Calificación<br>{{ cep.ce.asignatura }}</th>
                        {% endifchanged %}
                        <th id="cep_title{{ cep.id }}"
                            title="{{ cep.ce.orden }}.- {{ cep.ce.nombre }} &#013;&#013;{{ cep.ce.texto }}">CE{{ cep.ce.orden }}<br>
                            {{ cep.ce.nombre|truncatechars:20 }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody id="tbody_cuaderno{{ cuaderno.id }}">
                {% for alumno in cuaderno.alumnos.all %}
                    <tr id="tr_alumno{{ alumno.id }}" data-alumno="{{ alumno.id }}">
                        <td class="fixed_column alumno" title="{{ alumno.gauser_extra_estudios.grupo.nombre }}">
                            <b>{{ alumno.gauser.last_name }}, <span class="firstname">{{ alumno.gauser.first_name }}</span></b>
                        </td>
                        {% for cep in cuaderno.psec.ceprogsec_set.all %}
                            {% ifchanged cep.ce.asignatura %}
                                {#                                <td id="cal_am_{{ cep.ce.asignatura|slugify }}_{{ alumno.id }}">{{ cuaderno|calificacion_alumno:alumno }}</td>#}
                                <td id="cal_am_{{ cep.ce.asignatura|slugify }}_{{ alumno.id }}">
                                    {{ cuaderno|get_asignatura:cep.ce.asignatura|calificacion_alumno_asignatura:alumno }}</td>
                            {% endifchanged %}
                            {% with calalumce=cuaderno|get_cep:cep|get_calalumce:alumno %}
                                {#                            <td class="update_calalumce" data-calalumce="{{ calalumce.id }}"#}
                                {#                                data-cep="{{ cep.id }}" data-cuaderno="{{ cuaderno.id }}"#}
                                {#                                data-alumno="{{ alumno.id }}" title="{{ calalumce.obs }}"#}
                                {#                                id="valor_calalumce{{ calalumce.id }}_{{ alumno.id }}" contenteditable="true">#}
                                {#                                {{ calalumce.valor }}#}
                                {#                            </td>#}
                                <td><input class="update_calalumce" data-calalumce="{{ calalumce.id }}" type="text"
                                           data-cep="{{ cep.id }}" data-cuaderno="{{ cuaderno.id }}" 
                                           data-alumno="{{ alumno.id }}" title="{{ calalumce.obs }}" step="0.01"
                                           id="valor_calalumce{{ calalumce.id }}_{{ alumno.id }}"
                                           value="{{ calalumce.valor|float2stringpoint }}">
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                {#            <tr id="tr_calificar_alumno{{ cuaderno.id }}">#}
                {#                <td colspan="70" style="text-align: left!important;"#}
                {#                    id="td_calificar_alumno{{ cuaderno.id }}"></td>#}
                {#            </tr>#}
                </tbody>
            </table>
        </div>
    {% elif cuaderno.tipo == 'CRI' %}
        <p><b>Es posible introducir calificaciones que el sistema irá almacenando, pero todavía no va a actualizar
            las calificaciones de la asignatura y de las competencias específicas.</b></p>
        <p><b>En breve se terminará el desarrollo para que se produzca dicha actualización.</b></p>
        <div class="div_table{{ cuaderno.id }}">
            <table id="tabla{{ cuaderno.id }}" class="tabla_cuaderno">
                <thead>
                <tr>
                    <th class="fixed_column" rowspan="2" id="fixed_column{{ cuaderno.id }}">
                        Nombre alumno/a<br><br>
                        <a class="cuaderno_full_screen" data-id="{{ cuaderno.id }}"
                           title="Mostrar en pantalla completa"
                           style="position:absolute;top:5px;left:5px">
                            <i class="fa fa-external-link"></i>
                        </a>
                        <a class="gestionar_alumnos" data-cuaderno="{{ cuaderno.id }}">
                            <i class="fa fa-users"></i> Gestionar alumnos
                        </a>
                    </th>
                    <th rowspan="2">Calificación</th>
                    {% for cep in cuaderno.psec.ceprogsec_set.all %}
                        <th id="cep_title{{ cep.id }}" colspan="{{ cep.cevprogsec_set.all|length|add:"1" }}"
                            title="CE{{ cep.ce.orden }}.- {{ cep.ce.texto }}">CE{{ cep.ce.orden }}.-
                            {{ cep.ce.texto|truncatechars:60 }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for cep in cuaderno.psec.ceprogsec_set.all %}
                        {% ifchanged %}
                            <th>Cal. CE{{ cep.ce.orden }}</th>
                        {% endifchanged %}
                        {% for cevp in cep.cevprogsec_set.all %}
                            <th id="cevp_title{{ cevp.id }}"
                                title="{{ cevp.cev.orden }}.- {{ cevp.cev.texto }}">CEv{{ cevp.cev.orden }}.-
                                {{ cevp.cev.texto|truncatechars:20 }}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody id="tbody_cuaderno{{ cuaderno.id }}">
                {% for alumno in cuaderno.alumnos.all %}
                    <tr id="tr_alumno{{ alumno.id }}" data-alumno="{{ alumno.id }}">
                        <td class="fixed_column alumno" title="{{ alumno.gauser_extra_estudios.grupo.nombre }}">
                            <b>{{ alumno.gauser.last_name }}, <span class="firstname">{{ alumno.gauser.first_name }}</</b>
                        </td>
                        <td id="cal_am_{{ alumno.id }}">{{ cuaderno|calificacion_alumno:alumno }}</td>
                        {% for cep in cuaderno.psec.ceprogsec_set.all %}
                            {% ifchanged %}
                                <td id="cal_ce_{{ cep.id }}_{{ alumno.id }}">
                                    {{ cuaderno|get_cep:cep|get_calalumce_valor:alumno|floatformat:2 }}</td>
                            {% endifchanged %}
                            {% for cevp in cep.cevprogsec_set.all %}
                                {% with calalumcev=cuaderno|get_cevp:cevp|get_calalumcev:alumno %}
                                    <td><input class="update_calalumcev" data-calalumcev="{{ calalumcev.id }}"
                                               type="text"
                                               data-cevp="{{ cevp.id }}" data-cuaderno="{{ cuaderno.id }}" 
                                               data-alumno="{{ alumno.id }}" title="{{ calalumcev.obs }}" step="0.01"
                                               id="valor_calalumcev{{ calalumcev.id }}_{{ alumno.id }}"
                                               value="{{ calalumcev.valor|float2stringpoint }}">
                                    </td>
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                {#            <tr id="tr_calificar_alumno{{ cuaderno.id }}">#}
                {#                <td colspan="70" style="text-align: left!important;"#}
                {#                    id="td_calificar_alumno{{ cuaderno.id }}"></td>#}
                {#            </tr>#}
                </tbody>
            </table>
        </div>
    {% elif cuaderno.tipo == 'PRO' %}
        {% if cuaderno.vista == 'NOR' %}
            {#{% elif cuaderno %}#}
           
            {% with estructura_cuaderno=cuaderno.estructura_cuaderno %}
                <div class="ver_ocultar_group">
                    <!--a class="ver_ocultar_item ver_ocultar_all" data-toggle="show-all"
                           title="Mostrar/ocultar todos">
                                <span class="label info disabled" style="font-weight: bold;">
                                    <i class="fa fa-eye-slash"></i> TODOS
                                </span>
                    </a-->
                
                {% for sb in estructura_cuaderno %}
                    <a class="ver_ocultar_sb ver_ocultar_item" data-toggle="sb__{{ sb.sb.id }}"
                       title="Mostrar/ocultar {{ sb.sb.nombre }}">
                            <span class="label info disabled" style="font-weight: bold;">
                                <i class="fa fa-eye-slash"></i> {{ sb.sb.nombre }}
                            </span>
                    </a>
                {% endfor %}
                </div>

                <div class="div_table{{ cuaderno.id }}">
                    <table id="tabla_cuaderno" class="tabla_cuaderno" style="display: none;">
                        <thead>
                        <tr>
                            <th class="fixed_column" rowspan="5" id="fixed_column{{ cuaderno.id }}">
                                Nombre alumno/a<br><br>
                                <a class="cuaderno_full_screen" data-id="{{ cuaderno.id }}"
                                   title="Mostrar en pantalla completa"
                                   style="position:absolute;top:5px;left:5px">
                                    <i class="fa fa-external-link"></i>
                                </a>
                                <a class="cuaderno_competencias" data-cuaderno="{{ cuaderno.id }}" data-vista="COM"
                                   title="Ir a la vista de calificaciones por competencias específicas"
                                   style="position:absolute;top:5px;right:5px">
                                    <i class="fa fa-exchange"></i>
                                </a>
                                <a class="gestionar_alumnos" data-cuaderno="{{ cuaderno.id }}">
                                    <i class="fa fa-users"></i> Gestionar alumnos
                                </a>
                            </th>
                            {% for sb in estructura_cuaderno %}
                                <th colspan="{{ sb.sb_columns }}" id="sb{{ forloop.counter }}"
                                    class="sb__{{ sb.sb.id }} th_color_saberes"
                                    title="{{ sb.sb.nombre }}">{{ sb.sb.nombre|truncatechars:160 }}</th>
                            {% endfor %}
                        </tr>
                        <tr class="tr_color_saps">
                            {% for sb in estructura_cuaderno %}
                                {% for sap in sb.saps %}
                                    <th colspan="{{ sap.sap_columns }}" class="sb__{{ sb.sb.id }}"
                                        title="{{ sap.sap.nombre }}">{{ sap.sap.nombre|truncatechars:80 }}</th>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        <tr class="tr_color_actividades">
                            {#                <th class="fixed_column"></th>#}
                            {% for sb in estructura_cuaderno %}
                                {% for sap in sb.saps %}
                                    {% for asap in sap.asaps %}
                                        <th colspan="{{ asap.asap_columns }}" class="sb__{{ sb.sb.id }}"
                                            title="{{ asap.asap.nombre }}">{{ asap.asap.nombre|truncatechars:40 }}</th>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for sb in estructura_cuaderno %}
                                {% for sap in sb.saps %}
                                    {% for asap in sap.asaps %}
                                        {% for ieval in asap.ievals %}
                                            <th data-th-ieval-id="{{ ieval.ieval.id }}" colspan="{{ ieval.ieval_columns }}" class="sb__{{ sb.sb.id }}"
                                                title="{{ ieval.ieval.nombre }}">
                                                
                                                <a data-ieval="{{ ieval.ieval.id }}" class="define_ecp" data-cuaderno="{{ cuaderno.id }}">
                                                    <div>{{ ieval.ieval.nombre|truncatechars:30 }}</div>
                                                    <div><span data-th-ieval-escala-tipo="{{ ieval.ecp_tipo }}" style="font-size: 0.7em; color: #f08a24; ">{{ ieval.ecp_display }}</span></div>
                                                </a>
                                                <div data-th-ieval-escala style="display: none;">
                                                {% if ieval.ecp_tipo == 'ESVCL' or ieval.ecp_tipo == 'LCONT' %}
                                                    {% with ecp=ieval.ecp %}
                                                        {% include 'cuadernodocente_content_rubrica.html' %}
                                                    {% endwith %}
                                                {% endif %}
                                                </div>

                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for sb in estructura_cuaderno %}
                                {% for sap in sb.saps %}
                                    {% for asap in sap.asaps %}
                                        {% for ieval in asap.ievals %}
                                            {% for cieval in ieval.cievals %}
                                                {% if cieval %}
                                                    <th 
                                                    title="{{ cieval.cevps.cev.ce.orden }}.{{ cieval.cevps.cev.orden }}.-{{ cieval.cevps.cev.texto }}"
                                                    data-cieval-id="{{ cieval.id }}"
                                                    data-cieval-numero="{{ cieval.cevps.cev.ce.orden }}.{{ cieval.cevps.cev.orden }}"
                                                    data-cieval-texto="{{ cieval.cevps.cev.texto }}"
                                                    class="sb__{{ sb.sb.id }} cieval__{{ cieval.id }}">
                                                        {{ cieval.cevps.cev.ce.orden }}.{{ cieval.cevps.cev.orden }}.-
                                                        {{ cieval.cevps.cev.texto|truncatechars:10 }}
                                                    </th>
                                                {% else %}
                                                    <th class="sb__{{ sb.sb.id }}">&nbsp;</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody id="tbody_cuaderno{{ cuaderno.id }}">
                        {% for alumno in cuaderno.alumnos.all %}
                            <tr id="tr_alumno{{ alumno.id }}" 
                                    data-alumno="{{ alumno.id }}"
                                    data-alumno-firstname="{{ alumno.gauser.first_name }}"
                                    data-alumno-lastname="{{ alumno.gauser.last_name }}">
                                <td class="fixed_column alumno" title="{{ alumno.gauser_extra_estudios.grupo.nombre }}">
                                    <b>{{ alumno.gauser.last_name }}, <span class="firstname">{{ alumno.gauser.first_name }}</</b>
                                </td>
                                {% for sb in estructura_cuaderno %}
                                    {% for sap in sb.saps %}
                                        {% for asap in sap.asaps %}
                                            {% for ieval in asap.ievals %}
                                                {% with ecp_id=ieval.ecp_id tipo_ecp=ieval.ecp_tipo %}
                                                    {% for cieval in ieval.cievals %}
                                                        

<td id="td_{{ cieval.id }}_{{ alumno.id }}"
    class="sb__{{ sb.sb.id }} edit_calalumn edit_calalumn_ieval__{{ ieval.ieval.id }} cieval__{{ cieval.id }} alumno__{{ alumno.id }}" 
    data-tipo-ecp="{{tipo_ecp}}"
    title="{{ calalum.obs }}">

    <div class="edit_calalumn_data">
        <span class="data-valor">{# calalum.cal #}</span>
        <span class="icon-obs hidden">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </span>
    </div>

    <div edit-calalumn-datas style="display: none;"
        data-cuaderno-id="{{ cuaderno.id }}"
        data-alumno-id="{{ alumno.id }}"
        data-ieval-id="{{ ieval.ieval.id }}"
        data-cieval-id="{{ cieval.id }}"
        data-calalum-id="{# calalum.id #}"
        data-calalum-cal="{# calalum.cal #}"
        data-calalum-obs="{# calalum.obs #}"
        data-ecpv="{% if tipo_ecp == 'ESVCN' %}empty{% endif %}" 

        data-ecpvs-selected="" 
        data-ecp-id="{% if tipo_ecp == 'ESVCL' or tipo_ecp == 'LCONT' %}{{ ecp_id }}{% endif %}">
    </div>
</td>



                                                        {# include 'cuadernodocente_content_calalum.html' #}
                                                        
                                                    {% endfor %}
                                                {% endwith %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        
                        <!--tr id="tr_calificar_alumno{{ cuaderno.id }}">
                            <td colspan="200" style="text-align: left!important;"
                                id="td_calificar_alumno{{ cuaderno.id }}"></td>
                        </tr-->


                        </tbody>
                    </table>
                </div>
            {% endwith %}
        {% else %}
            {% with num_asig=cuaderno.psec.ces_asignaturas_ambito|length caas=cuaderno.psec.ces_asignaturas_ambito %}

                
                <div class="ver_ocultar_group">
                    {% for asignatura in caas %}
                        <a class="ver_ocultar_asignatura ver_ocultar_item" 
                            data-activo="1"
                            trigger-toggle-asignatura="{{ asignatura }}"
                            title="Mostrar/ocultar {{ asignatura }}">
                                <span class="label info" style="font-weight: bold;">
                                    <i class="fa fa-eye"></i> {{ asignatura }}
                                </span>
                        </a>
                    {% endfor %}

                    <a class="ver_ocultar_criterios ver_ocultar_item"
                        data-activo="1"
                        title="Mostrar/ocultar crietios">
                         <span class="label info" style="font-weight: bold;">
                             <i class="fa fa-eye"></i> Criterios
                         </span>
                    </a>
                </div>
                


                <div class="div_table{{ cuaderno.id }}">
                    <table id="tabla{{ cuaderno.id }}" class="tabla_cuaderno">
                        <thead>
                        <tr>
                            <th class="fixed_column" rowspan="5">
                                Nombre alumno/a<br><br>
                                <a class="cuaderno_full_screen" data-id="{{ cuaderno.id }}"
                                   title="Mostrar en pantalla completa"
                                   style="position:absolute;top:5px;left:5px">
                                    <i class="fa fa-external-link"></i>
                                </a>
                                <a class="cuaderno_competencias" data-cuaderno="{{ cuaderno.id }}" data-vista="NOR"
                                   title="Ir a la vista de calificaciones por instrumentos, situaciones de aprendizaje y saberes básicos"
                                   style="position:absolute;top:5px;right:5px">
                                    <i class="fa fa-exchange"></i>
                                </a>
                                <a class="gestionar_alumnos" data-cuaderno="{{ cuaderno.id }}">
                                    <i class="fa fa-users"></i> Gestionar alumnos
                                </a>
                            </th>
                            {% if num_asig > 1 %}
                                <th rowspan="2">Asignatura</th>
                            {% endif %}
                            <th rowspan="2" title="Calificación total obtenida en la materia">Calificación<br>global
                            </th>
                            {% for ce in cuaderno.psec.areamateria.competenciaespecifica_set.all %}
                                <th colspan="{{ ce.criterioevaluacion_set.all|length|add:'1' }}"
                                    title="{{ ce.orden }}.- {{ ce.nombre }}"
                                    toggle-asignatura="{{ ce.asignatura }}"
                                    th-competencias-long
                                    >{{ ce.orden }}.-
                                    {{ ce.nombre|truncatechars:100 }}
                                </th>

                                <th colspan="1" style="display: none;"
                                title="{{ ce.orden }}.- {{ ce.nombre }}"
                                toggle-asignatura="{{ ce.asignatura }}"
                                th-competencias-short
                                >{{ ce.orden }}.-
                                {{ ce.nombre|truncatechars:20 }}
                                </th>
                                
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for cev in cuaderno.psec.areamateria.cevs %}
                                {% ifchanged cev.ce %}
                                    <th title="Calificación global de la CE{{ cev.ce.orden }}"
                                    toggle-asignatura="{{ cev.ce.asignatura }}">
                                    Cal.CE{{ cev.ce.orden }}</th>
                                {% endifchanged %}
                                <th title="{{ cev.ce.orden }}.{{ cev.orden }}.- {{ cev.texto }}"
                                toggle-asignatura="{{ cev.ce.asignatura }}" toggle-criterio>
                                {{ cev.ce.orden }}.{{ cev.orden }}.- {{ cev.texto|truncatechars:20 }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody id="tbody_cuaderno{{ cuaderno.id }}">
                        {% for alumno in cuaderno.alumnos.all %}
                            {% for asignatura, ces in caas.items %}
                                <tr id="tr_alumno{{ alumno.id }}" toggle-asignatura="{{ asignatura }}" data-alumno="{{ alumno.id }}">
                                  
                                        <td class="fixed_column alumno" title="{{ alumno.gauser_extra_estudios.grupo.nombre }}"
                                            rowspan="{{ 1 }}">
                                            
                                            <span>
                                                <b>{{ alumno.gauser.last_name }}, <span class="firstname">{{ alumno.gauser.first_name }}</b>
                                            </span>
                                            
                                        </td>
                                    
                                    {% if num_asig > 1 %}
                                        <td>{{ asignatura }}</td>
                                    {% endif %}
                                    {#  <td><b>{{ cuaderno|get_global_cal:alumno }}</b></td>#}
                                    <td>
                                        <b>
                                            {{ cuaderno|get_global_asignatura:asignatura|get_global_cal_asignatura:alumno }}
                                        </b>
                                    </td>
                                    {% for cev in cuaderno.psec.areamateria.cevs %}
                                        {% ifchanged cev.ce %}
                                            {% if cev.ce in ces %}
                                                <td  toggle-asignatura="{{ cev.ce.asignatura }}">{{ cuaderno|get_ce_cal:cev.ce|get_calalum_ce:alumno }}</td>
                                            {% else %}
                                                <td toggle-asignatura="{{ cev.ce.asignatura }}">--</td>
                                            {% endif %}
                                        {% endifchanged %}
                                        {% if cev.ce in ces %}
                                            <td toggle-criterio toggle-asignatura="{{ cev.ce.asignatura }}">{{ cuaderno|get_cev_cals:cev|get_calalum_cev:alumno }}</td>
                                        {% else %}
                                            <td toggle-criterio toggle-asignatura="{{ cev.ce.asignatura }}">--</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}{% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endwith %}
        {% endif %}
    {% endif %}
{% endif %}

</div>


<div id="gestionar-alumnos-seccion"></div>