{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}
    <style>
        .title_page {
            text-align: center;
            color: #008CBA;
        }

        .ckeditor {
            border: lightgrey 1px solid;
            min-height: 100px;
        }
    </style>
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" id="id_cuaderno" name="id_cuaderno" value="">
        <input type="hidden" id="id_cieval" name="id_cieval" value="">
        <input type="hidden" id="id_alumno" name="id_alumno" value="">
        <div>
            <h4 class="title_page"><strong>Cuadernos de docente asociados a programaciones didácticas</strong></h4>
        </div>

        <div id="contenido_cuadernos">
            <br>
            <dl class="accordion" data-accordion id="list_cuadernos">
                {% for cuaderno in g_e.cuaderno_docente_set.all %}
                    {% include 'cuadernodocente_accordion.html' %}
                {% endfor %}
            </dl>
        </div>
        <div id="define_ecp" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
             role="dialog">
            <input type="hidden" id="id_instreval" value="">
            <div id="content_ecp"></div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    </form>
{% endblock %}

{% block final %}
    <script>

        {% if g_e|has_permiso:"crea_programaciones" %}
            habilita(['s_plus']);
            $('#plus_sign').click(function (event) {
                event.preventDefault();
                $.post('/cuadernodocente/', {'action': 'crea_cuaderno'},
                    function (data) {
                        if (data.ok) {
                            $('#list_cuadernos').append(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            show_mensajes({title: '<i class="fa fa-warning"></i> Error', texto: data.msg})
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                        {#$(document).scrollTop($('#title_page').offset().top - 150);#}
                    });
            });
        {% endif %}

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-cuaderno')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post('/cuadernodocente/', {action: 'open_accordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        {#destroyEditorInstances();#}
                                        {#constructInlineEditorInstances(id);#}
                                        $('#id_cuaderno').val(id);
                                        {# utilizado para generar pdf #}
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                            $('#id_cuaderno').val('');
                        }
                    }
                }
            }
        });

        $('body').on('change', '.select_psec', function () {
            var element = $(this);
            var cuaderno = element.data('cuaderno');
            var psec = element.val();
            $.post('/cuadernodocente/', {
                    action: 'select_psec', psec: psec
                },
                function (data) {
                    if (data.ok) {
                        $('#select_grupo' + cuaderno).prop('disabled', false).html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('#Contenido').on('click', '.configura_cuaderno', function (e) {
            e.preventDefault();
            var element = $(this);
            var cuaderno = element.data('cuaderno');
            var psec = $('#select_psec' + cuaderno).val();
            var grupo = $('#select_grupo' + cuaderno).val();
            $.post('/cuadernodocente/', {
                    action: 'configura_cuaderno', cuaderno: cuaderno, psec: psec, grupo: grupo
                },
                function (data) {
                    if (data.ok) {
                        $('#panel' + cuaderno).html(data.html);
                        $('#nombre' + cuaderno).html(data.nombre);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        {#$('#Contenido').on('mouseenter', '.create_calalumn', function (e) {#}
        {#    e.preventDefault();#}
        {#    var element = $(this);#}
        {#    var cuaderno = element.data('cuaderno');#}
        {#    var cieval = element.data('cieval');#}
        {#    var ge = element.data('ge');#}
        {#    $.post('/cuadernodocente/', {#}
        {#            action: 'create_calalumn', cuaderno: cuaderno, cieval: cieval, ge: ge#}
        {#        },#}
        {#        function (data) {#}
        {#            if (data.ok) {#}
        {#                element.removeClass('create_calalumn').addClass('update_calalum');#}
        {#                element.html(data.cal);#}
        {#                element.prop('contenteditable', 'true');#}
        {#                $("#update_ok").show().delay(1500).fadeOut();#}
        {#            } else {#}
        {#                $('#update_error').show().delay(1500).fadeOut();#}
        {#            }#}
        {#        });#}
        {# });#}

        $('#Contenido').on('click', '.define_ecp', function (e) {
            e.preventDefault();
            var ieval = $(this).data('ieval');
            var cuaderno = $(this).data('cuaderno');
            $.post('/cuadernodocente/', {action: 'define_ecp', cuaderno: cuaderno, ieval: ieval},
                function (data) {
                    if (data.ok) {
                        $('#define_ecp').foundation('reveal', 'open');
                        setTimeout(function () {
                            $('#content_ecp').html(data.html);
                        }, 100);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        function get_texto_from_element(element) {
            if (element.val()) {
                return element.val();
            } else {
                return element.text();
            }
        }

        $('body').on('keyup', '.update_texto', function () {
            var element = $(this);
            var id = element.data('id');
            var campo = element.data('campo');
            var clase = element.data('clase');
            var antiguo_texto = get_texto_from_element(element);
            setTimeout(function () {
                var nuevo_texto = get_texto_from_element(element);
                if (antiguo_texto === nuevo_texto) {
                    if (!nuevo_texto) {
                        element.text('--');
                    }
                    if (campo === 'valor') {
                        nuevo_texto = parseFloat(nuevo_texto.replace(',', '.').replace(/[^\d.]/g, ''));
                        if (!nuevo_texto) {
                            element.text(0);
                        } else {
                            element.text(nuevo_texto);
                        }
                    }
                    $.post('/cuadernodocente/', {
                            action: 'update_texto', id: id, texto: nuevo_texto, campo: campo,
                            clase: clase
                        },
                        function (data) {
                            if (data.ok) {
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $('#update_error').show().delay(1500).fadeOut();
                            }
                        });
                }
            }, 750);
        });

        $('body').on('change', '.update_select', function () {
            var element = $(this);
            var id = element.data('id');
            var campo = element.data('campo');
            var clase = element.data('clase');
            var valor = element.val();
            $.post('/cuadernodocente/', {
                    action: 'update_select', id: id, valor: valor, campo: campo, clase: clase
                },
                function (data) {
                    if (data.ok) {
                        if (clase == 'EscalaCP') {
                            $('#content_ecp').html(data.html);
                        }
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.add_row_ecp', function (e) {
            e.preventDefault();
            var ecp = $(this).data('ecp');
            $.post('/cuadernodocente/', {action: 'add_row_ecp', ecp: ecp},
                function (data) {
                    if (data.ok) {
                        $('#content_ecp').html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });
        $('body').on('click', '.add_column_ecp', function (e) {
            e.preventDefault();
            var ecp = $(this).data('ecp');
            $.post('/cuadernodocente/', {action: 'add_column_ecp', ecp: ecp},
                function (data) {
                    if (data.ok) {
                        $('#content_ecp').html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.del_rc_ecp', function (e) { {# borrar row o column #}
            e.preventDefault();
            var ecp = $(this).data('ecp');
            var i = $(this).data('i');
            var borrar = $(this).data('borrar');
            $.post('/cuadernodocente/', {action: 'del_rc_ecp', ecp: ecp, i: i, borrar: borrar},
                function (data) {
                    if (data.ok) {
                        $('#content_ecp').html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        var update_calalum_open = false;

        function set_update_calalum() {
            var cuaderno = $('#id_cuaderno').val();
            var cieval = $('#id_cieval').val();
            var alumno = $('#id_alumno').val();
            $.post('/cuadernodocente/', {
                    action: 'update_calalum', cuaderno: cuaderno,
                    cieval: cieval, alumno: alumno
                },
                function (data) {
                    if (data.ok) {
                        $('#td_calificar_alumno' + cuaderno).html(data.html);
                        var tr_calificar_alumno = $('#tr_calificar_alumno' + cuaderno);
                        tr_calificar_alumno.insertBefore($('#tr_alumno' + alumno)).show();
                        update_calalumn_open = true;
                        $('#id_alumno').val(alumno);
                        $('#update_ok').show().delay(1500).fadeOut();
                        setTimeout(function () {
                            window.scrollTo(0, tr_calificar_alumno.offset().top - 50);
                        }, 200);
                        var sx = $('#tabla' + cuaderno)[0].scrollLeft;
                        $('#div_calalum' + cuaderno).css('margin-left', sx + 10 + 'px');
                        $('#valor_calalum' + data.calalum + '_' + data.alumno).html(data.cal);
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        }

        $('body').on('click', '.update_calalum', function (e) {
            e.preventDefault();
            var element = $(this);
            $('#id_cieval').val(element.data('cieval'));
            $('#id_alumno').val(element.data('alumno'));
            set_update_calalum();
        });

        $('body').on('click', '.close_calalum', function (e) {
            e.preventDefault();
            var cuaderno = $('#id_cuaderno').val();
            $('#td_calificar_alumno' + cuaderno).html('');
            $('#tbody_cuaderno' + cuaderno).append($('#tr_calificar_alumno' + cuaderno));
            update_calalum_open = false;
        });

        $('body').on('click', '.next_calalum', function (e) {
            e.preventDefault();
            var element = $('#id_alumno');
            var alumno = element.val();
            var next_alumno = $('#tr_alumno' + alumno).next().data('alumno');
            if (next_alumno) {
                element.val(next_alumno);
                set_update_calalum();
            }
        });

        $('body').on('click', '.previous_calalum', function (e) {
            e.preventDefault();
            var element = $('#id_alumno');
            var alumno = element.val();
            {# Es necesario hacer dos prev() porque la fila anterior es el formulario calalum #}
            var prev_alumno = $('#tr_alumno' + alumno).prev().prev().data('alumno');
            if (prev_alumno) {
                element.val(prev_alumno);
                set_update_calalum();
            }
        });

        $(window).keydown(function (e) {
            var element = $('#id_alumno');
            var alumno = element.val();
            if (e.keyCode == 38 && update_calalumn_open) {
                e.preventDefault();
                var prox_alumno = $('#tr_alumno' + alumno).prev().prev().data('alumno');
            }
            if (e.keyCode == 40 && update_calalumn_open) {
                var prox_alumno = $('#tr_alumno' + alumno).next().data('alumno');
            }
            if (prox_alumno) {
                element.val(prox_alumno);
                set_update_calalum();
            }
        });

        $('body').on('click', '.update_esvcl', function (e) {
            e.preventDefault();
            var element = $(this);
            var calalum = element.data('calalum');
            var ecpv = element.data('ecpv');
            $.post('/cuadernodocente/', {action: 'update_esvcl', ecpv: ecpv, calalum: calalum},
                function (data) {
                    if (data.ok) {
                        $('#valor_calalum' + calalum + '_' + data.alumno).html(data.cal);
                        if (data.selected) {
                            element.addClass('ecpv_selected');
                        } else {
                            element.removeClass('ecpv_selected');
                        }
                        $('#update_ok').show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.update_lcont', function (e) {
            {#e.preventDefault();#}
            var element = $(this);
            var calalum = element.data('calalum');
            var ecpv = element.data('ecpv');
            $.post('/cuadernodocente/', {action: 'update_lcont', ecpv: ecpv, calalum: calalum},
                function (data) {
                    if (data.ok) {
                        $('#valor_calalum' + calalum + '_' + data.alumno).html(data.cal);
                        $('#update_ok').show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.update_esvcn', function (e) {
            var element = $(this);
            var calalum = element.data('calalum');
            var ecpv = element.data('ecpv');
            var valor = '';
            if (ecpv === 'empty') {
                valor = $('#cal_esvcn_text' + calalum).val();
            } else {
                valor = element.data('valor');
            }
            valor = parseFloat(valor.replace(',', '.').replace(/[^\d.]/g, ''));
            if (!valor) {
                valor = 0;
            }
            $('#cal_esvcn_text' + calalum).val(valor);

            $.post('/cuadernodocente/', {action: 'update_esvcn', valor: valor, calalum: calalum},
                function (data) {
                    if (data.ok) {
                        $('#valor_calalum' + calalum + '_' + data.alumno).html(data.cal);
                        $('#update_ok').show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        {# ########################################################### #}
        {# ################# GESTIÓN DE LOS ALUMNOS ################## #}
        {# ########################################################### #}
        $('body').on('click', '.gestionar_alumnos', function (e) {
            e.preventDefault();
            var element = $(this);
            var cuaderno = element.data('cuaderno');
            $.post('/cuadernodocente/', {action: 'gestionar_alumnos', cuaderno: cuaderno},
                function (data) {
                    if (data.ok) {
                        $('#panel' + cuaderno).html(data.html);
                        setTimeout(function () {
                            $(".alumnos_cuaderno").select2(
                                conf_select2({
                                    'gcs': 'g',
                                    'format_g': '{0}, {1}',
                                    'placeholder': 'Escribe parte del nombre del alumno para buscarlo'
                                })
                            );
                        }, 200);
                        $('#update_ok').show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change.select2', '.alumnos_cuaderno', function (e) {
            var cuaderno = $(this).data('id');
            var alumno = $(this).val();
            $.post("/cuadernodocente/", {
                    action: 'update_alumnos_cuaderno',
                    cuaderno: cuaderno,
                    alumno: alumno
                },
                function (data) {
                    if (data.ok) {
                        $("#div_alumnos_cuaderno" + data.cuaderno).append(data.html_span);
                        $("#num_alumnos_cuaderno" + data.cuaderno).html(data.num_alumnos);
                        $(".alumnos_cuaderno").empty();
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.borrar_alumno_cuaderno', function (e) {
            {#var cuaderno = $(this).data('cuaderno');#}
            $('#id_alumno').val($(this).data('alumno'));
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar a este alumno del cuaderno?',
                texto: 'Si aceptas, todas las calificaciones del alumno/a anotadas en este cuaderno se borrarán por completo de la base de datos.',
                size: 'large', buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        $.post("/cuadernodocente/", {
                                action: 'borrar_alumno_cuaderno',
                                cuaderno: $('#id_cuaderno').val(),
                                alumno: $('#id_alumno').val()
                            },
                            function (data) {
                                if (data.ok) {
                                    $("#alumno" + data.cuaderno + '_' + data.alumno).remove();
                                    $("#num_alumnos_cuaderno" + data.cuaderno).html(data.num_alumnos);
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $("#update_error").show().delay(1500).fadeOut();
                                }
                            });
                    }
                }
            });
        });
    </script>

{% endblock %}
