{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}

    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="q" id="q" value="">
        <input type="hidden" name="page" id="page" value="">

        {% include 'cuadernosdocentes_buscar.html' %}
    </form>
   
    <div class="cuadernos" id="list_cuadernos">
        {% include 'cuadernosdocentes_list.html' %}
    </div>

    
{% endblock %}

{% block final %}
    <script>
        {# $('#tabla11').animate({scrollLeft: $('#sb1').position().left - $('#fixed_column11').width() - 30}, 200); #}
        {# Mover horizontalmente la tabla#}
        {% if g_e|has_permiso:"crea_programaciones" %}
            habilita(['s_plus', 's_eye']);
            $('#plus_sign').click(function (event) {
                event.preventDefault();
                $.post('/cuadernodocente/', {'action': 'crea_cuaderno'},
                    function (data) {
                        if (data.ok) {
                            $('#list_cuadernos').prepend(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            show_mensajes({title: '<i class="fa fa-warning"></i> Error', texto: data.msg})
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                        {#$(document).scrollTop($('#title_page').offset().top - 150);#}
                    });
            });
        {% endif %}


        $("body").on('click', '#busca_cuaderno_manual', function (e) {
        
            var ronda = $('#busca_cuaderno_ronda').val();
            $.post("/cuadernosdocentes/", {
                    action: 'busca_cuaderno_manual', ronda: ronda
                },
                function (data) {
                    $('#list_cuadernos').html(data['html']);
                    $(document).foundation();
                });
        });

    </script>

{% endblock %}





