{% extends "base_formularios.html" %}
{% load programaciones_extras %}
{% block head %}
    <style>
        #title_page {
            text-align: center;
            color: #008CBA;
            font-weight: 800;
        }

        p {
            text-align: justify;
        }


        h5 {
            font-weight: bold;
        }

        table {
            white-space: nowrap;
            width: 100%;
            overflow-x: auto;
            display: block;
        }

        table thead {
            position: sticky;
            z-index: 1;
            top: 0;
        }

        table th {
            text-align: center !important;
        }

        table td {
            text-align: center !important;
        }

        .fixed_column {
            position: sticky;
            left: 0;
            z-index: 2;
            background: #F5F5F5;
        }

        table tbody td:first-child {
            position: sticky;
            left: 0;
            z-index: 2;
        {#background: white;#}
        }
        table tbody{
            overflow-y: scroll;
        }
    </style>
{% endblock %}
{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="ver_gform" name="ver_gform"
          xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        <div class="">
            <h4 id="title_page"><strong>{{ cuaderno.nombre }}</strong></h4>
        </div>

        <div id="div_table">
            <table>
                <thead>
                <tr>
                    <th class="fixed_column" rowspan="4">
                        Nombre alumno/a<br><br>
                        <a class="button tiny radius" download="{{ cuaderno.nombre|slugify }}.xls"
                           id="boton_cuaderno_excel"
                                {#                           onclick="return ExcellentExport.excel(this, 'tabla_resultados', 'Sheet Name Here');"#}
                        >
                            <i class="fa fa-file-excel-o"></i> Excel</a>
                    </th>
                    {% for sb in cuaderno.psec.saberbas_set.all %}
                        <th colspan="{{ sb.num_criinstreval }}"
                            title="{{ sb.nombre }}">{{ sb.nombre|truncatechars:80 }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for sb in cuaderno.psec.saberbas_set.all %}
                        {% for sap in sb.sitapren_set.all %}
                            <th colspan="{{ sap.num_criinstreval }}"
                                title="{{ sap.nombre }}">{{ sap.nombre|truncatechars:40 }}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for sb in cuaderno.psec.saberbas_set.all %}
                        {% for sap in sb.sitapren_set.all %}
                            {% for asap in sap.actsitapren_set.all %}
                                <th colspan="{{ asap.num_criinstreval }}"
                                    title="{{ asap.nombre }}">{{ asap.nombre|truncatechars:20 }}</th>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for sb in cuaderno.psec.saberbas_set.all %}
                        {% for sap in sb.sitapren_set.all %}
                            {% for asap in sap.actsitapren_set.all %}
                                {% for ieval in asap.instreval_set.all %}
                                    <th colspan="{{ ieval.num_criinstreval }}"
                                        title="{{ ieval.nombre }}">{{ ieval.nombre|truncatechars:10 }}</th>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for sb in cuaderno.psec.saberbas_set.all %}
                        {% for sap in sb.sitapren_set.all %}
                            {% for asap in sap.actsitapren_set.all %}
                                {% for ieval in asap.instreval_set.all %}
                                    {% for cieval in asap.criinstreval_set.all %}
                                        <th title="{{ cieval.cevps.cev.texto }}">{{ cieval.cevps.cev.texto|truncatechars:20 }}</th>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for alumno in cuaderno.grupo.gauser_extra_estudios_set.all %}
                    <tr>
                        <td class="fixed_column">
                            <b>{{ alumno.ge.gauser.last_name }}, {{ alumno.ge.gauser.first_name }}</b>
                        </td>
                        {% for sb in cuaderno.psec.saberbas_set.all %}
                            {% for sap in sb.sitapren_set.all %}
                                {% for asap in sap.actsitapren_set.all %}
                                    {% for ieval in asap.instreval_set.all %}
                                        {% for cieval in ieval.criinstreval_set.all %}
                                            {% with calalum=cieval|get_calalum:alumno %}
                                                {% if calalum %}
                                                    <td class="update_calalum" data-ge="{{ alumno.ge.id }}"
                                                        data-cieval="{{ cieval.id }}" data-cuaderno="{{ cuaderno.id }}"
                                                        title="{{ calalum.obs }}" contenteditable="true">
                                                        {{ calalum.cal }}
                                                    </td>
                                                {% else %}
                                                    <td class="create_calalumn" data-ge="{{ alumno.ge.id }}"
                                                        data-cieval="{{ cieval.id }}" data-cuaderno="{{ cuaderno.id }}"
                                                        id="create_calalum{{ cieval.id }}_{{ alumno.ge.id }}"></td>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </form>
{% endblock %}

{% block final %}
    <script type="text/javascript">


    </script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/excellentexport@3.4.3/dist/excellentexport.min.js"></script>
{% endblock %}