<div class="row">
    <div class="columns large-12">
        <label>
            Alumnos evaluados en este cuaderno:
            (<span id="num_alumnos_cuaderno{{ cuaderno.id }}">{{ cuaderno.alumnos.all|length }}</span>)
        </label>
    </div>
</div>
<div class="row" style="padding-bottom: 2px;">
    <div class="columns large-12" id="div_alumnos_cuaderno{{ cuaderno.id }}">
        {% for alumno in cuaderno.alumnos.all %}
            {% include "cuadernodocente_accordion_content_ga_alumno.html" %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <select name="alumnos_cuaderno{{ cuaderno.id }}" class="alumnos_cuaderno" data-id="{{ cuaderno.id }}"></select>
    </div>
</div>
<br>
<div class="row">
    <div class="columns large-12">
        <a class="button go_vista_cuaderno center"><i class="fa fa-reply-all"></i> Volver</a>
    </div>
</div>