{% load programaciones_extras %}
<style>
    p {
        text-align: justify;
    }

    {#.span_periodos {#}
    {#    color: darkred;#}
    {# }#}

    h5 {
        font-weight: bold;
    }

    /* First column and header table fixed */
    .tabla_cuaderno {
        white-space: nowrap;
        table-layout: fixed;
        width: 100%;
        overflow-x: auto;
        display: block;
        height: 600px;
        border-collapse: collapse;
    }

    .tabla_cuaderno thead {
        position: sticky; 
        top:0;
        z-index: 100;
      }

    .tabla_cuaderno tr td:first-child, .fixed_column{
        position: sticky;
        left: 0;
        z-index: 5 !important;
        background: #F5F5F5;
    }
    /* First column and header table fixed */



    .tabla_cuaderno tr th {
        background: #F5F5F5;
    }
     
    .tabla_cuaderno th, .tabla_cuaderno td {
        text-align: center !important;
    }

    .tabla_cuaderno td.alumno {
        text-align: left !important;
    }

    .tabla_cuaderno td.alumno span.firstname {
        color: gray;
    }

    .update_calalum {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="columns large-6">
        <span class="label warning radius" style="font-weight: bold;">
            {{ cuaderno.psec.areamateria.nombre }} ({{ cuaderno.psec.areamateria.get_curso_display }})
        </span>
    </div>
    <div class="columns large-6">
        <ul class="button-group right">
            <li><a title="Asignar el cuaderno a otro docente"
                   class="button asignar_cuadernoprof tiny"><i class="fa fa-user"></i><i
                    class="fa fa-arrow-right"></i><i class="fa fa-user"></i> Asignar</a></li>
            <li><a title="Borrar este cuaderno docente de la base de datos"
                   class="button alert borrar_cuadernoprof tiny"><i class="fa fa-trash-o"></i> Borrar</a></li>
            {#                <li><a title="Hacer una copia (un duplicado) de este cuaderno docente"#}
            {#                       class="button copiar_cuadernoprof tiny"><i class="fa fa-copy"></i> Copiar</a></li>#}
            {#                <li><a class="button pdf_ie tiny" data-id="{{ ie.id }}"#}
            {#                       title="Crear un PDF de este informe"><i class="fa fa-file-pdf-o"></i> PDF</a>#}
            {#                </li>#}
        </ul>
    </div>
</div>

<div class="row" id="select_asignar_docente_cuaderno{{ cuaderno.id }}" style="display: none;">
    <div class="columns large-12">
        <label><b>Seleccionar la persona que tiene asignado el cuaderno: </b>
            <select class="select_asignar_cuaderno" data-cuaderno="{{ cuaderno.id }}">
                <option value="">------</option>
                {% for d in docentes %}
                    <option value="{{ d.id }}"
                            {% if cuaderno.ge == d %}selected{% endif %}>{{ forloop.counter }}.- {{ d.gauser.last_name }},
                        {{ d.gauser.first_name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</div>

{% if not cuaderno.grupo and cuaderno.alumnos.all|length == 0 %}
    <div class="row">
        <div class="columns large-12">
            <p>El cuaderno docente debe relacionarse con una programación didáctica y con un grupo de alumnos.</p>
            <p>Por favor, comience haciendo esa relación.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns large-4">
            <label>Selecciona la programación:
                <select data-cuaderno="{{ cuaderno.id }}" class="select_psec"
                        id="select_psec{{ cuaderno.id }}">
                    <option value="">---------</option>
                    {% for psec in cuaderno|get_posibles_psec %}
                        <option value="{{ psec.id }}">{{ psec.nombre }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="columns large-3">
            <label>Selecciona el grupo de alumnos:
                <select data-cuaderno="{{ cuaderno.id }}" class="select_grupo" disabled
                        id="select_grupo{{ cuaderno.id }}">
                    <option value="">---------</option>
                </select>
            </label>
        </div>
        <div class="columns large-4">
            <label>Tipo de cuaderno:
                <select data-cuaderno="{{ cuaderno.id }}" class="select_tipo_cuaderno"
                        id="select_tipo_cuaderno{{ cuaderno.id }}">
                    {% for tipo in cuaderno.TIPOS %}
                        <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="columns large-1">
            <label>&nbsp;</label>
            <a class="configura_cuaderno" data-cuaderno="{{ cuaderno.id }}">
                <span class="label" style="font-weight: bold;">
                <i class="fa fa-pencil"></i>
                Configurar</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12 panel callout">

            <h5><i class="fa fa-info-circle fa-3x"></i> Para elegir el tipo de cuaderno tenga en cuenta las siguientes
                observaciones:</h5>
            <p>
            <ul>
                <li style="font-weight: bold;">Nivel de detalle: Competencias específicas</li>
                En este caso, el docente proporciona calificaciones directamente a las competencias específicas. Es de
                suponer que utilizará otras herramientas para evaluar a través de los criterios de evaluación.
                Solo hay que introducir por alumno un número de calificaciones igual al número de competencias
                específicas asociadas a una asignatura.
                <li style="font-weight: bold;">Nivel de detalle: Criterios de evaluación</li>
                En este caso, el docente proporciona calificaciones únicamente a los criterios de evaluación. Estas
                calificaciones las habrá obtenido tras la aplicación de los procedimientos de evaluación al
                alumnado.
                Solo hay que introducir por alumno un número de calificaciones igual al número de criterios de
                evaluación asociados a una asignatura.
                <li style="font-weight: bold;">Nivel de detalle: Procedimientos de evaluación</li>
                El cuaderno docente tiene tantos campos
                para introducir calificaciones como criterios de evaluación se han definido en cada uno de los
                procedimientos de evaluación.
            </ul>
            </p>
        </div>
    </div>
{% else %}
    {% if cuaderno.tipo == 'CES' %}
        <div class="div_table{{ cuaderno.id }}">
            <table id="tabla{{ cuaderno.id }}" class="tabla_cuaderno">
                <thead>
                <tr>
                    <th class="fixed_column" id="fixed_column{{ cuaderno.id }}">
                        Nombre alumno/a<br><br>
                        <a class="cuaderno_full_screen" data-id="{{ cuaderno.id }}"
                           title="Mostrar en pantalla completa"
                           style="position:absolute;top:5px;left:5px">
                            <i class="fa fa-external-link"></i>
                        </a>
                        <a class="gestionar_alumnos" data-cuaderno="{{ cuaderno.id }}">
                            <i class="fa fa-users"></i> Gestionar alumnos
                        </a>
                    </th>
                    {% for cep in cuaderno.psec.ceprogsec_set.all %}
                        {% ifchanged cep.ce.asignatura %}
                            <th>Calificación<br>{{ cep.ce.asignatura }}</th>
                        {% endifchanged %}
                        <th id="cep_title{{ cep.id }}"
                            title="{{ cep.ce.orden }}.- {{ cep.ce.nombre }} &#013;&#013;{{ cep.ce.texto }}">CE{{ cep.ce.orden }}<br>
                            {{ cep.ce.nombre|truncatechars:20 }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody id="tbody_cuaderno{{ cuaderno.id }}">
                {% for alumno in cuaderno.alumnos.all %}
                    <tr id="tr_alumno{{ alumno.id }}" data-alumno="{{ alumno.id }}">
                        <td class="fixed_column alumno" title="{{ alumno.gauser_extra_estudios.grupo.nombre }}">
                            <b>{{ alumno.gauser.last_name }}, <span class="firstname">{{ alumno.gauser.first_name }}</span></b>
                        </td>
                        {% for cep in cuaderno.psec.ceprogsec_set.all %}
                            {% ifchanged cep.ce.asignatura %}
                                {#                                <td id="cal_am_{{ cep.ce.asignatura|slugify }}_{{ alumno.id }}">{{ cuaderno|calificacion_alumno:alumno }}</td>#}
                                <td id="cal_am_{{ cep.ce.asignatura|slugify }}_{{ alumno.id }}">
                                    {{ cuaderno|get_asignatura:cep.ce.asignatura|calificacion_alumno_asignatura:alumno }}</td>
                            {% endifchanged %}
                            {% with calalumce=cuaderno|get_cep:cep|get_calalumce:alumno %}
                                {#                            <td class="update_calalumce" data-calalumce="{{ calalumce.id }}"#}
                                {#                                data-cep="{{ cep.id }}" data-cuaderno="{{ cuaderno.id }}"#}
                                {#                                data-alumno="{{ alumno.id }}" title="{{ calalumce.obs }}"#}
                                {#                                id="valor_calalumce{{ calalumce.id }}_{{ alumno.id }}" contenteditable="true">#}
                                {#                                {{ calalumce.valor }}#}
                                {#                            </td>#}
                                <td><input class="update_calalumce" data-calalumce="{{ calalumce.id }}" type="number"
                                           data-cep="{{ cep.id }}" data-cuaderno="{{ cuaderno.id }}" min="0" max="10"
                                           data-alumno="{{ alumno.id }}" title="{{ calalumce.obs }}" step="0.01"
                                           id="valor_calalumce{{ calalumce.id }}_{{ alumno.id }}"
                                           value="{{ calalumce.valor|float2stringpoint }}">
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                {#            <tr id="tr_calificar_alumno{{ cuaderno.id }}">#}
                {#                <td colspan="70" style="text-align: left!important;"#}
                {#                    id="td_calificar_alumno{{ cuaderno.id }}"></td>#}
                {#            </tr>#}
                </tbody>
            </table>
        </div>
    {% elif cuaderno.tipo == 'CRI' %}
        <p><b>Es posible introducir calificaciones que el sistema irá almacenando, pero todavía no va a actualizar
            las calificaciones de la asignatura y de las competencias específicas.</b></p>
        <p><b>En breve se terminará el desarrollo para que se produzca dicha actualización.</b></p>
        <div class="div_table{{ cuaderno.id }}">
            <table id="tabla{{ cuaderno.id }}" class="tabla_cuaderno">
                <thead>
                <tr>
                    <th class="fixed_column" rowspan="2" id="fixed_column{{ cuaderno.id }}">
                        Nombre alumno/a<br><br>
                        <a class="cuaderno_full_screen" data-id="{{ cuaderno.id }}"
                           title="Mostrar en pantalla completa"
                           style="position:absolute;top:5px;left:5px">
                            <i class="fa fa-external-link"></i>
                        </a>
                        <a class="gestionar_alumnos" data-cuaderno="{{ cuaderno.id }}">
                            <i class="fa fa-users"></i> Gestionar alumnos
                        </a>
                    </th>
                    <th rowspan="2">Calificación</th>
                    {% for cep in cuaderno.psec.ceprogsec_set.all %}
                        <th id="cep_title{{ cep.id }}" colspan="{{ cep.cevprogsec_set.all|length|add:"1" }}"
                            title="CE{{ cep.ce.orden }}.- {{ cep.ce.texto }}">CE{{ cep.ce.orden }}.-
                            {{ cep.ce.texto|truncatechars:60 }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for cep in cuaderno.psec.ceprogsec_set.all %}
                        {% ifchanged %}
                            <th>Cal. CE{{ cep.ce.orden }}</th>
                        {% endifchanged %}
                        {% for cevp in cep.cevprogsec_set.all %}
                            <th id="cevp_title{{ cevp.id }}"
                                title="{{ cevp.cev.orden }}.- {{ cevp.cev.texto }}">CEv{{ cevp.cev.orden }}.-
                                {{ cevp.cev.texto|truncatechars:20 }}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody id="tbody_cuaderno{{ cuaderno.id }}">
                {% for alumno in cuaderno.alumnos.all %}
                    <tr id="tr_alumno{{ alumno.id }}" data-alumno="{{ alumno.id }}">
                        <td class="fixed_column alumno" title="{{ alumno.gauser_extra_estudios.grupo.nombre }}">
                            <b>{{ alumno.gauser.last_name }}, <span class="firstname">{{ alumno.gauser.first_name }}</</b>
                        </td>
                        <td id="cal_am_{{ alumno.id }}">{{ cuaderno|calificacion_alumno:alumno }}</td>
                        {% for cep in cuaderno.psec.ceprogsec_set.all %}
                            {% ifchanged %}
                                <td id="cal_ce_{{ cep.id }}_{{ alumno.id }}">
                                    {{ cuaderno|get_cep:cep|get_calalumce_valor:alumno|floatformat:2 }}</td>
                            {% endifchanged %}
                            {% for cevp in cep.cevprogsec_set.all %}
                                {% with calalumcev=cuaderno|get_cevp:cevp|get_calalumcev:alumno %}
                                    <td><input class="update_calalumcev" data-calalumcev="{{ calalumcev.id }}"
                                               type="number"
                                               data-cevp="{{ cevp.id }}" data-cuaderno="{{ cuaderno.id }}" min="0"
                                               max="10"
                                               data-alumno="{{ alumno.id }}" title="{{ calalumcev.obs }}" step="0.01"
                                               id="valor_calalumcev{{ calalumcev.id }}_{{ alumno.id }}"
                                               value="{{ calalumcev.valor|float2stringpoint }}">
                                    </td>
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                {#            <tr id="tr_calificar_alumno{{ cuaderno.id }}">#}
                {#                <td colspan="70" style="text-align: left!important;"#}
                {#                    id="td_calificar_alumno{{ cuaderno.id }}"></td>#}
                {#            </tr>#}
                </tbody>
            </table>
        </div>
    {% elif cuaderno.tipo == 'PRO' %}
        {% if cuaderno.vista == 'NOR' %}
            {#{% elif cuaderno %}#}
            {% with estructura_cuaderno=cuaderno.estructura_cuaderno %}
                {% for sb in estructura_cuaderno %}
                    <a class="ver_ocultar_sb" data-toggle="sb__{{ sb.sb.id }}"
                       title="Mostrar/ocultar {{ sb.sb.nombre }}">
                            <span class="label info" style="font-weight: bold;">
                                <i class="fa fa-eye"></i>/<i class="fa fa-eye-slash"></i> {{ sb.sb.nombre }}
                            </span>
                    </a>
                {% endfor %}
                <div class="div_table{{ cuaderno.id }}">
                    <table id="tabla{{ cuaderno.id }}" class="tabla_cuaderno">
                        <thead>
                        <tr>
                            <th class="fixed_column" rowspan="5" id="fixed_column{{ cuaderno.id }}">
                                Nombre alumno/a<br><br>
                                <a class="cuaderno_full_screen" data-id="{{ cuaderno.id }}"
                                   title="Mostrar en pantalla completa"
                                   style="position:absolute;top:5px;left:5px">
                                    <i class="fa fa-external-link"></i>
                                </a>
                                <a class="cuaderno_competencias" data-cuaderno="{{ cuaderno.id }}" data-vista="COM"
                                   title="Ir a la vista de calificaciones por competencias específicas"
                                   style="position:absolute;top:5px;right:5px">
                                    <i class="fa fa-exchange"></i>
                                </a>
                                <a class="gestionar_alumnos" data-cuaderno="{{ cuaderno.id }}">
                                    <i class="fa fa-users"></i> Gestionar alumnos
                                </a>
                            </th>
                            {% for sb in estructura_cuaderno %}
                                <th colspan="{{ sb.sb_columns }}" id="sb{{ forloop.counter }}"
                                    class="sb__{{ sb.sb.id }}"
                                    title="{{ sb.sb.nombre }}">{{ sb.sb.nombre|truncatechars:160 }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for sb in estructura_cuaderno %}
                                {% for sap in sb.saps %}
                                    <th colspan="{{ sap.sap_columns }}" class="sb__{{ sb.sb.id }}"
                                        title="{{ sap.sap.nombre }}">{{ sap.sap.nombre|truncatechars:80 }}</th>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {#                <th class="fixed_column"></th>#}
                            {% for sb in estructura_cuaderno %}
                                {% for sap in sb.saps %}
                                    {% for asap in sap.asaps %}
                                        <th colspan="{{ asap.asap_columns }}" class="sb__{{ sb.sb.id }}"
                                            title="{{ asap.asap.nombre }}">{{ asap.asap.nombre|truncatechars:40 }}</th>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for sb in estructura_cuaderno %}
                                {% for sap in sb.saps %}
                                    {% for asap in sap.asaps %}
                                        {% for ieval in asap.ievals %}
                                            <th colspan="{{ ieval.ieval_columns }}" class="sb__{{ sb.sb.id }}"
                                                title="{{ ieval.ieval.nombre }}">
                                                <a data-ieval="{{ ieval.ieval.id }}" class="define_ecp"
                                                   data-cuaderno="{{ cuaderno.id }}">
                                                    {{ ieval.ieval.nombre|truncatechars:20 }}
                                                </a>
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for sb in estructura_cuaderno %}
                                {% for sap in sb.saps %}
                                    {% for asap in sap.asaps %}
                                        {% for ieval in asap.ievals %}
                                            {% for cieval in ieval.cievals %}
                                                {% if cieval %}
                                                    <th title="{{ cieval.cevps.cev.ce.orden }}.{{ cieval.cevps.cev.orden }}.-
                                               {{ cieval.cevps.cev.texto }}" class="sb__{{ sb.sb.id }}">
                                                        {{ cieval.cevps.cev.ce.orden }}.{{ cieval.cevps.cev.orden }}.-
                                                        {{ cieval.cevps.cev.texto|truncatechars:10 }}
                                                    </th>
                                                {% else %}
                                                    <th class="sb__{{ sb.sb.id }}">&nbsp;</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody id="tbody_cuaderno{{ cuaderno.id }}">
                        {% for alumno in cuaderno.alumnos.all %}
                            <tr id="tr_alumno{{ alumno.id }}" data-alumno="{{ alumno.id }}">
                                <td class="fixed_column alumno" title="{{ alumno.gauser_extra_estudios.grupo.nombre }}">
                                    <b>{{ alumno.gauser.last_name }}, <span class="firstname">{{ alumno.gauser.first_name }}</</b>
                                </td>
                                {% for sb in estructura_cuaderno %}
                                    {% for sap in sb.saps %}
                                        {% for asap in sap.asaps %}
                                            {% for ieval in asap.ievals %}
                                                {% for cieval in ieval.cievals %}
                                                    {% with calalum=cuaderno|get_cieval:cieval|get_calalum:alumno %}
                                                        <td class="update_calalum sb__{{ sb.sb.id }}"
                                                            data-cieval="{{ cieval.id }}"
                                                            data-calalum="{{ calalum.id }}"
                                                            data-cuaderno="{{ cuaderno.id }}"
                                                            data-alumno="{{ alumno.id }}" title="{{ calalum.obs }}"
                                                                {#                                                        id="valor_calalum{{ calalum.id }}_{{ alumno.id }}"#}
                                                            id="valor_calalum{{ cieval.id }}_{{ alumno.id }}">
                                                            {{ calalum.cal }}
                                                        </td>
                                                    {% endwith %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr id="tr_calificar_alumno{{ cuaderno.id }}">
                            <td colspan="200" style="text-align: left!important;"
                                id="td_calificar_alumno{{ cuaderno.id }}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endwith %}
        {% else %}
            {% with num_asig=cuaderno.psec.ces_asignaturas_ambito|length caas=cuaderno.psec.ces_asignaturas_ambito %}
                <div class="div_table{{ cuaderno.id }}">
                    <table id="tabla{{ cuaderno.id }}" class="tabla_cuaderno">
                        <thead>
                        <tr>
                            <th class="fixed_column" rowspan="5">
                                Nombre alumno/a<br><br>
                                <a class="cuaderno_full_screen" data-id="{{ cuaderno.id }}"
                                   title="Mostrar en pantalla completa"
                                   style="position:absolute;top:5px;left:5px">
                                    <i class="fa fa-external-link"></i>
                                </a>
                                <a class="cuaderno_competencias" data-cuaderno="{{ cuaderno.id }}" data-vista="NOR"
                                   title="Ir a la vista de calificaciones por instrumentos, situaciones de aprendizaje y saberes básicos"
                                   style="position:absolute;top:5px;right:5px">
                                    <i class="fa fa-exchange"></i>
                                </a>
                                <a class="gestionar_alumnos" data-cuaderno="{{ cuaderno.id }}">
                                    <i class="fa fa-users"></i> Gestionar alumnos
                                </a>
                            </th>
                            {% if num_asig > 1 %}
                                <th rowspan="2">Asignatura</th>
                            {% endif %}
                            <th rowspan="2" title="Calificación total obtenida en la materia">Calificación<br>global
                            </th>
                            {% for ce in cuaderno.psec.areamateria.competenciaespecifica_set.all %}
                                <th colspan="{{ ce.criterioevaluacion_set.all|length|add:'1' }}"
                                    title="{{ ce.orden }}.- {{ ce.nombre }}">{{ ce.orden }}.-
                                    {{ ce.nombre|truncatechars:160 }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for cev in cuaderno.psec.areamateria.cevs %}
                                {% ifchanged cev.ce %}
                                    <th title="Calificación global de la CE{{ cev.ce.orden }}">Cal.
                                        CE{{ cev.ce.orden }}</th>
                                {% endifchanged %}
                                <th title="{{ cev.ce.orden }}.{{ cev.orden }}.- {{ cev.texto }}"
                                >{{ cev.ce.orden }}.{{ cev.orden }}.- {{ cev.texto|truncatechars:20 }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody id="tbody_cuaderno{{ cuaderno.id }}">
                        {% for alumno in cuaderno.alumnos.all %}
                            {% for asignatura, ces in caas.items %}
                                <tr id="tr_alumno{{ alumno.id }}" data-alumno="{{ alumno.id }}" style="color:red">
                                    {% if forloop.first %}
                                        <td class="fixed_column alumno" title="{{ alumno.gauser_extra_estudios.grupo.nombre }}"
                                            rowspan="{{ num_asig }}">
                                            <b>{{ alumno.gauser.last_name }}, <span class="firstname">{{ alumno.gauser.first_name }}</</b>
                                        </td>
                                    {% endif %}
                                    {% if num_asig > 1 %}
                                        <td>{{ asignatura }}</td>
                                    {% endif %}
                                    {#                                                        <td><b>{{ cuaderno|get_global_cal:alumno }}</b></td>#}
                                    <td>
                                        <b>
                                            {{ cuaderno|get_global_asignatura:asignatura|get_global_cal_asignatura:alumno }}</b>
                                    </td>
                                    {% for cev in cuaderno.psec.areamateria.cevs %}
                                        {% ifchanged cev.ce %}
                                            {% if cev.ce in ces %}
                                                <td>{{ cuaderno|get_ce_cal:cev.ce|get_calalum_ce:alumno }}</td>
                                            {% else %}
                                                <td>--</td>
                                            {% endif %}
                                        {% endifchanged %}
                                        {% if cev.ce in ces %}
                                            <td>{{ cuaderno|get_cev_cals:cev|get_calalum_cev:alumno }}</td>
                                        {% else %}
                                            <td>--</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}{% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endwith %}
        {% endif %}
    {% endif %}
{% endif %}

{#<script>#}
{#$('.sb___').hide();#}
{#</script>#}