{% load my_templatetags %}

<dl class="accordion" data-accordion>
    {% for departamento in departamentos %}
        <dd class="accordion-navigation" id="accordion{{ departamento.id }}"
            style="border-top: 1px dashed #ccc;{% if forloop.last %}border-bottom: 1px dashed #ccc;{% endif %}">
            <a href="#panel___{{ departamento.id }}">
                <i id="circle{{ departamento.id }}" class="fa fa-plus-circle circle_icon"></i>
                {{ departamento.nombre }} <span style="color: #a3a3a3">({{ departamento.edad_min }} &#8804;
                       <i class="fa fa-male"></i> &#8804; {{ departamento.edad_max }})</span>
            </a>

            <div id="panel___{{ departamento.id }}" class="content accordion-departamento" data-id="{{ departamento.id }}">
                <dl>

                    <dl>
                        <dt>Observaciones</dt>

                        <dd id="observaciones{{ departamento.id }}">
                            {{ departamento.observaciones }}</dd>

                    </dl>
                    <hr>
                    {% with departamento|usuarios_en_departamento as usuarios %}
                        <dt>Personas que pertenecen a este departamento/sección ({{ usuarios|length }})</dt>

                        <dd id="lista_usuarios{{ departamento.id }}">
                            {% for usuario in usuarios %}
                                {% if forloop.counter < 6 %}
                                    &nbsp;<span class="radius label">{{ usuario.gauser.get_full_name }}</span>
                                {% endif %}
                                {% if forloop.last and forloop.counter > 5 %}
                                    &nbsp;<span class="secondary radius label">
                            <a class="mostrar_usuarios" data-id="{{ departamento.id }}">... (mostrar todos)</a></span>
                                {% endif %}
                            {% endfor %}
                        </dd>
                    {% endwith %}
                </dl>
                {% if request.session.gauser_extra|has_permiso:'edita_departamentos' %}
                    <hr>
                    <dl>
                        <dt>Rango de edad para los miembros de este departamento/sección</dt>

                        <dd id="rango_edad{{ departamento.id }}">
                            Mayores de {{ departamento.edad_min }} y menores de {{ departamento.edad_max }}</dd>

                    </dl>
                    <hr>
                    <dl>
                        <dt>Mensajería</dt>

                        <dd id="mensajeria{{ departamento.id }}">
                            {% if departamento.mensajes %}
                                Admite mensajería
                            {% else %}
                                No admite mensajería
                            {% endif %}</dd>

                    </dl>
                    <hr>
                    <dl>
                        <dt>Número de identificación para hacer cargas masivas</dt>

                        <dd>&nbsp;&nbsp;{{ departamento.id }}</dd>
                    </dl>
                {% endif %}
            </div>
        </dd>
    {% endfor %}
</dl>