<div class="row">
    <div class="columns large-12">
        <label><b>Alumno/a al que va destinada la adaptación de acceso al currículo (AAC): </b>
            <select class="alumno_adaptacion" data-progsec="{{ progsec.id }}">
                <option value="">------</option>
                {% for a in alumnos %}
                    <option value="{{ a.id }}"
                            {% if a in progsec.alumno %}selected{% endif %}>{{ d.gauser.get_full_name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</div>