{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}
<style>
    .title_page {
        text-align: center;
        color: #008CBA;
    }

    .ckeditor {
        border: lightgrey 1px solid;
        min-height: 100px;
    }
</style>
<form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
    {% csrf_token %}
    {#        <input type="hidden" name="action" id="action" value="">#}
    {#        <input type="hidden" name="q" id="q" value="">#}
    {#        <input type="hidden" name="page" id="page" value="">#}
    <input type="hidden" id="id_sb" name="id_sb" value="{{ sb.id }}">
    <input type="hidden" id="id_sap" name="id_sap" value="">
    <input type="hidden" id="id_reposap" name="id_reposap" value="">
    <input type="hidden" id="am_sap" name="am_sap" value="{{ sb.psec.areamateria.id }}">

    <div>
        <h4 class="title_page"><strong>{{ sb.psec.areamateria.nombre }} - {{ sb.psec.nombre }}</strong></h4>
        <h5 class="title_page"><strong>Situaciones de aprendizaje asociadas a la unidad de programación: {{ sb.orden }}.-
            {% autoescape off %}{{ sb.nombre }}{% endautoescape %}
            ({{ sb.periodos }} periodo{{ sb.periodos|pluralize }})</strong></h5>
    </div>
    <fieldset id="formulario_search_sap" style="display: none;">
        <legend>Buscar Situaciones de Aprendizaje</legend>
        <div class="row">
            <div class="columns large-9">
                <input name="busca_saps" id="busca_saps"
                       placeholder="Escribe parte del texto incluido en la SAP (al menos 3 caracteres)">
            </div>
            <div class="columns large-3">
                <select name="busca_saps_tipo" id="busca_saps_tipo">
                    <option value="MSAP" selected="selected">Entre mis SAP</option>
                    <option value="ASAP">Entre todas las SAP</option>
                </select>
            </div>
        </div>
        <div>
            <br>
            <dl class="accordion" data-accordion id="resultados_buscar_sap">
            </dl>
        </div>
    </fieldset>
    <div id="contenido_sb">
        <br>
        <dl class="accordion" data-accordion id="list_sbs">
            {% for sap in sb.get_sitaprens %}
                {% include 'progsec_sap_accordion.html' %}
            {% endfor %}
        </dl>
    </div>
</form>
{% endblock %}

{% block final %}
    <script>
        {# Configuración de CKeditor #}
        config = {
            removePlugins: 'exportpdf',
            toolbar: [
                {
                    name: 'clipboard',
                    items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo']
                },
                {name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-', 'Scayt']},
                {
                    name: 'basicstyles',
                    items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']
                },
                {
                    name: 'paragraph',
                    items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
                },
                '/',
                {name: 'links', items: ['Link', 'Unlink', 'Anchor']},
                {name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak']},
                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                {name: 'colors', items: ['TextColor', 'BGColor']},
                {name: 'tools', items: ['Maximize', 'ShowBlocks']},
                {name: 'document', items: ['Source']},
            ],
            extraAllowedContent: 'span[id];b;h2;h3;table;tr;td[id];',
        }

        function destroyEditorInstances() {
            for (var instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].destroy();
            }
        }

        function constructInlineEditorInstances() {
            $("textarea").each(function () {
                {#CKEDITOR.inline(this, config);#}
                {#CKEDITOR.replace(this, config);#}
                {#            Escribir el textarea readonly#}
                {#            Contendrá el texto procesado html escape#}
                {#            Al hacer click sobre ella quitar el readonly#}
                {#            llamar al texto original#}
                {#            crear el ckeditor:#}
                {#            CKEDITOR.replace('input_objetivo8', config)#}
                {#            Al hacer click sobre otro textarea destruir todas las instancias de ckeditor:#}
                {#            CKEDITOR.instances['input_objetivo8'].destroy();#}
            });

            $(".ckeditor").each(function (index) {
                var element = $(this);
                var id = element.attr('id');
                {#var editor = CKEDITOR.inline(id, config);#}
                {#CKEDITOR.replace(id, config);#}
                {#var anchura = element.width() + 2;#}
                {#setTimeout(function () {#}
                {#    $('#cke_' + id).css('width', anchura + 'px');#}
                {#Este es el id del ckeditor creado#}
                {# }, 200);#}
            });
        }

        {# Fin Configuración de CKeditor #}


        var url_progsec_sap = "/progsecundaria_sb/{{ sb.id }}/"
        habilita(['s_arrow-left']);
        $('#arrow-left_sign').click(function (event) {
            event.preventDefault();
            window.location.href = '/progsecundaria/?prog={{ sb.psec.id }}'
        });
        {% if g_e|has_permiso:"crea_programaciones" %}
            {#habilita(['s_plus',]);#}
            habilita(['s_plus', 's_sign-in']);
            $('#plus_sign').click(function (event) {
                event.preventDefault();
                var sb = {{ sb.id }};
                $.post(url_progsec_sap, {'action': 'crea_sap'},
                    function (data) {
                        if (data.ok) {
                            $('#list_sbs').append(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                        {#$(document).scrollTop($('#title_page').offset().top - 150);#}
                    });
            });

            $('#sign-in_sign').click(function (event) {
                event.preventDefault();
                $('#formulario_search_sap').toggle();
            });

            $('#busca_saps').keyup(function (event) {
                event.preventDefault();
                var texto = $(this).val();
                var tipo = $('#busca_saps_tipo').val();
                var am_sap = $('#am_sap').val();
                $.post(url_progsec_sap, {'action': 'busca_saps', 'texto': texto, 'am_sap': am_sap, 'tipo': tipo},
                    function (data) {
                        if (data.ok) {
                            $('#resultados_buscar_sap').html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                        {#$(document).scrollTop($('#title_page').offset().top - 150);#}
                    });
            });

            $('body').on('click', '.importar_reposap', function (event) {
                event.preventDefault();
                var reposap = $(this).data('id');
                var sb = $('#id_sb').val();
                $.post(url_progsec_sap, {'action': 'importar_reposap', 'reposap': reposap, 'sb': sb},
                    function (data) {
                        if (data.ok) {
                            $('#formulario_search_sap').hide();
                            $('#resultados_buscar_sap').html('');
                            $('#list_sbs').append(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                            {#$(document).scrollTop($('#title_page').offset().top - 150);#}
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.borrar_sap', function () {
                id = $(this).data('id');
                show_mensajes({
                    title: '<i class="fa fa-warning"></i> ¿Borrar esta situación de aprendizaje?',
                    texto: 'Si aceptas, la situación de aprendizaje se borrará por completo de la base de datos',
                    size: 'large',
                    buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Borrar": function () {
                            hide_mensajes();
                            $.post(url_progsec_sap, {action: 'borrar_sap', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#accordion' + id).remove();
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $('#update_error').show().delay(1500).fadeOut();
                                        setTimeout(function () {
                                            show_mensajes({
                                                title: '<i class="fa fa-warning"></i> No es posible el borrado',
                                                texto: data.msg
                                            });
                                        }, 500);
                                    }
                                });
                        }
                    }
                });
            });
            $('body').on('click', '.exportar_sap', function () {
                id = $(this).data('id');
                input_nombre = $('#input_nombre' + id).val();
                input_contenidos_sbas = $('#input_contenidos_sbas' + id).val();
                input_objetivo = $('#input_objetivo' + id).val();
                show_mensajes({
                    title: '<i class="fa fa-warning"></i> ¿Exportar esta situación de aprendizaje?',
                    texto: 'Si aceptas, la situación de aprendizaje se exportará a un repositorio general de situaciones de aprendizaje',
                    size: 'large',
                    buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Exportar": function () {
                            hide_mensajes();
                            $.post(url_progsec_sap, {
                                    action: 'exportar_sap', id: id,
                                    input_nombre: input_nombre,
                                    input_contenidos_sbas: input_contenidos_sbas,
                                    input_objetivo: input_objetivo
                                },
                                function (data) {
                                    if (data.ok) {
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $('#update_error').show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });
            // Espe: Copiar (duplicar) SAP
            $('body').on('click', '.copiar_sap', function () {
                var sap = $(this).data('sap');
                var sb = $(this).data('sb');
                $.post("/progsecundaria_sb/{{ sb.id }}/", {action: 'copiar_sap', sap: sap, sb: sb},
                    function (data) {
                        if (data.ok) {
                            $('#list_sbs').prepend(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $('#update_error').show().delay(1500).fadeOut();
                        }
                    });
            });
            // Espe: Fin
        {% endif %}

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-sap')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post(url_progsec_sap, {action: 'open_accordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        {#destroyEditorInstances();#}
                                        {#constructInlineEditorInstances(id);#}
                                        constructInlineEditorInstances()
                                        $('#id_sap').val(id);
                                        {# utilizado para generar pdf #}
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    } else if (accordion.hasClass('accordion-reposap')) {
                        var id = accordion.data('id');
                        if ($('#repocircle' + id).hasClass('fa-plus-circle')) {
                            $('.repocircle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#repocircle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#repoaccordion' + id).offset().top - 50);
                            $.post(url_progsec_sap, {action: 'open_repoaccordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#repopanel' + id).html(data.html);
                                        {#destroyEditorInstances();#}
                                        {#constructInlineEditorInstances(id);#}
                                        $('#id_reposap').val(id);
                                        {# utilizado para generar pdf #}
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#repocircle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#repopanel' + id).html('');
                        }
                    }
                }
            }
        });

        function get_texto_from_element(element) {
            if (element.val()) {
                return element.val();
            } else {
                return element.html();
            }
        }

        $('body').on('keyup DOMSubtreeModified', '.update_texto', function () {
            var element = $(this);
            var id = element.data('id');
            var campo = element.data('campo');
            var clase = element.data('clase');
            var antiguo_texto = get_texto_from_element(element);
            setTimeout(function () {
                var nuevo_texto = get_texto_from_element(element);
                if (antiguo_texto === nuevo_texto) {
                    $.post(url_progsec_sap, {
                            action: 'update_texto', id: id, texto: nuevo_texto, campo: campo,
                            clase: clase
                        },
                        function (data) {
                            if (data.ok) {
                                if (campo === 'nombre' && clase === 'SitApren') {
                                    $('#nombre' + id).html(nuevo_texto);
                                } else if (campo === 'nombre' && clase === 'ActSitApren') {
                                    $('#actividad_nombre' + id).html(nuevo_texto);
                                } else if (campo === 'nombre'  && clase === 'InstrEval'){
                                    $('#nombre_procedimiento' + id).html(nuevo_texto.substring(0, 20));
                                }
                                    $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $('#update_error').show().delay(1500).fadeOut();
                            }
                        });
                }
            }, 750);
        });

        $('body').on('change', '.update_many2many', function () {
            var element = $(this);
            var id = element.data('id');
            var idm2m = element.data('idm2m');
            var campo = element.data('campo');
            var clase = element.data('clase');
            var clasem2m = element.data('clasem2m');
            var checked = element.prop('checked');
            $.post(url_progsec_sap, {
                    action: 'update_many2many', id: id, checked: checked, campo: campo, clase: clase,
                    clasem2m: clasem2m, idm2m: idm2m
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        if (data.mensaje) {
                            show_mensajes({
                                title: '<i class="fa fa-warning"></i> No es posible deseleccionar esta CE',
                                texto: data.msg,
                                size: 'large',
                            });
                            element.prop('checked', true);
                        }
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.update_select', function () {
            var element = $(this);
            var id = element.data('id');
            var campo = element.data('campo');
            var clase = element.data('clase');
            var valor = element.val();
            $.post(url_progsec_sap, {
                    action: 'update_select', id: id, valor: valor, campo: campo, clase: clase
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        if (data.mensaje) {
                            show_mensajes({
                                title: '<i class="fa fa-warning"></i> No es posible asignar 0 a este criterio de evaluación',
                                texto: data.msg,
                                size: 'large',
                            });
                            element.val(1);
                        }
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('#Contenido').on('click', '.add_sap_actividad', function (e) {
            e.preventDefault();
            var element = $(this);
            var sap = element.data('sap');
            $.post(url_progsec_sap, {
                    action: 'add_sap_actividad', sap: sap
                },
                function (data) {
                    if (data.ok) {
                        $('#list_sap_actividades' + sap).append(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.borrar_sap_actividad', function () {
            id = $(this).data('id');
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar este actividad?',
                texto: 'Si aceptas la actividad se borrará por completo de la base de datos.',
                size: 'large',
                buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        setTimeout(function () {
                            $.post(url_progsec_sap, {action: 'borrar_sap_actividad', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#contenido_actividad' + id).remove();
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $('#update_error').show().delay(1500).fadeOut();
                                        setTimeout(function () {
                                            show_mensajes({
                                                title: '<i class="fa fa-warning"></i> No es posible el borrado',
                                                texto: data.msg
                                            });
                                        }, 500);
                                    }
                                });
                        }, 800);
                    }
                }
            });
        });

        $('#Contenido').on('click', '.add_act_instrumento', function (e) {
            e.preventDefault();
            var element = $(this);
            var act = element.data('act');
            $.post(url_progsec_sap, {
                    action: 'add_act_instrumento', act: act
                },
                function (data) {
                    if (data.ok) {
                        $('#list_instrumentos_actividad' + act).append(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.borrar_act_instrumento', function () {
            id = $(this).data('id');
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar este procedimiento de evaluación?',
                texto: 'Si aceptas el procedimiento se borrará por completo de la base de datos.',
                size: 'large',
                buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        setTimeout(function () {
                            $.post(url_progsec_sap, {action: 'borrar_act_instrumento', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#sap_act_intrumento' + id).remove();
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $('#update_error').show().delay(1500).fadeOut();
                                        setTimeout(function () {
                                            show_mensajes({
                                                title: '<i class="fa fa-warning"></i> No es posible el borrado',
                                                texto: data.msg
                                            });
                                        }, 500);
                                    }
                                });
                        }, 800);
                    }
                }
            });
        });

        function refresh_table_criteval(element) {
            var id = element.data('id');
            $.post(url_progsec_sap, {
                    action: 'table_criteval', id: id
                },
                function (data) {
                    if (data.ok) {
                        $('#table_criteval' + id).html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        }

        $('#Contenido').on('mouseenter', '.table_criteval', function () {
            var element = $(this);
            refresh_table_criteval(element);
        });
        $('#Contenido').on('click', '.refresh_table_criteval', function (e) {
            e.preventDefault();
            var element = $(this);
            refresh_table_criteval(element);
        });

        {# Código para editar texto de los nombres de las actividades #}
        $('body').on('click', '.legend_texto_editable', function (e) {
            var actividad = $(this).data('actividad');
            {#$('#actividad_id').val(actividad);#}
            var legend_texto = $('#legend_texto' + actividad);
            var legend_form = $('#legend_form' + actividad);
            var input_etiqueta = $('#actividad_input' + actividad);
            if (legend_texto.is(":visible")) {
                legend_texto.hide();
                legend_form.show();
                input_etiqueta.show().select();
            }
        });
        $('body').on('blur', '.legend_texto_editado', function (e) {
            var actividad = $(this).data('actividad');
            $('#legend_texto' + actividad).show();
            $('#legend_form' + actividad).hide();
        });
    </script>

{% endblock %}
