{% load entidades_extras %}
<style>
    p {
        text-align: justify;
    }

    .span_periodos {
        color: darkred;
    }

    h5 {
        font-weight: bold;
    }


    {% comment %}
    {% for sb in sap.saberbas_set.all %}
        #row_sb_botones{{ sb.id }} {
            display: none;
            position: absolute;
            top: 1px;
            right: 35px;
        }
        #row_sb{{ sb.id }} {
            position: relative;
        }
        #row_sb{{ sb.id }}:hover #row_sb_botones{{ sb.id }} {
            display: block;
        }
        #row_sb{{ sb.id }}:hover {
            border-top: 1px solid #ebccd1;
        }
        {% for sap in sb.sitapren_set.all %}
            #row_sap_botones{{ sb.id }} {
                display: none;
                position: absolute;
                top: 1px;
                right: 35px;
            }
            #row_sap{{ sb.id }} {
                position: relative;
            }
            #row_sap{{ sb.id }}:hover #row_sap_botones{{ sb.id }} {
                display: block;
            }
            #row_sap{{ sb.id }}:hover {
                border-top: 1px solid #ebccd1;
            }
        {% endfor %}
    {% endfor %}
{% endcomment %}

</style>
<div class="row">
    <div class="columns large-12">
        <ul class="button-group right">
            {% if sap.inspector.gauser == g_e.gauser or g_e|has_permiso:'borra_informes_sap' %}
                <li><a class="button alert borrar_sap tiny" data-id="{{ sap.id }}"
                       title="Borrar completamente esta programación de la base de datos"><i class="fa fa-trash-o"></i>
                    Borrar</a></li>
            {% endif %}
            <li><a class="button copiar_sap tiny" data-id="{{ sap.id }}"
                   title="Hacer una copia (un duplicado) de este informe"><i class="fa fa-copy"></i> Copiar</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label><b>Nombre dado a la situación de aprendizaje: </b>
            <input type="text" class="update_texto" data-campo="nombre" data-id="{{ sap.id }}"
                   id="input_nombre{{ sap.id }}" value="{{ sap.nombre }}" data-clase="SitApren"
                   placeholder="Introduce aquí el nombre de la situación de aprendizaje"></label>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <label><b>Descripción de esta situación de aprendizaje: </b>
            <textarea type="text" class="update_texto" data-campo="objetivo" data-clase="SitApren"
                      placeholder="Introduce aquí observaciones para la situación de aprendizaje" data-id="{{ sap.id }}"
                      id="input_objetivo{{ sap.id }}">{{ sap.objetivo }}</textarea></label>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <table style="width: 100%">
            <thead>
            <tr>
                <th colspan="2">
                    Selecciona las competencias específicas que van a ser trabajadas en esta situación de aprendizaje
                </th>
            </tr>
            </thead>
            <tbody>
            {% for cep in sap.sbas.psec.ceprogsec_set.all %}
                <tr>
                    <td><input type="checkbox" class="update_many2many" data-campo="ceps" data-id="{{ sap.id }}"
                               {% if cep in sap.ceps.all %}checked="checked"{% endif %} data-clase="SitApren"
                               data-clasem2m="CEProgSec" data-idm2m="{{ cep.id }}"></td>
                    <td>{{ cep.ce.nombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>

<div id="contenido_sap{{ sap.id }}">
    <div class="row">
        <div class="columns large-12">
            <div class="panel callout"><h5>Actividades asociadas a esta situación de aprendizaje</h5></div>
            <p>Las situaciones de aprendizaje se llevan a cabo a través de actividades que permiten calificar
                en qué medida se alcanzan las competencias específicas, utilizando los criterios de evaluación
                que elijas. Estos criterios irán asociados a su vez determinados procedimientos de evaluación.</p>
            <p>El primer paso es crear las actividades que vas a llevar a cabo:</p>
        </div>
    </div>

    {% for actividad in sap.actsitapren_set.all %}
        <div id="contenido_actividad{{ actividad.id }}">
            <div class="row">
                <div class="columns large-12">
                    <label>Nombre de la actividad:
                        <input type="text" data-id="{{ actividad.id }}" value="{{ actividad.nombre }}"
                               data-clase="ActSitApren" class="update_texto" data-campo="nombre">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="columns large-12">
                    <label>Descripción de la actividad:
                        <textarea type="text" data-id="{{ actividad.id }}" data-clase="ActSitApren"
                                  class="update_texto" data-campo="description">{{ actividad.description }}</textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="columns large-12">
                    <label>Producto solicitado a los alumnos en esta actividad:
                        <textarea type="text" data-id="{{ actividad.id }}" data-clase="ActSitApren"
                                  class="update_texto" data-campo="producto">{{ actividad.producto }}</textarea>
                    </label>
                </div>
            </div>
            <div id="instrumentos_actividad{{ actividad.id }}">
                {% for instrumento in actividad.instreval_set.all %}
                    <div class="row">
                        <div class="columns large-10">
                            <label>Nombre del procedimiento:
                                <input type="text" data-id="{{ instrumento.id }}" data-clase="InstrEval"
                                       class="update_texto" data-campo="nombre" value="{{ instrumento.nombre }}">
                            </label>
                        </div>
                        <div class="columns large-2">
                            <label>Tipo de procedimiento:
                                <select type="text" data-id="{{ instrumento.id }}" data-clase="InstrEval"
                                        class="update_select" data-campo="tipo">
                                    <option value="">-----</option>
                                    {% for tipo in instrumento.TIPOS %}
                                        <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                    {% for criterio in instrumento.criinstreval_set.all %}
                        <div class="row">
                        <div class="columns large-10">
                            <label>Nombre del procedimiento:
                                <input type="text" data-id="{{ instrumento.id }}" data-clase="InstrEval"
                                       class="update_texto" data-campo="nombre" value="{{ instrumento.nombre }}">
                            </label>
                        </div>
                        <div class="columns large-2">
                            <label>Tipo de procedimiento:
                                <select type="text" data-id="{{ instrumento.id }}" data-clase="InstrEval"
                                        class="update_select" data-campo="tipo">
                                    <option value="">-----</option>
                                    {% for tipo in instrumento.TIPOS %}
                                        <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                        {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="columns large-12">
            <div class="panel callout"><h3>2º Dar un peso a cada criterio de evaluación</h3></div>
            <p>Para concretar el nivel de adquisición de cada competencia específica, usted utilizará una serie
                de criterios de evaluación. Así pues, usted no evaluará las competencias específicas directamente,
                sino que lo hará de forma indirecta al calificar los criterios de evaluación.</p>
            <p>Cada criterio de evaluación puede tener a su vez un "peso" que determina
                su contribución ponderada para la adquisición de la competencia específica. Por favor, introduzca el
                peso asociado a cada criterio de evaluación:</p>
        </div>
    </div>

    {% for ce in sap.cesap_set.all %}
        <div class="row">
            <div class="columns large-12">
                <b>{{ ce.ce.nombre }}</b>
            </div>
        </div>
        {% for cev in ce.cevsap_set.all %}
            <div class="row">
                <div class="columns large-10">
                    {{ cev.cev.texto }}
                </div>
                <div class="columns large-2">
                    <input type="number" min="1" max="10" class="pesocev" data-ce="{{ cev.id }}"
                           value="{{ cev.valor }}">
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="columns large-12 callout panel">
            <h3>3º Libros o materiales van a ser utilizados para el desarrollo de la materia</h3>
            {#            <p>Indique los libros/materiales que van utilizarse para desarrollar:</p>#}
        </div>
    </div>
    <div class="row">
        <div class="columns large-9">
            <label>Introduce nombre del libro/material:
                <input type="text" data-sap="{{ sap.id }}" id="nombre_libro" value="" placeholder="Obligatorio">
            </label>
        </div>
        <div class="columns large-3">
            <label>Introduce el ISBN:
                <input type="text" data-sap="{{ sap.id }}" id="isbn_libro" value="" placeholder="Opcional">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            <label>Introduce observaciones acerca del libro/material:
                <textarea data-sap="{{ sap.id }}" id="observaciones_libro"
                          placeholder="Texto opcional"></textarea>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns large-9">
            <label>Cargar el archivo del libro/material (opcional):
                <input type="file" name="archivo_libro" id="archivo_libro" data-sap="{{ sap.id }}">
            </label>
        </div>
        <div class="columns large-3">
            <a class="button right">Cargar libro/material</a>
        </div>
    </div>


</div>
<script>
    $('select').select2();
</script>