{#{% load entidades_extras %}#}
{% load my_templatetags %}
{% if recp %}
    <dd class="accordion-navigation" id="accordion{{ recp.id }}"
        style="border-bottom: dotted 1px black">
        <a href="#panel{{ recp.id }}">
            <i id="circle{{ recp.id }}" class="fa fa-plus-circle circle_icon"></i>
            <b id="nombre{{ recp.id }}">{{ recp.nombre }}
                - {{ recp.observaciones|striptags|truncatechars_html:50 }}</b>
            {% if buscar %}
                <span class="right" style="color:green;"><i class="fa fa-check"></i></span>
            {% endif %}
        </a>

        <div id="panel{{ recp.id }}" class="content accordion-recp" data-id="{{ recp.id }}">
        </div>
    </dd>
{% else %}
    <dl class="accordion" data-accordion id="list_escalas">
        {% for recp in recps %}
            <dd class="accordion-navigation" id="accordion{{ recp.id }}"
                style="border-bottom: dotted 1px black">
                <a href="#panel{{ recp.id }}">
                    <i id="circle{{ recp.id }}" class="fa fa-plus-circle circle_icon"></i>
                    <b id="nombre{{ recp.id }}">{{ recp.nombre }}
                        - {{ recp.observaciones|striptags|truncatechars_html:50 }}</b>
                    {% if buscar %}
                        <span class="right" style="color:green;"><i class="fa fa-check"></i></span>
                    {% endif %}
                </a>

                <div id="panel{{ recp.id }}" class="content accordion-recp" data-id="{{ recp.id }}">
                </div>
            </dd>
        {% endfor %}
    </dl>
    {% if recps.paginator.num_pages > 1 %}
        <br>
        <div class="row">
            <div class="columns large-12">
                <ul class="pagination" role="menubar" aria-label="Pagination">
                    {% if recps.has_previous %}
                        <li class="arrow">
                            <a class="go_page" data-page="{{ recps.previous_page_number }}">&laquo; Anterior</a>
                        </li>
                    {% else %}
                        <li class="arrow unavailable" aria-disabled="true">
                            <a class="go_page">&laquo; Anterior</a>
                        </li>
                    {% endif %}
                    {% for page in recps.paginator.num_pages|number_range %}
                        {% if page == recps.number %}
                            <li class="current"><a href="" class="go_page" data-page="">{{ page }}</a></li>
                        {% else %}
                            <li><a class="go_page" data-page="{{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if recps.has_next %}
                        <li class="arrow">
                            <a class="go_page" data-page="{{ recps.next_page_number }}">Siguiente &raquo;</a>
                        </li>
                    {% else %}
                        <li class="arrow unavailable" aria-disabled="true">
                            <a class="go_page">Siguiente &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% else %}

    {% endif %}
{% endif %}
