{% load entidades_extras %}
<style>
    p {
        text-align: justify;
    }

    h5 {
        font-weight: bold;
    }

    {# Rating:  https://dabblet.com/gist/1709019 #}
    {# Rating:  https://fontawesome.com/v4/examples/ #}
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        font-size: 23px
    }

    .rating span.star, .rating span.marca, .rating span.nostar {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block
    }

    .rating span.star:hover {
        cursor: pointer
    }

    .rating span.star:before, .rating span.nostar:before {
        content: "\f006";
        padding-right: 5px;
        color: #777
    }

    .rating span.star:hover:before, .rating span.star:hover ~ span.star:before {
        content: "\f005";
        color: #e3cf7a
    }
    .rating span.marca:before {
        content: "\f005";
        color: #e3cf7a}
</style>
{% if sap.areamateria %}
    <div class="row">
    <div class="columns large-2">
        <p style="font-weight: bold">Valoración: 8.34</p>
    </div>
    <div class="columns large-4 rating">
    <span class="star" data-sap="{{ sap.id }}" data-value="5"></span>
    <span class="star" data-sap="{{ sap.id }}" data-value="4"></span>
    <span class="star" data-sap="{{ sap.id }}" data-value="3"></span>
    <span class="nostar" data-sap="{{ sap.id }}" data-value="2"></span>
    <span class="marca" data-sap="{{ sap.id }}" data-value="1"></span>
    </div>
        <div class="columns large-6">
            <ul class="button-group right">
                <li><a class="button alert borrar_sap tiny" data-id="{{ sap.id }}"
                       title="Borrar completamente esta situación de aprendizaje de la base de datos"><i
                        class="fa fa-trash-o"></i> Borrar</a></li>
                <li><a class="button copiar_sap tiny" data-id="{{ sap.id }}"
                       title="Hacer una copia (un duplicado) de esta situación de aprendizaje"><i
                        class="fa fa-copy"></i> Copiar</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            <label><b>Nombre dado a la situación de aprendizaje: </b>
                <input type="text" class="update_texto" data-campo="nombre" data-id="{{ sap.id }}"
                       id="input_nombre{{ sap.id }}" value="{{ sap.nombre }}" data-clase="RepoSitApren"
                       placeholder="Introduce aquí el nombre de la situación de aprendizaje"></label>
        </div>
    </div>

    <div class="row">
        <div class="columns large-12">
            <label><b>Descripción de esta situación de aprendizaje: </b>
                <textarea type="text" class="update_texto" data-campo="objetivo" data-clase="RepoSitApren"
                          placeholder="Introduce aquí observaciones para la situación de aprendizaje"
                          data-id="{{ sap.id }}"
                          id="input_objetivo{{ sap.id }}">{{ sap.objetivo }}</textarea></label>
        </div>
    </div>

    <div class="row">
        <div class="columns large-12">
            <table style="width: 100%">
                <thead>
                <tr>
                    <th colspan="2">
                        Selecciona las competencias específicas que van a ser trabajadas en esta situación de
                        aprendizaje
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for ce in sap.areamateria.competenciaespecifica_set.all %}
                    <tr>
                        <td><input type="checkbox" class="update_many2many" data-campo="ces" data-id="{{ sap.id }}"
                                   {% if ce in sap.ces.all %}checked="checked"{% endif %} data-clase="RepoSitApren"
                                   data-clasem2m="CompetenciaEspecifica" data-idm2m="{{ ce.id }}"></td>
                        <td>{{ ce.orden }}.- {{ ce.nombre }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>

    <div id="contenido_sap{{ sap.id }}">
        <div class="row">
            <div class="columns large-12">
                <div class="panel callout"><h5>Actividades asociadas a esta situación de aprendizaje</h5></div>
                <p>Las situaciones de aprendizaje se llevan a cabo a través de actividades que permiten calificar
                    en qué medida se alcanzan las competencias específicas, utilizando los criterios de evaluación
                    que elijas. Estos criterios irán asociados, a su vez, con determinados procedimientos de
                    evaluación.</p>
                <p>El primer paso es crear las actividades que vas a llevar a cabo:</p>
            </div>
        </div>
        <div id="list_sap_actividades{{ sap.id }}">
            {% for actividad in sap.repoactsitapren_set.all %}
                {% include 'repositorio_sap_accordion_content_act.html' %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="columns large-12">
                <a class="button right add_sap_actividad" data-sap="{{ sap.id }}"><i class="fa fa-plus"></i> Añadir
                    actividad</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="columns large-12">
            <p>El primer paso es elegir a qué asignatura va vinculada la situación de aprendizaje
                que vas crear:</p>
        </div>
    </div>
    <div class="row">
        <div class="columns large-9">
            <select id="select_am_sap{{ sap.id }}">
                {% for m in areamaterias %}
                    <option value="{{ m.id }}">{{ m.nombre }} - {{ m.get_curso_display }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="columns large-3">
            <a class="button vincula_areamateria_sap small radius" data-sap="{{ sap.id }}">
                <b>Vincular asignatura</b>
            </a>
        </div>
    </div>
{% endif %}
<script>
    $('select').select2();
</script>