{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block contenido %}
    <style>
        .title_page {
            text-align: center;
            color: #008CBA;
        }

        .ckeditor {
            border: lightgrey 1px solid;
            min-height: 100px;
        }
    </style>
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        {#        <input type="hidden" name="action" id="action" value="">#}
        {#        <input type="hidden" name="q" id="q" value="">#}
        {#        <input type="hidden" name="page" id="page" value="">#}
        <input type="hidden" id="id_sap" name="id_sap" value="">

        <div>
            <h4 class="title_page"><strong>REPOSITORIO DE SITUACIONES DE APRENDIZAJE</strong></h4>
        </div>

        <div id="contenido_sb">
            <br>
            <dl class="accordion" data-accordion id="list_saps">
                {% for sap in saps %}
                    {% include 'repositorio_sap_accordion.html' %}
                {% endfor %}
            </dl>
        </div>
    </form>
{% endblock %}

{% block final %}
    <script>
        habilita(['s_search',]);
        var url_repositorio_sap = "/repositorio_sap/";

        {% if g_e|has_permiso:"crea_programaciones" %}
            habilita(['s_plus']);
            $('#plus_sign').click(function (event) {
                event.preventDefault();
                $.post(url_repositorio_sap, {'action': 'crea_sap'},
                    function (data) {
                        if (data.ok) {
                            $('#list_saps').append(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '.borrar_sap', function () {
            id = $(this).data('id');
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar esta situación de aprendizaje?',
                texto: 'Si aceptas, la situación de aprendizaje se borrará por completo de la base de datos',
                size: 'large',
                buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        $.post(url_repositorio_sap, {action: 'borrar_sap', id: id},
                            function (data) {
                                if (data.ok) {
                                    $('#accordion' + id).remove();
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $('#update_error').show().delay(1500).fadeOut();
                                }
                            });
                    }
                }
            });

        });
        {% endif %}

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-sap')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post(url_repositorio_sap, {action: 'open_accordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        {#destroyEditorInstances();#}
                                        {#constructInlineEditorInstances(id);#}
                                        $('#id_sap').val(id);
                                        {# utilizado para generar pdf #}
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });

        function get_texto_from_element(element) {
            if (element.val()) {
                return element.val();
            } else {
                return element.html();
            }
        }

        $('body').on('keyup', '.update_texto', function () {
            var element = $(this);
            var id = element.data('id');
            var campo = element.data('campo');
            var clase = element.data('clase');
            var antiguo_texto = get_texto_from_element(element);
            setTimeout(function () {
                var nuevo_texto = get_texto_from_element(element);
                if (antiguo_texto === nuevo_texto) {
                    $.post(url_repositorio_sap, {
                            action: 'update_texto', id: id, texto: nuevo_texto, campo: campo,
                            clase: clase
                        },
                        function (data) {
                            if (data.ok) {
                                if (campo === 'nombre') {
                                    $('#nombre' + id).html(nuevo_texto);
                                }
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $('#update_error').show().delay(1500).fadeOut();
                            }
                        });
                }
            }, 750);
        });

        $('body').on('change', '.update_many2many', function () {
            var element = $(this);
            var id = element.data('id');
            var idm2m = element.data('idm2m');
            var campo = element.data('campo');
            var clase = element.data('clase');
            var clasem2m = element.data('clasem2m');
            var checked = element.prop('checked');
            $.post(url_repositorio_sap, {
                    action: 'update_many2many', id: id, checked: checked, campo: campo, clase: clase,
                    clasem2m: clasem2m, idm2m: idm2m
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.update_select', function () {
            var element = $(this);
            var id = element.data('id');
            var campo = element.data('campo');
            var clase = element.data('clase');
            var valor = element.val();
            $.post(url_repositorio_sap, {
                    action: 'update_select', id: id, valor: valor, campo: campo, clase: clase
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('#Contenido').on('click', '.add_sap_actividad', function (e) {
            e.preventDefault();
            var element = $(this);
            var sap = element.data('sap');
            $.post(url_repositorio_sap, {
                    action: 'add_sap_actividad', sap: sap
                },
                function (data) {
                    if (data.ok) {
                        $('#list_sap_actividades' + sap).append(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.borrar_sap_actividad', function () {
            id = $(this).data('id');
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar este actividad?',
                texto: 'Si aceptas la actividad se borrará por completo de la base de datos.',
                size: 'large',
                buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        setTimeout(function () {
                            $.post(url_repositorio_sap, {action: 'borrar_sap_actividad', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#contenido_actividad' + id).remove();
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        show_mensajes({
                                            title: '<i class="fa fa-warning"></i> Acción sin complentar',
                                            texto: data.msg
                                        });
                                        $('#update_error').show().delay(1500).fadeOut();
                                    }
                                });
                        }, 800);
                    }
                }
            });
        });

        $('#Contenido').on('click', '.add_act_instrumento', function (e) {
            e.preventDefault();
            var element = $(this);
            var act = element.data('act');
            $.post(url_repositorio_sap, {
                    action: 'add_act_instrumento', act: act
                },
                function (data) {
                    if (data.ok) {
                        $('#list_instrumentos_actividad' + act).append(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.borrar_act_instrumento', function () {
            id = $(this).data('id');
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar este procedimiento de evaluación?',
                texto: 'Si aceptas el procedimiento se borrará por completo de la base de datos.',
                size: 'large',
                buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        setTimeout(function () {
                            $.post(url_repositorio_sap, {action: 'borrar_act_instrumento', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#sap_act_intrumento' + id).remove();
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {

                                        show_mensajes({
                                            title: '<i class="fa fa-warning"></i> Acción sin complentar',
                                            texto: data.msg
                                        });

                                        $('#update_error').show().delay(1500).fadeOut();
                                    }
                                });
                        }, 800);
                    }
                }
            });
        });

        function refresh_table_criteval(element) {
            var id = element.data('id');
            $.post(url_repositorio_sap, {
                    action: 'table_criteval', id: id
                },
                function (data) {
                    if (data.ok) {
                        $('#table_criteval' + id).html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        }

        $('#Contenido').on('mouseenter', '.table_criteval', function () {
            var element = $(this);
            refresh_table_criteval(element);
        });
        $('#Contenido').on('click', '.refresh_table_criteval', function (e) {
            e.preventDefault();
            var element = $(this);
            refresh_table_criteval(element);
        });


        {% comment %}
        function destroyEditorInstances() {
            for (var instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].destroy();
            }
        }

        function constructEditorInstances(id) {
            CKEDITOR.replace('texto_editable' + id, config);
            {#CKEDITOR.replace('destinatario' + id);#}
            CKEDITOR.inline('destinatario' + id, config);
        }

        function constructInlineEditorInstances() {
            $(".ckeditor").each(function (index) {
                var element = $(this);
                var id = element.attr('id');
                var editor = CKEDITOR.inline(id, config);
                editor.addCommand("generapdfinforme", {
                    exec: function (edt) {
                        genera_pdf_informe();
                    }
                });
                editor.ui.addButton('generapdfbutton', {
                    label: "Genera PDF",
                    command: 'generapdfinforme',
                    toolbar: 'insert',
                    icon: '/static/images/pdf_icon.png'
                });
                var anchura = element.width() + 2;
                setTimeout(function () {
                    $('#cke_' + id).css('width', anchura + 'px');
                    {# Este es el id del ckeditor creado #}
                }, 200);
            });
        }
        {% endcomment %}


        {% comment %}

        $('body').on('change', '.select_variante', function () {
            var va = $(this).val();
            var progsec = $(this).data('progsec');
            $.post("url_repositorio_sap", {action: 'select_variante', va: va, progsec: progsec},
                function (data) {
                    if (data.ok) {
                        $("#contenido_informe" + data.progsec).html(data.html);
                        $("#destinatario" + data.progsec).html(data.destinatario);
                        $("#input_asunto" + data.progsec).val(data.asunto);
                        destroyEditorInstances();
                        {#constructEditorInstances(id);#}
                        {#CKEDITOR.inlineAll();#}
                        constructInlineEditorInstances(progsec);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        function get_texto_from_update_texto(element, id) {
            var texto;
            if (element.hasClass('asunto')) {
                texto = element.val();
                $('#asunto' + id).html(texto);
            } else if (element.hasClass('variable')) {
                texto = element.val();
            } else {
                texto = element.html();
            }
            return texto;
        }

        $('body').on('keyup', '.update_texto', function () {
            var element = $(this);
            var id = element.data('id');
            var campo = element.data('campo');
            var v = element.hasClass('variable') ? 1 : 0;
            var antiguo_texto = get_texto_from_update_texto(element, id);
            setTimeout(function () {
                var nuevo_texto = get_texto_from_update_texto(element, id);
                if (antiguo_texto === nuevo_texto) {
                    $.post("url_repositorio_sap", {action: 'update_texto', id: id, valor: nuevo_texto, campo: campo, v: v},
                        function (data) {
                            if (data.ok) {
                                $('#texto_informe' + data.progsec).html(data.html);
                                if (data.html_v) {
                                    $('#variables' + data.progsec).html(data.html_v);
                                }
                                if (data.num_v > 0) {
                                    $('.variables_texto2pdf' + data.progsec).show();
                                } else {
                                    $('.variables_texto2pdf' + data.progsec).hide();
                                }
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $('#update_error').show().delay(1500).fadeOut();
                            }
                        });
                }
            }, 750);
        });

        $('body').on('click', '.copiar_progsec', function () {
            var id = $(this).data('id');
            $.post("url_repositorio_sap", {action: 'copiar_progsec', id: id},
                function (data) {
                    if (data.ok) {
                        $('#list_progsec').prepend(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.borrar_progsec', function () {
            id = $(this).data('id');
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar esta informe de informe de inspección?',
                texto: 'Si aceptas el informe se borrará por completo de la base de datos', size: 'large', buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        $.post("url_repositorio_sap", {action: 'borrar_progsec', id: id},
                            function (data) {
                                if (data.ok) {
                                    $('#accordion' + id).remove();
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $('#update_error').show().delay(1500).fadeOut();
                                }
                            });
                    }
                }
            });

        });


        {######################################################## #}

        $("body").on('click', '#busca_repositorio_manual', function (e) {
            var texto = $('#busca_progsec').val();
            var id_fecha_inicio = $('#id_fecha_inicio').val();
            var id_fecha_fin = $('#id_fecha_fin').val();
            var tipo_busqueda = $('#tipo_busqueda').val();
            $.post("url_repositorio_sap", {
                    action: 'busca_progsec', texto: texto, id_fecha_inicio: id_fecha_inicio,
                    id_fecha_fin: id_fecha_fin, tipo_busqueda: tipo_busqueda
                },
                function (data) {
                    $('#list_progsec').html(data['html']);
                    $(document).foundation();
                });
        });

        $("body").on('keyup', '#busca_progsec', function (e) {
            var texto = $('#busca_progsec').val();
            var id_fecha_inicio = $('#id_fecha_inicio').val();
            var id_fecha_fin = $('#id_fecha_fin').val();
            var tipo_busqueda = $('#tipo_busqueda').val();
            $.post("url_repositorio_sap", {
                    action: 'busca_progsec', texto: texto, id_fecha_inicio: id_fecha_inicio,
                    id_fecha_fin: id_fecha_fin, tipo_busqueda: tipo_busqueda
                },
                function (data) {
                    $('#list_progsec').html(data['html']);
                    $(document).foundation();
                });
        });

        function genera_pdf_informe() {
            $('#action').val('pdf_progsec');
            document.getElementById('{{formname}}').submit();
        }

        $('#Contenido').on('click', '.pdf_progsec', function (e) {
            e.preventDefault();
            {#var id = $(this).data('id')#}
            genera_pdf_informe();
            {#var protocol = window.location.protocol;#}
            {#var port = window.location.port;#}
            {#var domain = window.location.hostname;#}
            {#$('#protocol_domain').val( protocol + '//' + domain + ':' + port);#}

        });

        {# ##################################################################### #}
        {# #################### CARGA DE ARCHIVOS ############################## #}
        {# ##################################################################### #}


        function updateProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = (evt.loaded / evt.total) * 100;
                $('.span_porcentage').html(parseInt(percentComplete) + '%');
                console.log(percentComplete);
            } else {
                console.log('No es posible calcular el porcentaje de carga en el servidor');
            }
        }

        $('body').on('click', '.subir_gauss_file', function () {
            var id = $(this).data('id');
            var input_files = document.getElementById('input_gauss_file' + id).files;
            $('#span_spin').show();
            $('.span_porcentage').show();

            for (var i = 0; i < input_files.length; i++) {
                console.log(input_files[i].name + ' (' + input_files[i].size + ' bytes)');
            }

            var formData = new FormData();
            for (var i = 0; i < input_files.length; i++) {
                formData.append('archivo_xhr' + i, input_files[i], slugify_filename(input_files[i].name));
            }
            formData.append('n_files', input_files.length);
            formData.append('action', 'upload_archivo_xhr');
            formData.append('progsec', id);
            formData.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());
            var xhr = new XMLHttpRequest();
            {#xhr.upload.addEventListener("progress", updateProgress, false);#}
            xhr.onload = function () {
                if (xhr.readyState === xhr.DONE) {
                    if (xhr.status === 200) {
                        console.log(xhr.responseText);
                        {#var b = xhr.responseText;#}
                        var data = JSON.parse(xhr.responseText);
                        $('#tbody_gauss_file' + data.id).html(data.html);
                        $('#span_spin').hide();
                        $('#span_porcentage').hide();
                    }
                }
            };
            xhr.open('POST', "url_repositorio_sap", true);
            xhr.send(formData);
        });

        $('#Contenido').on('click', '.descarga_gauss_file', function (e) {
            e.preventDefault();
            $('#action').val('descarga_gauss_file');
            $('#faii').val($(this).data('id'));
            document.getElementById('{{formname}}').submit();
        });

        $('body').on('click', '.borra_gauss_file', function () {
            id = $(this).data('id');
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar este archivo adjunto al informe?',
                texto: 'Si aceptas el archivo se borrará por completo de la base de datos', size: 'large', buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Borrar": function () {
                        hide_mensajes();
                        $.post("url_repositorio_sap", {action: 'borrar_faii', id: id},
                            function (data) {
                                if (data.ok) {
                                    $('#gauss_file' + id).remove();
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $('#update_error').show().delay(1500).fadeOut();
                                }
                            });
                    }
                }
            });
        });
        {% endcomment %}
    </script>

{% endblock %}
