{% load entidades_extras %}
{% load programaciones_extras %}
<style>
    html {
        font-family: Helvetica, Arial;
    }

    p {
        text-align: justify;
    }

    .span_periodos {
        color: darkred;
    }

    table {
        width: 100%;
        border: solid 1px black;
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid grey;
    }

    .pagebreak {
        page-break-before: always;
    }

    {% for sb in progsec.saberbas_set.all %}
        #row_sb_botones{{ sb.id }} {
            display: none;
            position: absolute;
            top: 1px;
            right: 35px;
        }
        #row_sb{{ sb.id }} {
            position: relative;
        }
        #row_sb{{ sb.id }}:hover #row_sb_botones{{ sb.id }} {
            display: block;
        }
        #row_sb{{ sb.id }}:hover {
            border-top: 1px solid #ebccd1;
        }
        {% for sap in sb.sitapren_set.all %}
            #row_sap_botones{{ sb.id }} {
                display: none;
                position: absolute;
                top: 1px;
                right: 35px;
            }
            #row_sap{{ sb.id }} {
                position: relative;
            }
            #row_sap{{ sb.id }}:hover #row_sap_botones{{ sb.id }} {
                display: block;
            }
            #row_sap{{ sb.id }}:hover {
                border-top: 1px solid #ebccd1;
            }
        {% endfor %}
        h1 {
            font-variant: small-caps;
            text-align: center;
            font-size: 36pt;
            color: #0078a0;
        }
        h2 {
            font-variant: small-caps;
            text-align: center;
            font-size: 30pt;
            color: #0078a0;
        }
        h3 {
            font-variant: small-caps;
            font-size: 24pt;
            color: #0078a0;
        }
        h4 {
            font-variant: small-caps;
            font-size: 18pt;
            color: #0078a0;
        }
        h5 {
        {#font-variant: small-caps;#} font-variant: titling-caps;
            font-size: 12pt;
            color: #0078a0;
        }
    {% endfor %}


</style>
<h1>Programación Didáctica</h1>
<h2>{{ progsec.nombre }}</h2>
<h5>Fechas de comienzo y fin</h5>
<p>Inicio aproximado: {{ progsec.inicio_clases|date:'d-m-Y' }}</p>
<p>Finalización aproximada: {{ progsec.fin_clases|date:'d-m-Y' }}</p>
{% if progsec.departamento.etapa == 'PRI' or progsec.departamento.etapa == 'INF' %}
    <h5>Coordinador de ciclo responsable de la programación</h5>
    <p>{{ progsec.departamento.jefe.ge.gauser.get_full_name }}</p>
{% else %}
    <h5>Jefe del departamento responsable de la programación</h5>
    <p>{{ progsec.departamento.jefe.ge.gauser.get_full_name }}</p>
{% endif %}
<h5>Docentes implicados en el desarrollo de la programación</h5>
<ul>
    {% for d in progsec.docprogsec_set.all %}
        <li>{{ d.gep.ge.gauser.get_full_name }}</li>
    {% endfor %}
</ul>
<br>

{#<h3>Listado de competencias específicas</h3>#}
{#<p>La superación de {{ progsec.areamateria.nombre }} implica la adquisición de una serie de competencias#}
{#    específicas. Todas ellas contribuyen de igual forma a la calificación que finalmente obtendrán sus#}
{#    alumunos.</p>#}
{#<p>A través de los criterios de evaluación se valora el grado de adquisición de cada#}
{#    competencia específica; la media de esas valoraciones será la calificación que el alumnado obtendrá#}
{#    en {{ progsec.areamateria.nombre }}.</p>#}
{#<h4>Competencias específicas</h4>#}
{#{% for cep in progsec.ceprogsec_set.all %}#}
{#    <p>{{ cep.ce.orden }}.- {{ cep.ce.nombre }}</p>#}
{#{% endfor %}#}


<h4 class="pagebreak">Procedimiento para la adopción de medidas de atención a la diversidad</h4>
{% if progsec.procdiversidad %}
    <p>{{ progsec.procdiversidad }}</p>
{% else %}
    <p style="color: gray;">Todavía no se ha definido el procedimiento para la adopción de
        medidas de atención a la diversidad.</p>
{% endif %}
<h4>Libros o materiales van a ser utilizados para el desarrollo de la materia</h4>

<table id="lista_libros{{ progsec.id }}" style="width: 100%;border: solid 1px black; border-collapse: collapse;">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>ISBN</th>
    </tr>
    </thead>
    <tbody>
    {% for libro in progsec.librorecurso_set.all %}
        <tr class="datos_libro{{ libro.id }}">
            <td>{{ libro.nombre }}</td>
            <td>{{ libro.isbn }}</td>
        </tr>
        <tr class="datos_libro{{ libro.id }}">
            <td colspan="2" style="color: grey;">{{ libro.observaciones }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Actividades extraescolares/complementarias que se van a llevar a cabo</h4>

<table id="lista_actex{{ progsec.id }}" style="width: 100%;border: solid 1px black; border-collapse: collapse;">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Inicio</th>
        <th>Fin</th>
    </tr>
    </thead>
    <tbody>
    {% for actex in progsec.actexcom_set.all %}
        <tr class="datos_actex{{ actex.id }}">
            <td>{{ actex.nombre }}</td>
            <td>{{ actex.inicio|date:'d/m/Y' }}</td>
            <td>{{ actex.fin|date:'d/m/Y' }}</td>
        </tr>
        <tr class="datos_actex{{ actex.id }}">
            <td colspan="4" style="color: grey;">{{ actex.observaciones }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<h4 id="unidades_programacion{{ progsec.id }}">Unidades de programación</h4>
<p>Las unidades de programación organizan la acción didáctica orientada hacia la adquisición de
    competencias. En este proceso se desarrollan los saberes básicos (conocimientos, destrezas y actitudes),
    cuyo aprendizaje resulta necesario para la adquisición de compentecias.</p>


<p>Los saberes básicos desarrollados en cada unidad de programación son impartidos en clase a través de las denominadas
    situaciones de aprendizaje. Estas a su vez se evalúan a través de procedimientos de evaluación; los utilizados en
    esta programación didáctica son:</p>

<div class="row">
    <div class="columns large-12">
        <table style="width: 100%;border: solid 1px black; border-collapse: collapse;">
            <thead>
            <tr>
                <th colspan="2">Según lo programado, el porcentaje de uso de los procedimientos de evaluación
                    para obtener la calificación final del alumnado es:
                </th>
            </tr>
            </thead>
            <tbody>

            {% for ins, p in progsec.instrumentos_utilizados.items %}
                {% if p > 0 %}
                    <tr>
                        {% if p > 60 and '50BAC' in progsec.areamateria.curso %}
                            <td style="color:red;font-weight: bold;">{{ ins }}:</td>
                            <td style="color:red;font-weight: bold;">{{ p|floatformat:2 }}%</td>
                        {% elif p > 40 and '50BAC' not in progsec.areamateria.curso %}
                            <td style="color:red;font-weight: bold;">{{ ins }}:</td>
                            <td style="color:red;font-weight: bold;"> {{ p|floatformat:2 }}%</td>
                        {% else %}
                            {% if p > 0 %}
                                <td style="color:green;font-weight: bold;">{{ ins }}:</td>
                                <td style="color:green;font-weight: bold;">{{ p|floatformat:2 }}%</td>
                            {% else %}
                                <td>{{ ins }}:</td>
                                <td>{{ p|floatformat:2 }}%</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>


{#{% if progsec.instrumentos_utilizados|length > 0 %}#}
{#    <p>Para la valoración de los criterios de evaluación esta programación utiliza los siguientes#}
{#        procedimientos de evaluación:</p>#}
{#    <ol>#}
{#        {% for ins in progsec.instrumentos_utilizados %}#}
{#            <li>{{ ins }}</li>#}
{#        {% endfor %}#}
{#    </ol>#}
{#{% else %}#}
{#    <p style="color: gray;">Todavía no se han definido los procedimientos de evaluación que se utilizarán#}
{#        para valorar el grado de adquisición de las competencias específicas.</p>#}
{#{% endif %}#}

<p>En este apartado, se muestran secuenciadas las diferentes unidades de programación asociadas con la materia
    ({{ progsec.areamateria.nombre }} de {{ progsec.areamateria.get_curso_display }}). También se indican las fechas
    aproximadas de comienzo de cada una de las unidades así com el número de
    periodos lectivos que se estima serán necesarios para impartir la docencia correspondiente.</p>

<table style="width: 100%;border: solid 1px black; border-collapse: collapse;">
    <thead>
    <th>Comienzo aprox.</th>
    <th>Nombre de la unidad de programación (UP)</th>
    <th>Periodos</th>
    </thead>
    <tbody>
    {% for saber in progsec.saberbas_set.all %}
        <tr>
            <td style="text-align: center;">{{ saber.comienzo|date:'d-m-Y' }}</td>
            <td>{{ saber.orden }}.- {{ saber.nombre }}</td>
            <td style="text-align: center;">{{ saber.periodos }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% for saber in progsec.saberbas_set.all %}
    <h3 class="pagebreak" style="text-align: center;">{{ saber.orden }}.- {{ saber.nombre }} ({{ saber.periodos }}
        periodos)</h3>
    <p>Esta unidad de programación está compuesta por {{ saber.sitapren_set.all|length }} situaciones de aprendizaje
        que son descritas a continuación.</p>
    {% for sitapren in saber.sitapren_set.all %}
        <h4>{{ sitapren.nombre }}</h4>
        <h5>Descripción y saberes básicos de la situación de aprendizaje, integrando
            metodologías:</h5>
        <p>{{ sitapren.contenidos_sbas }}</p>
        <h5>Producto solicitado a los alumnos en la situación de aprendizaje:</h5>
        <p>{{ sitapren.objetivo }}</p>
        <h5>Competencias específicas que se van a trabajar en esta situación de
            aprendizaje:</h5>
        {% for ce in sitapren.ceps.all %}
            <p>{{ ce.ce.orden }}.- {{ ce.ce.nombre }}</p>
        {% endfor %}

        <h5>En esta situación de aprendizaje se va{{ sitapren.actsitapren_set.all|length|pluralize:'n' }} a llevar
            a cabo (al menos) {{ sitapren.actsitapren_set.all|length }}
            actividad{{ sitapren.actsitapren_set.all|length|pluralize:'es' }}:</h5>
        {% for asapren in sitapren.actsitapren_set.all %}
            <p>{{ asapren.nombre }}</p><p>{{ asapren.description }}</p>
            <p>Para evaluar el desarrollo de la actividad se hacen uso de procedimientos de evaluación. Estos
                procedimientos de evaluación miden la adquisición de las competencias por parte del alumnado
                utilizando los denominados criterios de evaluación.</p>
            <p>A continuación se describen los procedimientos de evaluación con sus criterios asociados:</p>
            <table>
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Criterios evaluados (peso)</th>
                </tr>
                </thead>
                <tbody>
                {% for ieval in asapren.instreval_set.all %}
                    <tr>
                        <td style="width: 20%;">{{ ieval.get_tipo_display }}</td>
                        <td style="width: 20%;">{{ ieval.nombre }}</td>
                        <td style="width: 60%;">{% for criinstreval in ieval.criinstreval_set.all %}
                            {% if criinstreval.peso > 0 %}
                            {{ criinstreval.cevps.cev.ce.orden }}.{{ criinstreval.cevps.cev.orden }}.-
                            {{ criinstreval.cevps.cev.texto }}
                            (<span style="font-weight: bold;">{{ criinstreval.peso }}</span>)<br>
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endfor %}
    {% endfor %}

{% endfor %}

{#<br>#}
{#{% include 'progsec_accordion_content_gantt.html' %}#}

<h2 class="pagebreak" style="font-variant: small-caps;text-align: center;">Anexo I - Cálculo de calificaciones</h2>

<div class="row">
    {% if '00' in progsec.areamateria.curso or '10' in progsec.areamateria.curso %}
        <div class="columns large-12">
            <div class="panel callout"><h3>Listado de competencias específicas</h3></div>
            <p>La superación de {{ progsec.areamateria.nombre }} implica la adquisición de una serie de competencias
                específicas. Todas ellas contribuyen de igual forma a la calificación que finalmente obtendrán sus
                alumunos.</p>
            <p>A través de los criterios de evaluación se valora el grado de adquisición de cada
                competencia específica; la media de esas valoraciones será la calificación que el alumnado obtendrá
                en {{ progsec.areamateria.nombre }}.</p>
        </div>
        </div>

        <div class="row">
            <div class="columns large-12">
                <table style="width: 100%;border-collapse: collapse;border: solid 1px black;">
                    <thead>
                    <tr>
                        <th style="width: 90%;">Competencias específicas</th>
                    </tr>
                    </thead>
                    {% for cep in progsec.ceprogsec_set.all %}
                        {% ifchanged cep.ce.asignatura %}
                            {% if cep.ce.asignatura %}
                                <tr>
                                    <td style="color: darkorange">{{ cep.ce.asignatura }}</td>
                                </tr>
                            {% endif %}
                        {% endifchanged %}
                        <tr>
                            <td>{{ cep.ce.orden }}.- {{ cep.ce.nombre }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <p style="color: gray;">La calificación de {{ progsec.areamateria.nombre }} se calculará a través de
                    la
                    siguiente media ponderada:</p>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12" style="text-align: left;">
                calificación {{ progsec.areamateria.nombre }} =
            </div>
        </div>
        <div class="row">
            <div class="columns large-12" style="text-align: center;">
                <div>
                    {% for ce in progsec.ceprogsec_set.all %}
                        <span title="Calificación obtenida en la competencia específica {{ ce.ce.orden }}"
                        >CE{{ ce.ce.orden }}</span>{% if not forloop.last %}&nbsp;+&nbsp;{% endif %}{% endfor %}
                </div>
                <div style="border-top: 1px solid black;">
                    {{ progsec.ceprogsec_set.all|length }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <p style="color: gray;">En la anterior fórmula, CE1 es la calificación que un alumno obtiene en la
                    competencia específica 1,
                    <br>En la anterior fórmula, CE2 es la calificación que un alumno obtiene en la
                    competencia específica 2,
                    <br>...
                    <br>CEn sería la calificación obtenida en la competencia específica "n".</p>
            </div>
        </div>
    {% else %}
        <div class="columns large-12">
            <div class="panel callout"><h3>Listado de competencias específicas</h3></div>
            <p>La superación de {{ progsec.areamateria.nombre }} implica la adquisición de una serie de competencias
                específicas. Cada una de estas competencias específicas contribuirá en parte a la calificación que
                finalmente obtendrán sus alumunos.</p>
            <p> No obstante, es posible que su departamento considere que una competencia específica tenga más
                importancia que otras en la calificación final. Esta importancia la puede fijar introduciendo un
                "peso"
                a cada competencia específica; este peso se representa por un número asociado a dicha competencia.
                Cuanto mayor es el peso (el número asignado) mayor es la importancia de la competencia.</p>
            <p>A través de los criterios de evaluación se valora el grado de adquisición de cada
                competencia específica; la media ponderada de esas valoraciones será la calificación que el alumnado
                obtendrá en {{ progsec.areamateria.nombre }}.</p>
        </div>
        </div>

        <div class="row">
            <div class="columns large-12">
                <table style="width: 100%;border: solid 1px black; border-collapse: collapse;">
                    <thead>
                    <tr>
                        <th style="width: 90%;">Competencias específicas</th>
                        <th style="width: 10%;">Peso</th>
                    </tr>
                    </thead>
                    {% for cep in progsec.ceprogsec_set.all %}
                        {% ifchanged cep.ce.asignatura %}
                            {% if cep.ce.asignatura %}
                                <tr>
                                    <td colspan="2" style="color: darkorange">{{ cep.ce.asignatura }}</td>
                                </tr>
                            {% endif %}
                        {% endifchanged %}
                        <tr>
                            <td>{{ cep.ce.orden }}.- {{ cep.ce.nombre }}</td>
                            <td>{{ cep.valor|floatformat }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <p style="color: gray;">La calificación de {{ progsec.areamateria.nombre }} se calculará a través de
                    la
                    siguiente media ponderada:</p>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12" style="text-align: left;">
                calificación {{ progsec.areamateria.nombre }} =
            </div>
        </div>
        <div class="row">
            <div class="columns large-12" style="text-align: center;">
                <div>
                    {% for ce in progsec.ceprogsec_set.all %}
                        <span title="Calificación obtenida en la competencia específica {{ ce.ce.orden }}"
                        >CE{{ ce.ce.orden }}</span>&nbsp;×&nbsp;<span class="valor_ce{{ ce.id }}"
                    >{{ ce.valor|floatformat }}</span>{% if not forloop.last %}&nbsp;+&nbsp;{% endif %}{% endfor %}
                </div>
                <div style="border-top: 1px solid black;">
                    {% for ce in progsec.ceprogsec_set.all %}
                        <span class="valor_ce{{ ce.id }}">{{ ce.valor|floatformat }}</span
                        >{% if not forloop.last %}&nbsp;+&nbsp;{% endif %}{% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <p style="color: gray;">En la anterior fórmula, CE1 es la calificación que un alumno obtiene en la
                    competencia específica 1,
                    <br>En la anterior fórmula, CE2 es la calificación que un alumno obtiene en la
                    competencia específica 2,
                    <br>...
                    <br>CEn sería la calificación obtenida en la competencia específica "n".</p>
            </div>
        </div>
    {% endif %}

{#<table style="width: 100%;border-collapse: collapse; border: 1px solid black;">#}
{#                        <thead>#}
{#                        <tr>#}
{#                            <th style="width: 90%;">Competencias específicas</th>#}
{#                            <th style="width: 10%;">Peso</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        {% for cep in progsec.ceprogsec_set.all %}#}
{#                            {% ifchanged cep.ce.asignatura %}#}
{#                                {% if cep.ce.asignatura %}#}
{#                                    <tr>#}
{#                                        <td style="color: darkorange">{{ cep.ce.asignatura }}</td>#}
{#                                    </tr>#}
{#                                {% endif %}#}
{#                            {% endifchanged %}#}
{#                            <tr>#}
{#                                <td>{{ cep.ce.orden }}.- {{ cep.ce.nombre }}</td>#}
{#                                <td>{{ cep.valor|floatformat }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    </table>#}


{#<p style="color: gray;">Tal y como se ha señalado anteriormente, la calificación#}
{#    de {{ progsec.areamateria.nombre }}#}
{#    se calculará a través de la siguiente expresión:#}
{#</p>#}
{##}
{#<div class="row">#}
{#    <div class="columns large-12" style="text-align: left;">#}
{#        calificación {{ progsec.areamateria.nombre }} =#}
{#    </div>#}
{#</div>#}
{#<div style="text-align: center;">#}
{#    <div style="border-bottom: 1px solid black;">#}
{#        {% for ce in progsec.ceprogsec_set.all %}#}
{#            <span title="Calificación obtenida en la competencia específica {{ ce.ce.orden }}"#}
{#            >CE{{ ce.ce.orden }}</span>&nbsp;{% if not forloop.last %}&nbsp;+&nbsp;{% endif %}{% endfor %}#}
{#    </div>#}
{#    <div>#}
{#        {{ progsec.ceprogsec_set.all|length }}#}
{#    </div>#}
{#</div>#}
{#<div>#}
{#    <p style="color: gray;">En la anterior fórmula, CE1 es la calificación que un alumno obtiene en la#}
{#        competencia específica 1,#}
{#        <br>En la anterior fórmula, CE2 es la calificación que un alumno obtiene en la#}
{#        competencia específica 2,#}
{#        <br>...#}
{#        <br>CEn sería la calificación obtenida en la competencia específica "n".</p>#}
{#</div>#}


<h3>Peso asociado a cada criterio de evaluación</h3>
<p>Para concretar el nivel de adquisición de cada competencia específica, se utilizarán una serie
    de criterios de evaluación. Así pues, las competencias no son evaluadas directamente; la evaluación se hace
    a través los citados criterios de evaluación; que a su vez servirán de referencia para generar la calificación
    obtenida por el alumnado.</p>
<p>Cada criterio de evaluación puede tener, a su vez, un "peso" que determina
    su contribución ponderada a la valoración del grado de adquisición de la competencia específica.</p>

<p style="color: gray;">La calificación de cada competencia específica será la media ponderada de las
    calificaciones
    que usted otorgue a cada alumno en cada criterio de evaluación.</p>
<table style="width: 100%;border: 1px black solid;border-collapse: collapse;">
    <thead>
    <tr>
        <th>Competencias específicas con sus criterios de evaluación asociados</th>
        <th>Peso</th>
    </tr>
    </thead>
    {% for cep in progsec.ceprogsec_set.all %}
        <thead>
        <tr>
            <th colspan="2">{{ cep.ce.orden }}.- {{ cep.ce.nombre }}</th>
        </tr>
        </thead>
        <tbody>
        {% for cevp in cep.cevprogsec_set.all %}
            <tr>
                <td>{{ cep.ce.orden }}.{{ cevp.cev.orden }}.- {{ cevp.cev.texto }}</td>
                <td style="text-align: center;">{{ cevp.valor|floatformat }}</td>
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
</table>

<div id="cevalponderada{{ progsec.id }}">
    {% with cep=progsec.ceprogsec_set.all.last %}
        {% include "progsec_accordion_content_cevalponderada.html" %}
    {% endwith %}
</div>

<h2 class="pagebreak" style="font-variant: small-caps;text-align: center;">Anexo II - Uso de procedimientos de
    evaluación</h2>
<p>La calificación obtenida en cada una de las competencias específicas asociadas a {{ progsec.areamateria.nombre }} se
    obtiene a través de la expresión matemática explicada en el Anexo I.</p>
<p>Para evaluar el grado de adquisición de dichas competencias se utilizan procedimientos de evaluación en cada una
    de las actividades descritas en esta programación. La normativa de La Rioja, obliga a que los procedimientos de
    evaluación utilizados sean variados, de tal forma que la calificación final de una asignatura no se deba en más de
    un
    <span style="font-weight: bold;">40%</span>
    a un único tipo.
</p>
<p>Las siguientes tablas muestran los procedimientos utilizados para calificar cada una de las competencias
    específicas. Observe que cada procedimiento evalúa los logros utilizando los criterios de evaluación.</p>
{% for cepsec in progsec.ceprogsec_set.all %}
    <table style="border: none;">
        <thead>
        <tr>
            <th style="border: none;">&nbsp;</th>
            <th colspan="{{ cepsec.num_criinstreval_vinculados }}">{{ cepsec.ce.orden }}.- {{ cepsec.ce.nombre }}
                ({{ cepsec.valor|floatformat }})
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="border: none;">&nbsp;</td>
            {% for cevpsec in cepsec.cevprogsec_set.all %}
                <td style="text-align: center;" colspan="{{ cevpsec.criinstreval_set.all|length }}">
                    CEv{{ cevpsec.cepsec.ce.orden }}.{{ cevpsec.cev.orden }} ({{ cevpsec.valor|floatformat }})
                </td>
            {% endfor %}
        </tr>
        {% for tipo in cepsec.tipos_procedimientos_utilizados %}
            <tr>
                <td style="width: 20%;">{{ tipo.1 }}</td>
                {% for cevpsec in cepsec.cevprogsec_set.all %}
                    {% for criinstreval in cevpsec.criinstreval_set.all %}
                        {% if criinstreval.ieval.tipo == tipo.0 %}
                            <td>
                                {% if criinstreval.peso > 0 %}
                                    {{ criinstreval.peso }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                        {% else %}
                            <td>
                                --
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>&nbsp;</p>
{% endfor %}