<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="shortcut icon" href="/static/images/favicon3.ico">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/foundation-5.2.2/css/foundation.css"/>
    <link rel="stylesheet" href="/static/foundation-icons/foundation-icons/foundation-icons.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css"/>
</head>
<body>



</body>

<script src="/static/foundation-5.2.2/js/vendor/jquery.js"></script>
<script src="/static/foundation-5.2.2/js/vendor/modernizr.js"></script>
<script src="/static/foundation-5.2.2/js/foundation.min.js"></script>
</html>