{% if archivos|length > 0 %}
    {% for archivo in archivos %}
        <span id="li_archivo{{ archivo.id }}" class="secondary radius label"><a
                data-dropdown="drop_archivo_ajax{{ archivo.id }}">{{ archivo.fich_name }}</a></span>
        <ul id="drop_archivo_ajax{{ archivo.id }}" class="f-dropdown" data-dropdown-content>
            <li>
                <a data-id="{{ archivo.id }}" data-field="{{ field }}" data-hw="{{ hw.id }}" class="borrar_fileweb">
                    <i class="fa fa-trash fa-fw"></i> Borrar</a>
            </li>
            <li>
                <a data-id="{{ archivo.id }}" data-field="{{ field }}" data-hw="{{ hw.id }}" class="descarga_fileweb">
                    <i class="fa fa-cloud-download fa-fw"></i> Descargar</a>
            </li>
        </ul>
    {% endfor %}

    <script>
        $(document).foundation('dropdown', 'reflow');
        $('body').on('click', '.borrar_fileweb', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var field = $(this).data('field');
            var hw = $(this).data('hw');
            $.post("/web_design/", {action: 'borrar_fileweb', id: id, field: field, hw: hw}, function (data) {
                $('#li_archivo' + id).hide();
            });
        });
        $('body').on('click', '.descarga_fileweb', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $('#file_web_id').val(id);
            $('#action').val('descarga_fileweb');
            document.desarrollo_web.submit();
        });
    </script>

{% endif %}