<div class="">
    <h4 style="text-align: center;color: #008CBA;"><strong>Define el documento a subir a GAUSS</strong></h4>
</div>
<div class="row">
    <div class="columns large-8">
        <label>Título del documento
            {{ form.nombre }}
        </label>
    </div>
    <div class="columns large-4">
        <label>Fichero
            {{ form.fichero }}
        </label>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label>Secciones de la entidad autorizadas a ver el documento</label>
        {{ form.acceden }}
    </div>
</div>
<div class="row">
    <div class="columns large-8">
        <label>Palabras clave que identifican el texto
            {{ form.key_words }}
        </label>
    </div>
    <div class="columns large-4">
        <label>Carpeta/Etiqueta
            {{ form.etiqueta }}
        </label>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label>Texto del documento o resumen
            {{ form.texto }}
        </label>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label>Invitados a este documento
            <input type="hidden" name="invitados" id="id_invitados" value="">
        </label>
    </div>
</div>

<script>
    $('#id_acceden').select2();

    $("#id_invitados").select2({
        placeholder: "Escribe parte del nombre",
        minimumInputLength: 3,
        multiple: true,
        ajax: {
            url: "/documentos_ajax/",
            dataType: 'json',
            quietMillis: 100,
            data: function (term, page) { // page is the one-based page number tracked by Select2
                return {
                    action: 'invitados',
                    q: term, //search term
                    page_limit: 10, // page size
                    page: page // page number
                };
            },
            results: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.text,
                            id: item.id
                        }
                    })
                };
            }
        },
        formatResult: function (resultado) {
            return '<div class="select2-user-result">' + resultado.text + '</div>';
        },
        formatSelection: function (resultado) {
            $('#gauser_extra_selected').val(resultado.id);
            return resultado.text;
        },
        dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
        escapeMarkup: function (m) {
            return m;
        } // we do not want to escape markup since we are displaying html in results
    });
    editor = wysihtmleditor('id_texto', {height: '250'});

    {% if subentidades %}
        $("#id_acceden").select2("data", {% autoescape off %}{{subentidades}} {% endautoescape %});
    {% endif %}

    {% if invitados %}
        $("#id_invitados").select2("data", {% autoescape off %}{{invitados}} {% endautoescape %});
    {% endif %}
</script>