{% load my_templatetags %}

<h3>
    {% autoescape off %}
        {{ documento.nombre }}
    {% endautoescape %}</h3>
<div class="row">
    <div class="large-4 columns">
        <strong>Propietario:</strong> {{ documento.propietario.gauser.get_full_name }}
    </div>
    <div class="large-4 columns">
        <strong>Creado:</strong> {{ documento.creado|date:"j \d\e F \d\e Y" }}
    </div>
    <div class="large-4 columns">
        <strong>Modifficado:</strong> {{ documento.modificado|date:"j \d\e F \d\e Y" }}
    </div>
</div>

<div class="row" style="padding-top: 10px;">
    <div class="large-12 columns">
        <strong>Acceden: </strong> {% for subentidad in documento.acceden.all %}
        {{ subentidad.nombre }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
</div>

{% if invitados|length > 0 %}
    <div class="row" style="padding-top: 10px;">
        <div class="large-12 columns">
            <strong>Invitados: </strong> {% for invitado in invitados %}
            {{ invitado.gauser.get_full_name }} ({{ invitado.get_permiso_display }}){% if not forloop.last %},
            {% endif %}{% endfor %}
        </div>
    </div>
{% endif %}

<div class="row" style="padding-top: 10px;">
    <div class="large-12 columns">
        {% if documento.fichero %}
            <strong>Archivo: </strong><a href="#" id="fich_observaciones___{{ documento.id }}"
               data-tooltip aria-haspopup="true" class="has-tip descargar_fichero"
               title="Pulsa sobre el nombre del fichero para descargarlo">
                 {{ documento.fich_name }}&nbsp;<i
                    class="fa fa-cloud-download"></i></a>
        {% else %}
            <span title="Este documento no tiene asociado un fichero para ser descargado">
            <strong>Archivo: </strong>&nbsp;{{ documento.fich_name }}</span>
        {% endif %}
    </div>
</div>

<p style="padding-top: 10px;">{% autoescape off %}{{ documento.texto }}{% endautoescape %}</p>
<a id="contenido_observaciones_documento_cerrar" style="position: absolute; top: 7px;right: 7px; font-size: 1.6em;">
    <strong><i class="fa fa-close"></i> </strong></a>

<script>
    $('.fichero_asociado').on('click', function (e) {
        e.preventDefault();
        var id_adjunto = $(this).attr('id').split('___')[1];
        $('#action').val('bajar_adjunto');
        $('#id_adjunto').val(id_adjunto);
        document.documentos.submit();
    });

    $("#contenido_observaciones_documento_cerrar").on('click', function (e) {
        e.preventDefault();
        $('#form_documento').hide();
        $('#observaciones_documento').hide();
        $('#div_documentos').slideDown();
    });
</script>

