{% load my_templatetags %}
{% load documentos_extras %}

<table align="center" width="100%" cellspacing="3" cellpadding="3" id="tabla_archivos">
    <thead>
    <tr>
        <th>Nombre del documento</th>
        <th style="text-align:center;">Descargar</th>
        <th style="text-align:center;">Carpetas/Etiquetas</th>
        <th style="text-align:center;" title="Fecha de creación del documento">Creado</th>
    </tr>
    </thead>
    <tbody>
    {% include "documentos_table_tr.html" %}
    </tbody>
</table>
