{% load my_templatetags %}
{% load documentos_extras %}
<td colspan="4">
    <div class="row">
        <div class="columns large-4">
            <label>Nombre</label>
            <input id="edit_nombre_archivo" name="edit_nombre_archivo" type="text" value="{{ p.documento.nombre }}">
        </div>
        <div class="columns large-6">
            <label>Carpeta/Etiqueta</label>
            <select id="edit_select_etiqueta" name="edit_select_etiqueta">
                <option value="">---------</option>
                {% for e in etiquetas %}
                    <option value="{{ e.id }}"
                            {% if p.documento.etiqueta == e %}selected{% endif %}>{{ e.etiquetas_text }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="columns large-2">
            <label>&nbsp;</label>
            <a class="button tiny" id="update_archivo" data-pgd="{{ p.id }}"><i class="fa fa-save"></i>
                <b>Guardar</b></a>
        </div>
    </div>
    <div class="row">
        <div class="columns large-6">
            <label>Cargos con acceso
                <select id="edit_select_cargos" multiple="multiple">
                    {% for cargo in cargos %}
                        <option value="{{ cargo.id }}"
                                {% if cargo in p.documento.cargos.all %}selected{% endif %}>{{ cargo.cargo }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="columns large-6">
            <label>Secciones con acceso
                <select id="edit_select_subentidades" multiple="multiple">
                    {% for sub in subentidades %}
                        <option value="{{ sub.id }}"
                                {% if sub in p.documento.acceden.all %}selected{% endif %}>{{ sub.nombre }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
    {#    <div class="row">#}
    {#        <div class="columns large-12">#}
    {#            <label>Personas con acceso#}
    {#                <select id="edit_select_personas" multiple="multiple">#}
    {#                </select>#}
    {#            </label>#}
    {#        </div>#}
    {#    </div>#}
</td>
<script>
    $('#edit_select_subentidades').select2();
    $('#edit_select_cargos').select2();
    {#$('#edit_select_personas').select2();#}

</script>