{% extends "base.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
        #div_documento {
            position: relative;
            display: none;
            background-color: #ffffff;
            border: solid 1px #d3d3d3;
            padding: 10px;
            margin-top: 10px;
        }

        input[name="documentos"] {
            display: none;
        }
    </style>
{% endblock %}


{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" id="action" name="action" value="">
        <input type="hidden" id="id_documento" name="id_documento" value="">
        <input type="hidden" id="id_documentos_x" name="id_documentos_x" value="">
        <input type="hidden" id="id_documentos_w" name="id_documentos_w" value="">
        <input type="hidden" id="id_documentos" name="id_documentos" value="">
        <input type="hidden" id="carpeta_id" name="carpeta_id" value="todas">


        <div id="div_documentos">
            <div class="">
                <h4 style="text-align: center;color: #008CBA;"><strong> Documentos almacenados por la
                    entidad</strong></h4>
            </div>
            {% if carpetas|length != 0 %}
                <dl class="tabs" data-tab id="carpetas_existentes">
                    <dd class="active"><a href="#carpeta___todas" class="click_carpeta">Todos</a></dd>
                    {% for carpeta in carpetas %}
                        <dd style="position: relative;" id="dd___{{ carpeta.id }}">
                            <a href="#carpeta___{{ carpeta.id }}" class="click_carpeta edita_carpeta"
                               id="f___{{ carpeta.id }}">
                                <i id="icono_carpeta___{{ carpeta.id }}" class="fa fa-folder"></i> <span
                                    id="nombre___{{ carpeta.id }}">{{ carpeta.nombre }}</span>
                            </a>
                            {% if request.session.gauser_extra|has_cargos:'1,2' %}
                                <div style="display:none;cursor:pointer;position: absolute;top: -5px;right: 1px;"
                                     id="edita___{{ carpeta.id }}" class="editar_carpeta edita_carpeta">
                                    <a><i class="fa fa-pencil-square-o"></i></a>
                                </div>
                            {% endif %}
                        </dd>
                    {% endfor %}
                </dl>
            {% endif %}
            <div class="tabs-content">
                <div class="content active" id="carpeta___todas">
                    {% include 'list_documentos.html' %}
                </div>
                {% for carpeta in carpetas %}
                    <div class="content" id="carpeta___{{ carpeta.id }}"></div>
                {% endfor %}
            </div>

        </div>
        <div id="form_documento" style="display: none;">
        </div>
        <div id="observaciones_documento"
             style="display: none;position: relative;border: solid 1px #d3d3d3; margin-top: 10px;padding: 5px;">
        </div>

        {% if request.session.gauser_extra|has_cargos:'1,2' %}
            <div id="mensaje_crear_carpeta" class="reveal-modal medium" data-reveal>
                <h5>Nombre de carpeta a crear:</h5>
                <input type="text" name="nombre_carpeta" id="nombre_carpeta">
                <a id="crear_carpeta" class="button secondary mod_carpeta">Aceptar</a>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="mensaje_modificar_carpeta" class="reveal-modal medium" data-reveal>
                <h5>Modifica el nombre de la carpeta:</h5>
                <input type="text" name="nombre_carpeta" id="modifica_nombre_carpeta" value="">
                <a id="modificar_carpeta" class="button secondary mod_carpeta">Modificar</a>
                <a href="#" data-reveal-id="mensaje_borrar_carpeta" class="secondary button">Borrar</a>
                <a class="close-reveal-modal">&#215;</a>
            </div>
            <div id="mensaje_borrar_carpeta" class="reveal-modal medium" data-reveal>
                <h5>Borrado de la carpeta</h5>

                <p><i class="fa fa-warning"></i> Todos los documentos contenidos en esta carpeta también serán
                    borrados!!</p>
                <a id="cancelar_borrado" class="button secondary mod_carpeta">Cancelar</a>
                <a id="borrar_carpeta" class="button secondary mod_carpeta">Aceptar</a>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        {% endif %}

{#        {% for carpeta in carpetas %}#}
{#            <div class="row" style="border-bottom: lightgrey 1px solid;" id="carpeta{{ carpeta.id }}">#}
{#                <div class="columns large-1">#}
{#                    <input type="checkbox" id="cb_carpeta{{ carpeta.id }}">#}
{#                </div>#}
{#                <div class="columns large-4">#}
{#                    <a class="acceder_carpeta" data-id="{{ carpeta.id }}"><i#}
{#                            class="fa fa-folder"></i> {{ carpeta.nombre }}</a>#}
{#                </div>#}
{#                <div class="columns large-3">#}
{#                    {{ carpeta.modificado|date:"d/m/Y" }}#}
{#                </div>#}
{#                <div class="columns large-3">#}
{#                    {% for accede in carpeta.permiso_ges_documental_set.all %}#}
{#                        {{ accede.gauser.get_full_name }}#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="columns large-1">#}
{#                    <i class="fa fa-ellipsis-h"></i>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
    </form>
    <div id="documentos_borrados" class="reveal-modal" data-reveal>
        <h3>Documentos borrados</h3>
        <ul id="ul_borrados"></ul>
        <a class="close-reveal-modal">&#215;</a>
    </div>

{% endblock %}

{% block final %}
    <script>
        {# Visualización de iconos y funciones asociadas #}
        habilita(['s_plus', 'h_trash-o', 'h_check', 'h_list-alt', 'h_pencil']);


        $('#plus_sign').click(function (e) {
            e.preventDefault();
            if (!($(this).hasClass('disabled'))) {
                $('#action').val('guardar_documento');
                $('#form_documento').slideDown();
                $('#div_documentos').slideUp();
                $('#observaciones_documento').hide();
                $.post("/documentos_ajax/", {action: 'crear_formulario'},
                    function (data) {
                        $('#form_documento').html(data);
                    });
                habilita(['h_plus', 'h_trash-o', 's_check', 's_list-alt', 'h_pencil']);
            }
        });

        $('#list-alt_sign').click(function (e) {
            e.preventDefault();
            if (!($(this).hasClass('disabled'))) {
                $('#action').val('');
                $('#form_documento').slideUp();
                $('#observaciones_documento').hide();
                $('#form_documento').html('');
                $('#div_documentos').slideDown();
                $('.fa-check-square-o').addClass('fa-square-o').removeClass('fa-check-square-o')
                $('#id_documentos').val('');
                $('#id_documento').val('');
                habilita(['s_plus', 'h_trash-o', 'h_check', 'h_list-alt', 'h_pencil']);
            }
        });

        $('#trash-o_sign').click(function (e) {
            e.preventDefault();
            var texto = 'Si aceptas no tendrás acceso al documento o documentos seleccionados. Si eres el propietario' +
                ' o tienes permisos suficientes podrías borrar completamente el documento de la base de datos.';
            if (!($(this).hasClass('disabled'))) {
                show_mensajes({
                    title: 'Eliminar documento/s selecccionado/s', texto: texto, buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            var total = $("input[name='documentos'][value!='']").length;
                            $("input[name='documentos'][value!='']").each(function (index) {
                                $('#fila___' + $(this).val()).hide();
                                $.post("/documentos_ajax/", {action: 'borrar_documento', id: $(this).val()},
                                    function (data) {
                                        habilita(['s_plus', 'h_trash-o', 'h_check', 'h_list-alt', 'h_pencil']);
                                        $('#ul_borrados').append('<li>' + data + '</li>');
                                        if (index == total - 1) {
                                            {#  Es necesario retrasar un tiempo la apertura del siguiente reveal #}
                                            setTimeout(function () {
                                                $('#documentos_borrados').foundation('reveal', 'open');
                                            }, 500);
                                        }
                                    });
                            });
                        }
                    }
                });
            }
        });

        $('#check_sign').click(function (e) {
            e.preventDefault();
            if (!($(this).hasClass('disabled'))) {
                document.{{formname}}.submit();
            }
        });

        $('#pencil_sign').click(function (e) {
            e.preventDefault();
            $('#action').val('guardar_modificacion');
            $('#form_documento').slideDown();
            $('#div_documentos').slideUp();
            $('#observaciones_documento').hide();
            if (!($(this).hasClass('disabled'))) {
                var seleccionados = $('#id_documentos').val().split(',').filter(function (e) {
                    return e
                });
                {#            var seleccionados = seleccionados#}
                $('#id_documento').val(seleccionados[0]);
                $.post("/documentos_ajax/", {action: 'editar_documento', id: seleccionados[0]},
                    function (data) {
                        $('#form_documento').html(data);
                    });
                habilita(['h_plus', 'h_trash-o', 's_check', 's_list-alt', 'h_pencil']);
            }
        });


        {# Definición de eventos #}

        $('#Contenido').on('click', '.descargar_fichero', function (e) {
            e.preventDefault();
            var id = $(this).attr('id').split('___')[1];
            $('#id_documento').val(id);
            $('#action').val('download_documento');
            document.{{formname}}.submit();
        });

        {#    $('#div_documentos').on('click', '.check_documento2', function (e) {#}
        {#        e.preventDefault();#}
        {#        var id = $(this).attr('id').split('___')[1];#}
        {#        if ($(this).hasClass('fa-square-o')) {#}
        {#            $(this).removeClass('fa-square-o').addClass('fa-check-square-o');#}
        {#            var str_list = $('#id_documentos').val();#}
        {#            $('#id_documentos').val(str_list + ',' + id)#}
        {#        } else {#}
        {#            $(this).removeClass('fa-check-square-o').addClass('fa-square-o');#}
        {#            var vec_list = $('#id_documentos').val().split(',')#}
        {#            var index = vec_list.indexOf(id);#}
        {#            if (index > -1) {#}
        {#                vec_list.splice(index, 1);#}
        {#            }#}
        {#            $('#id_documentos').val(vec_list.join());#}
        {#        }#}
        {#        if ($('#id_documentos').val().length > 1) {#}
        {#            habilita(['h_plus', 's_trash-o', 'h_check', 'h_list-alt']);#}
        {#            if ($('#id_documentos').val().split(',').filter(Boolean).length == 1) {#}
        {#                habilita(['s_pencil']);#}
        {#            } else {#}
        {#                habilita(['h_pencil']);#}
        {#            }#}
        {#        } else {#}
        {#            habilita(['s_plus', 'h_trash-o', 'h_check', 'h_list-alt', 'h_pencil']);#}
        {#        }#}
        {#    });#}

        $('#div_documentos').on('click', '.check_documento', function () {
            var id = $(this).attr('id').split('___')[1];
            if ($('#check___' + id).hasClass('fa-check-square-o')) {
                $('#check___' + id).removeClass('fa-check-square-o').addClass('fa-square-o');
                $('#h___' + id).val('');
            } else {
                $('#check___' + id).removeClass('fa-square-o').addClass('fa-check-square-o');
                $('#h___' + id).val(id);
            }
            var num_hidden = $("input[name='documentos'][value!='']").length;
            if (num_hidden == 1) {
                habilita(['h_plus', 's_trash-o', 'h_check', 'h_list-alt', 's_pencil']);
            }
            else if (num_hidden == 0) {
                habilita(['s_plus', 'h_trash-o', 'h_check', 'h_list-alt', 'h_pencil']);
            }
            else {
                habilita(['h_plus', 's_trash-o', 'h_check', 'h_list-alt', 'h_pencil']);
            }
        });

        $("#check_todos").on('click', function (e) {
            e.preventDefault();
            var num_hidden = $("input[name='documentos']").length;
            var num_checked = $("input[name='documentos'][value!='']").length;
            if (num_hidden > num_checked) {
                $("input[name='documentos']").each(function () {
                    var id = $(this).attr('id').split('___')[1];
                    $('#check___' + id).removeClass('fa-square-o').addClass('fa-check-square-o');
                    $(this).val(id);
                    habilita(['h_plus', 's_trash-o', 'h_check', 'h_list-alt', 'h_pencil']);
                });
            } else {
                $("input[name='documentos']").each(function () {
                    var id = $(this).attr('id').split('___')[1];
                    $('#check___' + id).removeClass('fa-check-square-o').addClass('fa-square-o');
                    $(this).val('');
                    habilita(['s_plus', 'h_trash-o', 'h_check', 'h_list-alt', 'h_pencil']);
                });
            }
        });
        {# Para desplegar la versión html del documento o su resumen #}
        $('#Contenido').on('click', '.documento_texto', function (e) {
            e.preventDefault();
            var id = $(this).attr('id').split('___')[1];
            if ($('#div_' + id).text().length == 0) {
                $.post("/documentos_ajax/", {action: 'contenido_documento', id: id}, function (data) {
                    $('#form_documento').hide();
                    $('#div_documentos').hide();
                    $('#observaciones_documento').show('fast').html(data);
                    {#                    $('#div_' + id).html(data);#}
                    {#                    $('#div_' + id).slideToggle();#}
                });
                return false;
            } else {
                $('#div_' + id).slideToggle();
            }
        });

        $('#Contenido').on('click', '.click_carpeta', function (e) {
            e.preventDefault();
            var carpeta_id = $('#carpeta_id').val();
            var carpeta_id_clicked = $(this).attr('href').split('___')[1];
            $('#icono_carpeta___' + carpeta_id).removeClass('fa-folder-open').addClass('fa-folder');
            $('#icono_carpeta___' + carpeta_id_clicked).removeClass('fa-folder').addClass('fa-folder-open');
            $('#carpeta_id').val(carpeta_id_clicked);
            if (carpeta_id != carpeta_id_clicked) {
                $.post("/documentos_ajax/", {action: 'documentos_carpeta', carpeta_id: carpeta_id_clicked},
                    function (data) {
                        $('#carpeta___' + carpeta_id_clicked).html(data);
                    });
            }
        });


        {% if request.session.gauser_extra|has_cargos:'1,2' %}
            habilita(['s_folder']);

            $('#folder_sign').click(function (e) {
                e.preventDefault();
                $('#mensaje_crear_carpeta').foundation('reveal', 'open');
            });
            $('#Contenido').on('mouseover', '.edita_carpeta', function (e) {
                var id = $(this).attr('id').split('___')[1];
                $('#edita___' + id).show();
            });
            $('#Contenido').on('mouseout', '.edita_carpeta', function (e) {
                var id = $(this).attr('id').split('___')[1];
                $('#edita___' + id).hide();
            });

            $('#Contenido').on('click', '.editar_carpeta', function (e) {
                e.preventDefault();
                var id = $(this).attr('id').split('___')[1];
                $('#carpeta_id').val(id);
                var nombre = $('#nombre___' + id).text();
                $('#modifica_nombre_carpeta').val(nombre);
                $('#mensaje_modificar_carpeta').foundation('reveal', 'open');
            });

            $('.mod_carpeta').click(function (e) {
                e.preventDefault();
                var action = $(this).attr('id');
                var carpeta_id = $('#carpeta_id').val();
                if (action == 'modificar_carpeta') {
                    var nombre = $('#modifica_nombre_carpeta').val();
                    $('#modifica_nombre_carpeta').val(nombre);
                    $('#nombre___' + carpeta_id).html(nombre);
                    $('#mensaje_modificar_carpeta').foundation('reveal', 'close');
                }
                if (action == 'borrar_carpeta') {
                    var carpeta_id = $('#carpeta_id').val();
                    $('#dd___' + carpeta_id).hide();
                    $('#mensaje_modificar_carpeta').foundation('reveal', 'close');
                }
                if (action == 'crear_carpeta') {
                    var nombre = $('#nombre_carpeta').val();
                    $('#mensaje_crear_carpeta').foundation('reveal', 'close');
                }
                $.post("/documentos_ajax/", {action: action, nombre: nombre, id: carpeta_id},
                    function (data) {
                        if (action == 'crear_carpeta') {
                            var carpeta = data.carpeta;
                            $('#carpetas_existentes').append(carpeta);
                            var opt = new Option(nombre, data.id);
                            $(opt).html(nombre);
                            $('#id_etiqueta').append(opt);
                        }
                    }, 'json');

            });
        {% endif %}


    </script>
{% endblock %}