{% load my_templatetags %}
{% load documentos_extras %}
{#<td colspan="5">#}
    <fieldset class="fieldset_archivo_editar{{ d.id }}" >
        <legend>Edición de archivo</legend>
{#        <div style="position:relative;">#}
{#            <span style="position: absolute; top:-1.25rem; right: -0.25rem;font-size: large;font-weight: bold;">#}
{#                <a class="fieldset_archivo_editar_close" data-doc="{{ d.id }}"><i class="fa fa-times"></i></a>#}
{#            </span>#}
{#        </div>#}
        <table class="tabla_editar_archivo" width="100%">
            <tbody>
            <tr>
                <td colspan="4"><label>Nombre</label>
                    <input class="edit_archivo" data-id="{{ d.id }}" data-campo="nombre" data-modelo="Ges_documental"
                           type="text" value="{{ d.nombre }}">
                </td>
                <td colspan="4">
{#                    <label>Carpeta/Etiqueta</label>#}
{#                    <select class="edit_archivo" data-id="{{ d.id }}" data-campo="etiqueta"#}
{#                            data-modelo="Ges_documental">#}
{#                        {% for e in etiquetas %}#}
{#                            <option value="{{ e.id }}"#}
{#                                    {% if d.etiqueta == e %}selected{% endif %}>{{ e.etiquetas_text }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}


                <label title="Si no eliges carpeta el archivo se cargará en la carpeta llamada 'General'">Carpetas/Etiquetas
                <select id="select_etiqueta" name="select_etiqueta" lass="edit_archivo" data-id="{{ d.id }}"
                        data-campo="etiqueta" data-modelo="Ges_documental">
                    <option value="">Debes seleccionar una carpeta</option>
                    {% for e in etiquetas %}
                        <option value="{{ e.id }}">{{ e.etiquetas_text }}</option>
                    {% endfor %}
                </select>
            </label>
                </td>
                <td colspan="4">
                    <select class="select_gcs_archivo" id="select_gcs_archivo{{ d.id }}" data-doc={{ d.id }}>
                        <option>Añadir permiso a una persona, sección o cargo de la entidad</option>
                    </select>
                </td>
            </tr>
            <tr><td colspan="4">&nbsp;</td><td colspan="4"><div id="list_etiquetas">
                {% for etiqueta in d.etiquetas.all %}
                    <span class="label secondary" id="etiqueta{{ etiqueta.id }}">{{ etiqueta.etiquetas_text }}
                        <a class="borrar_etiqueta" data-etiqueta="{{etiqueta.id}}">
                            <i class="fa fa-times"></i></a></span>
                {% endfor %}
            </div></td><td colspan="4">&nbsp;</td></tr>
            <tr>
                <th colspan="7">Sección/Cargo</th>
                <th colspan="3">Tipo de permiso</th>
                <th colspan="2">¿Borrar?</th>
            </tr>
            </tbody>
            <tbody id="tbody_permisos{{ d.id }}">
            {% include "documentos_table_tr_archivo_edit_permisos.html" %}
            </tbody>
        </table>
    </fieldset>
{#</td>#}

{#<div class="row">#}
{#    <div class="columns large-12">#}
{#        <a class="fieldset_archivo_editar_close button" data-doc="{{ d.id }}">Cerrar</a>#}
{#    </div>#}
{#</div>#}
<script>
    setTimeout(function (){
        $("#select_gcs_archivo{{ d.id }}").select2(conf_select2({'gcs': 'gcs', 'format_g': '{0}, {1}'}));
    }, 200);
</script>