{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
        #div_documento {
            position: relative;
            display: none;
            background-color: #ffffff;
            border: solid 1px #d3d3d3;
            padding: 10px;
            margin-top: 10px;
        }

        input[name="documentos"] {
            display: none;
        }
    </style>
{% endblock %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" id="action" name="action" value="">
        <input type="hidden" id="documento" name="documento" value="">
        <input type="hidden" id="etiqueta_id" name="etiqueta_id" value="">

        <h4 style="text-align: center;color: #008CBA;">
            <strong> Documentos almacenados en la entidad</strong>
        </h4>
        <div id="div_fieldsets"></div>
        <div id="div_documentos">
            {% include 'documentos_table.html' %}
        </div>
    </form>
{% endblock %}

{% block final %}
    <script>
        habilita(['s_search',]);
        $('#search_sign').click(function (e) {
            e.preventDefault();
            if (!($(this).hasClass('disabled'))) {
                $.post("/documentos/", {action: 'ver_formulario_buscar'},
                    function (data) {
                        if (data.ok) {
                            $('#div_fieldsets').html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            }
        });

        $('body').on('click', '#busca_docs_manual', function (e) {
            e.preventDefault();
            $.post("/documentos/", {
                    action: 'busca_docs_manual',
                    inicio: $('#id_fecha_inicio').val(),
                    fin: $('#id_fecha_fin').val(),
                    texto: $('#busca_texto_doc').val(),
                    etiqueta: $('#etiqueta_busqueda').val()
                },
                function (data) {
                    if (data.ok) {
                        $("#tabla_archivos tbody").html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.descargar_doc', function (e) {
            e.preventDefault();
            $('#documento').val($(this).data('doc'));
            $('#action').val('descargar_doc');
            document.{{formname}}.submit();
        });

        {% if g_e|has_permiso:'sube_archivos' %}
            habilita(['s_plus',]);
            $('#plus_sign').click(function (e) {
                e.preventDefault();
                if (!($(this).hasClass('disabled'))) {
                    $.post("/documentos/", {action: 'ver_formulario_subir'},
                        function (data) {
                            if (data.ok) {
                                $('#div_fieldsets').html(data.html);
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $("#update_error").show().delay(1500).fadeOut();
                            }
                        });
                }
            });

            $('body').on('click', '#sube_archivo', function () {
                var input_files = document.getElementById('id_archivo').files;

                for (var i = 0; i < input_files.length; i++) {
                    console.log(input_files[i].name + ' (' + input_files[i].size + ' bytes)');
                }

                var formData = new FormData();
                for (var i = 0; i < input_files.length; i++) {
                    formData.append('fichero_xhr' + i, input_files[i]);
                }
                formData.append('n_files', input_files.length);
                formData.append('action', 'sube_archivo');
                formData.append('etiqueta', $('#select_etiqueta').val());
                formData.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());
                var xhr = new XMLHttpRequest();
                {#xhr.upload.addEventListener("progress", updateProgress, false);#}
                xhr.onload = function () {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200) {
                            console.log('Terminado');
                            var data = JSON.parse(xhr.responseText);
                            $("#tabla_archivos tbody").prepend(data.html);
                            if (data.mensaje) {
                                show_mensajes({title: 'Error', texto: data.mensaje})
                            }
                        }
                    }
                };
                xhr.open('POST', "/documentos/", true);
                xhr.send(formData);
            });
        {% endif %}

        {% if g_e|has_permiso:'crea_carpetas' %}
            habilita(['s_folder',]);
            $('#folder_sign').click(function (e) {
                e.preventDefault();
                if (!($(this).hasClass('disabled'))) {
                    $.post("/documentos/", {action: 'ver_formulario_crear_etiqueta'},
                        function (data) {
                            if (data.ok) {
                                $('#div_fieldsets').html(data.html);
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $("#update_error").show().delay(1500).fadeOut();
                            }
                        });
                }
            });

            $('body').on('click', '#crea_etiqueta', function (e) {
                e.preventDefault();
                $.post("/documentos/", {
                        action: 'crea_etiqueta',
                        nombre: $('#id_etiqueta_nueva').val(),
                        padre: $('#select_etiqueta_padre').val()
                    },
                    function (data) {
                        if (data.ok) {
                            $('#div_fieldsets').html('');
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                            if (data.mensaje) {
                                show_mensajes({title: 'Error', texto: data.mensaje})
                            }
                        }
                    });
            });
        {% endif %}

        {% if g_e|has_permiso:'borra_cualquier_carpeta' %}
            $('body').on('click', '.borrar_etiqueta', function (e) {
                e.preventDefault();
                $('#etiqueta_id').val($(this).data('etiqueta'));
                var texto = 'Si aceptas, la etiqueta/carpeta seleccionada, así como todas las carpetas/etiquetas que ' +
                    'dependan de ella serán borradas. Los documentos dentro de esas etiquetas/carpetas también serán ' +
                    'eliminados por completo de la base de datos. Nadie tendrá acceso a ellos.';
                show_mensajes({
                    title: 'Eliminar completamente la carpeta/etiqueta', texto: texto, buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            var doc = $('#documento').val();
                            $.post("/documentos/", {
                                    action: 'borra_etiqueta',
                                    etiqueta: $('#etiqueta_id').val()
                                },
                                function (data) {
                                    if (data.ok) {
                                        $('#div_fieldsets').html('');
                                        $("#tabla_archivos tbody").html(data.html);
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });
        {% endif %}


        $('body').on('click', '.borrar_doc', function (e) {
            e.preventDefault();
            $('#documento').val($(this).data('doc'));
            var texto = 'Si aceptas no tendrás acceso al documento. Si eres el propietario' +
                ' o tienes permisos suficientes podrías borrar completamente el documento de la base de datos.';
            show_mensajes({
                title: 'Eliminar el documento selecccionado', texto: texto, buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Aceptar": function () {
                        hide_mensajes();
                        var doc = $('#documento').val();
                        $.post("/documentos/", {action: 'borrar_documento', doc: doc},
                            function (data) {
                                if (data.ok) {
                                    $('#fila' + doc).remove();
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $("#update_error").show().delay(1500).fadeOut();
                                }
                            });
                    }
                }
            });
        });

        {% if g_e|has_permiso:'borra_cualquier_archivo' %}
            $('body').on('click', '.borrar_doc_completamente', function (e) {
                e.preventDefault();
                $('#documento').val($(this).data('doc'));
                var texto = 'Si aceptas no tendrás acceso al documento. El documento se borrará completamente' +
                    ' de la base de datos. Nadie tendrá acceso a él.';
                show_mensajes({
                    title: 'Eliminar completamente el documento selecccionado', texto: texto, buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            var doc = $('#documento').val();
                            $.post("/documentos/", {action: 'borrar_doc_completamente', doc: doc},
                                function (data) {
                                    if (data.ok) {
                                        $('#fila' + doc).remove();
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });
        {% endif %}

        $('body').on('click', '.editar_doc', function (e) {
            e.preventDefault();
            var doc = $(this).data('doc');
            $.post("/documentos/", {
                    action: 'ver_formulario_editar',
                    doc: doc
                },
                function (data) {
                    if (data.ok) {
                        $('#fila' + doc).html(data.html);
                        $('#action').val(doc);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '#update_archivo', function (e) {
            e.preventDefault();
            var action = 'update_archivo';
            var doc = $(this).data('doc');
            var nombre = $('#edit_nombre_archivo').val();
            var etiqueta = $('#edit_select_etiqueta').val();
            var cargos = $('#edit_select_cargos').val();
            var subs = $('#edit_select_subentidades').val();
            $.post("/documentos/", {
                    action: action, doc: doc, nombre: nombre, etiqueta: etiqueta, cargos: cargos, subs: subs
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        $('#fila' + doc).html(data.html);
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        {% if g_e|has_permiso:'edita_carpetas' %}
            $('body').on('click', '.editar_carpeta', function (e) {
                e.preventDefault();
                var etiqueta = $(this).data('etiqueta');
                $.post("/documentos/", {
                        action: 'ver_formulario_editar_carpeta',
                        etiqueta: etiqueta
                    },
                    function (data) {
                        if (data.ok) {
                            $('#div_fieldsets').html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });
            $('body').on('click', '#modifica_etiqueta', function (e) {
                e.preventDefault();
                $.post("/documentos/", {
                        action: 'modifica_etiqueta',
                        nombre: $('#nombre_etiqueta_editada').val(),
                        etiqueta: $(this).data('etiqueta'),
                        padre: $('#select_etiqueta_padre_editada').val()
                    },
                    function (data) {
                        if (data.ok) {
                            $('#div_fieldsets').html('');
                            $("#tabla_archivos tbody").html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                            if (data.mensaje) {
                                show_mensajes({title: 'Error', texto: data.mensaje})
                            }
                        }
                    });
            });
        {% endif %}
        $('body').on('click', '.fieldset_close', function (e) {
            e.preventDefault();
            $('.fieldset_box').hide();
        })
    </script>
{% endblock %}