{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
        #div_documento {
            position: relative;
            display: none;
            background-color: #ffffff;
            border: solid 1px #d3d3d3;
            padding: 10px;
            margin-top: 10px;
        }

        input[name="documentos"] {
            display: none;
        }

        #tabla_archivos {
            width: 100%;
            display: block;
            {#overflow-x: auto;#}
            {#white-space: nowrap;#}
        }


        .tabla_editar_archivo {
            border: 0;
        }
    </style>
{% endblock %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" id="action" name="action" value="">
        <input type="hidden" id="documento" name="documento" value="">
        <input type="hidden" id="etiqueta_id" name="etiqueta_id" value="">
        <input type="hidden" id="buscar" name="buscar" value="0">
        <input type="hidden" name="page" id="page" value="1">
        <input type="hidden" name="id_etiqueta_creada" id="id_etiqueta_creada" value="">
        <input type="hidden" name="texto_etiqueta_creada" id="texto_etiqueta_creada" value="">


        <h4 style="text-align: center;color: #008CBA;" id="title_h4">
            <strong> Documentos almacenados en la entidad</strong>
        </h4>
        <div id="div_fieldsets"></div>
        <div id="div_documentos">
            {% include 'documentos_table.html' %}
        </div>
        <div id="editarModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
             role="dialog">
            <div id="editar_archivo" style="position: relative;">
            </div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        <div id="addEtiquetaModal" class="reveal-modal small" data-reveal aria-hidden="true" role="dialog">
            <div class="columns large-12">
                <h3><i class="fa fa-folder-o"></i> Crear nueva etiqueta </h3>
            </div>
            <div id="add_etiqueta" style="position: relative;" class="row">
                <div class="columns large-12">
                    <label>Nombre de la etiqueta
                        <input type="text" value="" id="nombre_crea_etiqueta">
                    </label>
                </div>
                <div class="columns large-12">
                    <label id="label_select_etiqueta">Anidar dentro de ...
                        <select id="select_crea_etiqueta"></select>
                    </label>
                </div>
                <div class="columns large-12">
                    <ul class="button-group right">
                        <li><a id="close_addEtiquetaModal" class="secondary button tiny">Cancelar</a></li>
                        <li><a id="crear_addEtiquetaModal" class="button tiny">Crear</a></li>
                    </ul>
                </div>
            </div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    </form>

{% endblock %}

{% block final %}
    <script>
        habilita(['s_search',]);
        $('#search_sign').click(function (e) {
            e.preventDefault();
            if (!($(this).hasClass('disabled'))) {
                $.post("/documentos/", {action: 'ver_formulario_buscar'},
                    function (data) {
                        if (data.ok) {
                            $('#div_fieldsets').html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            }
        });

        function buscar_documentos() {
            $.post("/documentos/", {
                    action: 'update_page',
                    inicio: $('#id_fecha_inicio').val(),
                    fin: $('#id_fecha_fin').val(),
                    texto: $('#busca_texto_doc').val(),
                    etiqueta: $('#etiqueta_busqueda').val(),
                    buscar: $('#buscar').val(),
                    page: $('#page').val()
                },
                function (data) {
                    if (data.ok) {
                        $("#div_documentos").html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        }

        $('body').on('click', '#busca_docs_manual', function (e) {
            e.preventDefault();
            $('#buscar').val(1);
            $('#page').val(1);
            buscar_documentos();
        });

        $('body').on('click', '.fieldset_close_buscar', function (e) {
            e.preventDefault();
            $('#buscar').val(0);
            $('#page').val(1);
            $('#id_fecha_inicio').val('');
                $('#id_fecha_fin').val('');
                $('#busca_texto_doc').val('');
                $('#etiqueta_busqueda').val('');
                buscar_documentos();
            $('.fieldset_box').remove();
        });

        $('body').on('click', '.fieldset_close', function (e) {
            e.preventDefault();
            var doc = $('#documento').val();
            $('.fieldset_box').remove();
            $('#tabla_archivos').css('display', 'block');
            {#document.getElementById('file' + doc).scrollIntoView();#}
            $(document).scrollTop($('#fila' + doc).offset().top - 150);
        });

        $('body').on('click', '.go_page', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            $('#page').val(page);
            if (page) {
                buscar_documentos();
            }
        });

        $('body').on('click', '.descargar_doc', function (e) {
            e.preventDefault();
            $('#documento').val($(this).data('doc'));
            $('#action').val('descargar_doc');
            document.getElementById('{{formname}}').submit();
        });

        {% if g_e|has_permiso:'sube_archivos' %}
            habilita(['s_plus',]);
            $('#plus_sign').click(function (e) {
                e.preventDefault();
                if (!($(this).hasClass('disabled'))) {
                    $.post("/documentos/", {action: 'ver_formulario_subir'},
                        function (data) {
                            if (data.ok) {
                                $('#div_fieldsets').html(data.html);
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $("#update_error").show().delay(1500).fadeOut();
                            }
                        });
                }
            });

            $('body').on('click', '#sube_archivo', function () {
                {#var etiquetas = [];#}
                {#$('.borrar_etiqueta').each(function () {#}
                {#    etiquetas.push($(this).data('etiqueta'));#}
                {# });#}
                $('#ajax-loader').css('display', 'block');

                var input_files = document.getElementById('id_archivo').files;

                for (var i = 0; i < input_files.length; i++) {
                    console.log(input_files[i].name + ' (' + input_files[i].size + ' bytes)');
                }

                var formData = new FormData();
                for (var i = 0; i < input_files.length; i++) {
                    formData.append('fichero_xhr' + i, input_files[i]);
                }
                formData.append('n_files', input_files.length);
                formData.append('action', 'sube_archivo');
                {#formData.append('etiqueta', $('#select_etiqueta').val());#}
                {#formData.append('etiquetas', etiquetas);#}
                formData.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());
                var xhr = new XMLHttpRequest();
                {#xhr.upload.addEventListener("progress", updateProgress, false);#}
                xhr.onload = function () {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200) {
                            console.log('Terminado');
                            var data = JSON.parse(xhr.responseText);
                            $("#tabla_archivos tbody").prepend(data.html);
                            if (data.mensaje) {
                                show_mensajes({title: 'Error', texto: data.mensaje})
                            }
                        }
                        $('#ajax-loader').css('display', 'none');
                        $('#div_fieldsets').html('');
                    }
                };
                xhr.open('POST', "/documentos/", true);
                xhr.send(formData);
            });
        {% endif %}

        {% if g_e|has_permiso:'crea_carpetas' %}
            {#habilita(['s_folder',]);#}
            $('#folder_sign').click(function (e) {
                e.preventDefault();
                if (!($(this).hasClass('disabled'))) {
                    $.post("/documentos/", {action: 'ver_formulario_crear_etiqueta'},
                        function (data) {
                            if (data.ok) {
                                $('#div_fieldsets').html(data.html);
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $("#update_error").show().delay(1500).fadeOut();
                            }
                        });
                }
            });

            function crea_etiqueta(nombre, padre, doc) {
                $.post("/documentos/", {
                        action: 'crea_etiqueta',
                        nombre: nombre,
                        padre: padre
                    },
                    function (data) {
                        if (data.ok) {
                            $("#id_etiqueta_creada").val(data.id_etiqueta);
                            $("#texto_etiqueta_creada").val(data.texto_etiqueta);
                            if (doc){
                                $("#etiquetas" + doc).html(data.html);
                            }
                            $("list_etiquetas").html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                            if (data.mensaje) {
                                show_mensajes({title: 'Error', texto: data.mensaje})
                            }
                        }
                    });
            }

            {#$('body').on('click', '#crea_etiqueta', function (e) {#}
            {#    e.preventDefault();#}
            {#    var nombre = $('#id_etiqueta_nueva').val();#}
            {#    var padre = $('#select_etiqueta_padre').val();#}
            {#    crea_etiqueta(nombre, padre, null);#}
            {#    $('#div_fieldsets').html('');#}
            {# });#}
        {% endif %}

        {% if g_e|has_permiso:'borra_cualquier_carpeta' %}
            $('body').on('click', '.borrar_etiqueta', function (e) {
                e.preventDefault();
                $('#etiqueta_id').val($(this).data('etiqueta'));
                var texto = 'Si aceptas, la etiqueta/carpeta seleccionada, así como todas las carpetas/etiquetas que ' +
                    'dependan de ella serán borradas. Los documentos dentro de esas etiquetas/carpetas también serán ' +
                    'eliminados por completo de la base de datos. Nadie tendrá acceso a ellos.';
                show_mensajes({
                    title: 'Eliminar completamente la carpeta/etiqueta', texto: texto, buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            var doc = $('#documento').val();
                            $.post("/documentos/", {
                                    action: 'borra_etiqueta',
                                    etiqueta: $('#etiqueta_id').val()
                                },
                                function (data) {
                                    if (data.ok) {
                                        $('#div_fieldsets').html('');
                                        $("#tabla_archivos tbody").html(data.html);
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });
        {% endif %}


        $('body').on('click', '.borrar_doc', function (e) {
            e.preventDefault();
            $('#documento').val($(this).data('doc'));
            var texto = 'Si aceptas no tendrás acceso al documento. Si eres el propietario' +
                ' o tienes permisos suficientes podrías borrar completamente el documento de la base de datos.';
            show_mensajes({
                title: 'Eliminar el documento selecccionado', texto: texto, buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Aceptar": function () {
                        hide_mensajes();
                        var doc = $('#documento').val();
                        $.post("/documentos/", {action: 'borrar_documento', doc: doc},
                            function (data) {
                                if (data.ok) {
                                    $('#fila' + doc).remove();
                                    $("#update_ok").show().delay(1500).fadeOut();
                                } else {
                                    $("#update_error").show().delay(1500).fadeOut();
                                }
                            });
                    }
                }
            });
        });

        {% if g_e|has_permiso:'borra_cualquier_archivo' %}
            $('body').on('click', '.borrar_doc_completamente', function (e) {
                e.preventDefault();
                $('#documento').val($(this).data('doc'));
                var texto = 'Si aceptas no tendrás acceso al documento. El documento se borrará completamente' +
                    ' de la base de datos. Nadie tendrá acceso a él.';
                show_mensajes({
                    title: 'Eliminar completamente el documento selecccionado', texto: texto, buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            var doc = $('#documento').val();
                            $.post("/documentos/", {action: 'borrar_doc_completamente', doc: doc},
                                function (data) {
                                    if (data.ok) {
                                        $('#fila' + doc).remove();
                                        show_mensajes({title: 'Documento borrado', texto: data.mensaje})
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        }
                    }
                });
            });
        {% endif %}

        $('body').on('click', '.editar_doc_antiguo', function (e) {
            e.preventDefault();
            var doc = $(this).data('doc');
            $.post("/documentos/", {
                    action: 'ver_formulario_editar',
                    doc: doc
                },
                function (data) {
                    if (data.ok) {
                        $('#documento').val(doc);
                        $('#editar_archivo').html(data.html);
                        $('#editarModal').foundation('reveal', 'open');
                        {#$('#fila' + doc).html(data.html);#}
                        $('#action').val(doc);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $(document).on('closed.fndtn.reveal', '#editarModal', function () {
            $.post("/documentos/", {action: 'fieldset_archivo_editar_close', doc: $('#documento').val()},
                function (data) {
                    if (data.ok) {
                        $('#fila' + data.doc).html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        {#$('body').on('click', '.fieldset_archivo_editar_close', function (e) {#}
        {#    e.preventDefault();#}
        {#    var doc = $(this).data('doc');#}
        {#    $.post("/documentos/", {#}
        {#            action: 'fieldset_archivo_editar_close',#}
        {#            doc: $(this).data('doc')#}
        {#        },#}
        {#        function (data) {#}
        {#            if (data.ok) {#}
        {#                $('#fila' + data.doc).html(data.html);#}
        {#                $("#update_ok").show().delay(1500).fadeOut();#}
        {#            } else {#}
        {#                $("#update_error").show().delay(1500).fadeOut();#}
        {#            }#}
        {#        });#}
        {# });#}

        {% if g_e|has_permiso:'edita_carpetas' %}
            $('body').on('click', '.editar_carpeta', function (e) {
                e.preventDefault();
                var etiqueta = $(this).data('etiqueta');
                $.post("/documentos/", {
                        action: 'ver_formulario_editar_carpeta',
                        etiqueta: etiqueta
                    },
                    function (data) {
                        if (data.ok) {
                            $('#div_fieldsets').html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });

            $('body').on('click', '#modifica_etiqueta', function (e) {
                e.preventDefault();
                $.post("/documentos/", {
                        action: 'modifica_etiqueta',
                        nombre: $('#nombre_etiqueta_editada').val(),
                        etiqueta: $(this).data('etiqueta'),
                        padre: $('#select_etiqueta_padre_editada').val()
                    },
                    function (data) {
                        if (data.ok) {
                            $('#div_fieldsets').html('');
                            $("#tabla_archivos tbody").html(data.html);
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                            if (data.mensaje) {
                                show_mensajes({title: 'Error', texto: data.mensaje})
                            }
                        }
                    });
            });
        {% endif %}

        {# ############################################################################## #}
        {# ##################### Edición de los archivos ################################ #}
        {# ############################################################################## #}

        $('body').on('click', '.editar_doc', function (e) {
            e.preventDefault();
            var doc = $(this).data('doc');
            $.post("/documentos/", {
                    action: 'ver_formulario_editar',
                    doc: doc
                },
                function (data) {
                    if (data.ok) {
                        $('#documento').val(doc);
                        $('#div_fieldsets').html(data.html);
                        document.getElementById('title_h4').scrollIntoView();
                        $('#tabla_archivos').css('display', 'none');
                        $('#action').val(doc);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('keyup', '#update_nombre_archivo', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var element = $(this);
            var antiguo_texto = element.val();
            setTimeout(function () {
                var nuevo_texto = element.val();
                if (antiguo_texto === nuevo_texto) {
                    $.post("/documentos/", {action: 'update_nombre_archivo', nombre: nuevo_texto, id: id},
                        function (data) {
                            if (data.ok) {
                                $("#a_dropdown" + id).html(nuevo_texto);
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $("#update_error").show().delay(1500).fadeOut();
                            }
                        });
                }
            }, 750);
        });

        $('body').on('change', '#update_etiquetas_archivo', function (e) {
            e.preventDefault();
            var doc = $('#documento').val();
            var etiqueta = $(this).val();
            $.post("/documentos/", {action: 'update_etiquetas_archivo', etiqueta: etiqueta, doc: doc},
                function (data) {
                    if (data.ok) {
                        $(".list_etiquetas" + doc).html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.desasigna_etiqueta', function (e) {
            e.preventDefault();
            var doc = $(this).data('doc');
            var etiqueta = $(this).data('etiqueta');
            $.post("/documentos/", {action: 'desasigna_etiquetas_archivo', etiqueta: etiqueta, doc: doc},
                function (data) {
                    if (data.ok) {
                        $(".list_etiquetas" + doc).html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.select_gcs_archivo', function (e) {
            e.preventDefault();
            var doc = $(this).data('doc');
            $.post("/documentos/", {
                    action: 'update_new_permiso',
                    doc: doc,
                    seleccionados: $(this).val()
                },
                function (data) {
                    if (data.ok) {
                        $("#div_permisos" + doc).html(data.html);
                        $("#cgds" + doc).html(data.html_tr);
                        $(".select_gcs_archivo").empty();
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.borrar_permiso_archivo', function (e) {
            e.preventDefault();
            $.post("/documentos/", {
                    action: 'borrar_permiso_archivo',
                    cgd: $(this).data('cgd')
                },
                function (data) {
                    if (data.ok) {
                        $("#fila_permiso" + data.cgd).remove();
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.update_permiso_archivo', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var permiso = $(this).val();
            $.post("/documentos/", {action: 'update_permiso_archivo', permiso: permiso, id: id},
                function (data) {
                    if (data.ok) {
                        $("#cgds" + data.doc).html(data.html_tr);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        {######################################################################}
        {##### código para la selección y creación de carpetas/etiquetas ######}
        {######################################################################}
        {#$('body').on('change', '#select_etiqueta', function (e) {#}
        {#    e.preventDefault();#}
        {#    var nombre = $("#select_etiqueta option:selected").html();#}
        {#    var id = $(this).val();#}
        {#    var html = `<span class="label secondary" id="etiqueta` + id + `">` + nombre + `#}
        {#                <a class="desasigna_etiqueta" data-etiqueta="` + id + `">#}
        {#                    <i class="fa fa-times"></i></a></span> `#}
        {#    $('#select_etiqueta').empty();#}
        {#    $('#list_etiquetas').append(html);#}
        {# });#}

        $('body').on('click', '#abrir_modal_crear_etiqueta', function (e) {
            e.preventDefault();
            $.post("/documentos/", {
                    action: 'get_etiquetas',
                },
                function (data) {
                    if (data.ok) {
                        var etiqueta = $('.select2-search__field').val();
                        $('#update_etiquetas_archivo').select2('close');
                        $('#addEtiquetaModal').foundation('reveal', 'open');
                        $('#nombre_crea_etiqueta').val(etiqueta);
                        $('#select_crea_etiqueta').html(data.html);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '#close_addEtiquetaModal', function (e) {
            e.preventDefault();
            $('#addEtiquetaModal').foundation('reveal', 'close');
        });

        $('body').on('click', '#crear_addEtiquetaModal', function (e) {
            e.preventDefault();
            $.post("/documentos/", {
                        action: 'crea_etiqueta',
                        nombre: $('#nombre_crea_etiqueta').val(),
                        padre: $('#select_crea_etiqueta').val()
                    },
                    function (data) {
                        if (data.ok) {
                            {#var doc = $('#documento').val();#}
                            var newOption = new Option(data.texto_etiqueta, data.id_etiqueta, true, true);
                            $('#update_etiquetas_archivo').append(newOption).trigger('change');
                            {#$(".list_etiquetas" + doc).html(data.html);#}
                            $('#addEtiquetaModal').foundation('reveal', 'close');
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                            if (data.mensaje) {
                                show_mensajes({title: 'Error', texto: data.mensaje})
                            }
                        }
                    });
        });
    </script>
{% endblock %}