<p>Estimado/a,</p>
<p>Usted tenía acceso al archivo {{ doc.nombre }} almacenado en el espacio que la entidad
    {{ doc.propietario.ronda.entidad.name }} posee en Gauss.</p>
<p>Este archivo ha sido borrado y ya no es accesible por ningún usuario.</p>
<p>Si considera que borrar este archivo ha sido un error, póngase en contacto con el administrador del sistema
    lo antes posible para tratar de recuperarlo antes de que se borre definitivamente de la base de datos.</p>

Reciba un cordial saludo,
{% if emisor.gauser.username == 'gauss' %}
    GAUSS - {{ doc.propietario.ronda.entidad.name }}
{% else %}
    {{ emisor.gauser.get_full_name }}
{% endif %}