{% load entidades_extras %}
{% if g_e|has_permiso:'edita_normativa' %}
    <div class="row">
        <div class="columns large-8"><label>Está derogada:</label>
            <a class="is_derogada" style="font-weight: bold;"
               id="is_derogada{{ normativa.id }}" data-normativa="{{ normativa.id }}">
                {% if normativa.derogada %}Sí{% else %}No{% endif %}
            </a></div>
        <div class="columns large-4">
            <ul class="button-group centered">
                <li title="Editar esta Normativa">
                    <a href="#" class="button editar_normativa"
                       data-normativa="{{ normativa.id }}"><i class="fa fa-pencil"></i> Editar</a></li>
                <li title="Borrar esta Normativa" id="borrar_normativa{{ normativa.id }}">
                    <a href="#" class="button borrar_normativa alert"
                       data-normativa="{{ normativa.id }}"><i class="fa fa-trash-o"></i> Borrar</a></li>
            </ul>
        </div>
    </div>
{% else %}
    {% if normativa.derogada %}
        <div class="row">
            <div class="columns large-12">
                <span style="color: red;font-weight: bold;">Esta normativa está derogada</span>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="columns large-12">
                <span style="color: green;font-weight: bold;">Esta normativa no está derogada</span>
            </div>
        </div>
    {% endif %}

{% endif %}

<div class="row">
    <div class="columns large-6"><label><b>Archivo descargable:</b></label>
        {% if normativa.fich_name %}
        <a class="descargar_normativa" data-normativa="{{ normativa.id }}">{{ normativa.fich_name }}</a>
        {% else %}
            <span style="color:gray;">No existe un archivo asociado a esta normativa</span>
        {% endif %}
    </div>
    <div class="columns large-6"><label><b>Normativa en internet:</b></label>
        <a href="{{ normativa.url }}" target="_blank">{{ normativa.url }}</a></div>
</div>

<div class="row">
    <div class="columns large-12"><label><b>Apartados a los que pertenece esta Normativa:</b></label>
        {% for etiqueta in normativa.etiquetas.all %}
            <span class="label info">{{ etiqueta.nombre }}</span>&nbsp;
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="columns large-6"><label><b></b></label></div>
    <div class="columns large-6"><label><b></b></label></div>
</div>