{% load my_templatetags %}
<fieldset id="formulario_search" class="fieldset_box">
    <legend>Búsqueda de dispositivos</legend>
    <div style="position:relative;">
    <span style="position: absolute; top:-1.25rem; right: -0.25rem;font-size: large;font-weight: bold;">
        <a class="fieldset_close"><i class="fa fa-times"></i></a>
    </span>
    </div>
    <div class="row">
        <div class="columns large-4">
            <label>Buscar entre esta fecha ...</label>
            <input id="id_fecha_inicio" name="fecha_inicio" type="date"
                   value="{{ g_e.ronda.inicio|date:"Y\-m\-d" }}">
        </div>
        <div class="columns large-4">
            <label>... y esta otra</label>
            <input id="id_fecha_fin" name="fecha_fin" type="date" value="{% now "Y\-m\-d" %}">
        </div>
        <div class="columns large-4">
            <label>Buscar con la etiqueta ...</label>
            <select id="etiqueta_busqueda" name="etiqueta_busqueda">
                <option value="">---------</option>
                {% for e in etiquetas %}
                    <option value="{{ e.id }}">{{ e.etiquetas_text }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="columns large-10">
            <input type="text" name="busca_texto_disp" id="busca_texto_disp"
                   placeholder="Escribe parte del nombre del dispositivo">
        </div>
        <div class="columns large-2">
            <a id="busca_disps_manual" class="button tiny"><i class="fa fa-search"></i> <b>Buscar</b></a>
        </div>
    </div>
</fieldset>

{#<script>#}
{#$("#id_fecha_inicio").fdatepicker({#}
{#            format: 'dd-mm-yyyy',#}
{#            weekStart: 1#}
{#        });#}
{#$("#id_fecha_fin").fdatepicker({#}
{#            format: 'dd-mm-yyyy',#}
{#            weekStart: 1#}
{#        });#}
{#</script>#}