html {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

{% comment %}
td {
    border: 1px solid black;
}

td.sin_borde {
    border: none;
}
{% endcomment %}
table.informe_no_editable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.pagebreak {
    page-break-before: always;
}

@media print {
    @page {
        @top-center {
            content: element(heading);
            width: 100%;
            }
        @bottom-center {
            content: element(footing);
            width: 100%;
            }
    margin-right: {{ dce.marginright }}mm;
    margin-left: {{ dce.marginleft }}mm;
    margin-top: {{ dce.margintop }}mm;
    margin-bottom: {{ dce.marginbotton }}mm;
    size: {{ dce.pagesize }} {{ dce.orientation }};
    }
}

span.gauss_header {
    display: block!important;
    position: running(heading);
}
span.gauss_footer {
    display: block!important;
    position: running(footing);
}

/*p.rh::before {*/
/*    content: counter(page) ' / ';*/
/*}*/
