{% load entidades_extras %}
{% load formularios_extras %}

<fieldset id="fieldset_subdimensioncue{{ subdimensioncue.id }}" style="position: relative;">
    <legend>
        <label style="float: left"><b>Posición:</b> <input type="number" max=100 min=1 value="{{ subdimensioncue.orden }}"
        class="update_input_text" data-campo="orden" data-tipo="input"
                 data-id="{{ subdimensioncue.id }}" data-foreignkey_id="{{ subdimensioncue.evalfunpractdimsub.id }}"
                 data-modelo="EvalFunPractDimSubCue" data-foreignkey_campo="evalfunpractdimsub">
        </label>
        <label style="padding-left:50px;float:right;"><b>Puntuación:</b> <input type="number" max=100 min=1 value="{{ subdimensioncue.valor }}"
        class="update_input_text" data-campo="valor" data-tipo="input"
                 data-id="{{ subdimensioncue.id }}" data-foreignkey_id="{{ subdimensioncue.evalfunpractdimsub.id }}"
                 data-modelo="EvalFunPractDimSubCue" data-foreignkey_campo="evalfunpractdimsub">
        </label>
    </legend>
    <span style="position: absolute; right: 20px; top: -65px;">
        <a class="alert button radius del_subdimensioncue" data-subdim="{{ subdimensioncue.evalfunpractdimsub.id }}"
               data-subdimensioncue="{{ subdimensioncue.id }}">
                <i class="fa fa-trash"></i> <b>Borrar</b>
            </a>
    </span>

    <div class="row">
        <div class="columns large-12">
            <label><b>Texto de la cuestión vinculada a esta Sub-Dimensión:</b></label>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            <div contenteditable="true" class="ckeditor update_input_text" data-campo="pregunta" data-tipo="div"
                 data-id="{{ subdimensioncue.id }}" data-foreignkey_id="{{ subdimensioncue.evalfunpractdimsub.id }}"
                 data-modelo="EvalFunPractDimSubCue"  id="subdimensioncue{{ subdimensioncue.id }}" data-foreignkey_campo="evalfunpractdimsub"
            >{% autoescape off %}{{ subdimensioncue.pregunta }}{% endautoescape %}</div>
        </div>
    </div>
<div class="row">
        <div class="columns large-12">
            <label><b>Persona o personas que responderán a esta cuestión:</b></label>
        </div>
    </div>
    <div class="row">
        {% for i in subdimensioncue.evalfunpractdimsub.evalfunpractdim.evalfunpract.evalfunpractinteresado_set.all %}
        <div class="columns large-4">
            <input type="checkbox" name="interesado_cue{{ subdimensioncue.id }}" data-cue="{{ subdimensioncue.id }}"
            data-efp="{{ subdimensioncue.evalfunpractdimsub.evalfunpractdim.evalfunpract.id }}"> {{ i.interesado }}
        </div>
        {% endfor %}
    </div>
</fieldset>