<div class="row">
    <div class="columns large-12" style="color: lightgrey;"><p>Pide al usuario que firme el formulario. Es necesaria una
        pantalla táctil para firmar.</p>
        <p>Muestra un recuadro en el que el usuario puede estampar su firma.</p>
    </div>
</div>
<div class="row">
    <div class="columns large-12" style="border: solid 1px lightgrey; width: 250px; height: 150px;">
        <img src="/static/images/firma_manuscrita.png" style="height:140px">
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <span class="label secondary">Borrar firma</span>
    </div>
</div>