{% load entidades_extras %}
{% load formularios_extras %}

<div class="row">
    <div class="columns large-12">
        <ul class="button-group right">
            {% if gform.propietario.gauser == g_e.gauser or g_e|has_permiso:'borra_formularios' %}
                <li><a class="button alert del_gform" data-gform="{{ gform.id }}">
                    <i class="fa fa-trash-o"></i> Borrar</a></li>
            {% else %}
                <li><a class="button secondary" title="No tienes permisos para borrar el formulario">
                    <i class="fa fa-trash-o"></i> Borrar</a></li>
            {% endif %}
            <li><a class="button copy_gform" data-gform="{{ gform.id }}"
                   title="Hacer una copia (un duplicado) de este cuestionario"><i class="fa fa-copy"></i> Copiar</a>
            </li>
            <li><a class="button excel_gform" data-id="{{ gform.id }}"
                   title="EXCEL con los datos enviados por los usuarios"><i class="fa fa-file-excel-o"></i> Excel</a>
            </li>
            <li><a class="button pdf_gform" data-id="{{ gform.id }}"
                   title="PDF con los datos enviados por los usuarios"><i class="fa fa-file-pdf-o"></i> PDF</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label><b>Nombre </b><input type="text" class="update_nombre" data-campo="nombre"
                                    data-gform="{{ gform.id }}" value="{{ gform.nombre }}"
                                    placeholder="Introduce aquí el nombre del formulario"></label>
    </div>
</div>

<div class="row">
    <div class="columns large-2">
        <label title="Fecha límite para rellenar el formulario"><b>Fecha límite</b>
            <input value="{{ gform.fecha_max_rellenado|date:'Y-m-d' }}" type="date" name="fecha_max_rellenado"
                   class="update_fecha_limite" data-gform={{ gform.id }}></label>
    </div>
    <div class="columns large-2">
        <label><b>¿Activo?</b><br>
            {% if gform.activo %}
                <a class="respuesta_booleana" id="activo" data-campo="activo" data-id="{{ gform.id }}">Sí</a>
            {% else %}
                <a class="respuesta_booleana" id="activo" data-campo="activo" data-id="{{ gform.id }}">No</a>
            {% endif %}
        </label>
    </div>
    <div class="columns large-2">
        <label><b>¿Anónimo?</b><br>
            {% if gform.anonimo %}
                <a class="respuesta_booleana" id="anonimo" data-campo="anonimo" data-id="{{ gform.id }}">Sí</a>
            {% else %}
                <a class="respuesta_booleana" id="anonimo" data-campo="anonimo" data-id="{{ gform.id }}">No</a>
            {% endif %}
        </label>
    </div>
    <div class="columns large-2">
        <label><b>Ver</b><br>
            <a href="/ver_gform/{{ gform.id }}/{{ gform.identificador }}/" target="_blank"
            ><i class="fa fa-eye fa-2x"></i></a>
        </label>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <label><b>Plantilla del documento PDF generado con las respuestas:</b></label>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <div contenteditable="true" class="ckeditor update_template" data-gform="{{ gform.id }}" data-campo="template"
             id="template{{ gform.id }}">{% autoescape off %}{{ gform.template }}{% endautoescape %}
        </div>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <label>Personas que pueden rellenar el formulario
            (<span id="num_destinatarios{{ gform.id }}">{{ gform.gformresponde_set.all|length }}</span>):
        </label>
    </div>
</div>
<div class="row" style="padding-bottom: 2px;">
    <div class="columns large-12" id="div_destinatarios{{ gform.id }}">
        {% for gformresponde in gform.gformresponde_set.all %}
            {% include "formularios_accordion_content_destinatario.html" %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <select name="destinatarios{{ gform.id }}" class="destinatarios" data-gform="{{ gform.id }}"></select>
    </div>
</div>

<div id="gformsections{{ gform.id }}">
    {% for gfs in gform.gformsection_set.all %}
        {% include "formularios_accordion_content_gfs.html" %}
        {% include "formularios_accordion_content_ginputs.html" %}
    {% endfor %}
</div>