{% load entidades_extras %}
{% load formularios_extras %}

<div class="row">
    <div class="columns large-12">
        <ul class="button-group right">
            {% if gform.propietario.gauser == g_e.gauser or g_e|has_permiso:'borra_formularios' %}
                <li><a class="button alert del_gform" data-gform="{{ gform.id }}">
                    <i class="fa fa-trash-o"></i> Borrar</a></li>
            {% else %}
                <li><a class="button secondary" title="No tienes permisos para borrar el formulario">
                    <i class="fa fa-trash-o"></i> Borrar</a></li>
            {% endif %}
            <li><a class="button copy_gform" data-gform="{{ gform.id }}"
                   title="Hacer una copia (un duplicado) de este cuestionario"><i class="fa fa-copy"></i> Copiar</a>
            </li>
            <li><a class="button excel_gform" data-id="{{ gform.id }}"
                   title="EXCEL con los datos enviados por los usuarios"><i class="fa fa-file-excel-o"></i> Excel</a>
            </li>
            <li><a class="button pdf_gform" data-id="{{ gform.id }}"
                   title="PDF con los datos enviados por los usuarios"><i class="fa fa-file-pdf-o"></i> PDF</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label><b>Nombre/Título del formulario:</b>
            <input type="text" class="update_nombre" data-campo="nombre"
                   data-gform="{{ gform.id }}" value="{{ gform.nombre }}"
                   placeholder="Introduce aquí el nombre del formulario"></label>
    </div>
</div>

<div class="row">
    <div class="columns large-2">
        <label title="Fecha límite para rellenar el formulario"><b>Fecha límite:</b>
            <input value="{{ gform.fecha_max_rellenado|date:'Y-m-d' }}" type="date" name="fecha_max_rellenado"
                   class="update_fecha_limite" data-gform={{ gform.id }}></label>
    </div>
    <div class="columns large-2">
        <label><b>¿Activo?</b></label>
            {% if gform.activo %}
                <a class="respuesta_booleana" id="activo{{ gform.id }}" data-campo="activo" data-gform="{{ gform.id }}">Sí</a>
            {% else %}
                <a class="respuesta_booleana" id="activo{{ gform.id }}" data-campo="activo" data-gform="{{ gform.id }}">No</a>
            {% endif %}

    </div>
    <div class="columns large-2">
        <label title="¿Admite múltiples respuestas por un mismo usuario?"><b>¿Múltiple?</b></label>
            {% if gform.multiple %}
                <a class="respuesta_booleana" id="multiple{{ gform.id }}" data-campo="multiple" data-gform="{{ gform.id }}">Sí</a>
            {% else %}
                <a class="respuesta_booleana" id="multiple{{ gform.id }}" data-campo="multiple" data-gform="{{ gform.id }}">No</a>
            {% endif %}
    </div>
    <div class="columns large-2">
        <label><b>Ver</b><br>
            <a href="/ver_gform/{{ gform.id }}/{{ gform.identificador }}/" target="_blank"
            ><i class="fa fa-eye fa-2x"></i></a>
        </label>
    </div>
<div class="columns large-4">
        <label><b>Copiar enlace</b><br>
            <a class="button tiny copy_url_gform" data-url="/rellena_gform/{{ gform.id }}/{{ gform.identificador }}/"
            title="Haz click sobre el botón para copiar el enlace al formulario" style="font-weight: bold;">
                Haz click sobre este botón
            </a>
        </label>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <label><b>Personas que colaboran en el desarrollo este formulario:</b> <a class="ayuda_colaboradores">
            <i class="fa fa-question-circle"></i></a>
        </label>
    </div>
</div>
<div class="row" style="padding-bottom: 2px;">
    <div class="columns large-12" id="div_colaboradores{{ gform.id }}">
        {% for colaborador in gform.colaboradores.all %}
            {% include "formularios_accordion_content_colaborador.html" %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <select name="colaboradores{{ gform.id }}" class="colaboradores" data-gform="{{ gform.id }}"></select>
    </div>
</div>
<p>&nbsp;</p>
<div class="row">
    <div class="columns large-12">
        <label><b>Plantilla del documento PDF generado con las respuestas:</b></label>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <div contenteditable="true" class="ckeditor update_template" data-gform="{{ gform.id }}" data-campo="template"
             id="template{{ gform.id }}">{% autoescape off %}{{ gform.template }}{% endautoescape %}
        </div>
    </div>
</div>

<div id="gformsections{{ gform.id }}">
    {% for gfs in gform.gformsection_set.all %}
        {% include "formularios_accordion_content_gfs.html" %}
        {% include "formularios_accordion_content_ginputs.html" %}
    {% endfor %}
</div>