{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
.del_gformresponde {
    background-color: #008CBA; text-align: center; cursor: pointer;
    color: white!important;
}
.del_gformresponde:hover {
    background-color: #007095;
}
    </style>
{% endblock %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}"
          xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="gformresponde" id="gformresponde" value="">

        <div class="">
            <h4 id="title_page" style="text-align: center;color: #008CBA;">
                <strong>Mis Formularios</strong></h4>
        </div>

        <div id="listado_misformularios">
            {% include 'mis_formularios_accordion.html' %}
        </div>
    </form>

{% endblock %}


{% block final %}
    <script>

        {# ########################################################################################### #}
        {# Operaciones directas Mis formularios: #}
        {# open_accordion,   #}
        {# ########################################################################################### #}
        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-gform')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/mis_formularios/", {action: 'open_accordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });

        $('body').on('click', '.del_gformresponde', function (e) {
            e.preventDefault();
            $('#gformresponde').val($(this).data('gformresponde'));
            show_mensajes({
                title: '<i class="fa fa-warning"></i> ¿Borrar tus respuestas del formulario?',
                texto: 'Podrás volver a rellenar de nuevo el formulario, pero todas tus respuestas se borrarán.',
                buttons: {
                    "Eliminar": function () {
                        hide_mensajes();
                        var gformresponde = $('#gformresponde').val();
                        $.post("/mis_formularios/", {action: 'del_gformresponde', gformresponde: gformresponde},
                            function (data) {
                            if (data.ok) {
                                $('#tr' + gformresponde).remove();
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $("#update_error").show().delay(1500).fadeOut();
                            }
                        });
                    },
                    "Cancelar": function () {
                        hide_mensajes();
                    }
                }
            });
        });

        $('body').on('click', '.get_another_gform', function (e) {
            e.preventDefault();
            var gform = $(this).data('gform');
            $.post("/mis_formularios/", {action: 'get_another_gform', gform: gform},
                            function (data) {
                            if (data.ok) {
                                $("#update_ok").show().delay(1500).fadeOut();
                                window.location.href = data.url;
                            } else {
                                $("#update_error").show().delay(1500).fadeOut();
                            }
                        });

        });

    </script>

{% endblock %}