{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
        .respuesta_booleana {
            font-weight: bold;
        }

        .gtext {
            min-height: 100px;
        }

        .ckeditor {
            border: lightgrey 1px solid;
            min-height: 100px;
        }

        .ckeditorpregunta {
            border: none !important;
            min-height: 10px !important;
        }

        .disabled {
            opacity: 0.4;
        }
    </style>
{% endblock %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}"
          xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="pefp" id="pefp" value="">
        <input type="hidden" name="efpa" id="efpa" value="">

        <div class="">
            <h4 id="title_page" style="text-align: center;color: #008CBA;"><strong>
                Mis procesos de evaluación</strong></h4>
        </div>

        <div id="listado_pefps">
            {% include 'mis_evalpract_accordion.html' %}
        </div>
    </form>


{% endblock %}


{% block final %}
    <script>

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-pefp')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/mis_evalpract/", {action: 'open_accordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        $('#pefp').val(id);
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });

        {#$('body').on('click', '.copy_gform', function () {#}
        {#    var pefp = $(this).data('pefp');#}
        {#    $.post("/mis_evalpract/", {action: 'copy_gform', pefp: pefp},#}
        {#        function (data) {#}
        {#            if (data.ok) {#}
        {#                $("#update_ok").show().delay(1500).fadeOut();#}
        {#                $('#listado_pefps').prepend(data.html);#}
        {#            } else {#}
        {#                $('#update_error').show().delay(1500).fadeOut();#}
        {#            }#}
        {#        });#}
        {# });#}

        $('body').on('click', '.excel_cuestionario', function (e) {
            e.preventDefault();
            $('#efpa').val($(this).data('efpa'));
            $('#action').val('excel_cuestionario');
            document.getElementById("{{ formname }}").submit();
         });

        {#$('body').on('click', '.pdf_gform', function (e) {#}
        {#    e.preventDefault();#}
        {#    $('#action').val('pdf_gform');#}
        {#    document.getElementById("{{ formname }}").submit();#}
        {# });#}

        $('body').on('keyup', '.update_nombre', function () {
            var element = $(this);
            var pefp = element.data('pefp');
            var antiguo_texto = element.val();
            $('#nombre' + pefp).html(antiguo_texto);
            setTimeout(function () {
                var nuevo_texto = element.val();
                if (antiguo_texto === nuevo_texto) {
                    $.post("/mis_evalpract/", {action: 'update_nombre', pefp: pefp, texto: nuevo_texto},
                        function (data) {
                            if (data.ok) {
                                $("#update_ok").show().delay(1500).fadeOut();
                            } else {
                                $('#update_error').show().delay(1500).fadeOut();
                            }
                        });
                }
            }, 750);
        });

        $('body').on('change', '.update_fecha_limite', function (e) {
            e.preventDefault();
            console.log('fecha')
            var pefp = $(this).data('pefp');
            var campo = $(this).data('campo');
            var fecha = $(this).val();
            $.post("/mis_evalpract/",
                {action: 'update_fecha_limite', pefp: pefp, fecha: fecha, campo: campo},
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $('#update_error').show().delay(1500).fadeOut();
                    }
                });
        });

        {# ########################################################################################### #}
        {# Respuesta al hacer click sobre "disabled" #}
        {#   #}
        {# ########################################################################################### #}

        $('body').on('click', '.disabled', function (e) {
            e.preventDefault();
            show_mensajes({
                title: 'Pregunta deshabilitada',
                texto: '<p>Solo es posible modificar las preguntas que hayas creado tú.</p><p>Las creadas por otros usuarios solo pueden ser copiadas.</p>'
            })
        });

        $('body').on('click', '.rellenar_cuestionario', function () {
            var efpa = $(this).data('efpa');
            var actor = $(this).data('actor');
            var protocol = window.location.protocol;
            {# http: o https: #}
            var host = window.location.host;
            console.log(host);
            {# Por ejemplo: gaumentada.es:5656   (proporciona dominio + puerto) #}
            var url = protocol + '//' + host + '/recufunprac/' + efpa + '/' + actor;
            console.log(url);
            window.open(url, '_blank');
        });

        $('body').on('click', '.perfil_docente', function () {
            var efpa = $(this).data('efpa');
            var docente_tutor = $('#docente_tutor' + efpa).prop('checked');
            var docente_jefe = $('#docente_jefe' + efpa).prop('checked');
            var docente_orientador = $('#docente_orientador' + efpa).prop('checked');
            $.post("/mis_evalpract/", {action: 'perfil_docente', efpa: efpa,
                    docente_jefe: docente_jefe, docente_tutor: docente_tutor, docente_orientador: docente_orientador},
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });


    </script>

{% endblock %}