{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>

    </style>
{% endblock %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}"
          xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">

        <div class="">
            <h4 id="title_page" style="text-align: center;color: #008CBA;">
                <strong>Mis Formularios</strong></h4>
        </div>

        <div id="listado_misformularios">
            {% include 'mis_formularios_accordion.html' %}
        </div>
    </form>

{% endblock %}


{% block final %}
    <script>

        {# ########################################################################################### #}
        {# Operaciones directas Mis formularios: #}
        {# open_accordion,   #}
        {# ########################################################################################### #}
        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-gformresponde')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/mis_formularios/", {action: 'open_accordion', id: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                        $("#update_ok").show().delay(1500).fadeOut();
                                    } else {
                                        $("#update_error").show().delay(1500).fadeOut();
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });


    </script>

{% endblock %}