<tr id="pefpdestinatario{{ efpa.id }}" title="{{ efpa.docente.ronda.entidad.name }}">
    <td>
        {{ efpa.docente.gauser.last_name }}, {{ efpa.docente.gauser.first_name }}
    </td>
    <td>
        {{ efpa.tutor.gauser.last_name }}, {{ efpa.tutor.gauser.first_name }}
    </td>
    <td>
        {{ efpa.director.gauser.last_name }}, {{ efpa.director.gauser.first_name }}
    </td>
    <td>
        {{ efpa.inspector.gauser.last_name }}, {{ efpa.inspector.gauser.first_name }}
    </td>
{#    <td>#}
{#        <a class="del_pefp_destinatario"  data-efpa="{{ efpa.id }}">#}
{#            <i class="fa fa-trash"></i> Borrar#}
{#        </a>#}
{#    </td>#}
</tr>