{% load formularios_extras %}
<div class="row">
    <div class="columns large-12">
        <table>
            <tr>
                <td>&nbsp;</td>
                {% for i in gfsi|elvalues %}
                        <td style="color: grey;">{{ i }}</td>
                {% endfor %}
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{% autoescape off %}{{ gfsi.labelmin }}{% endautoescape %}</td>
                {% for i in gfsi|elvalues %}
                    <td><input type="radio" name="radiotd{{ gfsi.id }}" class="gfsi_el"></td>
                {% endfor %}
                <td>{% autoescape off %}{{ gfsi.labelmax }}{% endautoescape %}</td>
            </tr>
        </table>
    </div>
</div>