{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
        #title_page {
            text-align: center;
            color: #008CBA;
        }

        .opera {
            margin-right: 20px;
            cursor: pointer;
            color: #008CBA;
            display: inline-block;
            vertical-align: middle;
        }

        .opera:hover {
            -webkit-transform: scale(1.7, 1.7);
            -webkit-transition-timing-function: ease-out;
            -webkit-transition-duration: 150ms;
            -moz-transform: scale(1.7, 1.7);
            -moz-transition-timing-function: ease-out;
            -moz-transition-duration: 150ms;
            position: relative;
            z-index: 99;
        }
    </style>
{% endblock %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="q" id="q" value="">
        <input type="hidden" name="page" id="page" value="">
        <input type="hidden" id="id_configura_convocatoria" name="id_configura_convocatoria" value="">

        <div>
            {% if configura %}
                <h4 id="title_page"><strong>Configuración de Convocatorias</strong></h4>
            {% else %}
                <h4 id="title_page"><strong>Convocatorias</strong></h4>
            {% endif %}
        </div>
        <dl class="accordion" data-accordion id="list_configura_convocatorias">
            {% for c in configuraciones %}
                {% include "configurar_convocatoria_accordion.html" %}
            {% endfor %}
        </dl>
    </form>
{% endblock %}

{% block final %}
    <script>

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-configura_convocatoria')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/configurar_convocatorias_ajax/", {action: 'open_accordion', configuracion: id},
                                function (data) {
                                    if (data.ok) {
                                        $('#panel' + id).html(data.html);
                                    } else {
                                        show_mensajes({
                                            title: "Error",
                                            texto: "No se ha podido cargar el contenido de la configuración"
                                        })
                                    }
                                });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });

        $('body').on('keyup', '.nombre', function (e) {
            var configura_convocatoria = $(this).data('id');
            var nombre = $(this).text();
            $.post("/configurar_convocatorias_ajax/", {
                    action: 'update_nombre_configura_convocatoria',
                    configuracion: configura_convocatoria,
                    nombre: nombre
                },
                function (data) {
                    if (data.ok) {
                        $('#span_nombre' + configura_convocatoria).html(data.nombre);
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('keyup', '.lugar', function (e) {
            var configura_convocatoria = $(this).data('id');
            var lugar = $(this).val();
            $.post("/configurar_convocatorias_ajax/", {
                    action: 'update_lugar_configura_convocatoria',
                    configuracion: configura_convocatoria,
                    lugar: lugar
                },
                function (data) {
                    if (data.ok) {
                        $('.place').text(lugar);
                        $("#update_ok").show().delay(1500).fadeOut();
                        editor_contenido_convocatoria.fire('change');
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change', '.cargo', function (e) {
            var configura_convocatoria = $(this).data('id');
            var cargo = $(this).val();
            $.post("/configurar_convocatorias_ajax/", {
                    action: 'update_cargo_configura_convocatoria',
                    configuracion: configura_convocatoria,
                    cargo: cargo
                },
                function (data) {
                    if (data.ok) {
                        $('.cargo_convocante').text(data.cargo);
                        $("#update_ok").show().delay(1500).fadeOut();
                        editor_contenido_convocatoria.fire('change');
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change.select2', '.subentidades_convocadas', function (e) {
            var configura_convocatoria = $(this).data('id');
            var subentidades = $(this).val();
            $.post("/configurar_convocatorias_ajax/", {
                    action: 'update_subentidades_convocadas_configura_convocatoria',
                    configuracion: configura_convocatoria,
                    subentidades: subentidades
                },
                function (data) {
                    if (data.ok) {
                        $('.sub_convocadas').text(data.texto);
                        $("#update_ok").show().delay(1500).fadeOut();
                        editor_contenido_convocatoria.fire('change');
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('change.select2', '.cargos_convocados', function (e) {
            var configura_convocatoria = $(this).data('id');
            var cargos = $(this).val();
            $.post("/configurar_convocatorias_ajax/", {
                    action: 'update_cargos_convocados_configura_convocatoria',
                    configuracion: configura_convocatoria,
                    cargos: cargos
                },
                function (data) {
                    if (data.ok) {
                        $('.sub_convocadas').text(data.texto);
                        $("#update_ok").show().delay(1500).fadeOut();
                        editor_contenido_convocatoria.fire('change');
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        {% if request.session.gauser_extra|has_permiso:"crea_configuraciones_convocatorias" and configura %}
            habilita(['s_plus']);
            $('#plus_sign').click(function (e) {
                e.preventDefault();
                $.post("/configurar_convocatorias_ajax/", {action: 'nueva_configuracion'}, function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        $('#list_configura_convocatorias').prepend(data.html);
                        $(document).scrollTop($('#list_configura_convocatorias').offset().top - 150);
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }

                });
            });
        {% endif %}

        {% if request.session.gauser_extra|has_permiso:"crea_convocatorias" and not configura %}
            habilita(['s_plus']);
            $('#plus_sign').click(function (e) {
                e.preventDefault();
                $.post("/configurar_convocatorias_ajax/", {action: 'nueva_convocatoria'}, function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        $('#list_configura_convocatorias').prepend(data.html);
                        $(document).scrollTop($('#list_configura_convocatorias').offset().top - 150);
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }

                });
            });
        {% endif %}


        $('body').on('click', '.delete_configura_convocatoria', function (e) {
            e.preventDefault();
            var convocatoria = $(this).data('id');
            if ($('#plantilla' + convocatoria).val() == 'True') {
                title1 = 'Borrar configuración';
                texto1 = 'Si aceptas, esta configuración de convocatoria será eliminada' +
                    ' completamente de la base de datos.';
                title2 = 'Borrado cancelado';
                texto2 = 'No tienes permiso para borrar esta configuración';
            } else {
                title1 = 'Borrar convocatoria';
                texto1 = 'Si aceptas, esta convocatoria será eliminada completamente de la base de datos.';
                title2 = 'Borrado cancelado';
                texto2 = 'No tienes permiso para borrar esta convocatoria';
            }
            $('#id_configura_convocatoria').val(convocatoria);
            show_mensajes({
                title: title1,
                texto: texto1,
                buttons: {
                    "Cancelar": function () {
                        hide_mensajes();
                    },
                    "Aceptar": function () {
                        hide_mensajes();
                        var configura_convocatoria = $('#id_configura_convocatoria').val();
                        var is_plantilla = $('#plantilla' + configura_convocatoria).val();
                        $.post("/configurar_convocatorias_ajax/", {
                                action: 'delete_configura_convocatoria',
                                configuracion: configura_convocatoria,
                                is_plantilla: is_plantilla
                            },
                            function (data) {
                                if (data.ok) {
                                    $("#update_ok").show().delay(1500).fadeOut();
                                    $('#accordion' + configura_convocatoria).remove();
                                } else {
                                    $("#update_error").show().delay(1500).fadeOut();
                                    show_mensajes({
                                        title: title2,
                                        texto: texto2
                                    });
                                }
                            });
                    }
                }
            });
        });

        $('body').on('change', '.plantilla', function (e) {
            var convocatoria = $(this).data('id');
            var plantilla = $(this).val();
            $.post("/configurar_convocatorias_ajax/", {
                action: 'update_plantilla', convocatoria: convocatoria, plantilla: plantilla
            }, function (data) {
                if (data.ok) {
                    $("#update_ok").show().delay(1500).fadeOut();
                    $('#panel' + convocatoria).html(data.html);
                    $('.day_name').html(data.day_name);
                    $('.day_num').html(data.day_num);
                    $('.month_name').html(data.month_name);
                    $('.year').html(data.year);
                    $('.datetime_time').html(data.datetime_time);
                    editor_contenido_convocatoria.fire('change');
                } else {
                    $("#update_error").show().delay(1500).fadeOut();
                }
            });
        });

        $('body').on('change', '.fecha_hora', function () {
            var fecha_hora = $(this).val();
            var convocatoria = $(this).data('id');
            $.post("/configurar_convocatorias_ajax/", {
                    action: 'update_fecha_hora',
                    convocatoria: convocatoria,
                    fecha_hora: fecha_hora
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                        $('.day_name').html(data.day_name);
                        $('.day_num').html(data.day_num);
                        $('.month_name').html(data.month_name);
                        $('.year').html(data.year);
                        $('.datetime_time').html(data.datetime_time);
                        editor_contenido_convocatoria.fire('change');
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('click', '.download_pdf', function (e) {
            e.preventDefault();
            $('#id_configura_convocatoria').val($(this).data('id'));
            $('#action').val('pdf_convocatoria');
            document.getElementById("{{ formname }}").submit();
        });

    </script>
{% endblock %}