{% load my_templatetags %}
{% load cupo_extras %}
<div class="row">
    <div class="columns large-9">
        <ul class="button-group centered">
            {% if request.session.gauser_extra|has_permiso:'borra_cupo_profesorado' %}
                <li title="Borrar este cupo" id="borrar{{ cupo.id }}"
                    {% if cupo.bloqueado %}style="display:none;"{% endif %}>
                    <a href="#" class="button delete_cupo"
                       data-cupo="{{ cupo.id }}"><i class="fa fa-trash-o"></i> Borrar</a></li>
            {% endif %}
            {% if request.session.gauser_extra|has_permiso:'copia_cupo_profesorado' %}
                <li title="Copiar este cupo (duplicarlo)">
                    <a href="#" class="button copy_cupo"
                       data-cupo="{{ cupo.id }}"><i class="fa fa-copy"></i> Copiar</a></li>
            {% endif %}
            {% if request.session.gauser_extra|has_permiso:'edita_cupos' %}
                <li title="Editar esta propuesta de cupo" id="editar{{ cupo.id }}"
                    {% if cupo.bloqueado %}style="display:none;"{% endif %}>
                    <a href="#" class="button edit_cupo"
                       data-cupo="{{ cupo.id }}"><i class="fa fa-pencil"></i> Editar</a></li>
            {% endif %}
            {% if request.session.gauser_extra|has_permiso:'pdf_cupo' %}
                <li title="Generar el informe en pdf del cupo">
                    <a href="#" class="button pdf_cupo"
                       data-cupo="{{ cupo.id }}"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
                {#                <li title="Generar el xls del cupo">#}
                {#                    <a href="#" class="button xls_cupo"#}
                {#                       data-cupo="{{ cupo.id }}"><i class="fa fa-file-excel-o"></i> XLS</a></li>#}
                <li title="Generar el informe en pdf para RRHH">
                    <a href="#" class="button pdf_cupo_rrhh"
                       data-cupo="{{ cupo.id }}"><i class="fa fa-file-text-o"></i> RRHH</a></li>
            {% endif %}
            {% if request.session.gauser_extra|has_permiso:'bloquea_cupos' %}
                <li title="Desbloquea el cupo para que otros puedan modificarlo" id="li_desbloquea{{ cupo.id }}"
                    {% if not cupo.bloqueado %}style="display:none;"{% endif %}>
                    <a href="#" class="button desbloquear_cupo"
                       data-cupo="{{ cupo.id }}"><i class="fa fa-unlock"></i> Desbloquear</a></li>
                <li title="Bloquea el cupo para que no se pueda modificar" id="li_bloquea{{ cupo.id }}"
                    {% if cupo.bloqueado %}style="display:none;"{% endif %}>
                    <a href="#" class="button bloquear_cupo"
                       data-cupo="{{ cupo.id }}"><i class="fa fa-lock"></i> Bloquear</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="columns large-3">
        <div data-alert class="alert-box success radius">
            <span style="font-weight: 800;">{{ cupo.materia_cupo_set.all|length }} materias</span>
            <a href="#" class="close">&times;</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="columns large-3">
        {% if request.session.gauser_extra|has_permiso:'cambia_ronda_cupos' %}
            <label><b>Centro (Curso escolar):</b>&nbsp;&nbsp;
                <select class="select_ronda_cupo" data-cupo="{{ cupo.id }}">
                    <option value="{{ cupo.ronda.id }}">{{ cupo.ronda.entidad.name }} ({{ cupo.ronda.nombre }})</option>
                    {% for ronda in rondas %}
                        <option value="{{ ronda.id }}">{{ ronda.entidad.name }} ({{ ronda.nombre }})</option>
                    {% endfor %}
                </select>
            </label>
        {% else %}
            <label><b>Centro (Curso escolar):</b>&nbsp;&nbsp;</label>
            <span style="font-size: small;">{{ cupo.ronda.entidad.name }} ({{ cupo.ronda.nombre }})</span>
        {% endif %}
    </div>
    <div class="columns large-6">
        <label><b>Escribe el nombre del cupo:</b>
            <input type="text" class="change_nombre_cupo" value="{{ cupo.nombre }}" data-cupo="{{ cupo.id }}">
        </label>
    </div>
    <div class="columns large-3">
        <label><b>¿Publicar para RRHH? <a class="info_pub_rrhh"><i class="fa fa-info-circle"></i></a> </b></label>&nbsp;&nbsp;
        <span id="pub_rrhh{{ cupo.id }}">
            {% include "cupo_accordion_content_pubrrhh.html" %}
        </span>
    </div>

</div>
<hr>
<div class="row">
    <div class="columns large-12">
        <label><b>Secciones basadas en filtros que serán incluidas en el informe del cupo (pdf):</b>
        </label>
    </div>
</div>
<div id="filtros_list{{ cupo.id }}">
    {% for filtro in cupo.filtrocupo_set.all %}
        {% include "cupo_accordion_content_filtro.html" %}
    {% endfor %}
</div>

<div class="row" style="padding-top: 10px;">
    <div class="columns large-5">
        <input type="text" id="name_filtro{{ cupo.id }}" value=""
               placeholder="Nombre del filtro, por ejemplo 'Tutorías'">
    </div>
    <div class="columns large-5">
        <input type="text" id="filtro_filtro{{ cupo.id }}" value=""
               placeholder="Texto a filtrar, por ejemplo 'tut' o 'jef' o 'reduc'">
    </div>
    <div class="columns large-2">
        <a class="add_filtro" data-cupo="{{ cupo.id }}"><i class="fa fa-plus"></i> Añadir</a>
    </div>
</div>

<hr>
<div class="row">
    <div class="columns large-12">
        <label title="Editar las especialidades que forman parte de este cupo">
            <b>Especialidades del profesorado incluidas en el cupo ({{ cupo.especialidadcupo_set.all|length }}):</b>
            <a class="edit_especialidades right" data-cupo="{{ cupo.id }}"><i class="fa fa-pencil-square-o"></i></a>
        </label>
    </div>
</div>
<div class="row" id="list_especialidades_cupo">
    {% for e in cupo.especialidadcupo_set.all %}
        {% include "cupo_accordion_content_especialidad.html" %}
    {% endfor %}
</div>
<div class="row" style="margin-top: 3px;">
    <label>
        <select class="select_add_especialidad" data-cupo="{{ cupo.id }}">
            <option value="">---------</option>
            {% for e in especialidades_existentes %}
                <option value="{{ e.1 }}">{{ e.1 }}</option>
            {% endfor %}
        </select>
    </label>
</div>
<div class="row" id="especialidades_edit{{ cupo.id }}">
</div>
<hr>
<div class="row">
    <div class="columns large-12">
        <label><b>Cursos incluidos en el cupo ({{ cupo.cursocupo_set.all|length }}):</b>
            {#        <a class="edit_cursos right" data-cupo="{{ cupo.id }}"><i class="fa fa-pencil-square-o"></i></a>#}
        </label>
    </div>
</div>
<div class="row" id="list_cursos_cupo">
    {% for c in cupo.cursocupo_set.all %}
        {% include "cupo_accordion_content_curso.html" %}
    {% endfor %}
</div>
<div class="row" style="margin-top: 3px;">
    <label>
        <select class="select_add_curso" data-cupo="{{ cupo.id }}">
            <option value="">---------</option>
            {% for ce in cursos_existentes %}
                <option value="{{ ce.0 }}">{{ ce.1 }}</option>
            {% endfor %}
        </select>
    </label>
</div>
<div class="row" id="cursos_edit{{ cupo.id }}">
</div>
<hr>
<div class="row">
    <div class="columns large-12">
        <label><b>Personas invitadas a editar este estudio de cupo:</b></label>
    </div>
</div>
<div class="row" style="padding-bottom: 3px;" id="div_invitados{{ cupo.id }}">
    {% for cp in cupo.cupopermisos_set.all %}
        {% include "cupo_accordion_content_invitados.html" %}
    {% endfor %}
</div>
<div class="row">
    <label>
        <select id="usuarios_invitados{{ cupo.id }}" class="usuarios_invitados"
                data-id="{{ cupo.id }}"></select>
    </label>
</div>
