{% load my_templatetags %}
{% for m in materias %}
    {% if forloop.counter0|divisibleby:8 and not duplicated %}
        <div class="row">
            <div class="columns large-4 medium-4 small-6 cab_title" style="text-align: left;">
                Nombre de la materia
            </div>
            <div class="columns large-1 medium-1 small-3 cab_title"
                 title="Periodos lectivos en una semana que son destinados a la materia">
                Periodos
            </div>
            <div class="columns large-1 medium-1 small-3 cab_title"
                 title="Número de grupos calculados en función del número de alumnos máximo y mínimo permitido.">
                Grupos
            </div>
            <div class="columns large-3 medium-3 small-6 cab_title" title="Especialidad del profesorado objeto de cupo">
                Especialidad
            </div>
            <div class="columns large-1 medium-1 small-2 cab_title" title="Número de alumnos previsto en esta materia">
                Alumnos
            </div>
            <div class="columns large-1 medium-1 small-2 cab_title" title="Número de máximo de alumnos en un grupo">
                Máx.
            </div>
            <div class="columns large-1 medium-1 small-2 cab_title" title="Número de mínimo de alumnos en un grupo">
                Mín.
            </div>
        </div>
    {% endif %}
    <div id="row{{ m.id }}"
         class="row materia  {% if duplicated %} duplicated
             {% else %}{% if forloop.counter|divisibleby:2 %}par{% else %}impar{% endif %}{% endif %}">
        <div class="columns large-4 medium-4 small-6">
            {% if m.nombre %}
                <a id="nombre_actual{{ m.id }}" data-dropdown="drop{{ m.id }}" aria-controls="drop{{ m.id }}"
                   aria-expanded="false">{{ m.nombre }}</a>
            {% else %}
                <a id="nombre_actual{{ m.id }}" data-dropdown="drop{{ m.id }}" aria-controls="drop{{ m.id }}"
                   aria-expanded="false">Materia sin nombre</a>
            {% endif %}
            <div id="drop{{ m.id }}" data-dropdown-content class="f-dropdown content medium" aria-hidden="true"
                 tabindex="-1"
                 aria-autoclose="false">
                <ul style="list-style-type: none;">
                    <li><a data-materia="{{ m.id }}" class="delete_materia"><i class="fa fa-trash-o fa-fw"></i>
                        Borrar</a></li>
                    <li><a data-materia="{{ m.id }}" class="duplicate_materia"><i class="fa fa-copy fa-fw"></i> Duplicar</a>
                    </li>
                </ul>
                <label>Cambia el nombre:<input type="text" data-materia="{{ m.id }}" class="change_nombre"
                                               value="{{ m.nombre }}"></label>
            </div>
            {% if not s_c %}-
                {% if m.curso_cupo %}{{ m.curso_cupo.nombre }}{% else %}No asignada a un curso{% endif %}{% endif %}
        </div>
        <div class="columns large-1 medium-1 small-3 num_periodos" contenteditable="true" data-materia="{{ m.id }}"
             title="Periodos lectivos en una semana que son destinados a la materia">
            {% if m.horas %}{{ m.horas }}{% else %}0{% endif %}
        </div>
        <div class="columns large-1 medium-1 small-3 num_grupos"
             title="Número de grupos calculados en función del número de alumnos máximo y mínimo permitido.">
            <span id="num_grupos{{ m.id }}">{{ m.num_grupos }}</span>
        </div>
        <div class="columns large-3 medium-3 small-6" title="Especialidad del profesorado objeto de cupo">
            <select class="especialidad {% if not m.especialidad %} sin_especialidad {% endif %}"
                    data-materia="{{ m.id }}" id="esp{{ m.id }}">
                <option value="">Sin Especialidad</option>
                {% for esp in especialidades %}
                    <option value="{{ esp.id }}"
                            {% if m.especialidad == esp %}selected{% endif %}>{{ esp.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="columns large-1 medium-1 small-2 num_alumnos" title="Número de alumnos previsto en esta materia"
             contenteditable="true" data-materia="{{ m.id }}">
            {{ m.num_alumnos }}
        </div>
        <div class="columns large-1 medium-1 small-2 max_num_alumnos" title="Número de máximo de alumnos en un grupo"
             contenteditable="true" data-materia="{{ m.id }}">
            {{ m.max_num_alumnos }}
        </div>
        <div class="columns large-1 medium-1 small-2 min_num_alumnos" title="Número de mínimo de alumnos en un grupo"
             contenteditable="true" data-materia="{{ m.id }}">
            {{ m.min_num_alumnos }}
        </div>
    </div>
{% endfor %}

{% if s_c %}
    <br>
    <hr>
    <div class="row">
        <div class="columns large-2">
            <label title="Escribe aquí el número total de alumnos en {{ materias.0.curso_cupo.nombre }}"><b>Alumnos</b>
                <input data-curso="{{ materias.0.curso_cupo.id }}" class="num_total_alumnos_curso" type="number" min="0"
                       max="300" value="{{ materias.0.curso_cupo.num_alumnos }}" data-cupo="{{ materias.0.cupo.id }}">
            </label>
        </div>
        <div class="columns large-10">
            <label><b>Número de horas lectivas de un alumno por semana:</b></label>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mfrac style="font-size: x-large;">
                    <mn>&Sigma; horas materia x num. alumnos materia</mn>
                    <mi>número alumnos en {{ materias.0.curso_cupo.nombre }}</mi>
                </mfrac>
                <mo style="font-size: large;">=</mo>
            </math>
            <span id="horas_media{{ materias.0.curso_cupo.id }}">
                    {{ materias.0.curso_cupo.get_horas_media }}</span>
        </div>
    </div>
{% endif %}

{% if especialidad %}
    <style>
        th {
            text-align: center;
        }
    </style>
    <br>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th style="text-align: center;" colspan="8">Rangos, en horas, de las diferentes jornadas</th>
            </tr>
            <tr>
                <th style="text-align: center;" colspan="2">1/3 Jornada</th>
                <th style="text-align: center;" colspan="2">1/2 Jornada</th>
                <th style="text-align: center;" colspan="2">2/3 Jornada</th>
                <th style="text-align: center;" colspan="2">Jornada completa</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: center;"><label>min <input type="text" data-cupo="{{ especialidad.cupo.id }}" class="jornhoras"
                                                                  data-jornada="min_terciof"
                                                                  data-especialidad="{{ especialidad.id }}"
                                                                  value="{{ especialidad.min_terciof }}"></label></td>
                <td style="text-align: center;"><label>max <input type="text" data-cupo="{{ especialidad.cupo.id }}" class="jornhoras"
                                                                  data-jornada="max_terciof"
                                                                  data-especialidad="{{ especialidad.id }}"
                                                                  value="{{ especialidad.max_terciof }}"></label></td>
                <td style="text-align: center;"><label>min <input type="text" data-cupo="{{ especialidad.cupo.id }}" class="jornhoras"
                                                                  data-jornada="min_mediaf"
                                                                  data-especialidad="{{ especialidad.id }}"
                                                                  value="{{ especialidad.min_mediaf }}"></label></td>
                <td style="text-align: center;"><label>max <input type="text" data-cupo="{{ especialidad.cupo.id }}" class="jornhoras"
                                                                  data-especialidad="{{ especialidad.id }}"
                                                                  data-jornada="max_mediaf"
                                                                  value="{{ especialidad.max_mediaf }}"></label></td>
                <td style="text-align: center;"><label>min <input type="text" data-cupo="{{ especialidad.cupo.id }}" class="jornhoras"
                                                                  data-jornada="min_dosterciosf"
                                                                  data-especialidad="{{ especialidad.id }}"
                                                                  value="{{ especialidad.min_dosterciosf }}"></label></td>
                <td style="text-align: center;"><label>max <input type="text" data-cupo="{{ especialidad.cupo.id }}" class="jornhoras"
                                                                  data-jornada="max_dosterciosf"
                                                                  data-especialidad="{{ especialidad.id }}"
                                                                  value="{{ especialidad.max_dosterciosf }}"></label></td>
                <td style="text-align: center;"><label>min <input type="text" data-cupo="{{ especialidad.cupo.id }}" class="jornhoras"
                                                                  data-jornada="min_completaf"
                                                                  data-especialidad="{{ especialidad.id }}"
                                                                  value="{{ especialidad.min_completaf }}"></label></td>
                <td style="text-align: center;"><label>max <input type="text" data-cupo="{{ especialidad.cupo.id }}" class="jornhoras"
                                                                  data-jornada="max_completaf"
                                                                  data-especialidad="{{ especialidad.id }}"
                                                                  value="{{ especialidad.max_completaf }}"></label></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div id="profesor_cupo{{ p.id }}">
        <div class="row">
            <table style="width: 100%;" id="tabla_lista_profesores{{ p.id }}">
                <thead>
                <tr>
                <th style="text-align: center;" colspan="6">Docentes necesarios en función de las horas asignadas</th>
            </tr>
                <tr>
                    <th style="text-align: center;">Nombre</th>
                    <th style="text-align: center;">Tipo docente</th>
                    <th style="text-align: center;">Jornada</th>
                    <th style="text-align: center;" colspan="3">Otros datos</th>
                </tr>
                </thead>
                {% for p in especialidad|profesores_especialidad %}
                    {% include "edit_cupo_materias_profesor.html" %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}
