<td>
    <div class="docente" data-po="{{ pd.po.id }}" data-x_docente="{{ pd.x_docente }}">{{ pd.docente }}</div>
    <div class="materias_docente" id="materias_docente{{ pd.x_docente }}"></div>
</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="espa1">{{ pd.espa1 }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="espa2">{{ pd.espa2 }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="espads1">{{ pd.espads1 }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="espads2">{{ pd.espads2 }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="epan2">{{ pd.epan2 }}</td>

<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="iniciales1">{{ pd.iniciales1 }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="iniciales2">{{ pd.iniciales2 }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="epainm">{{ pd.epainm }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="epamay">{{ pd.epamay }}</td>

<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="epaofi">{{ pd.epaofi }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="epainf">{{ pd.epainf }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="epamec">{{ pd.epamec }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="epaing">{{ pd.epaing }}</td>

<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="jefatura">{{ pd.jefatura }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="mayor55">{{ pd.mayor55 }}</td>
<td contenteditable="true" class="tdpdocente" data-id="{{ pd.id }}" data-campo="tutorias">{{ pd.tutorias }}</td>
<td style="font-weight: bold;text-align: center;" id="horas_totales{{ pd.id }}">{{ pd.horas_totales }}</td>
<td style="font-weight: bold;text-align: center;" id="horas_basicas{{ pd.id }}">{{ pd.horas_basicas }}</td>
<td></td>