{% load cupo_extras %}
{% if departamento.nombre %}
    <th style="color: #1b75bb" class="dep_th" data-departamento="{{ departamento.id }}" data-po="{{ po.id }}" data-cargado="false">{{ departamento.nombre }}
        <span style="font-size: small; font-weight: normal; color: gray;"
              title="Número de docentes">({{ departamento.miembrodepartamento_set.all|length }} docentes)</span></th>
{% else %}
    <th style="color: #1b75bb" class="dep_th" data-departamento="{{ departamento.id }}" data-po="{{ po.id }}" data-cargado="false">Docentes sin departamento
        <span style="font-size: small; font-weight: normal; color: gray;"
              title="Número de docentes">({{ departamento.miembrodepartamento_set.all|length }} docentes)</span></th>
{% endif %}

{% with horas=po|get_columnas_departamento:departamento %}
    {% for columna in horas.columnas %}
        <th id="d{{ departamento.id }}_{{ columna.codecol }}" data-codecol="{{ columna.codecol }}">{{ columna.periodos }}</th>
    {% endfor %}

    <th id="d_horas_totales{{ departamento.id }}" style="font-weight: bold;text-align: center;">{{ horas.horas_totales }}</th>
    <th id="d_horas_basicas{{ departamento.id }}" style="font-weight: bold;text-align: center;">{{ horas.horas_basicas }}</th>
    <th id="d_horas_plantilla{{ departamento.id }}" style="font-weight: bold;text-align: center;">{{ horas.horas_plantilla }}</th>
{% endwith %}