{% load entidades_extras %}
{% load cupo_extras %}
<div class="row">
    <div class="columns large-12">
        <ul class="button-group right">
            <li><a class="button alert borrar_po tiny" data-id="{{ po.id }}"
                   title="Borrar completamente este estudio de plantilla orgánica"><i class="fa fa-trash-o"></i>
                Borrar</a></li>
            <li><a class="button copiar_po tiny" data-id="{{ po.id }}"
                   title="Hacer una copia (un duplicado) de este estudio"><i class="fa fa-copy"></i> Copiar</a>
            </li>
            {#            <li><a class="button pdf_po tiny" data-id="{{ po.id }}"#}
            {#                   title="Crear un EXCEL de este estudio"><i class="fa fa-file-excel-o"></i> EXCEL</a>#}
            {#            </li>#}
        </ul>
    </div>
</div>
{% if g_e|has_permiso:'carga_plantillas_por_funciones' %}
    <div class="row">
        <div class="columns large-12">
            <ul class="button-group right">
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_dependencias">
                    Carga dependencias</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_etapas">
                    Carga etapas</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_cursos">
                    Carga cursos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_grupos">
                    Carga grupos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_materias">
                    Carga materias</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_departamentos">
                    Carga departamentos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_puestos">
                    Carga puestos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_actividades">
                    Carga actividades</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_docentes">
                    Carga docentes</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_sesiones_docentes">
                    Carga sesiones</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_pdocentes">
                    Carga plantilla</a></li>
            </ul>
        </div>
    </div>
{% endif %}
{% if po.carga_completa %}
<table style="width: 100%;position: relative;">
    <thead id="cabecera_tabla_po">
    <tr>
        <th style="color: #1b75bb;text-align: center;width: {{ po.anchura_cols.0 }}%;">Departamentos y Docentes</th>
        {% for apartado in po|get_apartados %}
            <th style="color: #1b75bb;text-align: center;width: {{ apartado.width }}%" colspan="{{ apartado.colspan }}">
                {{ apartado.nombre }}
            </th>
        {% endfor %}
        <th style="color: #1b75bb;text-align: center;width: {{ po.anchura_cols.2 }}%;" colspan="3">Horas calculadas</th>
    </tr>
    </thead>
    <tbody id="tbody_docente{{ po.id }}">
    {% include "plantilla_organica_accordion_content_tbody.html" %}
    </tbody>
</table>

<label>Grupos tenidos en cuenta para el cálculo:</label>
<table style="width: 100%">
    {% for curso, grupos in po.cursos.items %}
        <thead>
        <tr>
            <th colspan="8">{{ curso }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for grupo in grupos %}
                <td><input type="checkbox" class="grupocheck" data-id="{{ po.id }}" value="{{ grupo.2 }}"
                           {% if grupo.1 %}checked{% endif %}> {{ grupo.0 }}</td>
            {% endfor %}
        </tr>
        </tbody>
    {% endfor %}
</table>
{% else %}
    <h4 style="text-align: center;color: #008CBA;"><strong>Cargando la información
        <i class="fa fa-spinner fa-pulse fa-2x"></i></strong></h4>
    <h5 style="text-align: center;color: #008CBA;"><strong>Este proceso puede requerir de varios minutos.</strong></h5>
    <h5 style="text-align: center;color: #008CBA;"><strong>Cierra este "acordeón" y vuélvelo a abrir en un rato.</strong></h5>
{% endif %}
