{% load cupo_extras %}
{% for dep in po.departamentos %}
    {% if forloop.first %}
        <thead>
        {% else %}
        <thead class="docentes_dep{{ dep.1 }}" style="display: none;">
    {% endif %}
    <tr>
        <th style="color: #1b75bb">&nbsp;</th>
        <th><span class="verticalText">Troncales</span></th>
        <th><span class="verticalText">Específicas</span></th>
        <th><span class="verticalText">Libre Conf. Aut.</span></th>
        <th><span class="verticalText">Relig./Val. Éticos</span></th>
        <th><span class="verticalText">Desdobles ESO</span></th>
        <th><span class="verticalText">Troncales</span></th>
        <th><span class="verticalText">Específicas</span></th>
        <th><span class="verticalText">Desdobles BACH</span></th>
        <th><span class="verticalText">CFGM</span></th>
        <th><span class="verticalText">CFGS</span></th>
        <th><span class="verticalText">FPB</span></th>
        <th><span class="verticalText">Jefatura</span></th>
        <th><span class="verticalText">Mayor 55</span></th>
        <th><span class="verticalText">Curso preparatorio</span></th>
        <th><span class="verticalText">Tutorías</span></th>
        <th><span class="verticalText">PACG</span></th>
        <th><span class="verticalText">Refuerzo 1º ESO</span></th>
        <th><span class="verticalText">PMAR1</span></th>
        <th><span class="verticalText">PMAR2</span></th>
        <th class="verticalText" style="color:#970b0e;text-align: center;">Horas totales</th>
        <th class="verticalText" style="color:#970b0e;text-align: center;">Horas básicas</th>
        <th style="color:#970b0e;text-align: center;">Plantilla Orgánica</th>
    </tr>
    </thead>

    <thead>
    <tr id="departamento{{ dep.1 }}">
        {% with departamento=po|plantilla_departamento:dep.2 %}
            {% include "plantilla_organica_accordion_ies_content_tbody_departamento_tr.html" %}
        {% endwith %}
    </tr>
    </thead>
    {% for pd in po|docentes_departamento:dep.1 %}
        <tr id="plantilladocente{{ pd.id }}" class="docentes_dep{{ dep.1 }}" style="display: none;">
            {% include "plantilla_organica_accordion_ies_content_tbody_docente_tr.html" %}
        </tr>
    {% endfor %}
{% endfor %}