{% load entidades_extras %}
{#<table style="width: 100%">#}
{#    <thead>#}
{#    <tr>#}
{#        <th colspan="6" style="text-align: center"#}
{#            title="{{ docente.tipo_personal }} -- Jornada: {{ docente.jornada_contratada }}">#}
{#            {{ docente.gauser.get_full_name }} -- {{ docente.ronda }} -- {{ docente.puesto|upper }}</th>#}
{#    </tr>#}
{#    <tr>#}
{#        <th></th>#}
{#        <th>Lunes</th>#}
{#        <th>Martes</th>#}
{#        <th>Miércoles</th>#}
{#        <th>Jueves</th>#}
{#        <th>Viernes</th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for tramo, sesiones_en_tramo in horario.items %}#}
{#        <tr>#}
{#            <td>{{ tramo }}</td>#}
{#            {% for dia, sesion in sesiones_en_tramo.items %}#}
{#                {% if sesion.sesionextra_set.all.0.materia %}#}
{#                    <td title="{{ sesion.sesionextra_set.all.0.materia.curso.nombre }} ({{ sesion.sesionextra_set.all.0.actividad.nombre }})"#}
{#                        class="{{ sesion.clase_horario }} mwx198" data-m="{{ sesion.clase_horario }}">#}
{#                        {{ sesion.sesionextra_set.all.0.materia.nombre }}<br>#}
{#                        {% for sext in sesion.sesionextra_set.all %}#}
{#                            <span class="grupo_horario grupo_usado" data-grupo="{{ sext.grupo.id }}">#}
{#                            {{ sext.grupo.nombre }}#}
{#                        </span>#}
{#                        {% endfor %}#}
{#                        <br><span#}
{#                            style="color:lightseagreen">{{ sesion.sesionextra_set.all.0.dependencia.nombre }}</span>#}
{#                    </td>#}
{#                {% else %}#}
{#                    <td class="{{ sesion.clase_horario }} mwx198" data-m="{{ sesion.clase_horario }}"#}
{#                        style="color:mediumvioletred">{{ sesion.sesionextra_set.all.0.actividad.nombre }}<br>#}
{#                        {% for sext in sesion.sesionextra_set.all %}#}
{#                            <span class="grupo_horario grupo_usado" data-grupo="{{ sext.grupo.id }}">#}
{#                            {{ sext.grupo.nombre }}#}
{#                        </span>#}
{#                        {% endfor %}#}
{#                    </td>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}

{# ##############################################################################3 #}
{# ##############################################################################3 #}
{# ##############################################################################3 #}

{#<div style="width: 100%;border: solid 1px lightgrey;">#}
{#    <div class="row">#}
{#        <div style="width: 100%;text-align: center;background-color: #F5F5F5;font-weight: bold;margin-bottom: 2px;"#}
{#             class="columns large-12" title="{{ docente.tipo_personal }} -- Jornada: {{ docente.jornada_contratada }}">#}
{#            {{ docente.gauser.get_full_name }} -- {{ docente.ronda }} -- {{ docente.puesto|upper }}#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div style="width: 100%;text-align: center;background-color: #F9F9F9;" class="row">#}
{#        <div style="text-align: center;font-weight: bold;"#}
{#             class="columns large-2 medium-2 small-2">8:00-9:00#}
{#        </div>#}
{#        <div style="text-align: center;font-weight: bold;"#}
{#             class="columns large-2 medium-2 small-2">Lunes#}
{#        </div>#}
{#        <div style="text-align: center;font-weight: bold;"#}
{#             class="columns large-2 medium-2 small-2">Martes#}
{#        </div>#}
{#        <div style="text-align: center;font-weight: bold;"#}
{#             class="columns large-2 medium-2 small-2">Miércoles#}
{#        </div>#}
{#        <div style="text-align: center;font-weight: bold;"#}
{#             class="columns large-2 medium-2 small-2">Jueves#}
{#        </div>#}
{#        <div style="text-align: center;font-weight: bold;"#}
{#             class="columns large-2 medium-2 small-2">Viernes#}
{#        </div>#}
{#    </div>#}
{#    <div style="width: 100%;text-align: center;" class="row">#}
{#        <div class="columns large-2 medium-2 small-2" style="text-align: center;">v</div>#}
{#        {% for dia, sesiones in horario.items %}#}
{#            <div class="columns large-2 medium-2 small-2" style="text-align: center;position: relative;">#}
{#                {% for sesion in sesiones %}#}
{#                    {% if sesion.sesionextra_set.all.0.materia %}#}
{#                        <div style="border: 1px solid grey;height: {{ sesion|get_height }}px;overflow: hidden;text-overflow: clip;" data-tooltip#}
{#                             aria-haspopup="true"#}
{#                             title="{{ sesion.hora_inicio_cadena }}-{{ sesion.hora_fin_cadena }}<br>{{ sesion.sesionextra_set.all.0.materia.curso.nombre }} ({{ sesion.sesionextra_set.all.0.actividad.nombre }})"#}
{#                             class="has-tip tip-left {{ sesion.clase_horario }} mwx198"#}
{#                             data-m="{{ sesion.clase_horario }}">#}
{#                            {{ sesion.sesionextra_set.all.0.materia.nombre }}#}
{#                            {% for sext in sesion.sesionextra_set.all %}#}
{#                                <br><span class="grupo_horario grupo_usado" data-grupo="{{ sext.grupo.id }}">#}
{#                            {{ sext.grupo.nombre }}#}
{#                        </span>#}
{#                            {% endfor %}#}
{#                            <br><span#}
{#                                style="color:lightseagreen">{{ sesion.sesionextra_set.all.0.dependencia.nombre }}</span>#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <div style="border: 1px solid grey;height: {{ sesion|get_height }}px;"#}
{#                             class="has-tip tip-left {{ sesion.clase_horario }} mwx198"#}
{#                             data-m="{{ sesion.clase_horario }}"#}
{#                             data-tooltip aria-haspopup="true"#}
{#                             title="{{ sesion.hora_inicio_cadena }}-{{ sesion.hora_fin_cadena }}"#}
{#                             style="color:mediumvioletred">#}
{#                            {{ sesion.sesionextra_set.all.0.actividad.nombre }}<br>#}
{#                            {% for sext in sesion.sesionextra_set.all %}#}
{#                                <span class="grupo_horario grupo_usado" data-grupo="{{ sext.grupo.id }}">#}
{#                            {{ sext.grupo.nombre }}#}
{#                        </span>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}

{# ##############################################################################3 #}
{# ##############################################################################3 #}
{# ##############################################################################3 #}

<style>
    .grid-dias {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        background-color: #F5F5F5;
        padding: 10px;
        margin-left: 50px;
        width: calc(100% - 50px);
        text-align: center;
        font-weight: bold;
    }

    .div-dia {
        display: inline-block;
        width: calc((100% - 60px) / 5);
        text-align: center;
        background-color: #ffefaf;
        border: solid 1px lightgrey;
        border-radius: 4px;
        position: absolute;
        overflow: hidden;
    }

    .div-1 {
        margin-left: 50px;
    }

    .div-2 {
        left: calc((100% - 50px) / 5 + 50px);
    }

    .div-3 {
        left: calc((100% - 50px) / 5 * 2 + 50px);
    }

    .div-4 {
        left: calc((100% - 50px) / 5 * 3 + 50px);
    }

    .div-5 {
        left: calc((100% - 50px) / 5 * 4 + 50px);
    }

    .horas_linea {
        position: absolute;
        top: -14px;
        background-color: white;
    }
</style>
<div>
    <div style="margin-left:50px;width: calc(100% - 50px);text-align: center;background-color: #F5F5F5;font-weight: bold;margin-bottom: 2px;"
         class="columns large-12" title="{{ docente.tipo_personal }} -- Jornada: {{ docente.jornada_contratada }}">
        {{ docente.gauser.get_full_name }} -- {{ docente.ronda }} -- {{ docente.puesto|upper }}
    </div>
    <div class="grid-dias">
        <div>Lunes</div>
        <div>Martes</div>
        <div>Miércoles</div>
        <div>Jueves</div>
        <div>Viernes</div>
    </div>
    <div id="plantilla_calendario_semanal"
         style="height: 500px;overflow: hidden;overflow-y: scroll;position: relative;">

        <div style="height: 60px; border-bottom: 1px lightgrey solid;border-top: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">&nbsp;</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">00:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">01:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">01:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">02:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">02:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">03:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">03:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">04:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">04:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">05:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">05:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">06:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">06:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">07:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">07:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">08:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">08:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">09:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">09:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">10:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">10:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">11:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">11:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">12:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">12:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">13:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">13:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">14:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">14:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">15:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">15:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">16:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">16:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">17:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">17:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">18:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">18:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">19:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">19:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">20:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">20:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">21:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">21:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">22:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">22:30</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">23:00</span>
        </div>
        <div style="height: 60px; border-bottom: 1px lightgrey solid;position: relative;">
            <span class="horas_linea">23:30</span>
        </div>

        <div id="sesiones_por_dia">
            {% for s in sesiones %}
                {% if s.sesionextra_set.all.0.materia %}
                    <div class="{{ s.clase_horario }} mwx198 div-dia div-{{ s.dia }}" data-m="{{ s.clase_horario }}"
{#                         title="{{ s.hora_inicio_cadena }} - {{ s.hora_fin_cadena }}&#10;Curso/s: {% for sext in s.sesionextra_set.all %}{{ sext.materia.curso.nombre }}; {% endfor %}&#10;Grupo/s: {% for sext in s.sesionextra_set.all %}{{ sext.grupo.nombre }}; {% endfor %}&#10;{{ s.sesionextra_set.all.0.actividad.nombre }}&#10;{{ s.sesionextra_set.all.0.dependencia.nombre }}&#10;{{ s.localidad }}"#}
                            title="{{ s.hora_inicio_cadena }} - {{ s.hora_fin_cadena }}&#10;Curso/s: {% for sext in s.sesionextra_set.all %}{{ sext.materia.curso.nombre }}; {% endfor %}&#10;Grupo/s: {% for sext in s.sesionextra_set.all %}{{ sext.grupo.nombre }}; {% endfor %}&#10;{{ s.sesionextra_set.all.0.actividad.nombre }}&#10;Aula: {% for d in s|get_dependencias %}{{ d }} {% endfor %}&#10;{{ s.localidad }}"
                         style="top:{{ s.top }}px; height: {{ s.height }}px;">
                        {{ s.sesionextra_set.all.0.materia.nombre }}
                        {% for sext in s.sesionextra_set.all %}
                            <br><span class="grupo_horario grupo_usado" data-grupo="{{ sext.grupo.id }}">
                            {{ sext.grupo.nombre }}
                        </span>
                        {% endfor %}
                        <br><span
                            style="color:lightseagreen">{{ s.sesionextra_set.all.0.dependencia.nombre }}</span>
                    </div>
                {% else %}
                    <div class="{{ s.clase_horario }} mwx198 div-dia div-{{ s.dia }}" data-m="{{ s.clase_horario }}"
                         title="{{ s.hora_inicio_cadena }} - {{ s.hora_fin_cadena }}&#10;{{ s.sesionextra_set.all.0.actividad.nombre }}&#10;{{ s.localidad }}"
                         style="top:{{ s.top }}px; height: {{ s.height }}px">
                        {{ s.sesionextra_set.all.0.actividad.nombre }}<br>
                        {% for sext in s.sesionextra_set.all %}
                            <span class="grupo_horario grupo_usado" data-grupo="{{ sext.grupo.id }}">
                            {{ sext.grupo.nombre }}
                        </span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $('body').on('mouseover', '.mwx198', function () {
        var mId = $(this).data('m');
        $('.mwx198').css('opacity', '0.2')
        $('.' + mId).css('background-color', 'lightgoldenrodyellow').css('overflow', 'visible').css('opacity', '1');
    });
    $('body').on('mouseout', '.mwx198', function () {
        var mId = $(this).data('m');
        $('.mwx198').css('opacity', '1')
        $('.' + mId).css('background-color', '').css('overflow', 'hidden');
    });
    setTimeout(function () {
        $('#plantilla_calendario_semanal').scrollTop(975);
    }, 500);

</script>
