{% load entidades_extras %}
{% load cupo_extras %}
<div class="row">
    <div class="columns large-12">
        <ul class="button-group right">
            <li><a class="button alert borrar_po tiny" data-id="{{ po.id }}"
                   title="Borrar completamente este estudio de plantilla orgánica"><i class="fa fa-trash-o"></i>
                Borrar</a></li>
            <li><a class="button copiar_po tiny" data-id="{{ po.id }}"
                   title="Hacer una copia (un duplicado) de este estudio"><i class="fa fa-copy"></i> Copiar</a>
            </li>
            {#            <li><a class="button pdf_po tiny" data-id="{{ po.id }}"#}
            {#                   title="Crear un EXCEL de este estudio"><i class="fa fa-file-excel-o"></i> EXCEL</a>#}
            {#            </li>#}
        </ul>
    </div>
</div>
{% if g_e|has_permiso:'carga_plantillas_por_funciones' %}
    <div class="row">
        <div class="columns large-12">
            <ul class="button-group right">
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_dependencias">
                    Carga dependencias</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_etapas">
                    Carga etapas</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_cursos">
                    Carga cursos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_grupos">
                    Carga grupos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_materias">
                    Carga materias</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_departamentos">
                    Carga departamentos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_puestos">
                    Carga puestos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_actividades">
                    Carga actividades</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_docentes">
                    Carga docentes</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_sesiones_docentes">
                    Carga sesiones</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_pdocentes">
                    Carga plantilla</a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table style="width: 100%;position: relative;">
    <thead id="cabecera_tabla_vacantes">
    <tr>
        <th colspan="7" style="color: #1b75bb;text-align: center;width: {{ po.anchura_cols.0 }}%;">Plazas de plantilla
            orgánica actualizadas a {{ po|get_fecha_plazas }}</th>
    </tr>
    <tr>
        <th>Especialidad</th>
        <th>Cuerpo</th>
        <th>Código</th>
        <th>Tipo</th>
        <th>Plazas</th>
        <th>Ocupadas</th>
        <th>Vacantes</th>
    </tr>
    </thead>
    <tbody>
    {% for plaza in po|get_plazas %}
        <tr>
            <td>{{ plaza.nombre }}</td>
            <td>{{ plaza.cod_cuerpo }}</td>
            <td>{{ plaza.cod_especialidad }}</td>
            <td {% if plaza.tipo == 'ord' %}title="Plaza ordinaria"
                {% elif plaza.tipo == 'com' %}title="Plaza compartida con otros centros de la misma localidad"
                {% elif plaza.tipo == 'iti' %}title="Plaza con carácter itinerante entre diferentes localidades"
                {% else %}title="Plaza bilingüe"{% endif %}>{{ plaza.get_tipo_display }}</td>
            <td>{{ plaza.plazas }}</td>
            <td>{{ plaza.ocupadas }}</td>
            <td>{{ plaza.vacantes }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if po.carga_completa %}
    <table style="width: 100%;position: relative;table-layout: fixed;">
        <thead id="cabecera_tabla_po">
        <tr>
        <th style="color: #1b75bb;text-align: center;width: {{ po.anchura_cols.0 }}%;" colspan="2">Especialidades y Docentes</th>
            {% for apartado in po|get_apartados %}
                <th style="color: #1b75bb;text-align: center;width: {{ apartado.width }}%"
                    colspan="{{ apartado.colspan }}">
                    {{ apartado.nombre }}
                </th>
            {% endfor %}
            <th style="color: #1b75bb;text-align: center;width: {{ po.anchura_cols.2 }}%;" colspan="3">Horas
                calculadas
            </th>
        </tr>
        </thead>
        <tbody id="tbody_docente{{ po.id }}">
        {% include "plantilla_organica_accordion_content_tbody.html" %}
        </tbody>
    </table>

    <label for="select_grupoex{{ po.id }}">
        Selecciona los grupos que no se deben tener en cuenta para el cálculo de plantilla:</label>
    <div id="lista_grupoex{{ po.id }}">
        {% include "plantilla_organica_accordion_content_gruposexcluidos.html" %}
    </div>
    <select class="select_grupoex" id="select_grupoex{{ po.id }}">
        {% for grupo in po|get_grupos %}
            <option value="{{ grupo.id }}">
                {{ grupo.nombre }} --
                {% for curso in grupo.cursos.all %}
                    {{ curso.nombre }}
                    {% if not forloop.last %}-{% endif %}
                {% endfor %}</option>
        {% endfor %}
    </select>
    <script>
        $('#select_grupoex{{ po.id }}').select2();
    </script>
{% else %}
    <h4 style="text-align: center;color: #008CBA;"><strong>Cargando la información
        <i class="fa fa-spinner fa-pulse fa-2x"></i></strong></h4>
    <h5 style="text-align: center;color: #008CBA;"><strong>Este proceso puede requerir de varios minutos.</strong></h5>
    <h5 style="text-align: center;color: #008CBA;"><strong>Cierra este "acordeón" y vuélvelo a abrir en un
        rato.</strong></h5>
{% endif %}
