{% load cupo_extras %}
{% if po.ronda_centro.entidad.entidadextra.tipo_centro == 'C.ddddE.I.P. - Colegio de Educación Infantil y Primaria' %}
    {% for puesto in po.ronda_centro.get_departamentos.all %}
        {% if forloop.first %}
            <thead>
            {% else %}
            <thead class="docentes_edb{{ edb.id }}" style="display: none;">
        {% endif %}
    <tr>
        <th style="color: #1b75bb">&nbsp;</th>
        {% for columna in po|get_columnas %}
            <th><span class="verticalText">{{ columna }}</span></th>
        {% endfor %}
        <th class="verticalText" style="color:#970b0e;text-align: center;">Horas totales</th>
        <th class="verticalText" style="color:#970b0e;text-align: center;">Horas básicas</th>
        <th class="verticalText" style="color:#970b0e;text-align: center;">Plantilla Orgánica</th>
    </tr>
    </thead>

        <thead>
        <tr id="edb{{ edb.id }}">
            {% include "plantilla_organica_accordion_content_tbody_puesto.html" %}
        </tr>
        </thead>
        <tbody id="tbody_edb{{ edb.id }}"></tbody>
    {% endfor %}
{% else %}
    {% for edb in po.ronda_centro.especialidaddocentebasica_set.all %}
        {% if forloop.first %}
            <thead>
            {% else %}
            <thead class="docentes_edb{{ edb.id }}" style="display: none;">
        {% endif %}
    <tr>
        <th style="color: #1b75bb">&nbsp;</th>
        {% for columna in po|get_columnas %}
            <th><span class="verticalText">{{ columna }}</span></th>
        {% endfor %}
        <th class="verticalText" style="color:#970b0e;text-align: center;">Horas totales</th>
        <th class="verticalText" style="color:#970b0e;text-align: center;">Horas básicas</th>
        <th class="verticalText" style="color:#970b0e;text-align: center;">Plantilla Orgánica</th>
    </tr>
    </thead>

        <thead>
        <tr id="edb{{ edb.id }}">
            {% include "plantilla_organica_accordion_content_tbody_puesto.html" %}
        </tr>
        </thead>
        <tbody id="tbody_edb{{ edb.id }}"></tbody>
    {% endfor %}
{% endif %}