{% load entidades_extras %}
    <input type="hidden" name="esdirs" value="{{ esdir.id }}">

    <dd class="accordion-navigation" id="accordion{{ esdir.id }}"
        style="border-bottom: dotted 1px black">
        <a href="#panel{{ esdir.id }}">
            <i id="circle{{ esdir.id }}" class="fa fa-plus-circle circle_icon"></i>
            <b id="asunto{{ esdir.id }}">Plantilla Orgánica: {{ esdir.name }}</b> -- <span style="color: green; padding-right: 20px;"><i
                        class="fa fa-user"></i> {{ esdir.g_e.gauser.get_full_name }}</span> ({{ esdir.creado|date:"d-m-Y H:i" }})

            {% if buscadas %}
                <span style="color: red; padding-left: 100px;"><i class="fa fa-check"></i> </span>
            {% endif %}
        </a>

        <div id="panel{{ esdir.id }}" class="content accordion-esdir" data-id="{{ esdir.id }}">
        <table>
{% for profe in esdir|profesorado %}
    <tr><td>{{ profe.gauser.get_full_name }}</td>
    <td>{{ profe.puesto }}</td>
    <td>{{ profe.jornada_contratada }}</td></tr>
    {% endfor %}
        </table>
        </div>
    </dd>
