{% if dep.2 %}
<th style="color: #1b75bb" class="dep_th" data-x_dep="{{ dep.1 }}">{{ departamento.departamento }}
    <span style="font-size: small; font-weight: normal; color: gray;"
          title="Número de docentes">({{ departamento.num_docentes }} docentes)</span></th>
{% else %}
    <th style="color: #1b75bb" class="dep_th" data-x_dep="{{ dep.1 }}">Docentes sin departamento
    <span style="font-size: small; font-weight: normal; color: gray;"
          title="Número de docentes">({{ departamento.num_docentes }} docentes)</span></th>
{% endif %}
<th data-campo="troneso">{{ departamento.troneso__sum }}</th>
<th data-campo="espeeso">{{ departamento.espeeso__sum }}</th>
<th data-campo="libreso">{{ departamento.libreso__sum }}</th>
<th data-campo="libreso">{{ departamento.relve__sum }}</th>
<th data-campo="desdobeso">{{ departamento.desdobeso__sum }}</th>
<th data-campo="tronbac">{{ departamento.tronbac__sum }}</th>
<th data-campo="espebac">{{ departamento.espebac__sum }}</th>
<th data-campo="desdobbac">{{ departamento.desdobbac__sum }}</th>
<th data-campo="gm">{{ departamento.gm__sum }}</th>
<th data-campo="gs">{{ departamento.gs__sum }}</th>
<th data-campo="fpb">{{ departamento.fpb__sum }}</th>
<th data-campo="jefatura">{{ departamento.jefatura__sum }}</th>
<th data-campo="mayor55">{{ departamento.mayor55__sum }}</th>
<th data-campo="cppaccffgs">{{ departamento.cppaccffgs__sum }}</th>
<th data-campo="tutorias">{{ departamento.tutorias__sum }}</th>
<th data-campo="pacg">{{ departamento.pacg__sum }}</th>
<th data-campo="refuerzo1">{{ departamento.refuerzo1__sum }}</th>
<th data-campo="pmar1">{{ departamento.pmar1__sum }}</th>
<th data-campo="pmar2">{{ departamento.pmar2__sum }}</th>
<th style="font-weight: bold;text-align: center;">{{ departamento.horas_totales }}</th>
<th style="font-weight: bold;text-align: center;">{{ departamento.horas_basicas }}</th>
<th style="font-weight: bold;text-align: center;">{{ departamento.plantilla_organica }}</th>