{% load entidades_extras %}
{% load cupo_extras %}
<div class="row">
    <div class="columns large-12">
        <ul class="button-group right">
            <li><a class="button alert borrar_po tiny" data-id="{{ po.id }}"
                   title="Borrar completamente este estudio de plantilla orgánica"><i class="fa fa-trash-o"></i>
                Borrar</a></li>
            <li><a class="button copiar_po tiny" data-id="{{ po.id }}"
                   title="Hacer una copia (un duplicado) de este estudio"><i class="fa fa-copy"></i> Copiar</a>
            </li>
            <li><a class="button excel_po tiny" data-id="{{ po.id }}"
                   title="Crear un EXCEL de este estudio de plantilla"><i class="fa fa-file-excel-o"></i> EXCEL</a>
            </li>
        </ul>
    </div>
</div>
{% if g_e|has_permiso:'carga_plantillas_por_funciones' %}
    <div class="row">
        <div class="columns large-12">
            <ul class="button-group right">
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_dependencias">
                    Carga dependencias</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_etapas">
                    Carga etapas</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_cursos">
                    Carga cursos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_grupos">
                    Carga grupos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_materias">
                    Carga materias</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_departamentos">
                    Carga departamentos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_puestos">
                    Carga puestos</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_actividades">
                    Carga actividades</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_docentes">
                    Carga docentes</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}"
                       data-funcion="carga_sesiones_docentes">
                    Carga sesiones</a></li>
                <li><a class="button info plantilla_funcion tiny" data-po="{{ po.id }}" data-funcion="carga_pdocentes">
                    Carga plantilla</a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table style="width: 100%;position: relative;">
    <thead id="cabecera_tabla_vacantes">
    <tr>
        <th colspan="7" style="color: #1b75bb;text-align: center;width: {{ po.anchura_cols.0 }}%;">Plazas de plantilla
            orgánica actualizadas a {{ po|get_fecha_plazas }}</th>
    </tr>
    <tr>
        <th>Especialidad</th>
        <th>Cuerpo</th>
        <th>Código</th>
        <th>Tipo</th>
        <th>Plazas</th>
        <th>Ocupadas</th>
        <th>Vacantes</th>
    </tr>
    </thead>
    <tbody>
    {% for plaza in po|get_plazas %}
        <tr>
            <td>{{ plaza.nombre }}</td>
            <td>{{ plaza.cod_cuerpo }}</td>
            <td>{{ plaza.cod_especialidad }}</td>
            <td {% if plaza.tipo == 'ord' %}title="Plaza ordinaria"
                {% elif plaza.tipo == 'com' %}title="Plaza compartida con otros centros de la misma localidad"
                {% elif plaza.tipo == 'iti' %}title="Plaza con carácter itinerante entre diferentes localidades"
                {% else %}title="Plaza bilingüe"{% endif %}>{{ plaza.get_tipo_display }}</td>
            <td>{{ plaza.plazas }}</td>
            <td>{{ plaza.ocupadas }}</td>
            <td>{{ plaza.vacantes }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if po.carga_completa %}
    <table style="width: 100%;position: relative;table-layout: fixed;">
        <thead id="cabecera_tabla_po">
        <tr>
            <th style="color: #1b75bb;text-align: center;width: {{ po.anchura_cols.0 }}%;" colspan="2">Especialidades y
                Docentes
            </th>
            {% for apartado in po|get_apartados %}
                <th style="color: #1b75bb;text-align: center;width: {{ apartado.width }}%"
                    colspan="{{ apartado.colspan }}">
                    {{ apartado.nombre }}
                </th>
            {% endfor %}
            <th style="color: #1b75bb;text-align: center;width: {{ po.anchura_cols.2 }}%;" colspan="3">Horas
                calculadas
            </th>
        </tr>
        </thead>
        <tbody id="tbody_docente{{ po.id }}">
        {% include "plantilla_organica_accordion_content_tbody.html" %}
        </tbody>
    </table>

    <label for="select_grupoex{{ po.id }}">
        Selecciona los grupos que no se deben tener en cuenta para el cálculo de plantilla:</label>
    <div id="lista_grupoex{{ po.id }}">
        {% include "plantilla_organica_accordion_content_gruposexcluidos.html" %}
    </div>
    <select class="select_grupoex" id="select_grupoex{{ po.id }}">
        {% for grupo in po|get_grupos %}
            <option value="{{ grupo.id }}">
                {{ grupo.nombre }} --
                {% for curso in grupo.cursos.all %}
                    {{ curso.nombre }}
                    {% if not forloop.last %}-{% endif %}
                {% endfor %}</option>
        {% endfor %}
    </select>
    <script>
        $('#select_grupoex{{ po.id }}').select2();
    </script>
    {#    <div class="row">#}
    {#    <div class="columns-12">#}
    <label>Selecciona la especialidad que quieres analizar:
        <select class="especialidad_docente" id="especialidad_docente{{ po.id }}">
            <option value="">-----------</option>
            {% for edb in po.ronda_centro.especialidaddocentebasica_set.all %}
                <option value="{{ edb.id }}">{{ edb.puesto }}</option>
            {% endfor %}
        </select>
    </label>
    {% if po|has_infantil_primaria %}
    <hr>
    <table style="width: 100%">
        <thead>
        <tr>
            <th colspan="12" style="text-align: center"><b>Estudio de los apoyos en Primaria
                ({{ po.ronda_centro.entidad.name }})</b></th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            {# La primera columna está destinada a los cursos #}
            <th title="Lengua Castellana y Literatura">LCL</th>
            {# 168607 170306 168625 170325 168644 170344 #}
            <th title="Lectura Comprensiva y Razonamiento Matemático">LCRM</th>
            {# 168606 170305 168624 170324 168643 170343 #}
            <th title="Matemáticas">MAT</th>
            {# 168608 170307 168626 170326 168645 170345 #}
            <th title="Ciencias Sociales">CCSS</th>
            {# 168604 170303 168622 170322 168641 170341 #}
            <th title="Ciencias de la Naturaleza">CCNN</th>
            {# 168605 170304 168623 170323 168642 170342 #}
            <th title="Inglés">ING</th>
            {# 168615 170314 168633 170333 168652 170352 #}
            <th title="Educación Física">EF</th>
            {# 168612 170311 168630 170330 168649 170349 #}
            <th title="Música">MUS</th>
            {# 168610 170309 168628 170328 168647 170347 #}
            <th title="Plástica">PLA</th>
            {# 168611 170310 168629 170329 168648 170348 #}
            <th title="Valores Sociales y Cívicos">VSC</th>
            {# 168660 170321 168640 170340 168659 170359 #}
            <th title="Número total de apoyos por grupo">Apoyos</th>
        </tr>
        </thead>
        {% for curso_dic in po|get_apoyos_cursos %}
            <tr>
                {% for td_key, td_value in curso_dic.items %}
                    {% if forloop.first %}
                        <td style="font-weight: bold;"><a class="get_horario_curso_apoyos" data-po="{{ po.id }}"
                       data-curso="{{ td_value.id }}">{{ td_value.nombre }}</a></td>
                    {% elif forloop.last %}
                        <input type="hidden" value="{{ td_value }}" class="num_apoyos_curso{{ po.id }}">
                        <td style="font-weight: bold;">{{ td_value|get_horas_minutos }}</td>
                    {% else %}
                        <td title="{{ td_key }}&#10;{% for s in td_value %}{{ s.g_e.gauser.get_full_name }} - {{ s.g_e.puesto }} ({{ s.minutos }} min) - {{ s.get_dia_display }}: {{ s.hora_inicio_cadena }}-{{ s.hora_fin_cadena }}&#10;{% endfor %}">{{ td_value|get_sesiones_tiempo }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td colspan="11" style="text-align: right;font-weight: bold;">Número total de apoyos en Primaria:</td>
            <td id="num_apoyos_curso_total{{ po.id }}" style="font-weight: bold;"></td>
        </tr>
    </table>

    <table style="width: 100%">
        <thead>
        <tr>
            <th colspan="12" style="text-align: center"><b>Estudio de los apoyos en Primaria
                ({{ po.ronda_centro.entidad.name }})</b></th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            {# La primera columna está destinada a los grupos #}
            <th title="Lengua Castellana y Literatura">LCL</th>
            {# 168607 170306 168625 170325 168644 170344 #}
            <th title="Lectura Comprensiva y Razonamiento Matemático">LCRM</th>
            {# 168606 170305 168624 170324 168643 170343 #}
            <th title="Matemáticas">MAT</th>
            {# 168608 170307 168626 170326 168645 170345 #}
            <th title="Ciencias Sociales">CCSS</th>
            {# 168604 170303 168622 170322 168641 170341 #}
            <th title="Ciencias de la Naturaleza">CCNN</th>
            {# 168605 170304 168623 170323 168642 170342 #}
            <th title="Inglés">ING</th>
            {# 168615 170314 168633 170333 168652 170352 #}
            <th title="Educación Física">EF</th>
            {# 168612 170311 168630 170330 168649 170349 #}
            <th title="Música">MUS</th>
            {# 168610 170309 168628 170328 168647 170347 #}
            <th title="Plástica">PLA</th>
            {# 168611 170310 168629 170329 168648 170348 #}
            <th title="Valores Sociales y Cívicos">VSC</th>
            {# 168660 170321 168640 170340 168659 170359 #}
            <th title="Número total de apoyos por grupo">Apoyos</th>
        </tr>
        </thead>
        {% for grupo_dic in po|get_apoyos_grupos %}
            <tr>
                {% for td_key, td_value in grupo_dic.items %}
                    {% if forloop.first %}
                        <td style="font-weight: bold;"><a class="get_horario_grupo_apoyos" data-po="{{ po.id }}"
                       data-grupo="{{ td_value.id }}">{{ td_value.nombre }}</a></td>
                    {% elif forloop.last %}
                        <input type="hidden" value="{{ td_value }}" class="num_apoyos_grupo{{ po.id }}">
                        <td style="font-weight: bold;">{{ td_value|get_horas_minutos }}</td>
                    {% else %}
{#                        <td title="{{ td_key }}&#10;{% for s in td_value %}{{ s.sesion.g_e.gauser.get_full<td title="{{ td_key }}&#10;{% for s in td_value %}{{ s.sesion.g_e.gauser.get_full_name }} - {{ s.sesion.g_e.puesto }} ({{ s.sesion.minutos }} min)&#10;{% endfor %}">{{ td_value|get_sextras_tiempo }}</td>_name }} - {{ s.sesion.g_e.puesto }} ({{ s.sesion.minutos }} min)&#10;{% endfor %}">{{ td_value|get_sextras_tiempo }}</td>#}
                        <td title="{{ td_key }}&#10;{% for s in td_value %}{{ s.g_e.gauser.get_full_name }} - {{ s.g_e.puesto }} ({{ s.minutos }} min) - {{ s.get_dia_display }}: {{ s.hora_inicio_cadena }}-{{ s.hora_fin_cadena }}&#10;{% endfor %}">{{ td_value|get_sesiones_tiempo }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td colspan="11" style="text-align: right;font-weight: bold;">Número total de apoyos en Primaria:</td>
            <td id="num_apoyos_total{{ po.id }}" style="font-weight: bold;"></td>
        </tr>
    </table>

    {#    <hr>#}
    <table style="width: 100%">
        <thead>
        <tr>
            <th colspan="12" style="text-align: center"><b>Estudio de los apoyos en Infantil
                ({{ po.ronda_centro.entidad.name }})</b></th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            {# La primera columna está destinada a los grupos #}
            <th title="Conocimiento de sí mismo y autonomía personal">CSMAP</th>
            {# 48053 48066 48080 #}
            <th title="Lenguajes: Comunicación y Representación">LCR</th>
            {# 48052 48065 48079 #}
            <th title="Conocimiento del entorno">CE</th>
            {# 48054 48067 48081 #}
            <th title="Inglés">Inglés</th>
            {# 48057 48071 48085 #}
            <th title="Atención Educativa">AE</th>
            {# 48060 48074 48088 #}
            <th title="Religión Católica">RC</th>
            {# 48061 48075 48089 #}
            <th title="Número total de apoyos por grupo">Apoyos</th>
        </tr>
        </thead>
        {% for grupo_dic in po|get_apoyos_infantil %}
            <tr>
                {% for td_key, td_value in grupo_dic.items %}
                    {% if forloop.first %}
                        <td style="font-weight: bold;"><a class="get_horario_grupo_apoyos" data-po="{{ po.id }}"
                       data-grupo="{{ td_value.id }}">{{ td_value.nombre }}</a></td>
                    {% elif forloop.last %}
                        <input type="hidden" value="{{ td_value }}" class="num_apoyos_infantil_grupo{{ po.id }}">
                        <td style="font-weight: bold;">{{ td_value|get_horas_minutos }}</td>
                    {% else %}
                        <td title="{{ td_key }}&#10;{% for s in td_value %}{{ s.sesion.g_e.gauser.get_full_name }} - {{ s.sesion.g_e.puesto }} ({{ s.sesion.minutos }} min)&#10;{% endfor %}">{{ td_value|get_sextras_tiempo }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td colspan="7" style="text-align: right;font-weight: bold;">Número total de apoyos en Infantil:</td>
            <td id="num_apoyos_infantil_total{{ po.id }}" style="font-weight: bold;"></td>
        </tr>
    </table>

    <table style="width: 100%;">
        <thead>
        <tr>
            <th colspan="5" style="text-align: center;">Docentes realizando apoyos</th>
        </tr>
        <tr>
            <th>Docente</th>
            <th>Especialidad</th>
            <th>Apoyos en Infantil</th>
            <th>Apoyos en Primaria</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for apoyo in po|docentes_apoyo %}
            <tr>
                <td style="font-weight: bold;">
                    <a class="get_horario_docente_apoyos" data-po="{{ po.id }}"
                       data-docente="{{ apoyo.docente.id }}">{{ apoyo.docente.gauser.get_full_name }}</a>
                </td>
                <td>{{ apoyo.docente.puesto }}</td>
                <td>{{ apoyo.infantil|get_horas_minutos }}</td>
                <td>{{ apoyo.primaria|get_horas_minutos }}</td>
                <td>{{ apoyo.total|get_horas_minutos }}</td>
            </tr>
            <input type="hidden" class="min_apoyo_docente_infantil{{ po.id }}" value="{{ apoyo.infantil }}"/>
            <input type="hidden" class="min_apoyo_docente_primaria{{ po.id }}" value="{{ apoyo.primaria }}"/>
            <input type="hidden" class="min_apoyo_docente_inf_prim{{ po.id }}" value="{{ apoyo.total }}"/>
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align: right;font-weight: bold;">Apoyos totales:</td>
            <td id="min_apoyo_docente_infantil_total{{ po.id }}" style="font-weight: bold;"></td>
            <td id="min_apoyo_docente_primaria_total{{ po.id }}" style="font-weight: bold;"></td>
            <td id="min_apoyo_docente_inf_prim_total{{ po.id }}" style="font-weight: bold;"></td>
        </tr>
        </tbody>
    </table>
<script>
    function calcula_apoyos(columna) {
        var clase_con_apoyos = '';
        var id_apoyos_total = '';
        if (columna === 'infantil') {
            clase_con_apoyos = '.num_apoyos_infantil_grupo';
            id_apoyos_total = '#num_apoyos_infantil_total';
        } else if (columna === 'primaria') {
            clase_con_apoyos = '.num_apoyos_grupo';
            id_apoyos_total = '#num_apoyos_total';
        } else if (columna === 'docente_infantil') {
            clase_con_apoyos = '.min_apoyo_docente_infantil';
            id_apoyos_total = '#min_apoyo_docente_infantil_total';
        } else if (columna === 'docente_primaria') {
            clase_con_apoyos = '.min_apoyo_docente_primaria';
            id_apoyos_total = '#min_apoyo_docente_primaria_total';
        } else if (columna === 'docente_inf_prim') {
            clase_con_apoyos = '.min_apoyo_docente_inf_prim';
            id_apoyos_total = '#min_apoyo_docente_inf_prim_total';
        }else if (columna === 'apoyos_curso') {
            clase_con_apoyos = '.num_apoyos_curso';
            id_apoyos_total = '#num_apoyos_curso_total';
        }

        var suma = 0;
        $(clase_con_apoyos + '{{ po.id }}').each(function () {
            suma += parseFloat($(this).val());
        });
        var horas = parseInt(suma / 60);
        var minutos = suma % 60;
        var texto = '';
        if (horas === 0) {
            texto = minutos + ' minutos';
        } else if (minutos === 0) {
            if (horas === 1) {
                texto = '1 hora';
            } else {
                texto = horas + ' horas';
            }
        } else if (horas === 1) {
            texto = '1 hora y ' + minutos + ' minutos';
        } else {
            texto = horas + ' horas y ' + minutos + ' minutos';
        }
        $(id_apoyos_total + '{{ po.id }}').html(texto);
    }

    setTimeout(calcula_apoyos('primaria'), 300);
    setTimeout(calcula_apoyos('infantil'), 350);
    setTimeout(calcula_apoyos('docente_infantil'), 400);
    setTimeout(calcula_apoyos('docente_primaria'), 450);
    setTimeout(calcula_apoyos('docente_inf_prim'), 500);
    setTimeout(calcula_apoyos('apoyos_curso'), 550);
</script>
{% endif %}
{% else %}
    <h4 style="text-align: center;color: #008CBA;"><strong>Cargando la información
        <i class="fa fa-spinner fa-pulse fa-2x"></i></strong></h4>
    <h5 style="text-align: center;color: #008CBA;"><strong>Este proceso puede requerir de varios minutos.</strong></h5>
    <h5 style="text-align: center;color: #008CBA;"><strong>Cierra este "acordeón" y vuélvelo a abrir en un
        rato.</strong></h5>
{% endif %}