{% load cupo_extras %}
{% for miembro in edb.miembroedb_set.all %}
    {% with docente=miembro.g_e pdocente=po|get_pdocente:miembro.g_e %}
        {% for localidad in pdocente.localidades %}
            <tr id="plantilladocente{{ docente.id }}" class="docentes_edb{{ edb.id }}" style="display: none;">
                {% if forloop.first %}
                    <td rowspan="{{ pdocente.localidades|length }}">
                        <div class="nombre_horario" data-po="{{ po.id }}" data-docente="{{ docente.id }}">
                            <div class="docente"><b>{{ docente.gauser.get_full_name }}</b><br>
                                <span title="{{ pdocente.minutos_periodo }} minutos/periodo">Jornada:
                                    <i>{{ docente.jornada_contratada }}</i></span><br>
                                {{ docente.tipo_personal }}</div>
                            <div class="div_get_horario"><a class="get_horario"><i class="fa fa-calendar"></i></a></div>
                        </div>
                        <div class="materias_docente" id="materias_docente{{ docente.id }}"></div>
                    </td>
                    <td>{{ localidad }}</td>
                {% else %}
                    <td>{{ localidad }}</td>
                {% endif %}
                {% for pdcol in pdocente|pdocentecolset:localidad %}
                    <td data-codecol="{{ pdcol.codecol }}" contenteditable="true"
                        data-edb="{{ edb.id }}" title="Minutos: {{ pdcol.minutos }}"
                        data-ge="{{ docente.id }}" data-po="{{ po.id }}"
                        class="tdpdocente" data-pdcol="{{ pdcol.id }}">{{ pdcol.periodos }}</td>
                {% endfor %}
            {% if forloop.first %}
                <td id="horas_totales{{ docente.id }}" class="has-tip tip-top" data-tooltip aria-haspopup="true"
                    title="Minutos totales: {{ pdocente.num_minutos_docencia }}<br>Minutos por periodo: {{ pdocente.minutos_periodo }}<br>Periodos de {{ pdocente.minutos_periodo }}: {{ pdocente.num_periodos_docencia }}"
                    style="font-weight: bold;text-align: center;">{{ pdocente.num_periodos_docencia }}</td>
                <td id="horas_basicas{{ docente.id }}"
                    style="font-weight: bold;text-align: center;">{{ pdocente.num_periodos_docencia_basicos }}</td>
            {% else %}
                <td></td><td></td>
            {% endif %}
                <td></td>
            </tr>
        {% endfor %}
    {% endwith %}
{% endfor %}