{% load cupo_extras %}
{% for departamento in po.ronda_centro.get_departamentos.all %}
    {% if forloop.first %}
        <thead>
        {% else %}
        <thead class="docentes_dep{{ departamento.id }}" style="display: none;">
    {% endif %}
<tr>
    <th style="color: #1b75bb">&nbsp;</th>
    {% for columna in po|get_columnas %}
        <th><span class="verticalText">{{ columna }}</span></th>
    {% endfor %}
    <th class="verticalText" style="color:#970b0e;text-align: center;">Horas totales</th>
    <th class="verticalText" style="color:#970b0e;text-align: center;">Horas básicas</th>
    <th class="verticalText" style="color:#970b0e;text-align: center;">Plantilla Orgánica</th>
</tr>
</thead>

    <thead>
    <tr id="departamento{{ departamento.id }}">
        {% include "plantilla_organica_accordion_content_tbody_departamento.html" %}
    </tr>
    </thead>
    <tbody id="tbody_departamento{{ departamento.id }}"></tbody>
{% endfor %}