<h1>{{ acta.nombre }}</h1>

Asistentes:<br>
<span style="font-size: 8pt;font-weight: bold;">
{% with ntotal=acta.asistentes.all|length %}
    {% for asistente in acta.asistentes.all %}
        {% if forloop.counter|add:"1" == ntotal %}
            {{ asistente.gauser.get_full_name }}
        {% elif forloop.first and forloop.last %}
            {{ asistente.gauser.get_full_name }}
        {% elif forloop.last %}
            y {{ asistente.gauser.get_full_name }}.
        {% else %}
            {{ asistente.gauser.get_full_name }},
        {% endif %}
    {% endfor %}
{% endwith %}
</span>
<hr>
{% autoescape off %}
    {{ acta.contenido_html }}
{% endautoescape %}
