{% extends "base_select2-4.html" %}
{% load my_templatetags %}

{% block head %}
    <style>
        #title_page {
            text-align: center;
            color: #008CBA;
        }

        .opera {
            margin-right: 20px;
            cursor: pointer;
            color: #008CBA;
            display: inline-block;
            vertical-align: middle;
        }

        .opera:hover {
            -webkit-transform: scale(1.7, 1.7);
            -webkit-transition-timing-function: ease-out;
            -webkit-transition-duration: 150ms;
            -moz-transform: scale(1.7, 1.7);
            -moz-transition-timing-function: ease-out;
            -moz-transition-duration: 150ms;
            position: relative;
            z-index: 99;
        }
    </style>
{% endblock %}

{% block contenido %}
    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="q" id="q" value="">
        <input type="hidden" name="page" id="page" value="">
        <input type="hidden" id="id_convocatoria" name="id_convocatoria" value="">

        <div id="div_convocatorias_seleccionadas">
            {% for convocatoria in convocatorias %}
                <input type="hidden" name="convocatorias_seleccionadas" value="{{ convocatoria.id }}"
                       id="selec{{ convocatoria.id }}">
            {% endfor %}
        </div>

        <div>
            <h4 id="title_page"><strong>Convocatorias de reunión</strong></h4>
        </div>

        {#        <div id="formulario_search">#}
        {#            <div class="row">#}
        {#                <div class="columns large-4">#}
        {#                    <label>Buscar entre esta fecha ...</label>#}
        {#                    <input id="id_fecha_inicio" name="fecha_inicio" type="text" value="01-09-2010">#}
        {#                </div>#}
        {#                <div class="columns large-4">#}
        {#                    <label>... y esta otra</label>#}
        {#                    <input id="id_fecha_fin" name="fecha_fin" type="text" value="{% now "d-m-Y" %}">#}
        {#                </div>#}
        {#                <div class="columns large-4">#}
        {#                    <label>Buscar en ...</label>#}
        {#                    <select id="filtra_subentidad" name="filtra_subentidad">#}
        {#                        <option value="">-------------</option>#}
        {#                        {% for subentidad in subentidades %}#}
        {#                            <option value="{{ subentidad.id }}">{{ subentidad.nombre }}</option>#}
        {#                        {% endfor %}#}
        {#                    </select>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="row">#}
        {#                <div class="columns large-12">#}
        {#                    <select id="select_convocatoria">#}
        {#                    </select>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        <br><br>
        <dl class="accordion" data-accordion id="list_convocatorias_selected"></dl>

        <dl class="accordion" data-accordion id="list_convocatorias">
            {% for convocatoria in convocatorias %}
                {% include "convocatoria_accordion.html" %}
            {% endfor %}
        </dl>
    </form>
{% endblock %}

{% block final %}
    <script>


        $('body').on('keyup', '.nombre_convocatoria', function () {
            var nombre = $(this).text();
            var convocatoria = $(this).data('id');
            $.post("/convocatorias/", {action: 'update_nombre', convocatoria: convocatoria, nombre: nombre},
                    function (data) {
                        $('#span_nombre' + convocatoria).html(data);
                    });
        });

        $(document).foundation({
            accordion: {
                callback: function (accordion) {
                    if (accordion.hasClass('accordion-convocatoria')) {
                        var id = accordion.data('id');
                        if ($('#circle' + id).hasClass('fa-plus-circle')) {
                            $('.circle_icon').removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#circle' + id).removeClass('fa-plus-circle').addClass('fa-minus-circle');
                            window.scrollTo(0, $('#accordion' + id).offset().top - 50);
                            $.post("/convocatorias/", {action: 'open_accordion', convocatoria: id}, function (data) {
                                $('#panel' + id).html(data);
                            });
                        } else {
                            $('#circle' + id).removeClass('fa-minus-circle').addClass('fa-plus-circle');
                            $('#panel' + id).html('');
                        }
                    }
                }
            }
        });

        $('#select_convocatoria').select2({
            placeholder: "Para buscar un convocatoria, escribe parte del texto contenido en él",
            allowClear: true,
            ajax: {
                url: "/ajax_convocatorias/",
                type: 'POST',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    $('#q').val(params.term);
                    $('#page').val(params.page);
                    $('#action').val('busca_convocatoria');
                    return $('#' + '{{ formname }}').serialize();
                },
                processResults: function (data, page) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.text,
                                id: item.id
                            }
                        })
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 3,
            language: {
                inputTooShort: function () {
                    return "Introduce al menos 3 caracteres para iniciar búsqueda";
                }
            }
        });


        $('#select_convocatoria').change(function (e) {
            e.preventDefault();
            var id = $(this).val();
            if (id) {
                $('#id_convocatoria').val(id);
                $('#action').val('convocatoria_append');
                $.post("/ajax_convocatorias/", $('#' + '{{ formname }}').serialize(), function (data) {
                    var id = $('#id_convocatoria').val();
                    $('#list_convocatorias_selected').prepend(data);
                    $("#select_convocatoria").val(null).trigger('change');
                    $('<input />', {type: 'hidden', name: 'convocatorias_seleccionadas', value: id, id: 'selec' + id})
                            .appendTo('#div_convocatorias_seleccionadas');
                });
            }
        });


        {% if request.session.gauser_extra|has_permiso:"crea_convocatorias" %}
            habilita(['s_plus']);
            $('#plus_sign').click(function (e) {
                e.preventDefault();
                $.post("/convocatorias/", {action: 'crea_convocatoria'}, function (data) {
                    $('#list_convocatorias').prepend(data);
                    $(document).scrollTop($('#list_convocatorias').offset().top - 150);
                });
            });

            $('body').on('click', '.crea_evento', function (e) {
                e.preventDefault();
                var convocatoria = $(this).data('id');
                $.post("/convocatorias/", {action: 'crea_evento', convocatoria: convocatoria}, function (data) {
                    $("#update_ok").show().delay(1500).fadeOut();
                });
            });
        {% endif %}



        {% if request.session.gauser_extra|has_permiso:'borra_convocatorias' %}
            $('body').on('click', '.delete_convocatoria', function (e) {
                e.preventDefault();
                var convocatoria = $(this).data('id');
                $('#id_convocatoria').val(convocatoria);
                show_mensajes({
                    title: 'Borrar convocatoria',
                    texto: 'Si aceptas, la convocatoria y su acta asociada serán eliminadas' +
                    ' completamente de la base de datos.',
                    buttons: {
                        "Cancelar": function () {
                            hide_mensajes();
                        },
                        "Aceptar": function () {
                            hide_mensajes();
                            var convocatoria = $('#id_convocatoria').val();
                            $.post("/convocatorias/", {
                                        action: 'delete_convocatoria',
                                        convocatoria: convocatoria
                                    },
                                    function (data) {
                                        $('#accordion' + convocatoria).remove();
                                    });
                        }
                    }
                });
            });
        {% endif %}


        $('body').on('click', '.download_pdf', function (e) {
            e.preventDefault();
            $('#id_convocatoria').val($(this).data('id'));
            $('#action').val('pdf_convocatoria');
            document
            .{{ formname }}.
            submit();
        });


    </script>
{% endblock %}