{% load my_templatetags %}

<style>
    .noeditable {
        color: #0f74a8;
    }
</style>
<input type="hidden" id="plantilla{{ conv_template.id }}" value="{{ conv_template.plantilla }}">
<div class="row">
    <div class="columns large-5">
        <b>Creada por:</b> {{ conv_template.creador.get_full_name }}
    </div>
    <div class="columns large-7 text-right">
        <ul class="button-group radius">
            {% if g_e|has_permiso:'d_conv_template' or g_e.gauser == conv_template.configura %}
                <li title="Borrar esta plantilla de convocatorias de reunión">
                    <a data-id="{{ conv_template.id }}" class="button delete_conv_template"
                       data-plantilla="{{ conv_template.plantilla }}"><i
                            class="fa fa-trash-o"></i> Borrar</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<input id="perder_focus_editor" type="text" style="position: fixed;top:-3000px;">
<div class="row">
    <div class="columns large-4">
        <label><b>Persona que hace la convocatoria</b>
            <select id="convoca{{ conv_template.id }}" data-id="{{ conv_template.id }}">
                <option value="establecida"
                        selected="selected">{{ conv_template.convoca.get_full_name }}</option>
            </select> </label>
    </div>
    <div class="columns large-4">
        <label><b>Cargo que hace la convocatoria</b>
            <select id="cargo_convocante{{ conv_template.id }}" class="change_cargo"
                    data-id="{{ conv_template.id }}">
                {% if cargos|length > 0 %}
                    {% for cargo in cargos %}
                        <option value="{{ cargo.id }}"
                                {% if cargo == conv_template.cargo_convocante %}selected {% endif %}>
                            {{ cargo.cargo }}</option>
                    {% endfor %}
                {% else %}
                    <option value="">-------</option>
                {% endif %}
            </select> </label>
    </div>
    <div class="columns large-4">
        <label><b>Lugar de la convocatoria</b>
            <input type="text" class="lugar" data-id="{{ conv_template.id }}"
                   value="{{ conv_template.lugar }}"></label>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <label><b>Grupos convocados</b>
            <select class="subentidades_convocadas" data-id="{{ conv_template.id }}" multiple="multiple"
                    id="subentidades_convocadas{{ conv_template.id }}">
                {% for subentidad in g_e.ronda.entidad.subentidad_set.all %}
                    <option value="{{ subentidad.id }}"
                            {% if subentidad in conv_template.convocados.all %}selected{% endif %}>{{ subentidad.nombre }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</div>
<hr>
<div class="row">
    <div class="columns large-12">
        <label><b>Título de la convocatoria y texto base utilizado para crear la convocatoria</b> (texto en azul no es
            editable)</label>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <div class="nombre text-center" data-id="{{ conv_template.id }}" contenteditable="true"
             style="font-size: xx-large;font-weight: 800; text-align: center;border: 1px solid lightgrey">
            {{ conv_template.nombre }}
        </div>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <div class="texto_base" id="texto_base{{ conv_template.id }}"
             style="border: lightgrey solid 1px; padding:10px;"
             data-id="{{ conv_template.id }}" contenteditable="true">
            {% autoescape off %}
                {{ conv_template.texto_convocatoria }}
            {% endautoescape %}
        </div>
    </div>
</div>

<div class="row" id="puntos{{ conv_template.id }}">
    {% include "conv_template_accordion_content_puntos.html" %}
</div>

<div class="row">
    <div class="columns large-12">
        <a class="button small add_punto" data-id="{{ conv_template.id }}">Añadir
            un nuevo punto a tratar en la reunión</a>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        En {{ conv_template.entidad.localidad }} a «día» de «mes» de «año»,
    </div>
</div>
<p>&nbsp;</p>
<div class="row">
    <div class="columns large-12">
        <span id="convocante{{ conv_template.id }}">{{ conv_template.convoca.get_full_name }}</span> <br>
        <span id="cargo{{ conv_template.id }}">{{ conv_template.cargo_convocante }}</span>
    </div>
</div>


<script>
    $('#convoca{{ conv_template.id }}').select2();
    $('#subentidades_convocadas{{ conv_template.id }}').select2();

    $('#convoca{{ conv_template.id }}').select2({
        placeholder: "Para buscar una persona, escribe parte de su nombre",
        allowClear: true,
        ajax: {
            url: "/buscar_usuarios/",
            type: 'GET',
            dataType: 'json',
            delay: 250,
            data: function (params) { // page is the one-based page number tracked by Select2
                return {
                    action: 'select2',
                    q: params.term, //search term
                    page: params.page // page number
                };
            },
            processResults: function (data, page) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.last_name + ', ' + item.first_name + ' (' + item.perfiles + ')',
                            id: item.id
                        }
                    })
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) {
            return markup;
        }, // let our custom formatter work
        minimumInputLength: 3,
        language: {
            inputTooShort: function () {
                return "Introduce al menos 3 caracteres para iniciar búsqueda";
            }
        }
    });

    $('body').on('change', '#convoca{{ conv_template.id }}', function (e) {
        var convoca = $(this).val();
        var conv_template = $(this).data('id');
        $.post("/conv_template_ajax/", {
                action: 'update_convoca_conv_template',
                conv_template: conv_template,
                convoca: convoca
            },
            function (data) {
                if (data.ok) {
                    $("#update_ok").show().delay(1500).fadeOut();
                    $('#convocante' + data.conv_template).text(data.convocante);
                    var selec_cargo_convocante = $('#cargo_convocante' + data.conv_template);
                    selec_cargo_convocante.find('option').remove();
                    $.each(data.cargos, function (val, text) {
                        selec_cargo_convocante.append($('<option>', {
                            value: val,
                            text: text
                        }));
                    });
                    var cargo = selec_cargo_convocante.find('option:selected').text();
                    $('#cargo' + data.conv_template).html(cargo);
                } else {
                    $("#update_error").show().delay(1500).fadeOut();
                }
            });
    });


    var editor_contenido_convocatoria = CKEDITOR.inline('texto_base{{ conv_template.id }}');
    {# extraAllowedContent: entre [] los atributos, entre {} los estilos y entre () los nombres de las clases permitidas #}
    editor_contenido_convocatoria.config.extraAllowedContent = 'li ol[id, title]; span(sub_convocadas, day_name, day_num, month_name, month_num, year, datetime_date, datetime_time, place, convocante, cargo_convocante, noeditable); h1(title, noeditable);span[id, title, contenteditable]';
    editor_contenido_convocatoria.on('doubleclick', function (evt) {
        show_mensajes({texto: 'No está permitido seleccionar texto usando un doble click.'});
    });

    $(".fecha_hora").fdatetimepicker({
        format: 'dd/mm/yyyy hh:ii',
        weekStart: 1
    });

    var texto_editor;

    function comprueba_cambio_texto(texto, conv_template) {
        if (texto == texto_editor) {
            var puntos = [];
            $('#conv_points').children().each(function (index) {
                puntos.push($(this).text());
            });
            console.log(puntos);
            $.post("/conv_template_ajax/", {
                    action: 'update_texto_configura_convocatoria',
                    configuracion: conv_template,
                    texto: texto_editor,
                    puntos: puntos
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }

                });
        }
    }

    editor_contenido_convocatoria.on('change', function (e) {
        var texto = e.editor.getData();
        texto_editor = texto;
        var conv_template = {{ conv_template.id }};
        setTimeout(function () {
            comprueba_cambio_texto(texto, conv_template);
        }, 1000);
        re_adjust_check_time();
    });

    $('.texto_base').on('click', '.noeditable', function () {
        if ($(this).prop('id') == 'datetime_now') {
            $("#datetime_now").fdatepicker({
                weekStart: 1
            }).fdatepicker('show').on('changeDate', function (ev) {
                var M = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre',
                    'octubre', 'noviembre', 'diciembre'];
                var cDate = new Date(ev.date);
                $('#datetime_now').text(cDate.getDate() + ' de ' + M[cDate.getMonth()] + ' de ' + cDate.getFullYear());
                $('#datetime_now').fdatepicker('hide');
                editor_contenido_convocatoria.fire('change');
            });
            $('#perder_focus_editor').focus();
        } else {
            editor_contenido_convocatoria.focusManager.blur();
            show_mensajes({
                title: '<i class="fa fa-warning"></i> Texto no editable',
                texto: 'Este texto cambiará automáticamente al asignar los parámetros de la convocatoria.'
            });
        }
    });


    $('#redacta{{ conv_template.id }}').select2({
        placeholder: "Para buscar una persona, escribe parte de su nombre",
        allowClear: true,
        ajax: {
            url: "/buscar_usuarios/",
            type: 'GET',
            dataType: 'json',
            delay: 250,
            data: function (params) { // page is the one-based page number tracked by Select2
                return {
                    action: 'select2',
                    q: params.term, //search term
                    page: params.page // page number
                };
            },
            processResults: function (data, page) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.last_name + ', ' + item.first_name + ' (' + item.perfiles + ')',
                            id: item.id
                        }
                    })
                };
            },
            cache: true
        },
        escapeMarkup: function (markup) {
            return markup;
        }, // let our custom formatter work
        minimumInputLength: 3,
        language: {
            inputTooShort: function () {
                return "Introduce al menos 3 caracteres para iniciar búsqueda";
            }
        }
    });

    $('body').on('change', '#redacta{{ conv_template.id }}', function (e) {
        var redacta = $(this).val();
        var configuracion = $(this).data('id');
        $.post("/conv_template_ajax/", {
                action: 'update_redacta_acta',
                configuracion: configuracion,
                redacta: redacta
            },
            function (data) {
                if (data.ok) {
                    $("#update_ok").show().delay(1500).fadeOut();
                } else {
                    $("#update_error").show().delay(1500).fadeOut();
                }
            });
    });

</script>