{% extends "base_empty.html" %}
{% load my_templatetags %}

{#  https://zipso.net/a-simple-touchscreen-sketchpad-using-javascript-and-html5/  #}
{#  https://zipso.net/sketchpad/sketchpad-lines.html  #}
{% block contenido %}
    <style>
        .title_page {
            text-align: center;
            color: #008CBA;
            font-weight: 800;
        }

        /* Some CSS styling */
        #sketchpadapp {
            /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #sketchpad {
            margin: auto;
            display: block;
            width: 400px;
            height: 300px;
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 2px solid #888;
            margin-bottom: 10px;
        }
    </style>

    <form action="" method="post" enctype="multipart/form-data" id="{{ formname }}" name="{{ formname }}">
        {% csrf_token %}
        <input type="hidden" name="action" id="action" value="">
        <input type="hidden" name="firma" id="firma" value="">
        <input type="hidden" name="firmaacta" id="firmaacta" value="{{ firmaacta.id }}">

        {% if firmaacta.modificada %}
            <ul class="tabs" data-tab role="tablist">
                <li class="tab-title active" role="presentation" data-id="0">
                    <a href="#tab1" role="tab" tabindex="0" aria-selected="true" aria-controls="tab1">
                        <b id="texto0">Acta a firmar</b></a>
                </li>
                <li class="tab-title" role="presentation" data-id="1">
                    <a href="#tab2" role="tab" tabindex="0" aria-selected="false" aria-controls="tab2">
                        <b id="texto1" style="color:red;">Ver texto modificado</b></a>
                </li>
            </ul>
            <div class="tabs-content">
                <section role="tabpanel" aria-hidden="false" class="content active" id="tab1">
                    {% include "firmar_acta_reunion_content.html" %}
                </section>
                <section role="tabpanel" aria-hidden="true" class="content" id="tab2">
                    <div id="texto_firmado" style="display: none;">
                        {% autoescape off %}{{ firmaacta.texto_firmado }}{% endautoescape %}
                    </div>
                    <div class="row">
                        <div class="columns large-12" id="texto_acta_diff"></div>
                    </div>
                </section>
            </div>
        {% else %}
            {% include "firmar_acta_reunion_content.html" %}
        {% endif %}
    </form>
{% endblock %}
{% block final %}
    <script type="application/javascript">
        function auto_crop_image(c) {
            // MIT http://rem.mit-license.org
            // https://gist.github.com/remy/784508
            var ctx = c.getContext('2d'),
                copy = document.createElement('canvas').getContext('2d'),
                pixels = ctx.getImageData(0, 0, c.width, c.height),
                l = pixels.data.length,
                i,
                bound = {
                    top: null,
                    left: null,
                    right: null,
                    bottom: null
                },
                x, y;

            for (i = 0; i < l; i += 4) {
                if (pixels.data[i + 3] !== 0) {
                    x = (i / 4) % c.width;
                    y = ~~((i / 4) / c.width);

                    if (bound.top === null) {
                        bound.top = y;
                    }

                    if (bound.left === null) {
                        bound.left = x;
                    } else if (x < bound.left) {
                        bound.left = x;
                    }

                    if (bound.right === null) {
                        bound.right = x;
                    } else if (bound.right < x) {
                        bound.right = x;
                    }

                    if (bound.bottom === null) {
                        bound.bottom = y;
                    } else if (bound.bottom < y) {
                        bound.bottom = y;
                    }
                }
            }

            var trimHeight = bound.bottom - bound.top,
                trimWidth = bound.right - bound.left,
                trimmed = ctx.getImageData(bound.left, bound.top, trimWidth, trimHeight);

            copy.canvas.width = trimWidth;
            copy.canvas.height = trimHeight;
            copy.putImageData(trimmed, 0, 0);

            // open new window with trimmed image:
            return copy.canvas;
        }


        $('#Contenido').on('click', '#enviar_datos', function (e) {
            e.preventDefault();
            $('#action').val('guarda_firma');
            {#var firma = document.getElementById('sketchpad').toDataURL();#}


            var cnvs = auto_crop_image(canvas);
            var firma = cnvs.toDataURL();


            if (firma.length < 1000) {
                show_mensajes({
                    title: '<i class="fa fa-warning"></i> Debes firmar',
                    texto: '<li>Para validar los datos debes firmar dentro del marco.</li>'
                });
            } else {
                $('#firma').val(firma);
                var formulario = $('#' + '{{formname}}').formSerialize();
                $.post("/firmar_acta_reunion/", formulario,
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                            window.location.href = '/firmar_acta_reunion/';
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            }
        });


        // Variables for referencing the canvas and 2dcanvas context
        var canvas, ctx;

        // Variables to keep track of the mouse position and left-button status
        var mouseX, mouseY, mouseDown = 0;

        // Variables to keep track of the touch position
        var touchX, touchY;

        // Keep track of the old/last position when drawing a line
        // We set it to -1 at the start to indicate that we don't have a good value for it yet
        var lastX, lastY = -1;

        // Line width
        var lw = 5;

        // Draws a line between the specified position on the supplied canvas name
        // Parameters are: A canvas context, the x position, the y position, the size of the dot
        function drawLine(ctx, x, y, size) {

            // If lastX is not set, set lastX and lastY to the current position
            if (lastX == -1) {
                lastX = x;
                lastY = y;
            }

            // Let's use black by setting RGB values to 0, and 255 alpha (completely opaque)
            r = 0;
            g = 0;
            b = 0;
            a = 255;

            // Select a fill style
            ctx.strokeStyle = "rgba(" + r + "," + g + "," + b + "," + (a / 255) + ")";

            // Set the line "cap" style to round, so lines at different angles can join into each other
            ctx.lineCap = "round";
            //ctx.lineJoin = "round";


            // Draw a filled line
            ctx.beginPath();

            // First, move to the old (previous) position
            ctx.moveTo(lastX, lastY);

            // Now draw a line to the current touch/pointer position
            ctx.lineTo(x, y);

            // Set the line thickness and draw the line
            ctx.lineWidth = size;
            ctx.stroke();

            ctx.closePath();

            // Update the last position to reference the current position
            lastX = x;
            lastY = y;
        }

        // Clear the canvas context using the canvas width and height
        function limpiarCanvasFirma(canvas, ctx) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        // Keep track of the mouse button being pressed and draw a dot at current location
        function sketchpad_mouseDown() {
            mouseDown = 1;
            drawLine(ctx, mouseX, mouseY, lw);
        }

        // Keep track of the mouse button being released
        function sketchpad_mouseUp() {
            mouseDown = 0;

            // Reset lastX and lastY to -1 to indicate that they are now invalid, since we have lifted the "pen"
            lastX = -1;
            lastY = -1;
        }

        // Keep track of the mouse position and draw a dot if mouse button is currently pressed
        function sketchpad_mouseMove(e) {
            // Update the mouse co-ordinates when moved
            getMousePos(e);

            // Draw a dot if the mouse button is currently being pressed
            if (mouseDown == 1) {
                drawLine(ctx, mouseX, mouseY, lw);
            }
        }

        // Get the current mouse position relative to the top-left of the canvas
        function getMousePos(e) {
            if (!e)
                var e = event;

            if (e.offsetX) {
                mouseX = e.offsetX;
                mouseY = e.offsetY;
            } else if (e.layerX) {
                mouseX = e.layerX;
                mouseY = e.layerY;
            }
        }

        // Draw something when a touch start is detected
        function sketchpad_touchStart() {
            // Update the touch co-ordinates
            getTouchPos();

            drawLine(ctx, touchX, touchY, lw);

            // Prevents an additional mousedown event being triggered
            event.preventDefault();
        }

        function sketchpad_touchEnd() {
            // Reset lastX and lastY to -1 to indicate that they are now invalid, since we have lifted the "pen"
            lastX = -1;
            lastY = -1;
        }

        // Draw something and prevent the default scrolling when touch movement is detected
        function sketchpad_touchMove(e) {
            // Update the touch co-ordinates
            getTouchPos(e);

            // During a touchmove event, unlike a mousemove event, we don't need to check if the touch is engaged, since there will always be contact with the screen by definition.
            drawLine(ctx, touchX, touchY, lw);

            // Prevent a scrolling action as a result of this touchmove triggering.
            event.preventDefault();
        }

        // Get the touch position relative to the top-left of the canvas
        // When we get the raw values of pageX and pageY below, they take into account the scrolling on the page
        // but not the position relative to our target div. We'll adjust them using "target.offsetLeft" and
        // "target.offsetTop" to get the correct values in relation to the top left of the canvas.
        function getTouchPos(e) {
            if (!e)
                var e = event;

            if (e.touches) {
                if (e.touches.length == 1) { // Only deal with one finger
                    var touch = e.touches[0]; // Get the information for finger #1
                    touchX = touch.pageX - touch.target.offsetLeft;
                    touchY = touch.pageY - touch.target.offsetTop;
                }
            }
        }

        $('body').on('click', '#clearbutton', function (e) {
            e.preventDefault();
            limpiarCanvasFirma(canvas, ctx);
        });


        // Set-up the canvas and add our event handlers after the page has loaded
        {#function init() {#}
        {#    // Get the specific canvas element from the HTML document#}
        {#    canvas = document.getElementById('sketchpad');#}
        {##}
        {#    // If the browser supports the canvas tag, get the 2d drawing context for this canvas#}
        {#    if (canvas.getContext)#}
        {#        ctx = canvas.getContext('2d');#}
        {##}
        {#    // Check that we have a valid context to draw on/with before adding event handlers#}
        {#    if (ctx) {#}
        {#        // React to mouse events on the canvas, and mouseup on the entire document#}
        {#        canvas.addEventListener('mousedown', sketchpad_mouseDown, false);#}
        {#        canvas.addEventListener('mousemove', sketchpad_mouseMove, false);#}
        {#        window.addEventListener('mouseup', sketchpad_mouseUp, false);#}
        {##}
        {#        // React to touch events on the canvas#}
        {#        canvas.addEventListener('touchstart', sketchpad_touchStart, false);#}
        {#        canvas.addEventListener('touchend', sketchpad_touchEnd, false);#}
        {#        canvas.addEventListener('touchmove', sketchpad_touchMove, false);#}
        {#    }#}
        {# }#}
        {##}
        {#setTimeout(function () {#}
        {#    init();#}
        {# }, 500);#}
    </script>

    {# Las siguientes líneas son para definir el htmldiff #}
    {# https://ourcodeworld.com/articles/read/653/how-to-diff-html-compare-and-highlight-differences-and-generate-output-in-html-with-javascript #}
    {# https://github.com/tnwinc/htmldiff.js/blob/master/src/htmldiff.coffee #}
    <style>
        ins {
            text-decoration: none;
            background-color: #d4fcbc;
        }

        del {
            text-decoration: line-through;
            background-color: #fbb6c2;
            color: #555;
        }
    </style>
    <script>
        /**
         * htmldiff.js a diff algorithm that understands HTML, and produces HTML in the browser.
         *
         * @author https://github.com/tnwinc
         * @see https://github.com/tnwinc/htmldiff.js
         */
        !function () {
            var e, n, t, r, i, f, _, a, o, s, u, h, l, c, d, b, p;
            o = function (e) {
                return ">" === e
            }, s = function (e) {
                return "<" === e
            }, h = function (e) {
                return /^\s+$/.test(e)
            }, u = function (e) {
                return /^\s*<[^>]+>\s*$/.test(e)
            }, l = function (e) {
                return !u(e)
            }, e = function () {
                return function (e, n, t) {
                    this.start_in_before = e, this.start_in_after = n, this.length = t, this.end_in_before = this.start_in_before + this.length - 1, this.end_in_after = this.start_in_after + this.length - 1
                }
            }(), a = function (e) {
                var n, t, r, i, f, _;
                for (f = "char", t = "", _ = [], r = 0, i = e.length; r < i; r++) switch (n = e[r], f) {
                    case"tag":
                        o(n) ? (t += ">", _.push(t), t = "", f = h(n) ? "whitespace" : "char") : t += n;
                        break;
                    case"char":
                        s(n) ? (t && _.push(t), t = "<", f = "tag") : /\s/.test(n) ? (t && _.push(t), t = n, f = "whitespace") : /[\w\#@]+/i.test(n) ? t += n : (t && _.push(t), t = n);
                        break;
                    case"whitespace":
                        s(n) ? (t && _.push(t), t = "<", f = "tag") : h(n) ? t += n : (t && _.push(t), t = n, f = "char");
                        break;
                    default:
                        throw new Error("Unknown mode " + f)
                }
                return t && _.push(t), _
            }, f = function (n, t, r, i, f, _, a) {
                var o, s, u, h, l, c, d, b, p, g, w, v, k, m, y;
                for (s = i, o = _, u = 0, w = {}, c = h = m = i, y = f; m <= y ? h < y : h > y; c = m <= y ? ++h : --h) {
                    for (k = {}, d = 0, b = (p = r[n[c]]).length; d < b; d++) if (!((l = p[d]) < _)) {
                        if (l >= a) break;
                        null == w[l - 1] && (w[l - 1] = 0), v = w[l - 1] + 1, k[l] = v, v > u && (s = c - v + 1, o = l - v + 1, u = v)
                    }
                    w = k
                }
                return 0 !== u && (g = new e(s, o, u)), g
            }, d = function (e, n, t, r, i, _, a, o) {
                var s;
                return null != (s = f(e, 0, t, r, i, _, a)) && (r < s.start_in_before && _ < s.start_in_after && d(e, n, t, r, s.start_in_before, _, s.start_in_after, o), o.push(s), s.end_in_before <= i && s.end_in_after <= a && d(e, n, t, s.end_in_before + 1, i, s.end_in_after + 1, a, o)), o
            }, r = function (e) {
                var n, t, r, i, f, _;
                if (null == e.find_these) throw new Error("params must have find_these key");
                if (null == e.in_these) throw new Error("params must have in_these key");
                for (r = {}, n = 0, i = (f = e.find_these).length; n < i; n++) for (r[_ = f[n]] = [], t = e.in_these.indexOf(_); -1 !== t;) r[_].push(t), t = e.in_these.indexOf(_, t + 1);
                return r
            }, _ = function (e, n) {
                var t, i;
                return i = [], t = r({find_these: e, in_these: n}), d(e, n, t, 0, e.length, 0, n.length, i)
            }, n = function (n, t) {
                var r, i, f, a, o, s, u, h, l, c, d, b, p, g, w, v;
                if (null == n) throw new Error("before_tokens?");
                if (null == t) throw new Error("after_tokens?");
                for (w = g = 0, p = [], r = {
                    "false,false": "replace",
                    "true,false": "insert",
                    "false,true": "delete",
                    "true,true": "none"
                }, (d = _(n, t)).push(new e(n.length, t.length, 0)), a = f = 0, h = d.length; f < h; a = ++f) "none" !== (i = r[[w === (c = d[a]).start_in_before, g === c.start_in_after].toString()]) && p.push({
                    action: i,
                    start_in_before: w,
                    end_in_before: "insert" !== i ? c.start_in_before - 1 : void 0,
                    start_in_after: g,
                    end_in_after: "delete" !== i ? c.start_in_after - 1 : void 0
                }), 0 !== c.length && p.push({
                    action: "equal",
                    start_in_before: c.start_in_before,
                    end_in_before: c.end_in_before,
                    start_in_after: c.start_in_after,
                    end_in_after: c.end_in_after
                }), w = c.end_in_before + 1, g = c.end_in_after + 1;
                for (v = [], u = {action: "none"}, o = function (e) {
                    return "equal" === e.action && (e.end_in_before - e.start_in_before == 0 && /^\s$/.test(n.slice(e.start_in_before, +e.end_in_before + 1 || 9e9)))
                }, s = 0, l = p.length; s < l; s++) o(b = p[s]) && "replace" === u.action || "replace" === b.action && "replace" === u.action ? (u.end_in_before = b.end_in_before, u.end_in_after = b.end_in_after) : (v.push(b), u = b);
                return v
            }, t = function (e, n, t) {
                var r, i, f, _, a, o;
                for (_ = void 0, f = i = 0, a = (n = n.slice(e, +n.length + 1 || 9e9)).length; i < a && (o = n[f], !0 === (r = t(o)) && (_ = f), !1 !== r); f = ++i) ;
                return null != _ ? n.slice(0, +_ + 1 || 9e9) : []
            }, p = function (e, n) {
                var r, i, f, _, a;
                for (_ = "", f = 0, r = n.length; ;) {
                    if (f >= r) break;
                    if (i = t(f, n, l), f += i.length, 0 !== i.length && (_ += "<" + e + ">" + i.join("") + "</" + e + ">"), f >= r) break;
                    f += (a = t(f, n, u)).length, _ += a.join("")
                }
                return _
            }, (c = {
                equal: function (e, n, t) {
                    return n.slice(e.start_in_before, +e.end_in_before + 1 || 9e9).join("")
                }, insert: function (e, n, t) {
                    var r;
                    return r = t.slice(e.start_in_after, +e.end_in_after + 1 || 9e9), p("ins", r)
                }, delete: function (e, n, t) {
                    var r;
                    return r = n.slice(e.start_in_before, +e.end_in_before + 1 || 9e9), p("del", r)
                }
            }).replace = function (e, n, t) {
                return c.delete(e, n, t) + c.insert(e, n, t)
            }, b = function (e, n, t) {
                var r, i, f, _;
                for (_ = "", r = 0, i = t.length; r < i; r++) f = t[r], _ += c[f.action](f, e, n);
                return _
            }, (i = function (e, t) {
                var r;
                return e === t ? e : (e = a(e), t = a(t), r = n(e, t), b(e, t, r))
            }).html_to_tokens = a, i.find_matching_blocks = _, _.find_match = f, _.create_index = r, i.calculate_operations = n, i.render_operations = b, "function" == typeof define ? define([], function () {
                return i
            }) : "undefined" != typeof module && null !== module ? module.exports = i : "undefined" != typeof window && (window.htmldiff = i)
        }();
    </script>
    <script>
        // Diff HTML strings
        let contenido_actual = $('#contenido_acta_reunion').html();
        let texto_firmado = $('#texto_firmado').html();
        let output = htmldiff(texto_firmado, contenido_actual);
        $('#texto_acta_diff').html(output);
    </script>
{% endblock %}



	







