{% load my_templatetags %}

<div class="row">
    <div class="columns large-6">
        <b>Convocada por:</b> {{ acta.convocatoria.convoca.get_full_name }}<br>
        <b>Fecha de creación:</b> {{ acta.creado }}
    </div>
    <div class="columns large-6">
        <ul class="button-group radius">
            <li title="Descargar el acta en PDF">
                <a data-id="{{ acta.id }}" class="button download_pdf"><i
                        class="fa fa-file-pdf-o"></i> PDF</a></li>
            {% if g_e|has_permiso:"mail_actas" %}
                <li title="Mandar el acta por e-mail a todos los convocados">
                    <a data-id="{{ acta.id }}" class="button send_email"><i
                            class="fa fa-envelope-o"></i> eMail</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="columns large-4">
        <label>Fecha y hora de la convocatoria
            <input type="text" name="fecha_hora" readonly data-id="{{ acta.id }}"
                   value="{{ acta.convocatoria.fecha_hora|date:'d/m/Y H:i' }}"></label>
    </div>
    <div class="columns large-3">
        <label>Fecha de aprobación
            <input type="text" name="fecha_aprobacion" class="fecha_aprobacion" data-id="{{ acta.id }}"
                   value="{% if acta.fecha_aprobacion %}{{ acta.fecha_aprobacion|date:'d/m/Y' }}{% endif %}"></label>
    </div>
    <div class="columns large-2" title="Marcar para hacer pública este acta">
        <label>Hacer pública</label>
        <input type="checkbox" name="publicada" class="publicada" {% if acta.publicada %}checked{% endif %}
               value="{{ acta.id }}" id="publicada{{ acta.id }}">
    </div>
    <div class="columns large-3"
         title="Código compuesto únicamente por números y mayor que 1000. Se utiliza para confirmar asistencias.">
        <label>Código de control
            <input type="text" name="control_code" class="control_code" data-id="{{ acta.id }}"
                   value="{{ acta.control }}">
        </label>
    </div>
</div>
{#<div class="row">#}
{#    <div class="columns large-6">#}
{#        <label><b>Persona que redacta el acta</b>#}
{#            <select id="redacta{{ acta.id }}" data-id="{{ acta.id }}">#}
{#                <option value="establecida"#}
{#                        selected="selected">{{ acta.redacta.get_full_name }}</option>#}
{#            </select>#}
{#        </label>#}
{#    </div>#}
{##}
{#    <div class="columns large-6">#}
{#        <label><b>Cargo de la persona que redacta</b>#}
{#            <select class="cargo" id="cargo_redacta{{ configura_convocatoria.id }}"#}
{#                    data-id="{{ configura_convocatoria.id }}">#}
{#                {% if cargos|length > 0 %}#}
{#                    {% for cargo in cargos %}#}
{#                        <option value="{{ cargo.id }}"#}
{#                                {% if cargo == configura_convocatoria.cargo_convocante %}selected {% endif %}>#}
{#                            {{ cargo.cargo }}</option>#}
{#                    {% endfor %}#}
{#                {% else %}#}
{#                    <option value="">-------</option>#}
{#                {% endif %}#}
{#            </select>#}
{#        </label>#}
{#    </div>#}
{#</div>#}
<div class="row">
    <div class="columns large-12">
        <label>Asistentes a la reunión:
            <select name="usuarios_asistentes" id="usuarios_asistentes" multiple="multiple" data-id="{{ acta.id }}">
                {% for asistente in acta.asistentes.all %}
                    <option value="{{ asistente.id }}" selected="selected">{{ asistente.gauser.last_name }},
                        {{ asistente.gauser.first_name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</div>
<hr>

<div class="row">
    <div class="columns large-12">
        <label>Título del acta</label>
        <div class="nombre text-center" data-id="{{ acta.id }}" contenteditable="true"
             style="font-size: xx-large;font-weight: 800; text-align: center;border: 1px solid lightgrey">
            {{ acta.nombre }}
        </div>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <label>Preámbulo del acta</label>
        <div data-id="{{ acta.id }}" contenteditable="true" id="preambulo_acta{{ acta.id }}"
             style="border: lightgrey solid 1px; padding:10px;">
            {% autoescape off %}
                {{ acta.preambulo|default_if_none:"" }}
            {% endautoescape %}
        </div>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <label>Puntos a tratar</label>
        {% for p in puntos %}
            <div class="columns large-12"><b>{{ p.punto }}</b></div>
            <div class="columns large-12" id="punto{{ p.id }}" contenteditable="true"
                 style="border: #bbbbbb solid 1px">
                {% autoescape off %}{{ p.texto_acta|default_if_none:"" }}{% endautoescape %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <label>Epílogo del acta</label>
        <div data-id="{{ acta.id }}" contenteditable="true" id="epilogo_acta{{ acta.id }}"
             style="border: lightgrey solid 1px; padding:10px;">
            {% autoescape off %}
                {{ acta.epilogo|default_if_none:"" }}
            {% endautoescape %}
        </div>
    </div>
</div>


<div class="row">
    <div class="columns large-12">
        En {{ acta.convocatoria.entidad.localidad }} a {{ acta.convocatoria.fecha_hora|date:"j \d\e F \d\e Y"|lower }},
    </div>
</div>
<p>&nbsp;</p>
<div class="row">
    <div class="columns large-4 medium-4 small-4">
        <label><b>Persona firmante</b>
            <select id="firmante_reunion{{ acta.id }}" data-id="{{ acta.id }}"></select>
        </label>
    </div>

    <div class="columns large-4 medium-4 small-4">
        <label><b>Cargo del firmante</b>
            <select class="cargo_firmante_reunion" id="cargo_firmante_reunion{{ acta.id }}" data-id="{{ acta.id }}">
                <option value="">-------</option>
            </select>
        </label>
    </div>
    <div class="columns large-3 medium-3 small-3">
        <label>Tipo de firmante:
            <select data-id="{{ acta.id }}" id="tipo_firmaacta{{ acta.id }}">
                <option value="FIR" {% if f.tipo == 'FIR' %}selected{% endif %}>Firma el acta</option>
                <option value="VB" {% if f.tipo == 'VB' %}selected{% endif %}>Da el visto bueno al acta</option>
            </select>
        </label>
    </div>
    <div class="columns large-1 medium-1 small-1">
        <label>&nbsp;
            <a class="button tiny add_firmante" data-id="{{ acta.id }}"><i class="fa fa-plus"></i></a>
        </label>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label>Firmantes:</label>
        <div id="firmantes_list{{ acta.id }}">
            {% for f in acta.firmaacta_set.all %}
                {% include "redactar_actas_reunion_accordion_content_firmante.html" %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    {% if g_e|redacta_acta:acta %}
        var editor_preambulo_acta = CKEDITOR.inline('preambulo_acta{{ acta.id }}');
        editor_preambulo_acta.config.extraAllowedContent = 'p div span[id]';
        editor_preambulo_acta.on('change', function (e) {
            var texto = e.editor.getData();
            var acta = {{ acta.id }};
            $.post("/redactar_actas_reunion_ajax/", {action: 'update_preambulo', acta: acta, texto: texto},
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        {% for p in puntos %}
            var editor_punto{{ p.id }} = CKEDITOR.inline('punto{{ p.id }}');
            editor_punto{{ p.id }}.on('change', function (e) {
                var texto = e.editor.getData();
                var punto = {{ p.id }};
                $.post("/redactar_actas_reunion_ajax/", {
                        action: 'update_punto_acta',
                        punto: punto,
                        texto: texto
                    },
                    function (data) {
                        if (data.ok) {
                            $("#update_ok").show().delay(1500).fadeOut();
                        } else {
                            $("#update_error").show().delay(1500).fadeOut();
                        }
                    });
            });
        {% endfor %}

        var editor_epilogo_acta = CKEDITOR.inline('epilogo_acta{{ acta.id }}');
        editor_preambulo_acta.config.extraAllowedContent = 'p div span[id]';
        editor_epilogo_acta.on('change', function (e) {
            var texto = e.editor.getData();
            var acta = {{ acta.id }};
            $.post("/redactar_actas_reunion_ajax/", {action: 'update_epilogo', acta: acta, texto: texto},
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });



        $(".fecha_aprobacion").fdatepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1
        });

        $("#usuarios_asistentes").select2({
            placeholder: "Escribe parte del nombre",
            minimumInputLength: 3,
            multiple: true,
            ajax: {
                url: "/buscar_usuarios/",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        action: 'select2',
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.last_name + ', ' + item.first_name,
                                id: item.id
                            }
                        })
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            templateResult: function (a) {
                return "<span>" + a.text + "</span>"
            }
        });

        {#if ($("#usuarios_asistentes").val()) {#}
        {#    var asistentes_actuales = $("#usuarios_asistentes").val();#}
        {# } else {#}
        {#    var asistentes_actuales = [];#}
        {# }#}
        {##}
        {#function diff(A, B) {#}
        {#    if (!A) A = [];#}
        {#    if (!B) B = [];#}
        {#    return A.filter(function (a) {#}
        {#        return B.indexOf(a) == -1;#}
        {#    });#}
        {# }#}
        {##}
        {#$("#usuarios_asistentes2").change(function () {#}
        {#    var acta = $(this).data('id');#}
        {#    var asistentes = $(this).val();#}
        {#    var removed = diff(asistentes_actuales, asistentes);#}
        {#    var added = diff(asistentes, asistentes_actuales);#}
        {#    asistentes_actuales = asistentes;#}
        {#    $.post("/redactar_actas_reunion_ajax/", {#}
        {#            action: 'update_usuarios_asistentes',#}
        {#            asistentes: $(this).val(),#}
        {#            acta: acta,#}
        {#            removed: removed,#}
        {#            added: added#}
        {#        },#}
        {#        function (data) {#}
        {#            if (data.ok) {#}
        {#                $('#attendees').html(data.ns);#}
        {#                $("#update_ok").show().delay(1500).fadeOut();#}
        {#                editor_preambulo_acta.fire('change')#}
        {#            } else {#}
        {#                $("#update_error").show().delay(1500).fadeOut();#}
        {#            }#}
        {#        });#}
        {# });#}

        $('body').on('change', '#usuarios_asistentes', function (e) {
            var acta = {{ acta.id }};
            var asistentes = $(this).val();
            $.post("/redactar_actas_reunion_ajax/", {
                    action: 'update_asistentes_reunion',
                    acta: acta,
                    asistentes: asistentes
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $('body').on('keyup', '.control_code', function (e) {
            var acta = {{ acta.id }};
            var code = $(this).val();
            $.post("/redactar_actas_reunion_ajax/", {
                    action: 'update_control_code',
                    acta: acta,
                    code: code
                },
                function (data) {
                    if (data.ok) {
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });

        $("#firmante_reunion{{ acta.id }}").select2({
            placeholder: "Escribe parte del nombre",
            minimumInputLength: 3,
            multiple: false,
            ajax: {
                url: "/buscar_usuarios/",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        action: 'select2',
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.last_name + ', ' + item.first_name,
                                id: item.id
                            }
                        })
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            templateResult: function (a) {
                return "<span>" + a.text + "</span>"
            }
        });

        $('body').on('change', '#firmante_reunion{{ acta.id }}', function (e) {
            var acta = {{ acta.id }};
            var firmante = $(this).val();
            $.post("/redactar_actas_reunion_ajax/", {
                    action: 'obtener_cargos_firmante',
                    firmante: firmante,
                    acta: acta
                },
                function (data) {
                    if (data.ok) {
                        var selec_cargo = $('#cargo_firmante_reunion' + data.acta);
                        selec_cargo.find('option').remove();
                        $.each(data.cargos, function (val, text) {
                            selec_cargo.append($('<option>', {
                                value: val,
                                text: text
                            }));
                        });
                        $("#update_ok").show().delay(1500).fadeOut();
                    } else {
                        $("#update_error").show().delay(1500).fadeOut();
                    }
                });
        });
    {% endif %}

</script>