<div class="row" id="div_firmante{{ f.id }}">
    <div class="columns large-4">
        {{ f.firmante }}
    </div>
    <div class="columns large-4">
        {{ f.cargo }}
    </div>
    <div class="columns large-3">
        {{ f.get_tipo_display }}
    </div>
{% if f.firmada %}
    <div class="columns large-1 medium-1 small-1">
        <span style="color:green"><i class="fa fa-check"></i> </span>
    </div>
{% else %}
    <div class="columns large-1 medium-1 small-1">
        <a data-id="{{ f.id }}" data-acta="{{ f.acta.id }}" class="del_firmante_reunion"><i class="fa fa-trash"></i></a>
    </div>
{% endif %}
</div>